[2022-03-01 21:38] kbrwn commented on #1250
`aws_sdk_auth: true` causing yaml parsing error preventing service account auth. Potentially need to update minio library.

[2022-03-01 22:01] mbolt35 commented on #1250
After some further reading, it _may_ be possible that the existing version will work provided they remove the `access_key` and `secret_key` entries from the config file.

This code is in our open source:
https://github.com/kubecost/cost-model/blob/cb99ad914f080f06538205dafd7e5349c6ab1f4d/pkg/storage/s3storage.go#L193-L211

I believe the line:
[code]
will account for the service account IAM policie

[2022-03-02 18:08] mac-chaffee opened #1287 "Unable to configure frontend nginx.conf"
**Describe the bug**

I run kubecost in a big 96-core server, but the default configuration of the frontend nginx container is to set `worker_processes: auto`, which will launch ~96 processes at startup. This uses a lot of unnecessary RAM and CPU.

Looks like the nginx container does have a way to override that behavior by just setting `NGINX_ENTRYPOINT_WORKER_PROCESSES_AUTOTUNE=1`, but that doesn

[2022-03-02 18:45] keithhand commented on #1287
@mac-chaffee, Thank you for this detailed report. We'll likely want to discuss defaulting the `NGINX_ENTRYPOINT_WORKER_PROCESSES_AUTOTUNE` variable, as I'm not sure if there are any consequences on the application side from that change. Let us look over this issue and the PR you pushed to find out the next steps.

[2022-03-02 19:29] srpomeroy commented on #1281
Can confirm adding `kubecostProductConfigs.projectID` has removed all warning indicators. Though I still think this is a bit confusing.  What do we think the proper recourse is here? Updated docs to include a reference to setting the `projectID` value? Or is there a code change that makes more sense?

[2022-03-02 20:51] kbrwn commented on #1273
Hello @wesleyorama-grindr I have updated the documentation to more accurately reflect the steps to complete an AWS Marketplace Install of kubecost: https://github.com/kubecost/docs/blob/main/aws-marketplace-install.md

You can find this doc and many others on guide.kubecost.com as well: https://guide.kubecost.com/hc/en-us/articles/4407596808087

[2022-03-02 20:53] wesleyorama-grindr commented on #1273
@kbrwn Thanks, I will close this PR and issue.

[2022-03-02 20:53] #1273 closed

[2022-03-02 21:28] Sean-Holcomb commented on #1281
I think the UI needs to be updated to correctly reflect that the actual issue is the missing projectID, and it does look like the docs are missing this field. In terms the config itself being confusing that is an ongoing issue, caused by the way that we build in features. I do not have a solution for this problem.

[2022-03-02 21:44] AjayTripathy commented on #1284
This isn't really feasible if you've added your reports from configmap. A configmap and ultimately your helm values stored in git should be the source of truth for defining data in the application-- we've gone down this hole before. UI updates are for demos and temporary fixes. Can you add a little more context about why updating from values isn't enough?

[2022-03-02 22:26] srpomeroy commented on #1284
So the expectation is to update the helm values as users define new dashboards?

[2022-03-02 23:03] kbrwn commented on #1284
We should have support for updating/merging to the saved reports configmap. We could let users mount the CM dynamically if they want this feature. Defining all saved reports in values.yaml is fine if the user follows gitops. It creates a lot of friction if not. How does a user go from a generated to saved report? The yaml that needs to be passed is not obvious. The yaml that may need to be deleted

[2022-03-03 00:10] #1195 closed

[2022-03-03 05:54] AjayTripathy commented on #1285
This makes sense to me. @nealormsbee thoughts?

[2022-03-03 18:21] nealormsbee commented on #1285
Agree this is a very sensible ask.

[2022-03-03 19:21] nikovacevic commented on #1040
Okay, thank you. Closing this ticket, but we will update the other ticket when we have a solution for cost-weighting.

[2022-03-03 21:14] Sean-Holcomb commented on #1281
Updated FE and DOCS
https://github.com/kubecost/cost-analyzer-frontend/pull/534
https://github.com/kubecost/docs/pull/189

[2022-03-03 21:14] #1281 closed

[2022-03-07 18:09] dwbrown2 commented on #1021
@AjayTripathy any chance you can comment on this?

[2022-03-07 19:40] #1272 closed

[2022-03-07 20:34] AjayTripathy commented on #1021
Seems like a totally reasonable request-- just haven't gotten around to it. Could be a good first issue for someone new to the helm chart! Putting on @biancaburtoiu 's list.

[2022-03-07 22:13] jessegoodier commented on #1284
Agree that "Saved reports" should be more manageable.
Does the query string for the report contain all the information needed? If so, we could really simplify the creation by just using that in the config map. Alternatively have a json export like grafana.
Perhaps 2 config maps? one for imported reports and one for user-created?

[2022-03-08 00:10] AjayTripathy commented on #1284
This is a pretty large project that involves changing the scope of our permissions. We would at minimum need confimap-write permissions to kubecost. I don't think now is the right time to take this on, but I'm happy to add it to the backlog.

[2022-03-08 03:14] mac-chaffee commented on #1287
#1288  only fixes half the issue: the ability to pass env vars. But the env var doesn't fix this issue due to file permissions, so this issue still exists.

[2022-03-08 05:38] AjayTripathy commented on #1287
Yeah, I see the issue. It sounds like we'll have to use our own build of nginx with a separate dockerfile since it's a nonstarter for many users to allow any containers to run as root.
https://stackoverflow.com/questions/47064845/unable-to-change-nginx-conf-file

[2022-03-08 15:00] srpomeroy opened #1296 "Add support for Norwegian Krone (NOK)"
What problem are you trying to solve?
My cloud provider(Azure) invoices me in Norwegian Krone (NOK), I would like to be able to view the cost in Kubecost with the same currency symbol.

Describe the solution you'd like
The ability to select NOK as a supported currency.

Describe alternatives you've considered
none

How would users interact with this feature?
Set via UI or helm values.

[2022-03-08 16:29] srpomeroy opened #1297 "ConfigMap-Reload:0.6.1/BusyBox:1.33 impacted by CVE-2021-42377"
**Describe the bug**
configmap-reload:v0.6.1 contains a vulnerability([CVE-2021-42377](https://nvd.nist.gov/vuln/detail/CVE-2021-42377)) within the busybox:1.33.0 component.

**To Reproduce**
Customer is scanning their environment with Prisma.

**Expected behavior**
Upgrade to a newer version of configmap-reload that references a version of busybox greater than 1.33.
[v0.7.1 contains the fix](http

[2022-03-08 16:39] dwbrown2 commented on #1296
Should be available in current release as a result of https://github.com/kubecost/cost-analyzer-frontend/pull/467!

[2022-03-08 18:06] srpomeroy commented on #1296
Would still need to be added to the settings drop down in the UI.

Don't we also use currency code when getting Azure and GCP ondemand rates?

[2022-03-08 18:07] dwbrown2 commented on #1296
I see it available here: http://nightly.kubecost.io:9090/settings.html Anywhere that it's missing in the UI?

[2022-03-08 18:13] srpomeroy commented on #1296
@dwbrown2 I think you may be looking at DKK. This issue is for NOK support.

[2022-03-08 18:17] dwbrown2 commented on #1296
Doh, huge mistake on my end. My apologies.

@AjayTripathy would this be a good potential first issue for Bianca while she works on building the backend? Reference PR in comment above.

[2022-03-08 21:51] #1297 closed

[2022-03-09 04:59] dwbrown2 commented on #1296
@srpomeroy does getting scheduled next week work for your timing? let us know if it's urgent.

[2022-03-09 11:56] andy-cowley opened #1301 "Typo in network costs role template"
https://github.com/kubecost/cost-analyzer-helm-chart/blob/8798fd26db93205122f5895d9e485088060f897f/cost-analyzer/templates/network-costs-role.template.yaml#L9

See this line `lables > labels`

gz#1483

[2022-03-09 17:09] dwbrown2 commented on #1287
@AjayTripathy proposed next steps? Looks like you have a PR outstanding?

[2022-03-09 17:33] AjayTripathy commented on #1287
I have a fix I need to test in our frontend container build repo that changes the ownership of the config file in the docker script. Not sure if that plus the env variable will be sufficient, but plan to test soon.

[2022-03-09 17:50] #1150 closed

[2022-03-09 17:51] mbolt35 commented on #1301
Fixed in https://github.com/kubecost/cost-analyzer-helm-chart/pull/1300

[2022-03-09 17:51] #1301 closed

[2022-03-09 18:30] mac-chaffee commented on #1287
Oh @AjayTripathy check out https://github.com/nginxinc/docker-nginx-unprivileged as a base image instead of `nginx:latest`. It supports that `NGINX_ENTRYPOINT_WORKER_PROCESSES_AUTOTUNE` variable, but [should have the file permissions issue fixed](https://github.com/nginxinc/docker-nginx-unprivileged/blob/5481a8967a0064a8948c90215e31f24012bd1e67/Dockerfile-debian.template#L106).

[2022-03-09 18:52] AjayTripathy commented on #1287
Great find @mac-chaffee ! Let me investigate that as well if my quick chmod on the image doesn't work.

[2022-03-10 11:00] pierluigilenoci opened #1304 "[FR] More attention / testing during releases"
**What problem are you trying to solve?**

This is not a real FR but a request.
Can you please pay more attention to the releases of the Helm Chart, especially the changes made to the Network Policies?

In the last few releases, there have been two rather gross errors that broke the chart:
- 1.90.0 https://github.com/kubecost/cost-analyzer-helm-chart/issues/1236
- 1.91.0 https://github.com/kubecos

[2022-03-10 15:46] mbolt35 commented on #1304
With respect to testing, it's not possible for us to test every permutation of helm argument accepted in our helm chart. We have integration tests that run every day and we're continuing to expand our coverage of these tests. However, adding a new option to our helm chart increases the number of outcomes exponentially, so there will unfortunately never exist complete coverage, and there will exist

[2022-03-10 17:11] pierluigilenoci commented on #1304
@mbolt35 I can understand the difficulties but here we are talking about two particularly striking cases.

In the first case, it is a `space` that made it impossible to install the network policies completely.
Therefore a rather serious case and therefore a rather evident lack of a test.
Ref: https://github.com/kubecost/cost-analyzer-helm-chart/pull/1237/files

In the second case, it is a `typo` i

[2022-03-10 18:52] AjayTripathy opened #1307 "Add PSPs to the helm integration tests"
**Describe the bug**
A lack of PSPs  in our integration test servers caused https://github.com/kubecost/cost-analyzer-helm-chart/issues/1301 to go undetected.
PSPs are deprecated, but we intend to be backwards compatible with users who do use PSPs and so should add them to our integration test servers.

**To Reproduce**
N/A but http://nightly.kubecost.io:9090/ does not have PSPs

**Expected behavi

[2022-03-10 18:53] AjayTripathy commented on #1304
Hi @pierluigilenoci . Thank you for this feedback.

First of all, I want to share some context on #1301 and I'm sorry you encountered it. We do integration test the deployment of network-costs through the chart. In this particular case the network-costs pod was broken only if Pod Security Policies were enabled from the network-costs pod, which was not integration tested. PSPs are deprecated-- I do

[2022-03-10 18:53] #1304 closed

[2022-03-11 00:02] dwbrown2 commented on #1271
@skillcoder thanks to @biancaburtoiu we now have a PR outstanding! does this look like it meet the needs you have? any feedback on the progress so far?

[2022-03-11 08:03] pierluigilenoci commented on #1304
@AjayTripathy thanks so much for everything.

Thanks for solving the problem.
But above all for your constant and continuous availability.
It is always a pleasure to interact with you. 👍🏻

[2022-03-11 16:42] dwbrown2 commented on #1285
Yup, or maybe support both?

[2022-03-14 11:59] evgenii-denisov commented on #1270
I suppose not related.

[2022-03-14 12:14] evgenii-denisov commented on #1271
@biancaburtoiu Thank you for PR. I have added few comments.

[2022-03-15 05:53] AjayTripathy commented on #1287
On my list for this week!

[2022-03-15 20:05] jessegoodier commented on #1280
FYI: I have reproduced the issue on AWS and Azure.
Adding complete error message for github searches:
`Cloud Connection Status: Incomplete Configuration`

[2022-03-15 22:45] dwbrown2 commented on #1284
Are there two potential feature requests in this issue?

1) Simplify the Report UI to remove reports -- i.e. add a button next to `OPEN` called `DELETE`
2) Allow users to modify configmaps from the UI

The former seems simple and straightforwad, the latter seems more tricky given that a new permission would be required... which potentially could be done via the Kubecost controller.

[2022-03-16 00:59] AjayTripathy commented on #1284
OPEN and DELETE don't sync back to the configmap anyway, so it really doesn't matter. If you're running the configurations from a configmap, you can't expect your UI changes to stick without write permissions.

[2022-03-16 02:59] dwbrown2 commented on #1284
Point 1 is only actionable for reports from UI, but also a good way to indicate that certain reports are from configmap...

[2022-03-16 16:51] #1296 closed

[2022-03-16 17:25] tmckeon opened #1315 "Publicly exposed profiling end points"
**Describe the bug**

`runtime/pprof` api endpoints are exposed publicly.
https://github.com/kubecost/docs/blob/main/app-memory.md

**To Reproduce**
Steps to reproduce the behavior:
1.  `curl http://<your-kubecost-endpoint>/model/debug/pprof/profile?seconds=30`

**Expected behavior**

The profiling API endpoints should not be exposed outside the pod. `kubectl port-foward` can be used to reach prof

[2022-03-16 21:04] AjayTripathy commented on #1280
Thanks all, we'll get this triaged soon.

[2022-03-16 21:54] #1271 closed

[2022-03-17 17:56] kbrwn opened #1316 "Limit node recommendations to available nodes"
**What problem are you trying to solve?**

Cluster sizing recommends nodes to users that may not be available to managed k8s options such as EKS.

**Describe the solution you'd like**

Cluster sizing should limit node suggestions based on cluster type.

**Describe alternatives you've considered**

There are no alternatives. This feature is not useful if suggesting nodes that cannot be deployed.

*

[2022-03-17 18:01] dwbrown2 commented on #1316
Have an example or AWS docs that you can share?

I do believe we today look at look at provider, split by arch type, and then bin pack.

[2022-03-17 18:04] kbrwn commented on #1316
See the associated ticket (#1516) to see a suggestion of a node that is not available to an EKS

[2022-03-17 18:18] srpomeroy commented on #1316
THis should probably be associated with https://github.com/kubecost/cost-analyzer-helm-chart/issues/1117

[2022-03-17 18:19] srpomeroy commented on #1316
And [#985](https://github.com/kubecost/cost-model/issues/985)

[2022-03-17 18:28] kbrwn commented on #1316
@srpomeroy thank you @kirbsauce let's bring this up in the issue planning meeting later today. I'm fairly certain that v1.91 is suggesting ARM instances when set to x86 which would be a regression.

[2022-03-17 18:30] srpomeroy commented on #1316
Can confirm I've seen this behavior as well.

[2022-03-18 21:05] kirbsauce opened #1317 "Rebuild daily ETL via hourly"
Support ETL rebuilding in chunks. There are certain architectures of PromQL that are resilient to a high QPS but not queries that run over long periods of time. This can cause our Daily ETL rebuild pipelines to fail while the hourly pipelines continue to succeed. We should make this easier by breaking down Daily ETL rebuilds into smaller timerange rebuilds. It may be easiest to just support a 1h r

[2022-03-18 21:06] kirbsauce opened #1318 "Don't trigger daily repair on rebuild of hourly"

[2022-03-18 21:06] kirbsauce opened #1319 "Monitor ETL status as a prometheus metric"

[2022-03-21 14:21] srpomeroy opened #1320 "Cluster Sizing Recommendations providing incorrect instance types for cloud provider"
**Describe the bug**
Multi-cloud deployment. Primary on AWS. Looking at cluster sizing recommendations. Regardless of what cluster I am looking at Kubecost is recommending AWS instance sizes.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Kubecost to clusters across at least two different clouds and federate with Thanos.
2. View cluster sizing recommendations for the secondary cluste

[2022-03-21 23:43] kirbsauce opened #1321 "Deploy sigv4 sidecar for Thanos queries"
Ideally, would like to have top-level “values” for the AMP workspace that would create a sigv4 sidecar for Thanos queries and set the remote_write values for primary and secondary clusters. As a workaround.  This would eliminate the need to run a sigv4 proxy as a workaround.

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-76) by [Unito](https://www.unito.io)

[2022-03-22 03:28] dwbrown2 commented on #1321
@kirbsauce thanks for reporting. any change you can share what problem this is solving or why running a sigv4 proxy is needed? I thought thanos supported a `signature_version2: false` flag.

[2022-03-22 15:29] mortenmj opened #1322 "Key duplication in kubecost-metrics-deployment-template.yaml"
**Describe the bug**

Similar to #1150 there is a key duplication where the app label applied from kubeMetricsName conflicts with commonLabels.
This causes kustomize to fail.

**To Reproduce**

Run yamllint against helm manifests of templates/kubecost-metrics-deployment-template.yaml
grep key-duplication

gz#1548

[2022-03-22 22:54] jcharcalla commented on #1322
@mortenmj Can you provide details on what version you are using  and the error from kustomize?

I was unable to reproduce this using with v1.91.2 and `yamllint 1.26.3`.
```$ yamllint cost-analyzer-helm-chart-1.91.2/cost-analyzer/templates/kubecost-metrics-deployment-template.yaml | grep key-duplication```

It may also be helpful if you can provide a copy of the `kubecost-metrics-deployment-templat

[2022-03-23 01:27] kirbsauce commented on #1321
@AjayTripathy can confirm, but I believe sigv4 is needed to make remote-write API calls to AMP...https://aws.amazon.com/blogs/opensource/prometheus-2-26-0-adds-aws-signature-version-4-support/

[2022-03-23 15:59] dwbrown2 commented on #1284
@srpomeroy any feedback on https://github.com/kubecost/cost-analyzer-helm-chart/issues/1284#issuecomment-1068537530 is point 1 relevant or are we really just focused on reports created via configmap?

[2022-03-23 16:42] dwbrown2 commented on #1320
@nealormsbee would this be a fit for current support rotation or need to be traiged?

[2022-03-23 16:59] nealormsbee commented on #1320
I can take a look, but I suspect this issue has deep roots. At cluster startup we create a Provider object for that cluster, and then proceed to use that for everything provider-related (like asking what node types are available). We'd want instead to create a new Provider for a given cluster on every request-sizing query. I don't know exactly how much lift that is, but it's likely a lot.

@nikova

[2022-03-23 17:51] bruced2iq opened #1325 "Workload Savings Multi-cloud **From D2IQ**"
**What problem are you trying to solve?**
I would like to be able to deploy workloads to different environments based on cost savings

**Describe the solution you'd like**
I would like to see a report for a workload and instead of just telling me to right size the instance to save x dollars, I would be able to see that if I deployed this workload on GCP instead of AWS I would save x dollars.

**De

[2022-03-23 21:08] ivankube commented on #1325
Thanks for sending in this feature request! We can’t always add new features that are requested, but we do keep track of each one. This may be something we look into later on down the line

[2022-03-24 13:46] SteveGoodenough commented on #946
This would be great for us as a GCP user; we use namespaces for each service on k8s but they get their own projects (2; non-prod and prod) for all other GCP assets they use.

There are certain things like Datastore (Firestore in Datastore mode) where you cannot use labels so this would solve it all with a single project level label.

[2022-03-24 17:37] AjayTripathy commented on #1325
Hey @bruced2iq ! This seems like a great idea. I think it wraps up nicely with the idea of "workload estimates" where we use our API to estimate costs based on requests before a workload is deployed. So you can see the cost of deploying a workload cleanly on different instance types, like n1-standard-1, t1-small, etc.

[2022-03-24 18:20] dwbrown2 commented on #1320
Sounds like waiting is best. I also feel like we have a potential cluster of issues we could address on cluster right-sizing. @michaelmdresser want to get this on your radar as tech lead in this area.

[2022-03-25 01:07] keithhand opened #1328 "Allow users to customize Thanos deployment strategy types"
**What problem are you trying to solve?**
On specific clusters, a RollingUpdate deployment strategy does not work for Thanos.

**Describe the solution you'd like**
I want a way to customize this value to better support these clusters.

**Describe alternatives you've considered**
Right now, you can manually delete the deployment and then run the upgrade.

**How would users interact with this featur

[2022-03-25 19:06] dwbrown2 commented on #1328
+1 here, feels like a quick change? Just curious, why does RollingUpdate break on certain clusters?

cc @AjayTripathy

[2022-03-25 20:49] dwbrown2 commented on #1325
+1, definitely in favor of exploring further soon. We've had a number of users already do this with our APIs.

@bruced2iq would love to run some product ideas by you soon if interested!

[2022-03-25 21:56] dwbrown2 opened #1329 "New allocations of shared resources"
**What problem are you trying to solve?**
There's a growing collection of use cases that direct us towards new and different allocations of shared costs. Here are a handful of examples:

* During full-cluster upgrades, some services don’t handle node transfers very well. Users ask to “park” certain nodes during upgrades to keep Kafka and other problematic apps up as much as possible. During this p

[2022-03-25 22:24] jcharcalla commented on #1322
Thank you for your submission, it has been merged and should be included in an upcoming release.

[2022-03-25 22:24] #1322 closed

[2022-03-25 23:32] keithhand commented on #1328
I found [this article](https://cloud.google.com/kubernetes-engine/docs/concepts/persistent-volumes#deployments_vs_statefulsets) describing the problem on GKE. I think it has to do with the details of the CSI on the cluster. I was able to upgrade fine on a cluster hosted on AWS, but when trying an upgrade on a cluster in GKE, I received the error:

[code]

[2022-03-27 21:52] #1315 closed

[2022-03-28 16:29] AjayTripathy commented on #1321
The sigv4 proxy is needed for _reads_ against AMP. I believe remote write to AMP is already supported internally within prometheus.

[2022-03-28 16:40] AjayTripathy commented on #1328
Hey @keithhand seems straightforward enough, want to pick this up if you already have a cluster that repros?

[2022-03-28 16:50] kirbsauce commented on #1321
thanks @AjayTripathy !

[2022-03-29 01:24] #1328 closed

[2022-03-29 03:38] dwbrown2 commented on #1284
@nealormsbee hoping this is quick, but here are states that seem potentially helpful to communicate via the UI.

1) non-admin can't delete, i.e. user does not have permissions
2) created via configmap can't delete, i.e. kubecost does not have permissions
3) non-admin + config can't delete, i.e. neither user nor kubecost has permissions
4) created via UI can delete

[2022-03-29 04:49] AjayTripathy commented on #1287
@mac-chaffee thanks for the tip, I believe this is working. Can you try out

`gcr.io/kubecost1/frontend:nginx-unprivileged` to see if this is working for you? Here are my logs, not that 30-tune-worker-processes.sh runs.

[code]

[2022-03-29 15:41] mac-chaffee commented on #1287
@AjayTripathy Looks good!

[code]

[2022-03-29 16:50] srpomeroy commented on #1284
What circumstances do we reload the configmap under?

On Tue, Mar 29, 2022 at 12:22 PM Neal Ormsbee ***@***.***>
wrote:

--
Sean Pomeroy
Solution Engineer

Docs <http://docs.kubecost.com/> | Blog <https://blog.kubecost.com/> | Slack
<https://kubecost.slack.com/> | Github <https://github.com/kubecost> |
kubecost.com

[2022-03-29 17:41] AjayTripathy commented on #1284
The pod most likely will restart on a helm upgrade. In general, I would not try and predict when we will sync to the state of the configmap, only that we certainly will sync to the state of the configmap at some point.

The invariant is; if you define anything via configmap, UI changes will only be temporary, and at any time can be overwritten. Define everything in the UI _and_ use a persistent vo

[2022-03-29 17:53] dwbrown2 commented on #1284
SGTM, I'd just note the permissions above and ideally show a button in an inactive state or some equivalent if possible!

[2022-03-29 17:56] AjayTripathy commented on #1284
For 2, could be a help to support if we simply warned the user that updates may not persist in "configmap" mode. How feasible is that?

[2022-03-29 18:15] nealormsbee commented on #1284
Showing that information seems totally reasonable to me :+1:

[2022-03-29 18:34] jessegoodier commented on #1284
Potentially for future consideration-

I understand that CM's are designed to be read only. I think that was just a suggestion for ease of use.

Alternatively:
For "ui-created-reports" there could be a new PV that must be manually created (or flag via helm).

For this volume, the logic could be:
  if present: save all UI created reports to the that volume.
  otherwise: use existing behavior.

A si

[2022-03-30 00:06] kirbsauce opened #1336 "test"
please close

[2022-03-30 00:09] #1336 closed

[2022-03-30 16:57] nealormsbee commented on #1284
Pull request open here: https://github.com/kubecost/cost-analyzer-frontend/pull/576

Have a look and weigh in! If you'd like it deployed live somewhere, let me know and I can set it up.

[2022-03-30 17:05] dwbrown2 commented on #1284
Would be awesome to see it live if that's easy to do!

[2022-03-30 17:25] nealormsbee commented on #1284
http://a642d8019cb7d4e3697c0fb950b73f1c-687369336.us-east-2.elb.amazonaws.com:9090/reports.html @dwbrown2

[2022-03-30 20:40] Sean-Holcomb commented on #1320
Deep roots indeed, I will see what can be done here.

[2022-03-31 14:46] JaySeletz commented on #1206
I use the EKS cluster-autoscaler along with the K8s scheduler.  I frequently tune resource requests based on Kubecost data and actual peak utilization.  Occasionally pods will be scheduled onto nodes such that total cpu requests are just a hair above  80%, like 81 or 82%.  This triggers the health warning, but I don't know what solution I have to remediate this, and it just creates repeated warnin

[2022-03-31 18:31] jessegoodier opened #1340 "inconsistencies in filters.json for RBAC when filtering by labels/annotations"
**Describe the bug**

For RBAC filters, the label filter uses an inconsistent format.
It is currently usable with the example below.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable SAML
2. Create filters.json

**Expected behavior**

Consistent key value pairs with regard to other filters.

Example (with a namespace filter as reference)-

This currently works:
   "kubecost_team1":{

[2022-03-31 18:32] dwbrown2 commented on #1340
Routing to @AjayTripathy since he led a lot of this work

[2022-03-31 21:57] kirbsauce opened #1343 ""Zero case" workload rightsizing should have consistent efficiencies and non-zero sizing recommendations"
version 1.92.0 rc-0

**Describe the bug**
Savings, over-provisioned workloads...

* Rightsizing recommendations are 0.
* Efficiency #s are inconsistent.
* Seeing recommendations with zero savings.

**Expected behavior**

1. I would expect these corner cases to at least have consistent efficiencies and non-zero sizing recommendations
1. I would expect that when the savings are zero I wouldn't be co

[2022-04-01 06:06] AjayTripathy commented on #1340
I'm not opposed, does seem like we'd want to support both at this point for backwards compatibility. Maybe we should just clearly document for now?

[2022-04-01 11:15] jessegoodier commented on #1340
I'm working on documentation. Will send you something today/Monday.

[2022-04-01 21:21] jcharcalla opened #1345 "Add current monthly costs to the Cluster Sizing Recommendations page"
**What problem are you trying to solve?**
At first glance the 'Cluster Savings / Cluster Sizing' Recommendations page can be a bit confusing to read. While it shows the "Compared to current" decrease/increase in dollars and percentage, it does not indicate what the current monthly cluster cost is.

<img width="1033" alt="Screen Shot 2022-04-01 at 12 51 50 PM" src="https://user-images.githubusercon

[2022-04-04 18:10] pzimno opened #1348 "Allow using ENV vars to set Prometheus external_labels cluster IDs in Federated Clusters"
**What problem are you trying to solve?**
We utilize Kubecost enterprise for the federated cluster view. We prefer our agents use a common/constant values file for manifest generation. This means setting `clusterName=` in a pricing-configs config map and `CLUSTER_ID=` in the cluster-id configmap. This prevents us from having to generate separate Helm templates for agents.

Unfortunately the Kubeco

[2022-04-04 20:32] keithhand commented on #1348
Hi @pzimno, I could be incorrect here, so I'm going to tag @AjayTripathy, who will be able to confirm. I believe, though, that if you set up the `clusterIDConfigmap`, you shouldn't need additional modifications to the `external_labels` because Kubecost should be using this value rather than the value from Prometheus. The `external_labels` field is getting hard-coded in the values.yaml, so you will

[2022-04-04 20:53] #1251 closed

[2022-04-04 20:55] AjayTripathy opened #1349 "Remove thanos and grafana ingress in the bundled charts"
The old ingresses have been disabled and it is beyond the scope of this chart to run an ingress for thanos or grafana-- those are accessible via service addresses.

[2022-04-04 20:55] AjayTripathy commented on #1262
CLosing this and filed a separate issue to track that deprecation here, for clarity: https://github.com/kubecost/cost-analyzer-helm-chart/issues/1349

[2022-04-04 20:55] #1262 closed

[2022-04-04 21:49] dwbrown2 commented on #1349
Is it fair to call this low priority?

[2022-04-04 22:40] dwbrown2 commented on #1206
Let us give this some thought! I _believe_ this customization would be configurable via AlertManager today given that we right health metrics to Prometheus. Would that be a viable/attractive solution?

[2022-04-04 23:13] dwbrown2 commented on #1343
@kirbsauce any chance you have a repro case here? I suspect this is happening in the back API in certain scenarios, e.g. when we have little to no data points.

cc @michaelmdresser who is in this part of the code base this week

[2022-04-04 23:41] kirbsauce commented on #1343
Sure @dwbrown2 , all you need to do is go to the request-sizing.html page on dogfood 1.92 RC
and sort Efficiency from lowest to highest.

[2022-04-04 23:45] alonsogalvan opened #1350 "RBAC: Users are still able to authenticate after admin and readonly groups are enabled."
**Describe the bug**
When implementing SAML integration for user management and RBAC, both default groups, admin and readonly, are enabled. We expect that all user sessions without the respective assertionValues should not be able to access the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Set the following values in the values  yaml file:

  rbac:
    enabled: true
    groups:
      -

[2022-04-04 23:58] #1350 closed

[2022-04-05 00:58] anoop2811 commented on #1285
In addition each user may need a different default view, so having the default view as a user level information would be something we are interested in

[2022-04-05 01:28] keithhand opened #1351 "Redirect loop when not passing SAML assertion values"
**Describe the bug**
After enabling both [RBAC SAML groups](https://github.com/kubecost/cost-analyzer-helm-chart/blob/c98f4856bc96d50c5a8a775547ac8ce539e7037b/cost-analyzer/values.yaml#L162-L175), if no SAML assertion value gets provided in the response, the application will continuously loop trying to authenticate.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable SAML and RBAC user ro

[2022-04-05 03:12] dwbrown2 commented on #1351
Thanks, @keithhand! Assigning to @AjayTripathy for review.

[2022-04-05 03:28] dwbrown2 commented on #1350
@alonsogalvan just wanted to follow up here. did you mean to close? anything we can help with on this issue?

[2022-04-05 04:29] kirbsauce commented on #1350
Thanks for the followup, @dwbrown2 .  @keithhand and I worked with @alonsogalvan earlier today and agreed to close this once we made it past the hurdle.  Details in the linked ticket.

[2022-04-05 13:58] jonerer opened #1352 "Add support for Swedish Kronor (SEK)"
What problem are you trying to solve?
My cloud provider(AWS) invoices me in Swedish Kronor (SEK), I would like to be able to view the cost in Kubecost with the same currency symbol.

Describe the solution you'd like
The ability to select SEK as a supported currency.

Describe alternatives you've considered
none

How would users interact with this feature?
Set via UI or helm values.

[2022-04-05 14:03] dwbrown2 commented on #1350
Reading this ticket it feels like we could benefit from a diagnostic endpoint to help users understand what RBAC roles are currently being applied. @AjayTripathy what do you think?

[2022-04-05 15:27] JaySeletz commented on #1206
I'm not sure, seems like you missed a word in your response.

[2022-04-05 16:32] dwbrown2 commented on #1206
Typo fixed!

[2022-04-05 17:57] JaySeletz commented on #1206
Sorry, it's still not clear exactly what solution you are proposing.  What would this entail on my part?

[2022-04-05 18:27] kaelanspatel commented on #1224
This has been implemented with the linked PR.

[2022-04-05 18:27] #1224 closed

[2022-04-05 18:27] kaelanspatel commented on #1223
This has been implemented with the linked PR.

[2022-04-05 18:43] kbrwn commented on #1206
@dwbrown2 The request here seems to be to extend [kubecosts cluster health](https://guide.kubecost.com/hc/en-us/articles/4407601796759-Alerts-Documentation#type-cluster-health) alert functionality to support thresholds rather than hardcoded defaults. I don't believe that these alerts are related to AlertManager.

[2022-04-06 22:34] keithhand opened #1355 "Only readonly permissions when no SAML RBAC groups are enabled"
**Describe the bug**
The user is unable to do various tasks when `saml.rbac.enabled = true`, but no groups are enabled. The user defaults with both `admin` and `readonly` groups, but the permissions seem based only on the `readonly` group. Saving and Un-saving reports were recognized as the first problem, though I think any task limited with the `readonly` RBAC group will behave this way.

**To Re

[2022-04-06 23:39] keithhand opened #1356 "Better support for air-gapped environments"
**What problem are you trying to solve?**
Currently, there are options to customize all of the images pulled via the chart; however, this can be tedious, and not all of them provide the best options. Most will give a configuration option similar to this... https://github.com/kubecost/cost-analyzer-helm-chart/blob/c98f4856bc96d50c5a8a775547ac8ce539e7037b/cost-analyzer/values.yaml#L188-L189

However

[2022-04-07 22:59] dwbrown2 commented on #1356
@keithhand awesome report, thanks for sharing! Is it fair to generalize this and say this applies to all custom image repos? I've seen certain users require even we not airgapped.

Is there an intermediate step which is a sample values file? Seems like we could create that quickly and that it would be helpful. Let me know what you think.

[2022-04-08 00:05] keithhand commented on #1356
@dwbrown2 that sounds like a fair to generalize. Anyone trying to use custom repositories for their Docker images could utilize this better. I made a sample file here:

[code]

Good to note that `grafana.sidecar.image` still needs to have the tag manually updated. Also, because of the Thanos sidecar implementation, I can't seem to get that specific value to override via the values.yaml file. Using

[2022-04-08 03:31] dwbrown2 commented on #1355
Totally see your point and think this is well put. But could this also be dangerous? i.e. someone intentionally adds a user to a read-only group and they overlook that they are also admin?

cc @AjayTripathy for his input!

[2022-04-08 16:41] dwbrown2 commented on #1352
@teevans might be a good quick one for next week!

[2022-04-08 17:04] jhughes-mc commented on #897
This is also a problem for us. I also only found this behavior via this issue, at a minimum it should be documented that kubecost will use only the "primary" workgroup in Athena.

[2022-04-08 18:09] dwbrown2 commented on #1320
@Sean-Holcomb able to make any progress?

[2022-04-08 18:13] dwbrown2 commented on #1345
Totally agreed there's a need here @jcharcalla. I actually see a group of issues/improvements around cluster right-sizing. Here are some:

* Show current cluster state/cost, maybe even an entirely new card Sometimes I don't know what my cluster is running...
*Clearly mark as ARM recommendations
* Give users a better understanding of why we generated these recommendations...
* Starting reviewing ot

[2022-04-08 19:00] keithhand commented on #1355
There is room for discussion, for sure. I thought having a "readonly admin" seems unintended, as that would be a readonly user and nothing admin about it. Perhaps a solution could be to change the role description to just "read" to be more descriptive of the permissions applied when attached.

[2022-04-08 19:38] AjayTripathy commented on #897
@jhughes-mc thanks for your note-- sorry you weren't able to find this issue sooner. This isn't particularly hard and we're happy to prioritize it to help your integration.

[2022-04-08 20:52] teevans commented on #1352
@jonerer - This has been merged in, and should make it out with our next release! You should be able to select SEK via Helm values, or through the UI! Thanks so much for the feedback!

[2022-04-08 20:52] #1352 closed

[2022-04-08 21:05] AjayTripathy commented on #1348
Hey @keithhand I do still think you need to supply different values to each helm chart-- you can't do this with just clusterIDConfigmap. That being said we can look to add this feature.

[2022-04-08 21:17] dwbrown2 commented on #897
Plan is to have in next release, v1.93!

[2022-04-08 22:43] kirbsauce opened #1358 "Support Custom Google Analytics"
We would like to be able to enable google analytics on our kubecost deployments. To do this, we need to be able to add a tag right after the head tag on each page of kubecost. Is adding tags to the webpage code something that we could get support for? I am specifically referencing the “Add the global site tag directly to your web pages” section in the “Set up data collection (for websites)” sectio

[2022-04-08 22:51] kirbsauce commented on #1358
We actually already optionally support GA today. So I think we would just need to support passing a custom tracking ID via a helm flag. Would that work in this case? We can move this to a public issue if that's easier for user input.

@dwbrown2

[2022-04-10 10:41] Dadavan opened #1359 "nodeSelector and Tolerations for cost-analyzer pod are broken"
It seems that in #1330 some fields of the cost-analyzer deployment were mistakingly removed, including nodeSelector, tolerations affinity and a few others. These affect the whole pod and not only the removed `server` container.

Steps to reproduce the behavior:
1. Set the global `nodeSelector` and `tolerations` values
2. Install the chart
3. Note that the cost-analyzer pod is missing these fields

[2022-04-11 00:58] AjayTripathy commented on #1359
Thank you for finding this @Dadavan -- fix is in #1361 and will be reviewed soon. Note that this made it only to the release candidate, so using a stable version will work.

[2022-04-11 01:03] AjayTripathy opened #1362 "Integration testing for adding tolerations, imagepullsecrets"
**What problem are you trying to solve?**
Introducing regressions when making substantial changes to the helm chart

**Describe the solution you'd like**
We add tests to ensure that kubecost is deployed correctly for critical k8s scheduling options like tolerations, imagepullsecrets

**Describe alternatives you've considered**
none

**How would users interact with this feature?**
no interaction.

[2022-04-11 04:23] dwbrown2 commented on #1285
@anoop2811 completely agree. just curious, do you currently use SAML with Kubecost?

Just trying to determine if that should be stored locally (i.e. browser local storage) or on Kubecost backend (i.e. using account mapping)

[2022-04-11 04:24] dwbrown2 commented on #1358
@teevans and I to start reviewing this week! currently expected for next release, v1.93

[2022-04-11 06:21] AjayTripathy commented on #1355
I think that users should always take the least permissions of any group they're assigned for security reasons. That's why the group is called "readonly" -- a user in it can only read regardless of other groups, but open to further discussion

[2022-04-11 17:41] dwbrown2 commented on #1343
@michaelmdresser is this something you'd want to investigate?

[2022-04-11 21:39] dwbrown2 commented on #1356
I feel like this is a great start. What do you think about referencing a sample values file from our docs site? https://guide.kubecost.com/hc/en-us/articles/4407601795863-Installing-in-Air-gapped-Environments

We may consider marking each as required vs optional?

cc @AjayTripathy about further helm chart changes

[2022-04-12 14:41] ndctrb opened #1364 "Release note for v1.92.0 is available but no chart for this version"
**Describe the bug**
Release note for v1.92.0 is available but no chart for this version

**To Reproduce**
there's no chart 1.92.0 when using helm search repo kubecost -l

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Collect logs (please complete the following information):**

[2022-04-12 15:55] #1284 closed

[2022-04-12 16:42] AjayTripathy commented on #1364
Hi @ndctrb sorry for the delay. v1.92.0 is now avaialbel on the helm repository.

[2022-04-12 16:42] #1364 closed

[2022-04-12 20:05] dahamr commented on #1152
My company would also like some sort of alerting for etl build failures - especially since we currently have to intervene to get the etl rebuilt. Our primary alerting environment is prometheus so our preference is alerts based on promql queries.

[2022-04-13 16:43] AjayTripathy opened #1366 "Support annotation filtering in the UI"
**What problem are you trying to solve?**
We currently only support filtering by annotation optionally, and via the API. We should allow that in the UI as well.

**Describe the solution you'd like**
Filtering by annotations is supported in the UI

**Describe alternatives you've considered**
You can currently already use the API to do annotation filtering, but we would want to do this via the UI

*

[2022-04-13 19:40] srpomeroy opened #1367 "Ability to Inspect Shared Costs"
**What problem are you trying to solve?**
I am sharing a number of different costs within my clusters and I need to be able to see the composition of my shared costs. Shared can contain costs from fixed overhead, tenancy costs, namespaces, and labels. And those costs can be split evenly or proportionally based on spend.

**Describe the solution you'd like**
Just as external and network have the `I

[2022-04-13 19:58] dwbrown2 commented on #1366
+1, what would the user experience be if annotations are disabled? Do we have a good way to determine if these are enabled or disabled from frontend?

[2022-04-13 22:12] jcharcalla opened #1368 "Add a warning to the free version when selecting a > 15 day date range on the cost allocation page"
**What problem are you trying to solve?**
When using the free version which is limited to 15 days of data retention the "Assets" page displays a warning (see image) a date range > 15 days is selected. No warning is displayed on the "Cost Allocation" page when selecting a date range > 15 days. This can lead to confusion as it is unclear that the "Cost Allocation" charts are based on 15 days of data

[2022-04-14 00:29] kirbsauce commented on #1358
FYI @AdamStack18

[2022-04-14 01:16] kirbsauce commented on #1056
Touching this as two other users have voiced confusion over inverted recommendations as it relates to the overall intent of the page (over-provisioned workloads).
cc @teevans

[2022-04-14 07:58] AjayTripathy commented on #1366
Noted in the request that we should grey it out to show it's an option that's unenabled. I don't think we have a good way to tell if they're enabled from the frontend but it shouldn't be particularly hard.

[2022-04-14 17:11] ErnestG4 opened #1371 "Support OIDC authentication for Kubecost"
**What problem are you trying to solve?**
Users would like Kubecost to support OIDC auth.

**Describe the solution you'd like**
Support OIDC authentication with Oauth2 authorization.

**Describe alternatives you've considered**
Currently, Kubecost only supports SAML auth.

**How would users interact with this feature?**
Similar to how SAML is currently configured, but with a flag for OIDC and fiel

[2022-04-14 17:17] marinoborges commented on #1371
cool, OIDC is our desirable SSO protocol so it would be good to have that option on Kubecost. Thanks!

[2022-04-14 21:18] dwbrown2 commented on #1358
@teevans let us know if we can get someone to add in a BE endpoint with a helm chart flag. That will hopefully keep you moving really fast on FE!

[2022-04-14 21:20] kbrwn commented on #1287
Hello @mac-chaffee thanks for confirming. The fix for this has shipped in the [Kubecost v1.92.0 release](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.92.0).

[2022-04-14 21:20] #1287 closed

[2022-04-14 21:23] dwbrown2 commented on #1368
Thanks for reporting, Jason! I believe this is a regression if you're reviewing Bianca so you may be able to quickly grep for this string.

[2022-04-14 21:30] biancaburtoiu commented on #1368
Here it seems the frontend isn't able to capture and render the warning message returned by the allocation summary endpoint; I'm looking into a neat way to parse the API response! @dwbrown2 @jcharcalla

[2022-04-15 00:40] AdamStack18 opened #1372 "Migrate External Cost in Kubecost UI"
## What are the issues?
We want to 1) increase the performance of queries on the Cost Allocation view and 2) increase the clarity of cost calculations by ensuring that costs remain consistent on click-through.

- Removing external=true on Cost Allocation will increase performance.

- Removing external costs for the Cost Allocation view will increase data consistent on click-through.

We will be mi

[2022-04-15 00:54] teevans commented on #1358
Let me see what I can come up with tomorrow for this. This is a bigger lift because of the SPA disconnect. But, we're gonna knock it out.

[2022-04-15 03:49] dwbrown2 commented on #1371
+1, we've had this request a number of times. Can we see about tracking for 1.94 @AdamStack18?

Is there any more guidance or docs on preferred path for integrating OIDC?

cc @AjayTripathy @keithhand

[2022-04-15 18:06] #1368 closed

[2022-04-18 03:51] dwbrown2 commented on #1206
@kbrwn All of the metrics related to the cluster health score/alerts are exported to Prometheus. Given they are in Prometheus, you have the ability to build any number of custom alerts with different thresholds based on [AlertManager rules](https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/). Is that helpful?

[2022-04-18 19:30] michaelmdresser opened #1378 "Add Helm linting/templating to PRs on this repo"
We should add Helm linting via GH Actions as a PR check on this repo. At its simplest, this could involve just running Helm's built-in `lint` and `template` commands. It would help us catch issues like this: https://github.com/kubecost/cost-analyzer-helm-chart/pull/1377

This is a good first issue for a new hire.

[2022-04-20 00:08] dwbrown2 commented on #1262
@AjayTripathy can you confirm what Kubecost release added official support for 1.22?

@AdamStack18 it could be helpful to document if we haven't recently.

[2022-04-20 05:48] AjayTripathy commented on #1262
1.22 is officially supported as of v1.91.0

[2022-04-20 16:59] keithhand opened #1382 "No default value for ETL_CLOUD_USAGE_ENABLED variable"
**Describe the bug**
When no value gets provided to the values.yaml file, no value gets assigned to the `ETL_CLOUD_USAGE_ENABLED` environment variable in the `cost-analyzer-deployment-template.yaml`. Based on [this doc](https://github.com/kubecost/docs/blob/6290d5818c9a78f92d088fc6d18c06385f82c1e2/cloud-integration.md#cloud-integration-configurations), this value should get set to true.

**To Repr

[2022-04-20 17:19] kbrwn commented on #952
@kaelanspatel @AjayTripathy Do you think this is still in issue in the latest kubecost release?

[2022-04-20 21:19] AdamStack18 commented on #952
@kbrwn  Added to the tracking list will review this week

[2022-04-21 13:20] teevans commented on #1345
@dwbrown2 - Moving discussion here.

@biancaburtoiu is currently running down what it will take to surface this data from the API before she leaves. We had discussed putting in a column in the cards that showed the current, but I like the experience idea of adding a third card. If Bianca isn't able to surface the data before she leaves, I told her I'd take it through the finish line for the releas

[2022-04-21 15:04] AdamStack18 commented on #1345
I would propose launching the current change as is. It will provide value by having the current cost on the page and it's completed.

Then we can use the time while @biancaburtoiu  is on vacation to elevate the page layout for v1.94.

+1 having the current cost on its own card. This will increase clarity by not duplicating the same info in two places on the same page.

[2022-04-21 15:07] dwbrown2 commented on #946
@biancaburtoiu have any docs/guidance on how to use this new feature? would love to see it in action when ready!

cc @AdamStack18

[2022-04-21 16:39] jessegoodier opened #1383 "/orphaned-resources.html returns error on null values"
**Describe the bug**
opening /orphaned-resources.html
returns:
Failed to load resources
Check that you have a valid service key and the cost analyzer API is running, then refresh

There are no other errors in the logs regarding this that I can find.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/orphaned-resources.html'
2. See error

**Expected behavior**
No error message

**Screens

[2022-04-21 16:42] dwbrown2 commented on #1383
Thanks for sharing, @jessegoodier! Any chance there was an error message in the JR console?

cc @AdamStack18 to add v1.93 release tracking

[2022-04-21 16:44] nealormsbee commented on #1383
^ Jesse and I looked at this together. The console says "Unexpected end of JSON input..."

Reason being that the API is providing a totally empty response, rather than e.g. `[]` or `{}`, so it fails to parse.

[2022-04-21 17:32] #1358 closed

[2022-04-21 17:47] biancaburtoiu commented on #946
I've got some [brief documentation](https://github.com/kubecost/docs/pull/221) ready for this as well! @dwbrown2

[2022-04-21 18:39] #1317 closed

[2022-04-21 20:32] keithhand commented on #1025
Hi @rlandesman and @jeisonarenales, changes to the dependency block got merged to the development branch/nightly build yesterday. These changes should resolve this issue. You can test these changes using the nightly chart by following the instructions [here](https://guide.kubecost.com/hc/en-us/articles/4407601825431-Kubecost-Release-Process#nightly-releases) or using the next release of the applic

[2022-04-21 20:32] #1025 closed

[2022-04-22 14:27] thejohncostanzo opened #1384 "consider pod limits on nodes when suggesting sizing changes to the cluster"
**What problem are you trying to solve?**
I have a cluster with many many pods that each require a small amount of resources. As a result they don't typically use all the cpu/memory on any node provided by AWS. Kubecost suggests downsizing my provisioned nodes (in size and/or count) to better match the compute usage, but it doesn't take into account the fact that the nodes also have limits on the

[2022-04-22 15:25] teevans commented on #1104
@nealormsbee - Could I bother you to take point on doing this for 1.94?

[2022-04-22 17:53] kirbsauce commented on #1384
Thanks for the submission, @thejohncostanzo !  cc'ing in @michaelmdresser and @AdamStack18 for visibility!

[2022-04-22 18:20] dwbrown2 commented on #1384
Actually adding @biancaburtoiu because we've recently been discussing exactly this! +1 from me.

[2022-04-22 21:08] AdamStack18 commented on #1318
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1317

[2022-04-22 23:06] dwbrown2 commented on #1382
@keithhand did you notice an impact to application functionality as a result?

cc @AdamStack18 to track for this release

[2022-04-25 16:01] dwbrown2 commented on #1367
+1, I think this is a good candidate for 1.94 IMO

[2022-04-25 16:28] keithhand commented on #1382
@dwbrown2, I didn't notice app functionality impacted, though I didn't extensively test. The doc mentions that specific endpoints get enabled with that variable, so it might be good to check if they are still available with a default install.

[2022-04-25 18:03] #897 closed

[2022-04-25 19:33] dwbrown2 commented on #1378
I think this would be impactful! @dramich any interest or experience here on your side? Feels like it could be a good one to explore next week if you do have interest. Just wanted to share because I overheard you might be looking soon.

[2022-04-25 20:20] dramich commented on #1378
@dwbrown2 Yes to both, this is also required in order to implement https://github.com/kubecost/cost-analyzer-helm-chart/issues/1362 which is currently tied to me

[2022-04-25 20:29] dwbrown2 commented on #1378
Nice! Feel free to run with it. Seems like it doesn't have to be this week if you do have other stuff you're focused on!

cc @AdamStack18 for tracking relative to releases

[2022-04-25 20:50] #1383 closed

[2022-04-25 21:16] dwbrown2 commented on #897
PRs out and merged in case any one is interested in giving feedback!

https://github.com/kubecost/cost-model/pull/1175
https://github.com/kubecost/cost-analyzer-helm-chart/pull/1386

Big shout out to @dramich for having this ready before this coming release.

[2022-04-26 16:33] kbrwn opened #1387 "Shared namespace does not include external costs"
**Describe the bug**

Tag an external cloud resource with kubernetes_namespace label and then define that namespace as a shared resource from /settings.html. Shared namespace shows up as a line item and external costs do not appear to be shared.

**Expected behavior**

Full cost of namespace including external resources cost distributed proportionately amongst other aggregations.

**Screenshots**

[2022-04-26 18:20] nikovacevic commented on #1387
This is not possible, as the feature is currently defined/implemented. This is WAI, not a bug.

[2022-04-26 18:21] nikovacevic commented on #1387
Proposal: pursue Advanced Reports as a replacement for the External Cost feature. That way, we can design a sensible and complete notion of joining the Allocation and Cloud data sets. Then, deprecate External Cost.

[2022-04-26 18:22] kbrwn commented on #1387
@Sean-Holcomb seemed to this it should work and was oncall when I asked about this.

[2022-04-26 19:14] Sean-Holcomb commented on #1382
There should be no impact because the env variable also defaults to true when it is pulled into the app

[2022-04-26 19:42] #1382 closed

[2022-04-26 23:40] keithhand opened #1389 "Allocation API has GPU costs when GPU count is 0"
**Describe the bug**
When using a custom pricing model, GPU prices can be assigned to \_\_idle\_\_ costs, even though the GPU count for the node is 0.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster with no GPU-enabled nodes.
2. Install Kubecost with `kubecostProductConfigs.customPricesEnabled = true` in the values.yaml. The default pricing values will work to demonstrate th

[2022-04-27 03:52] dwbrown2 commented on #1387
Current plan is the external cost will be moved from Allocation to Advanced Reports in the next release. I agree we should support this with that functionality.

[2022-04-27 07:16] despi89 opened #1390 "Network Cost Settings Configuration by GUI"
**What problem are you trying to solve?**
Network Costs settings are currently configured in https://github.com/kubecost/cost-analyzer-helm-chart/blob/ab384e2eb027e74b2c3e61a7e1733ffa1718170e/cost-analyzer/values.yaml#L288-L322
While all other costs can be defined in the settings area of the GUI.

**Describe the solution you'd like**
Enable Network Costs definitions in the GUI settings area.

**De

[2022-04-27 08:40] mute-source commented on #1390
Hi @despi89,
I have the same "problem" and would also be happy if the costs could all be recorded and administered in the GUI.
Especially since this would also allow faster adjustments to be made by controllers who have less coding experience.
Cheers

[2022-04-27 17:55] AjayTripathy commented on #1389
I wanted to note that a quick workaround here is to set GPU prices to 0 in your default pricing settings.

[2022-04-27 17:56] AjayTripathy commented on #1389
I will do a bit of digging to see if I can help narrow down the cause, but assigning to @dramich since it's a good chance to dive into a messy bit of the code base :)

[2022-04-27 18:03] michaelmdresser opened #1391 "Nightly: refreshing allocations.html increases monthly cost (under certain conditions?)"
**Describe the bug**

I have a cluster with namespace `over-request` which has two CronJobs in it [1]. I'm running nightly with the following images:

[code]

If relevant, this version of nightly is before https://github.com/kubecost/cost-model/pull/1179 has been approved/merged.

I have allocations.html loaded with the following settings:
<img width="317" alt="image" src="https://user-images.gith

[2022-04-27 18:04] dwbrown2 commented on #1391
cc @AdamStack18 to track for this release

[2022-04-27 18:10] nikovacevic commented on #1391
There are filters, so none of my work applies. Furthermore, none of my work is in `develop`, so it's not in nightly.

[2022-04-27 18:12] nikovacevic commented on #1391
Does it happen on requests for cumulative data? If not, then this is potentially a front end question. (Not saying the back-end isn't involved, but we don't do the conversion to monthly on the back-end. That only happens on the front-end.)

We could try to intercept the `minutes` values from payloads where this happens, as just an idea.

[2022-04-27 18:44] michaelmdresser commented on #1391
Thanks for the extra context Niko.

I'm seeing the same cost-increasing-on-refresh behavior for cumulative costs (specifically window=7d+agg by cluster, if that's relevant).

For the cumulative 7d+agg by cluster, here's the summary query being run, and the response (pulled from browser console):
[code]

[code]

And here's the UI:
<img width="913" alt="image" src="https://user-images.githubusercont

[2022-04-27 18:45] michaelmdresser commented on #1391
I waited a while and refreshed and the cost reset to what it (probably?) should be:

[code]

[code]

<img width="888" alt="image" src="https://user-images.githubusercontent.com/17585786/165597688-89d983dc-80c8-4f4a-a448-0b90e709d39c.png">

[2022-04-27 18:46] jcharcalla opened #1392 "Can't view cost by annotation in Allocation UI"
**Describe the bug**

After enabling namespace [annotation emissions](https://guide.kubecost.com/hc/en-us/articles/4407595918231-Enabling-Annotation-Emission) with `--set kubecostMetrics.emitNamespaceAnnotations=true` it is implied  by "Owner Label / Annotation" and the description of it on the settings page that annotations can be used for label mapping (See screen shot below). However when Using

[2022-04-27 20:33] MrColeC commented on #1252
This is related to [#264](https://github.com/kubecost/cost-model/issues/264) - right?

[2022-04-27 20:57] MrColeC commented on #1152
We are also interested in this - which appears related to what is in https://github.com/kubecost/cost-model/issues/264

[2022-04-27 21:26] michaelmdresser opened #1393 "Nightly: drilldown of monthly costs does not match (namespace -> controller with inaccurate controller attribution)"
**Describe the bug**
I have a namespace with the CronJobs described here: https://github.com/kubecost/cost-analyzer-helm-chart/issues/1391#issue-1217706889

When I visit allocations.html and ask for monthly cost for the namespace those CronJobs are in, I see this:
![](https://user-images.githubusercontent.com/17585786/165633182-92364720-fb41-4670-809e-a13ba173a099.png)

When I drilldown into that

[2022-04-28 03:59] dwbrown2 commented on #1024
GCP just added more granularity to compute billing rates on a per instance level. It should now be possible as of very recently to map discounts back to individual assets, e.g. nodes. Will, is this the same request? Let me know if it's something simpler. If it's just tell me my discounts for N1's in Account X, we should already support that.

[2022-04-28 09:42] rlees85 opened #1395 "Cannot Add Annotations to Services"
**What problem are you trying to solve?**
There is no way to add custom annotations to the services created by the Kubecost Helm chart. This prevents existing cluster services and tools from working with the services Kubecost creates. A specific example is Prometheus set up in a custom way that may require additional annotations in order to pick up and scrape the services.

**Describe the solution

[2022-04-29 06:08] AjayTripathy commented on #1395
Thanks for this report and the follow-on PR @rlees85 ! I'm generally supportive and can pick up this review.

[2022-04-29 06:59] AjayTripathy commented on #1252
Yes-- we're still in the design phases here so we'll consolidate this soon!

[2022-04-29 19:59] #1378 closed

[2022-04-30 01:22] #1391 closed

[2022-05-01 19:29] chicagozer opened #1397 "Kubecost recommending ARM (x2gd.2xlarge) instead of x86"
**Describe the bug**
Kubecost is recommending an ARM based processor, x2gd.2xlarge, even though I chose x86.

**To Reproduce**
Choose x86 on an AWS based cluster.

**Expected behavior**
x86 Recommendations.

**Screenshots**
<img width="866" alt="Screen Shot 2022-05-01 at 7 25 25 PM" src="https://user-images.githubusercontent.com/906190/166161488-fedbb959-e13e-4c8e-a89e-fe14bc624134.png">

gz#1753<

[2022-05-02 13:00] thejohncostanzo opened #1398 "Misleading graph labels"
**Describe the bug**
Viewing costs over time, each bar graph is labeled with a date. However when hovering over the date it actually is representing a specific time range that is mostly the day _after_ (at least for my time zone). In the example screenshot the bar is labeled "4/30/2022", but the time range is "4/30/2022 8PM => 5/01/2022 8PM". I get that the UI is probably just converting the start

[2022-05-02 14:42] dwbrown2 commented on #1398
thanks for reporting @thejohncostanzo!

@teevans let's take a look if that sounds good. i believe this is also handled inconsistently on several pages.

cc @AdamStack18

[2022-05-02 14:50] dwbrown2 commented on #1397
@biancaburtoiu would you be able to take a look given your recent work here?

[2022-05-02 17:22] mbolt35 commented on #1390
I'm confused on what the request is here. The network-costs settings linked above aren't costs, they're specific classification options for IP/CIDRs. The costs for these classifications of traffic should be modifiable via the settings GUI, I agree. Especially because the actual costs values in helm are listed here:

https://github.com/kubecost/cost-analyzer-helm-chart/blob/3a429cbda4ffb8ca2681bdcc

[2022-05-02 17:45] jessegoodier commented on #1351
FYI, another customer reported the issue on April 26th.

[2022-05-02 18:27] dwbrown2 commented on #1351
@teevans thoughts on this from the FE's perspective? I agree that a simple/standardized Access Denied page that links to our docs would make sense.

[2022-05-02 18:34] #1397 closed

[2022-05-02 19:39] despi89 commented on #1390
Hi @mbolt35
thanks for asking. I think it would be very helpful to have both, the classification as well as their costs to be configurable in the GUI. What do you think?

[2022-05-02 20:07] mbolt35 commented on #1390
Updating settings on our frontend to include the costs should be relatively straight forward. However, for the classification settings, given that the network-costs pods exist as a daemonset, we would need to directly update a config-map, which I don't think we have permissions for. I'll need to look into this a bit more.

[2022-05-03 04:13] dwbrown2 commented on #1393
Is this just for monthly rate figures? Are we aiming to address in v1.93?

cc @AdamStack18 to tack

[2022-05-03 13:13] RomanDvorsky opened #1399 "Wrong link for the "request sizing""
**Describe the bug**
When you drill down thru labels the "request sizing" button shows wrong (no) data.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Cost Allocation'
2. Aggregate by some label - team in our case
3. drill down to given team
4. Click "request sizing" button
5. No data are shown - error is shown :) "Failed to load request sizing recommendations
Invalid label filter. L

[2022-05-03 13:45] chicagozer commented on #1397
@biancaburtoiu appreciate you looking at this...what was the resolution?

[2022-05-03 13:48] biancaburtoiu commented on #1397
Hi @chicagozer! Thanks for raising this - there was an issue in the way we were distinguishing between AWS x86 and ARM instances. It should be fixed in the following release!

[2022-05-03 14:29] michaelmdresser commented on #1393
@dwbrown2 Yes, this is just for monthly rate figures. I think its an error in our monthly rate formula under certain circumstances like pods without correct controller attribution (e.g. CronJobs pre-https://github.com/kubecost/cost-model/pull/1179). I'm almost certain this is a similar/same issue to https://github.com/kubecost/kubecost-cost-model/issues/651.

So to be clear: this is only for certa

[2022-05-03 15:40] AjayTripathy commented on #1399
Triaging to @biancaburtoiu since @kaelanspatel is working on something else I believe.

[2022-05-03 15:48] dwbrown2 commented on #1399
cc @wolfeaustin since he's our expert here

cc @AdamStack18 for release tracking

[2022-05-03 17:12] dwbrown2 commented on #1392
@jcharcalla I believe the Allocation page is WAI in the sense that aggregating by Annotation is just supported in the back APIs. I would for sure call the Settings description a bug though.

Any chance you were able to confirm this was working for you in the underlying Allocation API? My proposal would be that we turn this into a feature request and bring the frontend UI to match the Settings desc

[2022-05-03 20:04] keithhand opened #1403 "Add ability to customize the pod security context and use readOnlyRootFilesystem"
**What problem are you trying to solve?**
After patching the cost-analyzer pod's security context to have the value `readOnlyRootFilesystem: true`, the `cost-analyzer-frontend` pod will fail with the following error:

[code]

**Describe the solution you'd like**
Successful deployment with a custom security context. It would also be nice to modify this value via the helm chart, rather than patching

[2022-05-03 22:16] AdamStack18 commented on #1389
@dramich any update here?

[2022-05-03 22:41] dwbrown2 commented on #1403
@AjayTripathy would you be able to add initial review?

[2022-05-03 23:50] AjayTripathy commented on #1403
@keithhand happy to take a look, were you able to repro this?

[2022-05-04 00:40] keithhand commented on #1403
@AjayTripathy, yes, I was. I had to patch the `kubecost-cost-analyzer` deployment manually with these security context options attached at the container level.

[2022-05-04 08:56] AjayTripathy opened #1404 "Asset drilldown with type filters already applied is odd"
**Describe the bug**

**To Reproduce**
1. Apply a multiple filter to the assets page: http://34.69.101.254:9090/assets.html?agg=type&filters=W3sicHJvcGVydHkiOiJ0eXBlIiwidmFsdWUiOiJDbHVzdGVyTWFuYWdlbWVudCxEaXNrLExvYWRCYWxhbmNlcixOb2RlIn1d
2. Click on the node section to drill down
3. The data returned clears all filters/seems to return all assets

**Expected behavior**
My guess is drilldown should

[2022-05-04 15:29] srpomeroy opened #1405 "UI/UX for Collecting Data message on new deployments"
**What problem are you trying to solve?**
When deploying kubecost the UI says something to the extent of "Kubecost is collecting data. Check back in 5 minutes." When using the federated architecture this is more like 3 hours due to the delay of Thanos shipping chunks to object storage.

**Describe the solution you'd like**
Would like to see the collecting data message reflect that it could take up

[2022-05-04 16:33] keithhand commented on #1403
@AjayTripathy, I was able to reproduce the main issue (readOnlyFileSystem breaks) using this yaml patch file...

[code]

... followed by this command `kubectl patch deploy/kubecost-cost-analyzer -n kubecost --patch-file securityContext.yaml`.

[2022-05-04 16:51] dwbrown2 commented on #1405
Thanks, Sean!

@teevans and I just discussed this clean install experience yesterday. Let's review for 1.94 if that sounds good!

[2022-05-04 20:27] philomory opened #1406 "Create Diagnostic About Missing Resource ID"
**What problem are you trying to solve?**
We have a savings plan, but no reserved instances. After setting up the integration with Athena, the UI was unclear and led me to believe that something had gone wrong and that the integration was not working:

![image](https://user-images.githubusercontent.com/200123/166818199-951c8815-1301-459d-8724-e68eb6cfb0fe.png)

Specifically, the fact that the diag

[2022-05-04 20:38] dwbrown2 commented on #1406
Thanks for this report, @philomory!

@Sean-Holcomb could you review?

cc @teevans in case it's a frontend issue
cc @AdamStack18

[2022-05-04 20:48] dwbrown2 commented on #1343
@michaelmdresser do you understand what is causing this issue?

[2022-05-04 21:28] Sean-Holcomb commented on #1406
It would be possible to break these out into individual checks and remove mention of OOC here since it is not a pricing source. We would need to revamp the UI a little too though.

[2022-05-04 21:37] kbrwn commented on #1406
It would be great to have these checks as prometheus metrics as well.

[2022-05-04 21:48] philomory commented on #1406
Honestly, I kind of feel like there should be separate toggles (either in the UI or in Helm, or possibly both) for "Reserved Instances", "Savings Plans", and "Out-of-cluster resources"; and if a given option is turned off, Kubecost shouldn't even _try_ to query/analyze that type of data, whether or not it might be available.

This would solve the "getting warned about the lack of data I didn't exp

[2022-05-04 21:49] michaelmdresser commented on #1343
Not exactly. The current request sizing API logic is extremely entangled and sorting out an issue like this is high-effort low-reward. More consistent logic would result from pursuing the API schema v2 and I suspect writing the entirety of API v2 would take less time than untangling the behavior described in this ticket.

[2022-05-04 22:01] AdamStack18 commented on #1404
@AjayTripathy  Was able to reproduce it. However, initially, it worked correctly.

@nealormsbee  mentioned we had something similar to this on the allocation page in the past that's been patched.

[2022-05-04 23:00] AdamStack18 commented on #1250
@kbrwn Can we close this issue? My understanding is that https://github.com/kubecost/cost-model/pull/1092 closed this out.

[2022-05-04 23:02] kbrwn commented on #1250
If @mbolt35 believes his PR fixed this issue sure.

[2022-05-04 23:20] teevans commented on #1345
@AdamStack18 - Just checking in, Are we good with re-labeling this to 1.94?

[2022-05-04 23:25] dwbrown2 commented on #1343
Ok, if you feel reasonably confident this isn't a quick win then we let's discuss time estimate for rewrite and decide if it should be a part of v1.94.

[2022-05-05 02:04] mbolt35 commented on #1250
@AdamStack18 Yes, this fix is merged.

[2022-05-05 06:05] nealormsbee commented on #1404
I was not able to get this today and am out until the weekend. To help anyone who might pick this up:

This issue once exited on Cost Allocation as well. The problem is that we combine filters applied by Drilldown with user-applied filters, and filters of the same category are treated as unions. What happens is

[code]

The solution implemented in Cost Allocation is to AND the drilldown-defined fi

[2022-05-05 14:27] RomanDvorsky commented on #1399
Hi, I have installed the latest version: "v1.93.0-rc.0" and I have to say it is not fixed!
![image](https://user-images.githubusercontent.com/36188474/166945105-b3c2c103-694a-4750-bd46-a81af2a89af6.png)
the error message is gone however it does not filter properly.

Wrong link now: https://kubecost-we-test.services.ori/request-sizing.html?filters=team%3Aacquisition  (label is missing here)
correct

[2022-05-05 17:03] biancaburtoiu commented on #1399
Hello @RomanDvorsky, sorry for the confusion! The fix isn't available in this release candidate, we expect to have it either in a following release candidate or in the final release.

[2022-05-05 21:13] ivankube opened #1407 "Provide an option to display label value only in graphs"
**What problem are you trying to solve?**
Currently both label key and values is displayed. When key is long, value is not visible.

**Describe the solution you'd like**
Provide an option to display label values only.

**Describe alternatives you've considered**
Change graphs labels from diagonal to horizontal or vertical.

**How would users interact with this feature?**
Users will have an option

[2022-05-05 21:33] AdamStack18 commented on #1345
@teevans Temporarily adding back in v.193 for tracking. We made progress in v1.93 but still have more work to do.

[2022-05-06 12:38] michaelmdresser commented on #1407
Here's a visual example:

<img width="527" alt="image" src="https://user-images.githubusercontent.com/17585786/167132682-1d11712c-6e63-4185-832d-f0008b3f824e.png">

The highlighted `app=` string is what this feature request wants to be able to toggle. Note how it makes it more difficult to read longer strings on the graph, like `app=cost-anal...` because they get truncated.

[2022-05-06 14:00] dwbrown2 commented on #1407
The full value is shown on hover though right... does that not help a lot in this situation?

Really long strong will still be truncated no matter what we do here..

[2022-05-06 14:40] jessegoodier opened #1408 "Add currency support for PLN Polish złoty"
**What problem are you trying to solve?**
Customer requesting support for PLN currency

**Describe the solution you'd like**
The ability to select PLN as a supported currency.

**Describe alternatives you've considered**
NA

**How would users interact with this feature?**
Set via UI or helm values.

[2022-05-06 18:09] jcharcalla opened #1410 "Allow wildcards in Budget alert filters"
**What problem are you trying to solve?**
When configuring a "budget alert" using a wildcard `*` in the filter no alerts are sent (Note that test alerts are sent). Wildcards are documented as working for "Recurring" alert filters so this change will bring consistency to alert configuration. The following example screen shot shows a scenario where the namespace filter is set to `kube*` with the exp

[2022-05-06 19:22] mbolt35 commented on #1410
Just wanted to provide an update. It took me a bit of time to track down exactly what was going on here: Our `filter` property does support a single `*` character to represent "all," but as for actual prefix/suffix wildcards, this isn't currently supported. We do currently support a comma delimited list. ie: `kubecost,kube-system,kube-configuration`

This is definitely something we can look into s

[2022-05-06 19:34] #1404 closed

[2022-05-06 20:06] #1389 closed

[2022-05-09 13:56] RomanDvorsky opened #1411 "Unable to set up Azure connection"
**Describe the bug**
Hi, I'm not able to set up azure connection, I do get an error: AADSTS7000215: Invalid client secret provided. However if do try to log in by "az cli" with the same credentials all goes fine.
No idea how to fix or debug the issue - the service principal password has to be anyhow encrypted?

**To Reproduce**
Steps to reproduce the behavior:
1. Use v1.93.0-rc.0 helm chart
2. try

[2022-05-09 15:12] srpomeroy opened #1412 "Grafana Sidecar generating many log entires due to missing value"
**Describe the bug**
When enabling the datasources feature of the Grafana sidecar, the logs fill up with an invalid literal error.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable the datasources feature of the Grafana Sidecar: https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L666
2. Observe logs

**Expected behavior**
SIdecar should run witho

[2022-05-09 16:59] keithhand commented on #1411
Hello @RomanDvorsky, I found a [post on StackOverflow](https://stackoverflow.com/a/47407300) of someone experiencing a similar issue where they were able to resolve it by Base64 encoding the client's secret. Could I have you test this to see if perhaps encoding the secret in this way allows the connection?

[2022-05-09 23:57] AdamStack18 opened #1416 "Shared Costs by Cluster vs Node"
To increase performance and meet the needs of users, we want to share tenancy costs by cluster vs. node.

[2022-05-09 23:57] #1416 closed

[2022-05-10 06:33] RomanDvorsky commented on #1411
Hi,

I did try base64 encode, url encode, I did generated secret just with ~ which should be ok, used latest "v1.93.0-rc.1" still does not work.. :(

what I do not understand is this message: "azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request"

I suppose it tries to get token for the client id and secret and use the token for the further communication, right? why th

[2022-05-10 20:10] anoop2811 commented on #1285
@dwbrown2 , thanks and yes we use SAML with kubecost.

[2022-05-11 05:15] RomanDvorsky commented on #1411
I did follow these instructions with the same result :( actually what is the formatting recommendation, I had experience formatting issue with the configuration (windows vs. linux file format) so I'm wandering whether this can be related anyhow:

[code]

or

[code]

[2022-05-11 20:38] ivankube commented on #1407
Response from the user: "Indeed there is a "hovering" function available but it requires you to go through all the graph columns to find the one you are after"

More infö with label examples in ticket #1768.

[2022-05-11 21:53] AdamStack18 commented on #1407
I've seen this challenge solved by adding a color key. There could be a toggle to hide it or reveal it.

![Dashboards-Charts-From-Reports-Chart](https://user-images.githubusercontent.com/102822297/167953826-ec6fa28e-c94d-4255-88f9-9c0e0f78a568.jpeg)
![drill-down-by](https://user-images.githubusercontent.com/102822297/167953836-34fae989-9919-41ce-84a3-504ced388889.png)
.

[2022-05-11 22:04] jcharcalla opened #1420 "Support a single AWS AMP for Primary and Secondary Kubecost"
**What problem are you trying to solve?**
There is an interest in using a single AWS AMP (Amazon Managed Service for Prometheus) to replace Prometheus on Primary and Secondary (or multiple secondaries) kubecosts in a federated install. From what I understand this will require limiting the Prom queries to the relevant cluster. It will also require updates to the [documentation](https://guide.kubeco

[2022-05-11 23:10] dwbrown2 commented on #1420
Can you share the detailed use case and/or reason why this is important?

[2022-05-11 23:45] AjayTripathy commented on #1420
From a maintenance perspective, it's not ideal to maintain a bunch of prometheuses _and_ AMP. This is probably the fastest approach for doing that, but perhaps an alternative we should consider is that _no_ secondary clusters require a database, instead scraping and maintaining a buffer of OpenTelemetry data from the kubelets themselves. That's probably a significantly larger project, though.

[2022-05-12 20:52] AdamStack18 commented on #1392
@jcharcalla  Quick following up here.  Any chance you were able to confirm this was working for you in the underlying Allocation API?

[2022-05-12 22:17] AdamStack18 commented on #1091
Based on the latest PR closing this out.

[2022-05-12 22:17] #1091 closed

[2022-05-12 22:23] AdamStack18 commented on #1318
@kirbsauce Closing this out. https://github.com/kubecost/cost-analyzer-helm-chart/issues/1317 should have fixed the issue. Reopen it if needed.

[2022-05-12 22:23] #1318 closed

[2022-05-13 19:50] mbolt35 commented on #1104
I still feel like this idea bleeds over into all areas of the product and we should have a group discussion to nail this down completely. The opening "Select Cluster" is the misleading terminology. I _think_ this is what we're calling "Context" but it is truly a "Project" - the structure itself represents a single cluster or group of clusters. While we can't really do this today, I feel our data m

[2022-05-16 19:08] sellers opened #1424 "Business Tier Warning shows 15 days instead of 30"
**Describe the bug**
Version 1.91 did not warn you when you went beyond 30 days (and would often show more than 30 days)
Version 1.93 shows a warning, but says the data is beyond 15 days and is not available but I believe it should say 30 days as business allows for more than 15 days worth of data.   This is likely related to a recent enhancement.

**To Reproduce**
Steps to reproduce the behavior:

[2022-05-16 19:12] sellers commented on #1424
See also issue #1368

[2022-05-16 19:26] keithhand commented on #1424
Thanks for pointing this out to us! Cc @teevans so that we can dig into this.

[2022-05-16 21:18] AjayTripathy commented on #1387
Now that Advanced Reports has been released, should we re-prioritize this?

[2022-05-17 02:46] sg09 opened #1425 "Helm upgrade fails with Kubernetes v1.22"
When trying to install cluster controller with EKS 1.22 (v1.22.6-eks-7d68063), helm upgrade fails with the below error

`helm upgrade kubecost kubecost/cost-analyzer --namespace kubecost  --set clusterController.enabled=true
Error: UPGRADE FAILED: unable to recognize "": no matches for kind "CustomResourceDefinition" in version "apiextensions.k8s.io/v1beta1"`

Already Kubecost is running in EKS wi

[2022-05-17 04:40] AjayTripathy commented on #1425
Looks like this has moved to apiextensions.k8s.io/v1 so our chart needs an upgrade to successfully install the cluster controller for automated turndown.

[2022-05-17 06:05] AjayTripathy commented on #1425
Assigning to @wolfeaustin the support eng on rotation

[2022-05-17 11:29] sg09 commented on #1425
Appreciate any interim solutions till the fix is in place to unblock us

[2022-05-17 16:18] AjayTripathy commented on #1425
Hi @sg09 you could just clone "master" of cost-analyzer-helm-chart and replace this line: https://github.com/kubecost/cost-analyzer-helm-chart/blob/d72ca06f3b58fedaf6505ce05f7bbe3197768efb/cost-analyzer/templates/kubecost-cluster-controller-template.yaml#L250 with ` apiextensions.k8s.io/v1` or deploy the helm chart without .Values.clusterController.enabled .

[2022-05-17 16:39] dwbrown2 commented on #1425
@mbolt35 potential quick fix next week?

[2022-05-17 17:27] teevans commented on #1424
@nealormsbee would you want to pick this up?

[2022-05-17 17:32] nealormsbee commented on #1424
Yep, should be a quick adjustment. Self-assigning.

[2022-05-17 18:51] AjayTripathy commented on #1425
Think Austin (support rotation) should have a PR soon!

[2022-05-17 21:46] nealormsbee commented on #1424
Just checking @sellers:

On business tier, you can still query between 15 and 30 days of data without issue, right? The issue is that when you exceed 30 days, the warning shown says "15 days", which is inaccurate.

[2022-05-18 10:19] michelesr opened #1428 "Cost analyzer and grafana are using stale service account tokens"
**Describe the bug**
Kubernetes version 1.21 graduated BoundServiceAccountTokenVolume feature to beta and enabled it by default. This feature improves security of service account tokens by requiring a one hour expiry time, over the previous default of no expiration. This means that applications that do not refetch service account tokens periodically will receive an HTTP 401 unauthorized error resp

[2022-05-18 10:32] AdamStack18 commented on #1351
@teevans added to Front-End Team board. Please remove it if that's not the correct place for this issue to live.

[2022-05-18 10:39] teevans commented on #1351
We actually have an unauthorized page already that I migrated to React last week. Should be able to use that!

Assigning to @nealormsbee since he's got some bandwidth.

[2022-05-18 10:56] #1250 closed

[2022-05-18 11:05] AdamStack18 commented on #1040
@kbrwn, could you provide the context behind why you reopened this issue? It will help me route it accordingly.

[2022-05-18 14:43] jcharcalla commented on #1428
Thank you for reporting this!

Adding @wolfeaustin

[Additional documentation.](https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/#bound-service-account-token-volume)

[2022-05-18 17:32] dwbrown2 commented on #1351
Also, could be totally wrong but I think @kaelanspatel is working on something related on the BE...

[2022-05-19 08:36] biancaburtoiu commented on #1320
I picked this up - Strongly believe we need to sort this out before doing any further developments on the cluster sizing page. Just put a PR up...

[2022-05-19 09:52] doonto opened #1430 "Azure cloud integration config ignores kubecostProductConfigs"
**Describe the bug**
Azure cloud integration config ignores the helm values under kubecostProductConfigs.
Discussion and details are also available in https://kubecost.slack.com/archives/CLFV60Y90/p1652801061615549

**To Reproduce**
Install kubecost 1.90 (to see the azure config in the frontend) or 1.93.1 (latest at the moment), follow https://guide.kubecost.com/hc/en-us/articles/4407595934871-Azu

[2022-05-19 15:26] vittoriocanilli opened #1431 "Update to 1.93.1 fails because of immutable pvc"
**Describe the bug**
When updating Cost Analyzer to version 1.93.1, the update fails because the chart tries to modify a pvc, even if I did not specify anything new in `persistentVolume:` in my values file.

**To Reproduce**
Steps to reproduce the behavior:
On my EKS 1.22 cluster I am trying to update Cost Analyzer from version 1.92.0 to version 1.93.1 using Helm Operator and Flux; in my values fi

[2022-05-19 17:04] AjayTripathy commented on #1431
Hi @vittoriocanilli thank you for the bug report. Here's the error formatted in a little bit more readable way:
[code]
If you do "kubectl get pv" do you see an existing volume of `pvc-59572959-508b-48b0-b2f2-a5c6ef4e66bd` ? It's not clear to me why the VolumeName would be the only diff between the two setups. Was it manually specified somewhere?

[2022-05-19 18:02] AjayTripathy commented on #1351
Hmm, maybe https://github.com/kubecost/cost-analyzer-frontend/blob/8b52a5f9304cacecd403d12f30bd6c4e303b54c4/static/vendor/helper.js#L1975

causes a redirect loop somehow? @kaelanspatel is investigating since I thought this was primarily a backend issue

[2022-05-19 20:02] nealormsbee commented on #1351
Assigning to @kaelanspatel since you're investigating. Just assign back to me if you need to throw it back!

[2022-05-19 20:20] AjayTripathy commented on #1431
@vittoriocanilli while we continue to investigate, could you try to set existingClaim: kubecost-cost-analyzer to avoid PV creation/ modification altogether?

[2022-05-20 07:32] #1209 closed

[2022-05-20 08:12] vittoriocanilli commented on #1431
Hi @AjayTripathy , thanks for your helpful reply. It looks like a volume with that name exists and it is used by the pvc of cost analyzer:

[code]

[2022-05-20 09:47] vittoriocanilli commented on #1431
I have set the [.Values.persistentVolume.existingClaim](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L357) value to `cost-analyzer` which is the pvc previously created by the chart; the update seems to be completed, but then I get a terminating status for the pvc:

[code]

The only "solution" was uninstalling the chart and installing it from scratch,

[2022-05-20 16:54] dwbrown2 commented on #1244
@AjayTripathy do we know where this is deprecated? I'm still seeing in the Prom community chart: https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml#L1621

[2022-05-20 16:55] dwbrown2 commented on #804
@nealormsbee make sense to reassign this to @michaelmdresser given his current work?

[2022-05-20 16:56] nealormsbee commented on #804
Most definitely

[2022-05-20 16:56] dwbrown2 commented on #1355
@AjayTripathy is this one getting addressed with current work?

[2022-05-22 23:05] AjayTripathy commented on #1355
I think that this is already wai

[2022-05-22 23:05] #1355 closed

[2022-05-23 14:19] teevans commented on #1367
For whatever mystical reason I thought there was already an API breakdown for this - @nikovacevic 1.94 may be out of question, but is there a way we could get an endpoint for this for 1.95?

[2022-05-23 14:52] nikovacevic commented on #1367
I'm happy to look into it and write up a design doc this week. Not going to make 1.94. We could try for 1.95.

As far as whether a new API is required or not, that will depend on what exactly we want to show, which is not entirely clear from this ticket description. In a general sense, we want to see "where costs came from" to end up in the shared cost column?

If so, a few questions:

1. Do we wa

[2022-05-23 19:00] kc-adawson opened #1434 "1.93.1 - 'Aggregate By' section - Duplicate labels allowed / Handling of capitals in labels"
**Describe the bug**
A clear and concise description of what the bug is.

here's what I have found in 1.93. I have an active label on my workloads - "app" with a lower case A.

1. If I add just plain "app" to my +Label field on the "Aggregate By" tab, it works fine.

2.  If you add a tag with a capital letter (eg "App"), it gets added to the "Aggregate By" section showing as lower case, but it doe

[2022-05-24 01:07] AjayTripathy commented on #1244
Oh, this was just a note that _our_ chart no longer relies on it (ie, we have deprecated its use in kubecost)

[2022-05-24 15:55] dwbrown2 commented on #1434
Great catch and detailed report! I was able to repro on my end.

cc @AdamStack18 @teevans

[2022-05-24 16:22] keithhand opened #1435 "Add drill down options for Advanced Reporting"
**What problem are you trying to solve?**
Previously, you could drill down categories like external costs with a link from the cost allocation page. With the move of external costs to Advanced reporting, this is no longer an option.

**Describe the solution you'd like**
A similar "drill down" option from the allocation reports on the advanced reporting screen.

**How would users interact with this

[2022-05-24 16:35] dwbrown2 commented on #1435
@keithhand we do now have the ability to aggregate external cost by any dimension in Advanced Reports, e.g. service, account, provider, etc. Anything you feel is missing there?

[2022-05-24 17:19] nikovacevic commented on #1367
@teevans that would be my recommendation, but again -- the devil is in the details

@dwbrown2 you can do that, but again -- if you also share labels, and those labels overlap with each other, or with a shared namespace, you're not going to be able to get the number to line up without doing some very tedious math-y filtering.

[2022-05-24 17:22] nikovacevic commented on #1367
Might be worth pointing out:  if you're not worried about getting the column value to match the new page's value, then this is relatively easy without a new API.

e.g.
1. Shared cost for row R is C; you click on that
2. Navigate to page where it shows shared costs like: shared overhead c1, shared namespace A = c2, shared label B = c3, ...
3. You sum c1 + c2 + ... + cN and sometimes that will equal

[2022-05-24 20:59] dwbrown2 commented on #1387
I think it's a good idea! @nikovacevic know if these are now integrated in a way that distributing external costs associated with shared resources would be pretty straightforward on the backend?

[2022-05-24 21:42] nikovacevic commented on #1387
If we're talking about Advanced Reports, then I would need to understand how those work. What APIs does it use, and how? (We did it without any new APIs, right? cc @wolfeaustin )

All I'll say is that I would not recommend building this into the existing Allocation API with `external=true`. If we're talking about other proposals, I'm happy to help out. And, just because this comes up frequently, I

[2022-05-24 21:44] nikovacevic commented on #1387
CAUTION: HAIRY DETAILS BEYOND THIS POINT

Today, external cost is just a post-hoc match of "allocation name" to "cloud asset label" -- post-hoc in that all of the filtering, sharing, aggregating and accumulating is a done deal before we even consider external cost. We just say "Oh, we have a row named 'kubecost' after all is said and done? Great, let's pin cloud costs with a matching label value o

[2022-05-24 21:48] jutley opened #1439 "Upgrading from 1.81.1 to 1.93.1 is causing OOMKilled events in cost-model container"
**Describe the bug**

We previously ran cost-model in our test cluster with 6 GiB of memory. After upgrading from 1.81.1 to 1.91.1, we have increased the memory for this container up to 20 GiB, and it still crashes with an OOMKilled reason almost instantly. This container originally had 1 cpu, though we have increased this to 2 cpus. This doesn't seem to make any difference either.

**To Reproduce

[2022-05-24 21:56] jutley commented on #1439
I'm not familiar with the details around the data stored on the PV, but I did notice that starting with a fresh PV allowed the container to start successfully.

[2022-05-24 22:21] AjayTripathy commented on #1439
Hi @jutley sorry you're experiencing this. The PV holds our cache of historical data, so wiping this means we aren't serving historical data. You might try instead reading historical data out of the PV on-demand instead of caching it in memory by setting `Values.kubecostModel.etlFileStoreEnabled: true`

[2022-05-24 22:50] #1320 closed

[2022-05-25 10:20] RomanDvorsky commented on #1399
so just to tell that version 1.93.2 does not fix the issue either:
![image](https://user-images.githubusercontent.com/36188474/170240395-a6bd3643-9658-41f9-9ab8-9a27162528dc.png)
there should be `team:frontend...` not `team=frontendf...`

[2022-05-25 18:27] keithhand opened #1440 "Advanced reporting "Data Source Grouping" doesn't appear to work properly"
**Describe the bug**
Unexpected results happen when using the new advanced reporting feature and customizing the "Asset Label" field in the Data Source Grouping section. For instance, if you already have a team aggregation based on `label:kubernetes_label_team`, that will work fine. But when you update this value to a different value and then reset it to the original `label:kubernetes_label_team`,

[2022-05-25 18:42] dwbrown2 commented on #1440
Thanks for the detailed report, @keithhand!

@wolfeaustin want to review and touch base on current Advanced Reports work tomorrow?

[2022-05-25 18:46] wolfeaustin commented on #1440
@dwbrown2 that sounds great!

[2022-05-25 19:04] AjayTripathy commented on #1431
Hi @vittoriocanilli sorry you experienced that.  We support backing up your kubecost data to an s3-compatible filesystem and are expanding that to other cloud providers in v1.94.0 https://guide.kubecost.com/hc/en-us/articles/4407601815191-ETL-S3-Backup so you can avoid total data loss even on reinstall of the chart.

I'm not sure why the helm operator and flux generate a template with a different

[2022-05-25 20:11] jutley commented on #1439
We've already addressed this in all our clusters by wiping out the persistent storage, so sadly I can't test this suggestion. I'm not sure whether you would prefer to keep this ticket open or not, so I'll close it and you can reopen if you think it is worth doing anything with.

[2022-05-25 20:11] #1439 closed

[2022-05-25 20:35] AjayTripathy commented on #1439
Sure @jutley -- would just note that your data should still be rebuildable up to the retention period of your backing PromQL deployment. Here's a doc about how to get that data back: https://guide.kubecost.com/hc/en-us/articles/4407595942679-Kubecost-Diagnostics

[2022-05-25 23:09] #1424 closed

[2022-05-26 16:46] keithhand opened #1441 "Missing metric used in Grafana "Label costs & utilization" dashboard"
**Describe the bug**
The metric "kube_persistentvolumeclaim_labels" gets used in the Grafana "Label costs & utilization" dashboard within the "Storage cost" panel; however, the metric isn't emitting any values to use for data.

**To Reproduce**
Steps to reproduce the behavior:
1. See metric applied in dashboard panel "Storage cost"
2. Query Prometheus directly for "kube_persistentvolumeclaim_label

[2022-05-26 19:58] michaelmdresser commented on #1425
@wolfeaustin is this issue resolved, now that #1429 is merged?

[2022-05-26 20:19] AdamStack18 commented on #1319
Closing per @nikovacevic PR

[2022-05-26 20:19] #1319 closed

[2022-05-27 16:06] dwbrown2 commented on #1435
@wolfeaustin and I discussed yesterday! Investigating now, thanks again for sharing.

[2022-05-27 17:41] #1434 closed

[2022-05-27 17:57] AjayTripathy opened #1443 "Prometheus/Thanos upgrade in"
**What problem are you trying to solve?**
Upgrade prometheus and thanos in the base chart.

**Describe the solution you'd like**
Prometheus and thanos move to the latest stable versions

**Describe alternatives you've considered**
We have to keep up with upgrades, no alternatives. We could wait for the RC but stable versions are preferred

**How would users interact with this feature?**
No impact

[2022-05-27 19:44] dwbrown2 commented on #1443
cc @AdamStack18

[2022-05-30 07:25] RomanDvorsky commented on #1411
Hi,

as expected the problem was on my side - the cloud integration can be set up using this configuration: https://github.com/kubecost/poc-common-configurations/tree/main/azure#cloud-integrationjson
there is another integration using service principal for accessing whole subscription and VM prices where the service principal has to have the proper rights see: https://guide.kubecost.com/hc/en-us/a

[2022-05-30 07:25] #1411 closed

[2022-05-31 16:51] wolfeaustin commented on #1425
@michaelmdresser yep! I'll go ahead and close.

[2022-05-31 16:51] #1425 closed

[2022-06-01 02:24] srpomeroy commented on #1204
Would be great if this was like a cost allocation alert in that it could be sent to different channels (email, slack, webhook) and have the ability to filter on resources and/or alert on thresholds.

[2022-06-01 09:00] AjayTripathy commented on #1428
Hi @michelesr could you clarify what version of kubecost you are using? And which pod specifically is producing this warning? We should already be supporting this in later versions of kubecost and in the cost-model container (the cost-analyzer-server container has been deprecated)

[2022-06-01 15:27] biancaburtoiu commented on #1399
Hi @RomanDvorsky, thanks for your patience! This is an issue in the way we're handling certain label types, we're looking to fix it ASAP.

To bypass the error and reach the correct page, start in the Cost Allocation page and aggregate by `Label:team` (i.e. write down "team" into the Label Name textbox, to obtain the filter as in the screenshot below) instead of using the predefined property `Team`

[2022-06-01 15:52] kirbsauce opened #1451 "Add ability to define usage calculation method for rightsizing recommendations"
**What problem are you trying to solve?**
Workload rightsizing uses an average over the defined window, which doesn't account for workloads which tend to spike.

**Describe the solution you'd like**
The ability to define methods other than average, such as "max" or "P95" or "Px"

**Describe alternatives you've considered**
Using the API to define tighter windows so average reflects more of the spi

[2022-06-01 16:03] michelesr commented on #1428
Chart name: cost-analyzer
Chart version: 1.87.3
App version: 1.87.3

The pods are kubecost-cost-analzyer and kubecost-grafana

[2022-06-01 16:34] kirbsauce commented on #1451
Well, that certainly is there in black and white.  Sorry for the churn and I'll propagate this to others to avoid further confusion.  Closing...

[2022-06-01 16:34] #1451 closed, assigned to dwbrown2, Adam-Stack-PM

[2022-06-01 16:36] dwbrown2 commented on #1451
No problem, let me know if that's more we can do in product.

Also, we are looking at a custom profile option!

[2022-06-01 18:54] AjayTripathy commented on #1428
Do you mind upgrading and letting us know if this persists?

[2022-06-01 19:58] michelesr commented on #1428
Do you mean updating the same chart to the latest version or is there another chart now?

[2022-06-01 22:42] michelesr commented on #1428
Right now I can still see warnings coming from grafana, but not cost-analyzer, I'll let you know if I spot warnings from the cost-analyzer in the following days.

[2022-06-01 22:47] michelesr commented on #1428
Here's the event:

[code]

[2022-06-02 09:15] luizsfer commented on #1431
To fix the performance error of the previous version I updated it, but I have the same error reported. Any expectation of a deadline for the release of the solution?

[2022-06-02 09:42] AjayTripathy commented on #1431
Hi @luizsfer we haven't been able to reproduce this error. Can you add any details about your install path? Are you also using Helm Operator and Flux?

[2022-06-02 17:47] jessegoodier opened #1452 "savings report for clusters missing from kubecost (unmanaged)"
**What problem are you trying to solve?**

A potential savings report: allow users to see which clusters are running in the cloud providers, but are not being monitored by kubecost.

**Describe the solution you'd like**

-total savings card: based on industry averages and total assuming these are all abandoned clusters?
-list of clusters with cost per month with related details: days not in kubeco

[2022-06-02 17:53] srpomeroy commented on #1452
Would be nice to include what AWS Account, Azure Subscription, GCP Project the cluster is running in.
And potentially what cloud tags are attached to it to help identify the responsible party.

[2022-06-02 21:21] #1104 closed

[2022-06-02 21:47] teevans commented on #1452
I think this could be the tip of the iceberg for this type of functionality. I could see us implementing something in the future that would allow them to click on a cluster and select "Add to Kubecost" - Foods for thought.

[2022-06-03 04:40] AjayTripathy commented on #1452
That would be a dramatic departure from our permissions model but may be possible with the right permissions!

[2022-06-03 15:13] teevans commented on #1405
This has made it into the 1.94 release as part of the overview page upgrades.

[2022-06-03 15:13] #1405 closed

[2022-06-03 15:14] teevans commented on #1345
This was rolled into 1.94! Thanks again for the suggestion Jason!

[2022-06-03 15:15] teevans commented on #1351
@kaelanspatel - Did you already merge this fix in?

[2022-06-03 16:59] kirbsauce commented on #1024
@ErnestG4 , wanted to make sure you saw the question from @dwbrown2 on 4/27

[2022-06-03 18:51] kaelanspatel commented on #1351
Yeah it should be in the release branch w/ https://github.com/kubecost/cost-analyzer-helm-chart/pull/1456. Will close this unless there are further concerns.

[2022-06-03 18:51] #1351 closed

[2022-06-05 22:14] dwbrown2 commented on #1204
Awesome request! I see two potential features:

* Summary savings report
* Detailed savings insights

The concern I have is that the one or both of these are two noisy, e.g. I keep getting the same recommendation that doesn't apply to me for some reason.

Thoughts on that framework / risk?

[2022-06-06 09:44] artemlive opened #1460 "Send links to reports or images of reports instead of just text information"
**What problem are you trying to solve?**
It's inconvenient to get Kubecost's reports in text format only. It would be great if there was a way to send a preview of the report with a link to the actual report.

**Describe the solution you'd like**
It would be great if Kubecost could send the report preview like an image with the link to the actual report.

For example, CloudHealth has such a featu

[2022-06-06 09:44] artemlive opened #1461 "Add the ability to see the actual report while alert testing"
**What problem are you trying to solve?**
I was trying to debug the recurring report on the alert page and I was surprised that there was no way to send the
actual report for test/debug approaches.
<img width="1526" alt="Screenshot 2022-06-06 at 10 55 07" src="https://user-images.githubusercontent.com/3328394/172129710-63c2918b-3918-449e-80df-e5f72817db78.png">
When I press the test button it send

[2022-06-07 02:54] dontmint commented on #1420
In my case, I use 1 single Prometheus server for 10 clusters. This reduces the cost of our infrastructure and makes it easy to maintain for us. I think this is doable, we just need to have 1 more option to customize queries to match the customized metrics. This will help Kubecost fit into more environments.

[2022-06-07 02:57] dwbrown2 commented on #1420
@dontmint can you share more about the "customized metrics"? Is this just you have a custom field for `cluster_id` if so this  should already be support. Disclaimer: I do believe the version of multi-cluster is on a paid Kubecost plan though.

[2022-06-07 03:11] dontmint commented on #1420
Hi @dwbrown2 , thank you for your reply.

I use this [GPU share scheduler](https://github.com/AliyunContainerService/gpushare-scheduler-extender) to deploy apps that use a fraction of GPU. This tool doesn't have metrics like [Cadvisor](https://github.com/google/cadvisor) or [DCGM exporter](https://github.com/NVIDIA/dcgm-exporter). So I have to write my own metrics, these are only for internal use

[2022-06-07 06:40] AjayTripathy commented on #1430
Hi @doonto can you try setting the variable kubecostProductConfigs.createServiceKeySecret to true as well? I was able to get this to work by setting that.
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L783

[2022-06-07 10:33] artemlive commented on #1460
Hey @keithhand. Yes, you are right, that's what we need 👍

[2022-06-07 20:42] AdamStack18 commented on #1460
@wolfeaustin @teevans Great feedback here for Advanced Reports.

[2022-06-08 10:03] dontmint commented on #1420
Yes, It was scraped manually in an external Prometheus instance, then I config Kubecost to query from that instance and followed this [document](https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus) as well.

[2022-06-08 14:51] RomanDvorsky commented on #1399
Hi,

the version 1.94.0 did fix the issue however there is still one little thing. See attached image - the numbers shown in the overview are total cluster numbers not the team overview numbers...

![image](https://user-images.githubusercontent.com/36188474/172647507-562498bb-a1a5-4055-b4d6-1ebe6327de36.png)

[2022-06-08 15:30] AdamStack18 commented on #1399
@RomanDvorsky Thanks for calling this out. @biancaburtoiu, Could you look into this?

[2022-06-08 15:42] AdamStack18 commented on #1408
@jjarrett21 Can we close this issue?

[2022-06-08 15:54] AdamStack18 commented on #1252
@kbrwn @dwbrown2 Can we close this issue and #264?  If not do we have a list of additional items to include in v1.95?

[2022-06-08 15:57] AdamStack18 commented on #1164
Pull Request: https://github.com/kubecost/kubecost-cost-model/pull/782

@kaelanspatel Closing this issue out for us. Good work.

[2022-06-08 16:07] nikovacevic commented on #1152
@AdamStack18 it really depends on what we mean by "when ETL fails." We're probably in a marginally better place now. Mostly, this appears to be a matter of just deciding what constitutes a failure, then putting in the work to create new alert(s) of whatever kind people would like to see (e.g. email, Slack, etc.)

[2022-06-08 16:15] AdamStack18 commented on #1152
Action Item: Create a list of events/situations that should trigger an ETL failure notification.

@kbrwn Would you be willing to help create that list?

CC @dwbrown2

[2022-06-08 16:19] dwbrown2 commented on #1252
Would love to get input from users that requested and see if there are more metrics of interest!

[2022-06-08 16:29] AdamStack18 commented on #1412
@srpomeroy  Can this issue be closed? Or are additional PRs needed?

PR #1413

[2022-06-08 18:03] srpomeroy commented on #1412
We're good @AdamStack18 !

[2022-06-08 18:03] #1412 closed

[2022-06-08 18:14] AdamStack18 commented on #1387
@dwbrown2 Any thoughts on Nikos's explanation and next action?  I'm told it is an important item for a customer.

CC @teevans

[2022-06-08 18:19] AdamStack18 commented on #1440
@wolfeaustin @dwbrown2  Did any action items come out of your meeting?  This was flagged as an important customer issue.  Adding to bug list for work in v1.95.

[2022-06-08 20:49] AjayTripathy commented on #1420
We don't today support pulling custom metrics into our ui but it's an interesting thought. Could you possibly rewrite the names of your internal gpu collector to match how kubecost collects gpu metrics?

[2022-06-08 23:58] AdamStack18 opened #1465 "It is unclear if the Savings Diagnostics checks are working as expected"
**Describe the bug**
In v1.94, the savings diagnostics tests displayed on diagnostics.html do not appear to be working.

**Expected behavior**
If tests are working as expected would like to see a visual indicator that each test has passed.

**Screenshots**
v1.94
<img width="1228" alt="Screen Shot 2022-06-08 at 5 56 05 PM" src="https://user-images.githubusercontent.com/102822297/172736597-d8a7c9a8-

[2022-06-09 00:03] AdamStack18 commented on #1465
@biancaburtoiu, Could you triage this in the AM?  If the tests are working as expected, please switch the tag to "enhancement" and route it to the front-end team for a UI review.

[2022-06-09 03:18] dwbrown2 opened #1468 "Unable to create a new recurring report alert on nightly"
I am trying to create and test the following alert. When I click test alert, I get the following _unexpected_ error.... I'm guessing as a user that I need to save to test?

![](https://user-images.githubusercontent.com/298359/172756611-097c99ed-0419-44d1-b8c5-888a0f5364f0.png)

When I save, my email recipient is no longer there...

![](https://user-images.githubusercontent.com/298359/172756834-893

[2022-06-09 03:19] dwbrown2 commented on #1468
cc @teevans @AdamStack18 I'm guessing this existing in 1.94?

@kaelanspatel did you hit this in your testing of alerts?

[2022-06-09 03:20] dwbrown2 commented on #1460
@artemlive you should be able to accomplish this today with recurring reports + a linkback url:

<img width="1285" alt="image" src="https://user-images.githubusercontent.com/298359/172757085-4b3384ce-cb67-4057-be79-ceaa729e03a4.png">

We'll be adding more here soon so would love to hear your feedback!

[2022-06-09 13:23] biancaburtoiu commented on #1399
@AdamStack18 was able to reproduce, will have to reopen this as this is indeed not the expected behaviour. cc @wolfeaustin

[2022-06-09 15:18] mbolt35 commented on #1465
@AdamStack18 This is working as intended. If there isn't a cache available for those features (ie: they haven't been requested in some time, or the cache is disabled). A possible improvement is just having some placeholder text there when these are empty.

[2022-06-09 15:55] dwbrown2 commented on #1465
Thanks, Bolt! I agree a simple placeholder text may help.

[2022-06-09 19:51] kaelanspatel commented on #1468
@dwbrown2 I did test this, but it worked (and continues to work) for me. I'm guessing it's because there's no global value set? Tested this on the RC before the release, so I don't think any changes were made.
![image](https://user-images.githubusercontent.com/32113845/172932375-f8c2e06e-c6c3-426b-8366-6d2ff4f027f5.png)
![image](https://user-images.githubusercontent.com/32113845/172931218-1ba48e0b

[2022-06-09 20:33] dwbrown2 commented on #1468
Wow, yes you are right. This is because I did not press enter. I may be a dense user, but I feel strongly that this isn't clear in our UI.

cc @teevans great one for Anna's input!

[2022-06-09 20:46] keithhand opened #1471 "NFS Storage PV produces exaggerated metrics"
**Describe the bug**
When NFS drives are present on a cluster, cadvisor can result in unexpected storage `container_fs_limit_bytes` metrics. This can result in odd savings recommendations. One option to solve this might be to filter for outlier results so that these results don't show up application side.

**Expected behavior**
NFS PV/PVCs are handled appropriately for savings discounts and cost e

[2022-06-09 21:10] #1399 closed

[2022-06-09 22:45] keithhand opened #1472 "Add Kubecost PVC metrics to Diagnostics Page"
**What problem are you trying to solve?**
It would be useful to have a warning appear if the PVC with backing ETL data (`pvc/kubecost-cost-analyzer`) is approaching its storage capacity.

**Describe the solution you'd like**
A way within the application to notice if the storage is approaching its capacity

**Describe alternatives you've considered**
Exec into the pod manually to check the disk sta

[2022-06-09 22:47] dwbrown2 commented on #1472
Totally agree, if I remember correctly cadvisor dropped this metric and the kubelet now exposes. We'd likely would need to ingest an entirely new data source.

cc @AjayTripathy

[2022-06-10 07:30] AjayTripathy commented on #1472
Why not just poll our own filesystem and emit the metric ourself? That seems like a way simpler approach and more accurate than cadvisor, yeah?

[2022-06-10 16:04] MrColeC commented on #1252
As shared in https://github.com/kubecost/opencost/issues/264

We are interested in Kubecost specific metrics such as:
- histogram metric for frontend response times and request
- histogram metric for API response times and request
- histogram metric for etl build times
- histogram metric for etl file sizes
- gauge metric for # of green etl days
- gauge metric for # of NON-green etl days

I underst

[2022-06-10 16:56] dwbrown2 commented on #1471
@keithhand thanks for reporting. I feel like I've seen this issue before, and it was reporting the size of the entire disk or something. were you able to repro?

what do you think about filing this same/similar issue in https://github.com/google/cadvisor to see what we learn?

[2022-06-10 17:23] dwbrown2 commented on #1387
I defer to @AjayTripathy but I personally don't feel we're ready to take this on in the backend right now.

Assuming that's true, I think Advanced Reports frontend could potentially explore but sounds like it would be tricky. cc @teevans for any input.

[2022-06-10 17:38] dwbrown2 commented on #1472
That sounds good to me if no concerns on your side, even if 1.96.

Can we get all PVC usage metrics though? Have others will be valuable too.

[2022-06-10 18:26] llamahunter opened #1473 "Provide Release Notes file, or remove alpha/beta releases from the Release tab after the final version is released."
**What problem are you trying to solve?**
A clear and concise description of what has changed in each release.

**Describe the solution you'd like**
A Release Notes file, or no duplicate notes in the Releases tab due to internal alpha/beta versions, or both.

**Describe alternatives you've considered**
Downloading all the individual Release information from the Releases tab and manually editing ou

[2022-06-10 19:32] #1395 closed

[2022-06-10 22:08] AdamStack18 commented on #952
@AjayTripathy Is this issue still relevant?

[2022-06-10 22:30] AdamStack18 commented on #1252
@MrColeC Thanks for the response.  I will review your list against the build on Monday.

CC: @dwbrown2

[2022-06-10 22:40] keithhand commented on #1471
Cc'ing @AjayTripathy because I spoke with him about this, and he seemed familiar with what was happening. I was unable to reproduce, as I ran into some issues when attaching the EFS drive via NFS, but I can spend additional time working on a repro if that would be handy. I don't mind opening up an issue; however, I'm not as familiar with cAdvisor. Can you think of any additional information I coul

[2022-06-11 09:59] AjayTripathy commented on #952
Closing for inactivity-- I am not sure if this is still relevant nor could we ever repro on our end.

[2022-06-11 09:59] #952 closed

[2022-06-11 10:03] AjayTripathy commented on #1387
I don't think this should be on the backend, and I second Niko's concerns. I'm not sure I completely understand why this feature is hard on advanced reports. Just run two queries: One for in-cluster costs of all namespaces (shared namespace data should exist) and one for external cost for shared namespace. Then split that second query result proportionally through all namespaces. The reason that's

[2022-06-11 10:04] AjayTripathy commented on #1472
That feels much harder, let's not scope creep this.

[2022-06-13 01:07] teevans commented on #1387
So, just throwing this out, but the backend will have to process these reports in the future to support things like caching, scheduled reports, etc.

[2022-06-13 03:28] dwbrown2 commented on #1473
+1, I think we can do better here.

@llamahunter do you have a project that you think sets a good example? I've always thought that the Thanos team generally manages releases notes well: https://github.com/thanos-io/thanos/releases

[2022-06-13 13:37] jessegoodier opened #1474 "remove node-exporter diagnostic check when it is not enabled"
**Describe the bug**
node-exporter is an optional component, kubecost should not report missing metrics when it is disabled

**To Reproduce**
set prometheus.server.global.nodeExporter.enabled: false

view error message in /diagnostics.html

**Expected behavior**

Remove the node-exporter check (or at least make it not look like it is a problem) on /diagnostics.html

**Screenshots**
![image](https:

[2022-06-13 16:15] svelango opened #1476 "1-click Sizing Does not work if there Autoinjection of Containers"
**Describe the bug**
When 1-click is run on pods having Istio Service Mesh it gives error "update struct based on plan: container 'istio-proxy' not found in controller spec"

**To Reproduce**
Steps to reproduce the behavior:

1. Install Istio
1. Kubecost Version v1.93.1
1. Run 1 Click Rizer

**Expected behavior**
1 Click Updating Deployments according to recommendation

**Screenshots**
If applicab

[2022-06-13 16:22] jcharcalla commented on #1476
@svelango Thank you for reporting this. To help us reproduce this can you tell us if you are you using the Automatic (via the mutating webhook) or Manual sidecar injection for Istio?

https://istio.io/latest/docs/setup/additional-setup/sidecar-injection/

[2022-06-13 16:26] srpomeroy opened #1477 "Add color indicators to efficiency card on overview screen"
**What problem are you trying to solve?**
The green text for Efficiency percentage on the overview page can be confusing.
![image](https://user-images.githubusercontent.com/15660532/173400267-5088099b-3b9b-438d-b99f-20989ebeea78.png)

**Describe the solution you'd like**
Would be great if the color of the value changed in accordance with some thresholds.
For example:
0-40% = red
41-65% = yellow
66

[2022-06-13 16:28] srpomeroy opened #1478 "Add trend indictors to overview cards"
**What problem are you trying to solve?**
Quick visual indicator to identify trends with high-level cost data

**Describe the solution you'd like**
Would like to see something like a simple arrow and maybe percentage indicator of change from the previous window to the current
![image](https://user-images.githubusercontent.com/15660532/173400690-78f608e4-77dd-46ec-b274-5cffca390723.png)

**Describe

[2022-06-13 17:00] zorrobyte commented on #1473
From my personal experience, comma.ai seems to do a good job with release management.

They have a [master branch](https://github.com/commaai/openpilot) that they actively work on that contributors and testers can run and [provide feedback on](https://github.com/commaai/openpilot/issues). Once the release is considered stable enough, they update release notes and [publish a blog with changes](http

[2022-06-13 17:53] svelango commented on #1476
Thanks for checking. We are using mutating webhook.

[2022-06-13 18:38] dwbrown2 commented on #1474
Given node-exporter is optional now, I agree we shouldn't make it look like an error. But I still think it's valuable to communicate via diagnostics that node exporter metrics are not being ingested.

[2022-06-14 02:52] dwbrown2 commented on #1478
A big +1 here, I might even propose going further and present something like:

<img width="295" alt="image" src="https://user-images.githubusercontent.com/298359/173483335-ac364100-61ab-4925-9171-d212011ea1d3.png">

Thoughts on the frontend @teevans?

I'm guessing this would have a much bigger impact on the backend, thoughts @AjayTripathy?

[2022-06-14 02:57] teevans commented on #1478
I'm all about it - if we pull in previous window data from the Frontend we effectively double our memory overhead on those set of requests though. I'd be curious if there would be a good way for us to query this on the backend.

[2022-06-14 04:24] teevans commented on #1473
@zorrobyte - I found a goof on my end for the latest tag. I hadn't updated the OpenCost repository to have the latest releases. Only the helm chart, so that latest tag will update soon. Due to the rate limits around github's API, we cache the latest version for 24 hours, so customers should see that tag update by tomorrow night.

Love the idea of more concise release notes. Also something like the

[2022-06-14 04:34] teevans commented on #1468
@Annalillie - Take a look at this issue and see what you think. I'm thinking the tag style email input is probably good, but we adjust it to be an inline tag set, instead of having to hit the enter button. Thus, whenever a user clicks away, it automatically assumes it as a value. Similar to how gmail does their email addresses in their compose window.

[2022-06-14 05:25] Annalillie commented on #1468
@teevans This is very interesting. I think an input similar to gmail's in compose would be very useful here. There's also the possibility of shortening the "add recipients" field to make way for an "add" icon next to the input field.

[2022-06-14 13:56] AdamStack18 commented on #946
Re-opening this item while we work on launching GCP labels.

cc @biancaburtoiu

[2022-06-14 13:58] jessegoodier opened #1482 "add variable for scrape_timeout in prom servicemonitor"
**What problem are you trying to solve?**

Customer request to add a helm variable for scrape_timeout in prom servicemonitor:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/v1.94.3/cost-analyzer/templates/cost-analyzer-servicemonitor-template.yaml#L17

**Describe the solution you'd like**

Simple value for setting scrape timeout via helm

**Describe alternatives you've considered**

Pro

[2022-06-14 13:59] Pluggi commented on #1482
Having a value for `interval` would also be nice to have.

[2022-06-14 15:07] peijianju-sonrai opened #1483 "cost analyzer gradually eat up memory"
**Describe the bug**

Dear kubecost,

`kubecost-cost-analyzer` pod is crashlooping due to OOM in our cluster.  We have bumped the `cost model` memory limit 3 times this month. From 5G to 8G, then to 10G, now it is 13G.

Is there is way that we can trace/diagnose what is eating so many memory?

**To Reproduce**
N/A

**Expected behavior**
We expect the the memory consumption is steady or less freque

[2022-06-14 15:43] jcharcalla commented on #1483
@peijianju-sonrai Thank you for reporting this.

What version of Kubecost are you currently running? Additionally how many node/pods are in your cluster and are you integrating with a cloud provider for external costs?

[2022-06-14 16:44] peijianju-sonrai commented on #1483
@jcharcalla thank you for the responses.

Our kubecost image is at `gcr.io/kubecost1/cost-model:prod-1.91.2`
As right now, we have 32 worker nodes, we are using AWS EKS serivce, so it may auto scale as needed.

And thank you for the guide, we will try to upgrade and see if that works. Thank you

[2022-06-14 16:57] dwbrown2 commented on #1468
I really like the same approach that gmail takes! i.e. if input loses focus then it attempts to add the email address. I believe it even shows as invalid if formatting doesn't match expectations?

[2022-06-14 17:21] Annalillie commented on #1468
I really like the idea of including an error state or microcopy if the formatting doesn't meet requirements. That way, there's no confusion on why the input wasn't accepted.

[2022-06-14 17:36] AjayTripathy commented on #1471
@keithhand I think we'd want to try and find the offending cadvisor metric that's way too high. You may ask the user to run a few likely candidates from the ClusterDisks queries.

[2022-06-14 19:57] jyepesr1 commented on #1471
Hello @AjayTripathy the offending metric is `container_fs_limit_bytes ` as @keithhand mentioned before, it's reporting the following for instance

[code]

[2022-06-14 21:27] kirbsauce commented on #1024
@AjayTripathy is this handled by our most recent improvements for GCP billing accuracy?

[2022-06-14 22:53] Marmalade2 opened #1484 "Pricing Endpoint is set statically"
**What problem are you trying to solve?**

Currently, I have confirmed that kubecost works normally with the default helm chart in the closed network, but it is difficult to calculate the exact cost because the price policy of each node is applied differently by region.
I think it would be better to set the value dynamically than to set it statically within the code.
I know that some complicated r

[2022-06-14 23:54] jcharcalla commented on #1484
@Marmalade2 Thank you for your feature request. Can you tell me which Cloud provider you are using?

[2022-06-15 02:40] srpomeroy opened #1485 "Network Costs detected as disabled in details.html"
**Describe the bug**
Network Costs is enabled. The daemon set is running properly and I see network costs in cost allocation but when I view the details.html page for a resource that has network costs, the network costs card says "Network Traffic allocation not configured."

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Kubecost with network costs enabled
2. In UI, under Cost Allocat

[2022-06-15 07:36] Marmalade2 commented on #1484
@jcharcalla Thanks for reply. I use AWS, but it seems another cloud provider(ex. azure, GCP) is also configured statically.

[2022-06-15 08:29] AjayTripathy commented on #1024
Yes! Let's note this and see if we can get feedback from relevant users!

[2022-06-15 08:29] #1024 closed

[2022-06-15 08:45] AjayTripathy commented on #1387
Understood-- but this is a ton faster to bring back/iterate on by firing off two queries and joining them. When we get to caching/scheduled reports, you would still want to cache the subqueries independently on the BE

[2022-06-15 14:38] AdamStack18 commented on #1472
@AjayTripathy, Who is the right person to work on this?

Down the road could be a good candidate to add to our notification event list.

[2022-06-15 14:40] mbolt35 commented on #1485
@srpomeroy What's the version of the network-costs image?

[2022-06-15 14:57] srpomeroy commented on #1485
@mbolt35 `gcr.io/kubecost1/kubecost-network-costs:v16.0`

[2022-06-15 15:33] mbolt35 commented on #1485
@srpomeroy Ok, cool. That version does support the service tags, but they're all disabled by default, which is likely why there isn't any data showing up. Looks like we just need to change the wording on that particular page... or specifically run different metrics which do include data.

[2022-06-15 15:58] jcharcalla opened #1486 "helm package -u and helm dependency update commands fail"
**Describe the bug**
When building a [helm package](https://helm.sh/docs/helm/helm_package/) with the update flag `-u` or using the [helm dependency update](https://helm.sh/docs/helm/helm_dependency/) command, helm fails with a `directory not found error`.

Examples:
[code]

[code]

Excluding the `-u` or `--dependency-update`  on the `helm package` command produces the desired results.
[code]

Thi

[2022-06-15 19:24] jcharcalla commented on #1486
I agree priority on this on is low. I think the only impact would be if in the future we defined a dependency in the Chart.yaml that pointed to an external source.

[2022-06-15 20:06] AjayTripathy commented on #1486
Thanks for the context! Let's just note this as a blocker for adding external dependencies and we can look to solve at a later date.

[2022-06-15 22:46] AdamStack18 commented on #1473
@llamahunter Agree we can do better here.

Before creating a solution, I want to ensure I understand your issue correctly.

When we promote a release candidate to the official release (Example v1.93.0-RC.1 to v1.93), it is unclear what enhancements or fixed bugs after the release candidate was published?

This is caused because I copy the RC release notes, add in fixed bugs then publish the notes

[2022-06-15 22:52] dwbrown2 commented on #908
@kirbsauce yep, this is a new feature related to this request

@etsyamitra is this helpful? think there's more we can do here?

[2022-06-16 15:59] zorrobyte opened #1487 "Add the ability for a customer to modify their ngnix config"
**Related to case 1932**

**What problem are you trying to solve?**
"I don’t know if this was supposed to have been fixed in 1.94.0, but I still can’t get any output from the `Cluster Sizing Recommendations` page.. it just spins and eventually times out."

The issue is that NGNIX is timing out before the backend can satisfy the request.

**Describe the solution you'd like**
AjayTripathy seemed to

[2022-06-16 16:00] dwbrown2 commented on #1487
routing to @AjayTripathy

[2022-06-16 18:19] zorrobyte commented on #1487
@jcharcalla is working on case https://kubecost.zendesk.com/agent/tickets/1691 which could benefit from the enhancement

[2022-06-16 18:30] dwbrown2 commented on #1487
This page definitely shouldn't take 180 seconds too load... not saying we want to support different NGINX configs as well, but will defer to @teevans and @AjayTripathy on that part.

[2022-06-16 23:09] dwbrown2 commented on #1461
+1, this is definitely something we want to support! We'll aim to include an update in our next release.

[2022-06-17 04:04] pubudumilan111 opened #1490 "Can I add a banner with company logo to my kubecost dashboard"
Linked to Zendesk issue

gz#2006<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2006'>Zendesk ticket #2006</a>)</i>

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-110) by [Unito](https://www.unito.io)

[2022-06-17 04:52] dwbrown2 commented on #1490
@pubudumilan111 would love to see what we can potentially support here. Can you share more about what you'd be looking for and what's driving the use case you have in mind?

[2022-06-17 13:16] jessegoodier opened #1491 "add helm template value to disable IPv6"
**What problem are you trying to solve?**

Some customers have clusters that don't support ipv6 and this causes the frontend to fail.

**Describe the solution you'd like**

Not sure what best approach is, but one idea is:

Add option to disable here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L193

There are a few areas in the template that use IPv6

[2022-06-17 16:25] jcharcalla commented on #1485
I can confirm the promql behind this does work when you set one of these [values](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L567-L576) (Ex: `networkCosts.config.services.amazon-web-services=true` ). It's certainly not documented that way, and I'm also not sure if that requires the cloud provider integration to be enabled.

[2022-06-20 01:50] dwbrown2 commented on #1477
I think what we had before (very similar to this) worked pretty well! Is newer version static / always green?

I would vote we make it dynamic but wait on bring this configuration to settings for a potential part 2.

[2022-06-20 15:52] jessegoodier opened #1492 "add efficiency over time to graphs"
**What problem are you trying to solve?**

A significant  benefit of kubecost is visibility into container request efficiency.

Tracking efficiency over time in graphs will allow users to estimate the savings created by the use of kubecost and drive ROI.

**Describe the solution you'd like**

Potentially a 2nd y axis with efficiency %
Could also/alternatively be another option in the chart type se

[2022-06-20 19:54] baldey-nz commented on #1392
i have a similar situation here. Im using Kubecost v1.94.3 and as per https://guide.kubecost.com/hc/en-us/articles/4407595918231-Enabling-Annotation-Emission i have set emitPodAnnotations: true &  emitNamespaceAnnotations: true in my chart before deploying kubecost.
I have then annotated some pods with 'owner: test-owner' but i cant see the UI showing this cost allocated. I have also tried via the

[2022-06-21 13:12] michaelmdresser commented on #1492
Love the diagram!

Just to add, we could pick workload efficiency, which is capped at 100% because it is `usage / max(request, usage)`. That avoids > 100% or < 0% problems.

I see a big opportunity here to add a visualization like this to the request sizing page, where efficiency is the most natural existing datapoint to visualize.

[2022-06-21 15:43] AjayTripathy commented on #1487
I agree 180s seems long. @zorrobyte can you add the following info to this issue while we try to repro this on our scale test cluster?

* What version of kubecost?
* Roughly how many nodes are running
* Roughly how many pods are running
* what cloud provider(s) is this running in?

And is this the related ticket for speed? https://github.com/kubecost/opencost/issues/1164

[2022-06-21 16:04] mbolt35 commented on #1485
@jcharcalla The added service detection does not require cloud provider integration, as it uses the publicly available endpoint APIs from the providers.

Where is this documented for the frontend features? I do think this is a frontend specific issue.

@dwbrown2 @wolfeaustin Thoughts?

[2022-06-21 17:25] jcharcalla opened #1493 "Update depricated kubernetes APIs"
**Describe the bug**
Kubecost is using Kubernetes APIs which have been deprecated in v1.22, this is causing excess logging which could lead to costs increases. Specific examples presented by customers using GKE are [CertificateSigningRequest](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#certificatesigningrequest-v122) `certificates.k8s.io/v1beta1` which has been migrated to `c

[2022-06-22 16:44] keithhand opened #1494 "Grafana "Pod cost & utilization metrics" dashboard has missing graph points"
**Describe the bug**
On the "Pod cost & utilization metrics" dashboard, the "CPU Usage vs Requested" graph is only showing usage data. It looks like the query used for requests is:

```avg(kube_pod_container_resource_requests{resource="cpu", unit="core", namespace=~"$namespace", pod=~"$pod", container=~"$container", container!="POD"}) by (container)```

versus if you remove the `container=~"$conta

[2022-06-22 16:50] keithhand commented on #1494
This appears to get set [here](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/pod-utilization.json#L277)

[2022-06-22 17:38] jessegoodier commented on #1485
Would it be possible to add
Internet Egress
Cross Zone
Cross Region
Total net

to this card?
Happy to file a new issue if it needs to be seperate.

![image](https://user-images.githubusercontent.com/31039225/175101591-77e2df05-7d18-46c5-856e-19cf3871ffaf.png)

[2022-06-22 18:14] wolfeaustin commented on #1485
I've got some details/Inspect documentation that I need to push up. I'll get this added.

[2022-06-22 19:32] jvendetti opened #1495 "testing"
Testing for kirbsauce

gz#2027<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2027'>Zendesk ticket #2027</a>)</i>

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-111) by [Unito](https://www.unito.io)

[2022-06-22 19:41] kirbsauce commented on #1495
testing sync, removing needs triage

[2022-06-22 20:07] zorrobyte commented on #1487
1.94.1
GCP
~400 nodes
~8500 pods

Yes, this is related to https://github.com/kubecost/opencost/issues/1164 - but differs as user-configurable NGNIX config could be a workaround to get it working while we focus on deeper stack enhancements

[2022-06-22 21:32] jcharcalla commented on #1483
@peijianju-sonrai Were you able to reduce the memory consumption after upgrading and reviewing the guide?

[2022-06-23 00:06] clekas-fff commented on #1285
Would love the ability to set this. As it is, we ended up with a default being the report created by the first team to save one and even if we were to define a different default before anyone else could define one, we don't have a way to change it without deleting all of our other reports (as I understand it, at least).

[2022-06-23 15:13] AdamStack18 commented on #835
@vgokul984 I will discuss this with the product team and get back to you early next week.

[2022-06-23 15:50] dwbrown2 commented on #1492
100% in favor of displaying efficiency over time in Allocation + Overview!

In this example chart, would we show avg efficiency? That's interesting but I could also see it being nice to view efficiency by each individual namespace, etc. Might be a good spot to get input from @teevans and Anna!

[2022-06-23 17:02] dwbrown2 commented on #1494
Nice find, @keithhand! Thanks for reporting too. Want to open a PR or would be better for someone else to pick up?

[2022-06-23 17:54] riadhnamely commented on #1471
@AjayTripathy any updates on this issue?

[2022-06-23 19:57] dramich commented on #1443
This should also include the dependencies like `node-exporter`, the current version we are using was released on `Jun 4, 2019`

[2022-06-23 20:11] keithhand opened #1497 "UI Doesn't display aggregation details if multiple options are present"
**Describe the bug**
When selecting multiple aggregation types, if one of the data points is null, the other will not display within the UI. The example below lists the value as `provider` in the UI, even though the API returns `AWS` or `GCP`.

**To Reproduce**
Steps to reproduce the behavior:
1. [Demo UI link](http://demo.kubecost.io/assets.html?agg=label%3Aapp%2Cprovider&filters=W10%3D)
2. [Demo

[2022-06-23 22:07] AdamStack18 commented on #1252
@MrColeC This issue is still on my radar. Will update soon.

[2022-06-23 22:13] AjayTripathy commented on #1471
Hi @riadhnamely sorry for the late response here. I think the simplest plan to get you a solution is to do some sort of outlier detection on these. I'll get that assigned in our next sprint and I expect us to have a test image shortly after.

[2022-06-24 08:50] AjayTripathy commented on #1487
cc @biancaburtoiu -- want to try simulating this as well as dropping the time range from using the hourly etl to using the daily?

[2022-06-24 09:08] rlees85 commented on #1439
Fairly sure this should be open.

`Values.kubecostModel.etlFileStoreEnabled: true` is default to true in the Helm chart and the issue still persists.

The cost analyzer was sitting nicely at around 1.8GB memory usage until one day the deployment had to be restarted. Then the memory usage is spiking to 5 or 6GB plus and even giving it an unlimited amount it never settles back down. The logs spam th

[2022-06-24 09:13] AjayTripathy commented on #1439
Hi @rlees85 can you share what version of kubecost you're running as well as a heap dump? https://guide.kubecost.com/hc/en-us/articles/4407595921431-Kubecost-Memory-Usage

[2022-06-24 12:27] rlees85 commented on #1439
Version 1.94.3 which was broken. Rolling back to 1.92.0 resolved the issue. Clearing the persistent disk made no difference in our case.

When I can I will try and get a heap dump of 1.94.3

[2022-06-24 13:06] AdamStack18 commented on #804
@michaelmdresser Will your filter PRs in cover this item?

[2022-06-24 13:46] AdamStack18 commented on #1204
Had the same idea as Sean.

We could add this as an option in alerts.  Don't see any risk here as it could work the same as email or slack notifications.

Also, love Kirby's share button idea.  If a stakeholder is looking at a filtered view this would make it easy to turn an insight into an action item.

[2022-06-24 14:50] AdamStack18 commented on #1178
@kirbsauce Closing. This is marked as a low priority, and there is no current plan to work on this.   For tacking labeling  "not implemented" and can revisit as part of future work released to Access & Permission.

[2022-06-24 15:03] jessegoodier commented on #1492
I was assuming we'd show the efficiency in the totals line, which would change based on filters. Though we should certainly consider whatever would be the most consistent.

[2022-06-24 15:06] jessegoodier opened #1498 "hide context switcher by default"
**What problem are you trying to solve?**

Hide the context switcher on the bottom left of the UI unless it is specifically enabled in helm.

Users are often confused when trying to do multi-cluster. A large percentage of users want multi-cluster single-pane-of-glass and not a bookmark to another kubecost environment.

**Describe the solution you'd like**

remove this based on helm value:
![](http

[2022-06-24 16:00] teevans commented on #1498
cc: @dwbrown2 @AjayTripathy @mbolt35

[2022-06-24 16:04] teevans commented on #1492
Scheduled some time next week for us to go over!

[2022-06-24 18:04] dwbrown2 commented on #1498
Not opposed, but how would we make this feature easily discoverable for those that do want to add a new context? Maybe a clear option in Settings?

In my view, we at a minimum want people to know they have (multiple) options for adding additional clusters.

[2022-06-24 18:22] dwbrown2 commented on #1497
@keithhand thanks again for another report! Looks like demo is still running an older version.

Does this look fixed on latest? http://nightly.kubecost.io:9090/assets.html?agg=service%2Clabel%3Alabel%3Aapp%2Cprovider

[2022-06-24 19:37] #1494 closed

[2022-06-24 20:41] jessegoodier commented on #1498
I understand we don't want to remove value and hide it more than necessary.

With the new overview page, if you have a single cluster, it points to: https://github.com/kubecost/docs/blob/main/multi-cluster.md

Perhaps bullet 2 (on that doc) needs to be expanded, and we will need to update that page + the cluster-switcher.md when we "fix" this.

[2022-06-24 20:45] keithhand commented on #1497
@dwbrown2, Yup, I'm still seeing the same results when using my instance on v1.94.3.

[2022-06-24 20:48] dwbrown2 commented on #1497
Strange, I can't repro... any steps you can share? Are you able to recreate via the UI or it just by passing unexpected URL params?

[2022-06-24 20:52] keithhand commented on #1497
I also see it on the link you posted for the nightly site. The options below show "No service" and "provider" instead of the actual details received from the API.

![image](https://user-images.githubusercontent.com/43491549/175665612-d4cc08a8-fdc4-4757-a680-5987476580ec.png)
[UI](http://nightly.kubecost.io:9090/assets.html?agg=service%2Clabel%3Alabel%3Aapp%2Cprovider)
[API](http://nightly.kubecost

[2022-06-24 21:02] dwbrown2 commented on #1497
Gotcha, I see it now! Sorry, was looking at this part of the UI from previous screenshot.

<img width="191" alt="image" src="https://user-images.githubusercontent.com/298359/175666862-75beca8a-43f6-480c-8164-d6d2aca8c070.png">

cc @teevans @AdamStack18 for triage

[2022-06-25 04:44] teevans commented on #1497
Thanks @keithhand - Assigning to @nealormsbee

[2022-06-26 19:03] AjayTripathy commented on #1439
Thanks @rlees85 a heap dump of 1.92.0 vs 1.94.3 would be really useful in helping us debug this.

[2022-06-27 12:43] jessegoodier opened #1499 "enhancements to overview-new.html"
Note: I'm happy to break this up into multiple requests, just let me know. Sorry if there are duplicates to other requests.

**What problem are you trying to solve?**

Enhance overview-new.html. Just some ideas- I really do love the new page!

**Describe the solution you'd like**

Couple ideas for the overview-new.html page:

1. [x] Remove _idle_ from cluster breakdown.
2. [ ] Link "Cluster Breakd

[2022-06-27 14:54] teevans commented on #1499
Love this - Thank you sir!

[2022-06-27 15:28] nealormsbee commented on #804
That's all right, yes. Report filters are currently stored as a series of `property: value` pairs, which map to URL param when querying ETL.

On top of updating the way reports save/load queries to use the filtering language, we'll have to change the UI itself to support users' construction of more complex queries (current UI wouldn't have a way to support `namespace != kube-system`, for example).

[2022-06-27 15:54] AjayTripathy commented on #1151
Hi @vgazzola apologies for the late response, most of the team was at a conference. The workaround here was just to manually edit the chart, and hardcode, so a configurable PR would be much accepted here.

[2022-06-27 16:15] peijianju-sonrai commented on #1483
Hi @jcharcalla , thank you for the feedback, it looks good for now. We will still observe it for a while. Please feel free to close this ticket. thanks again

[2022-06-27 17:11] jcharcalla commented on #1483
Thank you for the update! Marking this as closed now.

[2022-06-27 17:11] #1483 closed

[2022-06-27 18:05] jessegoodier opened #1500 "add support for microsoft teams webhooks (ms-teams)"
**What problem are you trying to solve?**

A few customers have requested for ms teams webhook support for alerts.

(servicenow comes up occasionally as well)

**Describe the solution you'd like**

Allow MS teams webhooks in alerts.

**Describe alternatives you've considered**

They have tried the MS teams URL in current slack box, but it did not work.

**How would users interact with this feature

[2022-06-27 22:19] zorrobyte opened #1501 "Switch to human readable parameters in URL instead of Base64 encoded"
**What problem are you trying to solve?**
Given a URL such as
```allocations.html?title=Cumulative+cost+for+last+7+days+by+namespace+%2B+controller&window=7d&agg=pod&chartDisplay=series&idle=separate&rate=cumulative&filters=W3sicHJvcGVydHkiOiJwb2QiLCJ2YWx1ZSI6ImsqIn1d&context=W10%3D```

`filters=W3sicHJvcGVydHkiOiJwb2QiLCJ2YWx1ZSI6ImsqIn1d`
==
`[{"property":"pod","value":"k*"}]`

**Describe the so

[2022-06-28 11:20] jessegoodier opened #1502 "add details to"
**What problem are you trying to solve?**

Add details to the

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**How would users interact with this feature?**

![node right sizing](https://user-images.githubuserco

[2022-06-28 11:29] jessegoodier opened #1503 "add details to "Managed underutilized nodes""
Customer request:

Note: Do we have plans to make this work for multi-cluster?

**What problem are you trying to solve?**

Better understand the potential savings on the "Managed underutilized nodes" page.

**Describe the solution you'd like**

Add more details to the action.html?a=unusednodes

Suggestions: cost/month, Cluster Name, node type, region

**Describe alternatives you've considered**

C

[2022-06-28 13:45] AdamStack18 commented on #1503
@jessegoodier Grate idea. Marketed as a cost savings product enhancement for tracking.

[2022-06-28 14:49] teevans commented on #1501
So. Couple of thoughts here.

1. The reason this exists is because of the limitation of the browser URL. Either we encode to base64, or we attempt to encode every possible character into a browser string. Candidly, I can't stand either of these approaches because the browser string is really not meant to do things like this.
2. Generating programmatically is already possible, I would suggest we go

[2022-06-28 14:53] AdamStack18 commented on #1493
@jcharcalla We are looking into this issue and will post an update soon.

[2022-06-28 15:15] zorrobyte commented on #1487
Smartnews is running into this as well, we had a call with them last night and the backend is timing out:
https://kubecost.zendesk.com/agent/tickets/1972

Their AWS load balancer timeout was getting triggered first, now they are getting hit with NGNIX timeouts

Here's the endpoint:
```https://kubecost.smartnews.net/model/savings/requestSizing?algorithm=max-headroom&window=2d&targetCPUUtilization=0

[2022-06-28 15:22] AdamStack18 commented on #1499
@teevans any specific items  on this list we want to tackle in an up coming release?

@jessegoodier  Is this in order of priority or could you separate into two categories?

Example
1. Feel strongly about
2. Nice to have/ would be neat

[2022-06-28 15:54] AdamStack18 commented on #1387
@AjayTripathy @teevans Are we ready to move forward and turn this into an action item for v1.96 or squeeze it into v1.95?

- Anything left to discuss or concerns?
- Are we ok making this work on the front end in advanced reports then once refined we will explore moving this to the backend?
- Any dependencies or considerations with the open tasks to saving reports to the backend?

[2022-06-28 16:11] AdamStack18 commented on #1366
@teevans It could be a good project for Anna to test using the new design system and create a prototype for this feature.

[2022-06-28 16:12] dwbrown2 commented on #1503
+1 we definitely want to make this multi-cluster. Proposal is we do it next release.

cc @teevans and @nealormsbee because they are doing a rewrite in React now.

[2022-06-28 16:41] AdamStack18 commented on #1435
@teevans @wolfeaustin

In the sprint meeting it was discussed having Austin pick up some Advanced report’ enhancement items. Is this a good candidate?  If not, could you assign a priority to help prioritize future report work?

1. Must Do
2. Nice to have
3. Filler work

[2022-06-28 18:27] dramich opened #1504 "Cluster-controller chart does not repsect clusterIDConfigmap"
In other locations we have an if check around using clusterID, currently that does not happen and cluster-controller assumes the value exists. If the value is not provided then an empty envvar will get set in the container.

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/kubecost-cluster-controller-template.yaml#L210

vs.

https://github.com/kubecost/cost

[2022-06-28 18:57] keithhand commented on #1471
Adding some info, I tried to reproduce this again on an AWS cluster using an EFS drive attached as an NFS and couldn't get similar results, as the PVC I created seems to have sane values. Likely the best route forward to solve this would be to go with the outlier detection.

[2022-06-28 22:00] Adam-Stack-PM commented on #946
@biancaburtoiu Will #279 and the connected PR close this issue?

[2022-06-29 02:46] dwbrown2 commented on #1499
+1, thought Neal did this actually

Is this when you click an individual row? If so, would it just show one line-item? One alternative would be to link to Assets by cluster. e.g. http://nightly.kubecost.io:9090/assets.html?agg=type&context=W3sicHJvcGVydHkiOiJTZXJ2aWNlIiwidmFsdWUiOiJLdWJlcm5ldGVzIiwibmFtZSI6Ikt1YmVybmV0ZXMifV0%3D

Would this be making the bars links or something else?

<img width="

[2022-06-29 13:05] jessegoodier commented on #1499
looks like it is still there: http://nightly.kubecost.io:9090/overview-new.html

[2022-06-29 19:24] baldey-nz commented on #1392
Hi @AjayTripathy thanks for coming back to me. So i can see output for the pod based on my owner annotation if i query like this

curl https://myurl/model/allocation -d window=1d -d aggregate=annotation:owner -d accumulate=false -d shareIdle=true -G | jq .

is that what you mean?

[2022-06-29 19:24] jcharcalla opened #1507 ""Cannot convert undefined or null to object" error on the assets page"
**Describe the bug**
When drilling into some items on the `assets.html` page you get a `Failed to load asset data | Cannot convert undefined or null to object` error.
<img width="359" alt="Screen Shot 2022-06-29 at 3 23 54 PM" src="https://user-images.githubusercontent.com/17748044/176519196-4727ce58-c1d7-4a7f-ade9-5ab2cdb4e2d0.png">
Changing the date window to `48hr` or `2d` displays the page pro

[2022-06-29 19:26] jcharcalla commented on #1507
@teevans Can you take a look at this one?

[2022-06-29 20:30] AjayTripathy commented on #1491
I think this makes sense. @jessegoodier have you already done this for any users? If so want to send a PR or at least a working config we could work to template in?

[2022-06-29 20:37] teevans commented on #1507
Looking into it!

[2022-06-29 20:54] jessegoodier commented on #1491
I haven't got to this yet. There are a lot of if statements here and I haven't done a lot of complex templating.
There are 3 lines with "::"
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-frontend-config-map-template.yaml#L140

I just started in on openshift again, so this will be a while before I get to it.

[2022-06-29 21:56] jcharcalla commented on #1507
Attached is a HAR file showing data returned from the API during the error.
[a562c7882524f4401975c8d3f62e8b9e-136515386.us-east-1.elb.amazona.har.zip](https://github.com/kubecost/cost-analyzer-helm-chart/files/9014796/a562c7882524f4401975c8d3f62e8b9e-136515386.us-east-1.elb.amazona.har.zip)

[2022-06-29 22:59] AjayTripathy commented on #1392
Yep! In that case I think ti's just a matter of hooking up our predefined aggregations to our annotations. @Adam-Stack-PM let's make sure we get this tracked and added to the v1.96 release.

[2022-06-29 23:01] AjayTripathy commented on #1507
I would call this release blocking, let's make sure we prioritize accordingly.

[2022-06-30 05:08] teevans commented on #1387
@Adam-Stack-PM - Let's hit this in 1.96

[2022-06-30 05:30] nealormsbee commented on #1507
Will double check in the morning, but am fairly confident this is now fixed in SPA.

There are a series of functions for getting the details of different types of assets: nodes, disks, etc.
Assets without a purpose-built function to derive details fall back to `getAnyDetail(asset)`.

This function was assuming that the asset's `labels` property would be a map, but in some cases (notably network as

[2022-06-30 11:16] zerodayyy opened #1508 "Allow customizing the list of installed Grafana dashboards and remove Prometheus Benchmark dashboard"
**What problem are you trying to solve?**
I noticed a "Prometheus Benchmark - 2.17.x" dashboard in my Grafana, which didn't work properly since I'm not using Prometheus shipped with Kubecost. The resource in question is `grafana-dashboard-prometheus-metrics-template.yaml`, which deploys a dashboard via `prom-benchmark-dashboard` ConfigMap.

Furthermore, the dashboards that provide no cost informat

[2022-06-30 16:36] zorrobyte commented on #1501
The customer is satisfied with using Base64. This can be a documentation addition in the future.

Thanks for the help!

[2022-06-30 16:36] #1501 closed

[2022-06-30 16:57] biancaburtoiu commented on #946
@Adam-Stack-PM Yes. I've also scale-tested this with 10x asset and label counts and performance is not significantly affected. cc @AjayTripathy

[2022-06-30 18:27] dwbrown2 commented on #1508
I really like the structure/syntax proposed. Have you seen this pattern supported successfully in other projects?

The primary complication that I see creating a smooth handoff experience from the Kubecost FE. Today, we have the ability to inform users when Grafana is/isn't enabled globally but that model would need to change when individual dashboards may be missing.

[2022-06-30 22:05] Adam-Stack-PM commented on #1316
@biancaburtoiu, Wondering if you've had time to look at this bug or did SPA overshadowed it?

[2022-06-30 22:11] junoriosity opened #1510 "Problems to connect the kube-prometheus stack and kubecost"
I was trying to connect kubecost with my own kube-prometheus stack like [here](https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus).

I did the following in terraform

[code]

where the `additional_config.yaml` is

[code]

Now I can see the target in Prometheus as in the aforementioned link.

However, when trying to reach the frontend of kubecost via port-forward I obtain

[2022-06-30 22:24] Adam-Stack-PM commented on #1152
@kaelanspatel and @mbolt35, If we don't have it already during test and doc week could you help put together a consolidated list of the events and alerts we added?

[2022-06-30 22:26] Adam-Stack-PM commented on #1443
@AjayTripathy Would you like to push tomorrow to get this into v1.95 or should we roll it into v1.96?

[2022-06-30 22:39] Adam-Stack-PM commented on #1497
@teevans Release blocking or nice to have item?

[2022-06-30 23:00] biancaburtoiu commented on #1316
Didn't have the time unfortunately! Also needing more context here on how to determine instance type eligibility for a given cluster. @Adam-Stack-PM

[2022-07-01 01:08] sundeepghuman commented on #1443
Ajay and are meeting tomorrow morning to go over this bug and plan to
submit it before EOD.

On Thu, Jun 30, 2022, 15:26 Adam Stack ***@***.***> wrote:

[2022-07-01 12:42] jessegoodier commented on #1510
is the port of your port-forward 9090? if not, try adding the full url into the add new cluster dialog.

[2022-07-01 15:57] keithhand commented on #1510
@junoriosity, what platform are you deploying Kubecost to? It would be good to check the service name of your Prometheus deployment using the command `kubectl -n monitoring get service` and verify that it matches that value you are setting for the FQDN `prometheus-kube-prometheus-prometheus`. You don't need to add the `9090` port to the FQDN within your values.

[2022-07-01 16:06] kirbsauce opened #1511 "Add "Editor" role option to values.yaml"
**What problem are you trying to solve?**
Would like to leverage new Editor role for all KC end users, much like "read-only", and avoid an RBAC integration.

**Describe the solution you'd like**
A setting in the values.yaml file similar to "read-only", but for "editor"

**Describe alternatives you've considered**
An RBAC integration, but would like to avoid this lift just to set "editor" functiona

[2022-07-01 16:29] dwbrown2 commented on #1511
Interesting idea! Feedback on the technical difficulty of this @AjayTripathy?

Should we change this pattern and move to a "default-role: reader|admin|editor"

[2022-07-01 17:35] teevans commented on #1497
I'd call this blocking. I think it's a big deal when we're not displaying data properly

[2022-07-01 17:36] teevans commented on #1497
My man.

[2022-07-01 17:37] teevans commented on #1497
@keithhand - Could I bother you to test a couple scenarios to ensure we closed the loop here?
http://34.139.228.238:9090/

[2022-07-01 17:45] sundeepghuman commented on #1443
Skipping Thanos upgrade as later versions are relatively new, and no current known security vulnerabilities: https://github.com/kubecost/integration-ci-cd/runs/7147125236

[2022-07-01 17:47] sundeepghuman commented on #1443
Choosing Prometheus version v.2.35.0 as it picks up go v1.18 and known vulnerabilities are related to go binary

https://github.com/prometheus/prometheus/blob/main/CHANGELOG.md#2350--2022-04-21
nightly scan results: https://github.com/kubecost/integration-ci-cd/runs/7147125058

[2022-07-01 17:52] sundeepghuman commented on #1443
@dramich Node exporter is showing no known vulnerabilities: https://github.com/kubecost/integration-ci-cd/runs/7147124874

Will file separate ticket to address update in subsequent release.

[2022-07-01 17:56] dwbrown2 commented on #1443
@sundeepghuman these are always tricky upgrades IMO. historically, it's been fairly straightforward to test for 90% of cases but long-tail has been hard for us.

[2022-07-01 18:01] sundeepghuman opened #1512 "Update node-exporter"
**What problem are you trying to solve?**
The version of node-exporter we are using was released on Jun 4, 2019 as pointed out by @dramich in #1443 . We should keep up to date with our dependencies.

**Describe the solution you'd like**
Update node-exporter versions to a more recent stable version

**Describe alternatives you've considered**
Do nothing - doesn't seem like best practice to use a 3

[2022-07-01 18:03] dramich commented on #1443
I agree with @dwbrown2 . I think doing this piecemeal is also going to cause issues, despite us having our own charts we should be following upstream with what versions are being packaged together so we know they have been tested together and don't accidentally walk into a breaking change.

[2022-07-01 18:09] dwbrown2 commented on #1512
Crazy idea: when testing an upgrade, we could potentially run our current version of node-exporter as well as new version on a number of nodes. Then look at diff on `/metrics` endpoint.

Ways this could impact product: 1) core metrics are removed 2) metrics are renamed 3) resource consumption increase (due to new metrics or otherwise)

[2022-07-01 18:29] AjayTripathy commented on #1443
https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml#L503 Looks like the community chart is running that version for node-exporter. Maybe let's try that one?

[2022-07-01 18:34] AjayTripathy commented on #1443
We can test carefully as well, but none of the 0.X.X changes to 1.X.X Breaking Changes should affect us:
[code]

[2022-07-01 18:44] AjayTripathy commented on #1493
PSPs have no upgrade path (totally deprecated) so no point doing anything there since they're optional. The primary things that look like they need upgrade are.

ClusterRole rbac.io.authorization/v1beta -> v1 in prometheus server
ClusterRoleBinding  rbac.io.authorization/v1beta - -> v1 in ksm

[2022-07-01 18:57] sundeepghuman commented on #1512
@dwbrown2 that's a great idea. We probably want to instrument this as part of the generic rollout process across entire clusters. As part of the review of our testing and rollout processes, I can make sure to include scoping out instrumenting our own "Canary Analysis System." Ideally we would push new builds to canaries (some small portion of prod clusters, i.e. 10%) where it would bake for severa

[2022-07-01 18:58] sundeepghuman commented on #1443
@dramich will include in the same PR for this release.

[2022-07-01 19:08] keithhand commented on #1497
@teevans, Looks good to me. Tested both of the following links, [1](http://34.139.228.238:9090/assets?agg=label%3Aapp%2Cprovider&filters=W10%3D) & [2](http://34.139.228.238:9090/assets?agg=service%2Clabel%3Alabel%3Aapp%2Cprovider)

[2022-07-01 20:32] AjayTripathy commented on #1493
This looks like an issue with a user running an older version, since we peeked at the authorizations and found none of them to be using v1beta1. I'll chat w/ customer and follow back up.

[2022-07-02 14:02] jessegoodier commented on #1500
FYI, I asked the customer for more detail (kroll) and am waiting for more information.

[2022-07-02 17:38] junoriosity commented on #1510
@jessegoodier @keithhand Many thanks for getting back to me.

The cool thing is that it is really about the port. Since I am using Lens, I am accustomed to just clicking on the port-forward button and I get a random port. Then I get the issue from above.

However, it works like a charm if I am using port-forward to port 9090. Many thanks for all your help. You are terrific! :)

[2022-07-02 17:39] #1510 closed

[2022-07-04 23:31] baldey-nz opened #1514 "Enabling metrics-exporter causes Multi-Attach error on pod init"
**Describe the bug**
Enabling the metrics-exporter in the helm chart creates a volume multi-attach error when the metrics pod is created on a different node to the cost-analyzer pod. One of the pods gets stuck in init:0/1 status

**To Reproduce**

deploy the cost-analyzer helm chart with the following option enabled:

_kubecostMetrics:
  exporter:
    enabled: true
    port: 9005_

**Expected beha

[2022-07-05 14:22] ledouxpl commented on #1493
A related issue is that Kubecost uses `kube-state-metrics` 1.9.8 in its helm chart. The version as well as the container arguments are not configurable. This old version may hit deprecated apis such as ingresses and certificatesigningrequests.

Unless I am mistaken, there is no way through the helm chart's values to change the image used for kube-state-metrics or opt-out of ingress and certificate

[2022-07-05 15:13] marco-giovannini-73team opened #1515 "401 error cause basic auth popup to show multiple times"
**Describe the bug**

I am using gcr.io/kubecost1/cost-model:prod-1.94.3

When using an nginx ingress with basic authentication and a different path then the / to expose kubecost authentication popup keep showing.

**To Reproduce**

1. Expose Kubecost UI using an nginx ingress with basic authentication on a different path:

Example

[code]

2. Login first time and navigate in another sections part

[2022-07-05 18:24] keithhand commented on #1514
Hello @baldey-nz, generally, users will use this pod as an alternative to emitting Kubecost metrics without having to deploy the cost-analyzer pod. It sounds like you still intend on deploying the cost-analyzer pod, so I am curious as to what your end goal is so that I might be able to find the best solution for you.

[2022-07-05 20:53] Adam-Stack-PM commented on #1515
@kaelanspatel Can you triage this issue and label it P0, P1 or P2?

[2022-07-05 21:17] Adam-Stack-PM commented on #1507
@nealormsbee Can you confirm this is fixed? If so please close out with a note.

[2022-07-05 21:19] nealormsbee commented on #1507
This is fixed in 1.95.0-rc.0 for all cases stated in the OP :+1:

The root cause was the same for all instances: not accounting for an asset having property `labels: null`, as noted in a prior comment.

[2022-07-05 21:19] #1507 closed

[2022-07-05 22:46] kaelanspatel commented on #1515
Sure Adam!

@marco-giovannini-73team just to clarify, if you set the path to the one used for Kubecost, this works as intended i.e. only shows once?

[2022-07-06 00:20] baldey-nz commented on #1514
Thanks for coming back to me. i think you have just answered my question in your response. Its designed to either run one or the other and thats fine it wasnt clear to me from the comments in the helm chart or the docs i could find. closing this one, thanks again

[2022-07-06 00:20] #1514 closed

[2022-07-06 06:10] #1440 closed

[2022-07-06 08:55] marco-giovannini-73team commented on #1515
@kaelanspatel  I wasn't able to test in our environment  as we have other applications in / so cannot configure Kubecost ingress on the / path but I will be able to test on my local if needed . This is not the first time I encounter this issue with the basic auth popup when the application trying to load the page encounter some 40X error in particular with Chrome.

[2022-07-06 11:14] jainasanthoshkmr opened #1519 "Expecting Annotation aggregation and filter value along with existing dropdown values"
**What problem are you trying to solve?**
I would like to create an alert by aggregating annotations applied on k8s namespace.

**Describe the solution you'd like**
Provide additional drop down value to choose annotations as like as existing value Label.

**Describe alternatives you've considered**
![image](https://user-images.githubusercontent.com/79314049/177537714-5e744338-5361-4281-9c06-7276b7

[2022-07-06 13:30] Pelmorex opened #1520 "Missing pricing for Oracle Cloud - possible Feature request"
We do not have accurate Oracle Cloud pricing and would love for Kubecost to automatically pull generic Oracle Cloud pricing (if this is possible).  In the meantime we will try to setup and use custom pricing values.

Thank you,
Christian
Pelmorex

gz#2111<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2111'>Zendesk ticket #2111</a>)</i>

[2022-07-06 16:10] marco-giovannini-73team commented on #1515
I did few more testing  in another environment.

with the ingress configured on the root / path no 4XX error is showed and one authenticated  is required no other popup is showed

<img width="1521" alt="Screenshot 2022-07-06 at 17 41 43" src="https://user-images.githubusercontent.com/95924236/177594934-a7c8ddce-68e4-4444-a178-92045240f1b3.png">

with the ingress configured on the /kubecost path a

[2022-07-06 16:14] marco-giovannini-73team commented on #1515
On the first cluster with the issue we added the following configuration to the ingress an we stopped receiving the basic auth popup all the time.

[code]

So the issue is related to the loading errors but in it is shows only on the case of 401 not 404.

[2022-07-06 17:29] keithhand commented on #1519
Hello @jainasanthoshkmr this sounds like a great feature request! Let me tag @Adam-Stack-PM from our product team so that we can get some eyes on this.

[2022-07-06 17:54] dwbrown2 commented on #1502
Agree this would be a nice addition! I'm somewhat torn between a smaller preview (e.g. assets) vs much more detail (e.g. inspect page). Have a specific set of use cases in mind at this point?

[2022-07-06 19:10] kaelanspatel commented on #1515
Thanks for the additional context @marco-giovannini-73team, we'll get this looked at.

[2022-07-06 20:27] peijianju-sonrai opened #1521 "totalcost number is not matching (cpucost + ramcost + gpucost + pvcost + networkcost + loadbalancercost )"
**Describe the bug**
Hi, I am exporting kubecost cost's data using `/model/allocation` endpoint. And comparing the result to AWS cost explorer.
But I found that
totalcost number I get is not matching `(cpucost + ramcost + gpucost + pvcost + networkcost + loadbalancercost)`

Further investigation, I notice these metrics
- cpuCostAdjustment
- gpuCostAdjustment
- networkCostAdjustment
- pvCostAdjustm

[2022-07-06 20:56] keithhand commented on #1521
Hello @peijianju-sonrai, you will likely have a better chance to match pricing using the Assets screen directly; here is a link to a document that describes how you should be able to compare those prices: https://guide.kubecost.com/hc/en-us/articles/4407596809111-AWS-Node-Price-Reconciliation-Methodology. The adjustments that you see in the application should change made to your costs based on you

[2022-07-06 23:08] #1443 closed

[2022-07-06 23:08] #1512 closed

[2022-07-06 23:15] Adam-Stack-PM commented on #1519
@jainasanthoshkmr, Great idea. Will add this to our feature backlog and review with the team.

[2022-07-06 23:19] Adam-Stack-PM commented on #1493
@ledouxpl, Our engineering is looking into this and will respond soon. Thanks for the additional info.

[2022-07-06 23:45] kirbsauce opened #1523 "TESTING"
@kirbsauce and @zorrobyte testing GH->ZD integration

[2022-07-07 00:12] AjayTripathy opened #1524 "Deprecate SQL-Init"
**What problem are you trying to solve?**
SQL is no longer a supported database for kubecost. Let's remove it and all references from the helm chart

**Describe the solution you'd like**
All references to sql are removed from the helm chart

**Describe alternatives you've considered**
None, it's dead code so should be removed

**How would users interact with this feature?**
Just less to read in th

[2022-07-07 02:17] hyj-github opened #1525 "Something about Cost Allocation"
**What problem are you trying to solve?**
I use Kubecost to calculate the cost of the K8S cluster。The K8S cluster is AWS EKS。
The following picture shows the items related to costs displayed by "Cost allocation". What are the meanings of each item? What factors are associated with the cost value? For example, the LB in the screenshot below.

![image](https://user-images.githubusercontent.com/54680

[2022-07-07 03:35] dwbrown2 commented on #1520
+1 would love to see 1P support here

@trentbroderick @alexkubecost weren't you guys exploring?

[2022-07-07 14:05] andreb89 opened #1526 "Azure cost export changed format & missing pricing data"
Hi,
it seems like during May/start of June Azure changed the format of their exported cost reports, that we had configured for usage with AKS and Kubecost (out-of-cluster costs). We have been using this setup/configuration for over a year and it worked. But since May/June the out-of-cluster costs were very strange and sadly only today I had time to check everything and then noticed the difference

[2022-07-07 17:34] keithhand commented on #1526
Hi @andreb89, let me look and see if I can find anything that might have changed. It would be good to confirm that the cost export type you have configured is `Daily export of month-to-date costs`; Is that accurate?

[2022-07-07 21:05] kirbsauce commented on #1525
Hi @hyj-github , sorry for the delayed response.  LB stands for loadbalancers, and other zero columns normally fill in when you integrate with your cloud provider.  (This gives us access to those resources outside of kubernetes.). While GPU is a k8s resource, it looks like you're not using those.  As for __idle__, those are the costs of the node/cluster resources that are available but not yet all

[2022-07-07 23:26] AjayTripathy opened #1527 "Ensure all namespaced resources have namespaces available."
**Describe the bug**
Some of the namespaced resources for dependent charts – Grafana/Prometheus are missing namespace values. So unless the namespace is explicitly specified (ie kubectl apply -f … -n <Namespace> ) these are  installed in default namespace.

**To Reproduce**
kubectl apply -f <templates>

**Expected behavior**
Specifying namespace implicitly via Values is supported.

[2022-07-07 23:41] dwbrown2 commented on #835
Current plan is to design a solution in 1.96 to prepare for an initial implementations. Are there any requirements around this that we should keep in mind, e.g. auth.

[2022-07-08 06:27] andreb89 commented on #1526
Hi @keithhand thanks for the fast response.
Yes `Daily export of month-to-date costs` is configured in the Azure cost export. Just to be sure, I tried recreating the cost export through the Azure Portal and also via AZ CLI, but the exports of both have the same new structure in the CSV now.

[2022-07-08 14:02] marco-giovannini-73team commented on #1526
Not sure if might be related but in my Kubecost recently installed in Azure I see the cost calculation is wrong. The cost for recent data (last 2 days) are ok but older data are incorrect. I suspect is related to reconciliation  with cost exporter data. Repairing the ETL bring the data to correct value after after a while the are wrong again.

I was able to validating running the ETL repair I got

[2022-07-08 14:08] marco-giovannini-73team commented on #1526
My cost exporter has the  following fields

InvoiceSectionName,
AccountName,
AccountOwnerId,
SubscriptionId,
SubscriptionName,
ResourceGroup,
esourceLocation,
Date,
ProductName,
MeterCategory,
MeterSubCategory,
MeterId,MeterName,
MeterRegion,
UnitOfMeasure,
Quantity,
EffectivePrice,
CostInBillingCurrency,
CostCenter,
ConsumedService,
ResourceId,
Tags,
OfferId,
AdditionalInfo,
ServiceInfo1,
Service

[2022-07-08 21:56] linhlam-kc commented on #1527
I'm contacting and scheduling a call with partner in the week of July 11st for learning more about the bug and their expectation.

[2022-07-08 22:01] keithhand commented on #1526
Hi @andreb89, can I have you check the cloud integration section diagnostics page and see if there is any information provided there?
![image](https://user-images.githubusercontent.com/43491549/178075673-e0745304-7c06-4844-aaf4-9e8a49715f5e.png). It would also be helpful to know if you are seeing any adjustments being applied when you visit your Asset reports.

[2022-07-11 04:12] dwbrown2 commented on #1500
@jessegoodier let us know if you hear more, we're prioritizing for next release now

@teevans I tried this on the frontend with a generic ms teams webhook, e.g. `https://m365x234234.webhook.office.com/`

And we overwrote with `https://hooks.slack.com/services/XXXXXXXXXXX/XXXXXXXXXXX/XXXXXXXXX` on the frontend display so there's a chance we're not storing this correctly.

[2022-07-11 04:15] teevans commented on #1500
Yeah, that experience is going to change this month. If we can ensure the backend is sending properly formatted webhooks to teams, we can build a nice experience around choosing which platform you want to send to. I assume the payload that we send to slack won't match what we send to teams.

[2022-07-11 06:18] andreb89 commented on #1526
Hi @keithhand
yes, it shows the information for the Azure cloud integration and also the latest sync status:
![image](https://user-images.githubusercontent.com/78923723/178200290-499ca567-19fd-4f88-8ea7-a0057125f59f.png)

In the Assets page, it shows no adjustments at all (only €0.00), which is strange, since in the past it definitely showed prices being adjusted. But nothing anymore.

[2022-07-11 06:21] srpomeroy opened #1535 "Exluded resources from recurring alert if spend threshold is not exceeded"
**What problem are you trying to solve?**
Limit noise in recurring alerts to resources above a spend threshold.

**Describe the solution you'd like**
The ability to define a spend threshold for a recurring alert.
Example: Customer doesn't care about a namespace consuming $0.95 / day

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or feature

[2022-07-11 06:40] srpomeroy opened #1536 "Manage underutilized nodes Grafana link goes nowhere"
**Describe the bug**
When viewing the "Manage Underutilized Nodes" savings report, you can view additional details about the nodes by selecting a node. In the modal that pops up, there is an option to "view metrics dashboard". This should route to a Grafana dashboard but instead opens a new window/tab to the current page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Savings > Manage

[2022-07-11 09:17] headyj opened #1537 "Duplicated resources with custom Prometheus"
**Describe the bug**
It seems that some resources are duplicated, due to the original kubernetes-service-endpoints being also parsed by kubecost:

`kube_pod_container_resource_limits{exported_namespace="my-namespace", job="kubernetes-service-endpoints", namespace="prometheus", pod="my-nginx-55dcdfbb6d-42hf4", resource="cpu", service="prometheus-kube-state-metrics", uid="6200aefa-c378-4ba0-bbdc-2bd

[2022-07-11 14:09] kirbsauce commented on #1525
@hyj-github , here is a bit more detailed information. Agree that it's slightly outdated as related to the UI, but the method of calculation hasn't changed.

[2022-07-11 14:51] dwbrown2 commented on #1536
Thanks for reporting, @srpomeroy! Know what build/version this is on?

cc @Adam-Stack-PM

[2022-07-11 15:28] kirbsauce commented on #1537
Thanks for reporting, @headyj.  We'll dig into this right away.

[2022-07-11 19:55] zdenekvicar opened #1539 "Support label configuration in filters"
**What problem are you trying to solve?**
Kubecost currently provides very nice way of connecting custom labels with those pre-defined in Kubecost. We are using `Team` label connection by providing our custom value `reporting_team` into values.yaml `kubecostProductConfigs.labelMappingConfigs.team_label`.
This works very nice on `allocations.html` page where we can aggregate by this just by selecti

[2022-07-11 20:44] keithhand opened #1540 "Save custom savings.html views for later use"
**What problem are you trying to solve?**
There are ways to save the views for both Allocation and Asset reports so that you can review them later with the same filters applied. I want this same functionality within the savings pages; the most useful would be the filters when selecting container request sizing.

**Describe the solution you'd like**
The ability to save pre-determined filters on the

[2022-07-11 21:17] nealormsbee commented on #1540
Thanks Keith!

@teevans I'm putting this on the Backlog of the Front-End Team project so it can be considered for a future release. Let me know if you want to see a different kind of process here.

[2022-07-11 21:38] jcharcalla commented on #1537
@headyj Are you seeing duplicated resources within the Kubecost UI or just in your external Prometheus metrics?

Also, are you running an additional Kube-state-metrics pod outside of Kubecost? Here is [documentation](https://guide.kubecost.com/hc/en-us/articles/4408095797911-Kube-State-Metrics-KSM-Emission#dealing-with-duplicate-metrics-when-a-non-kubecost-ksm-is-present-in-the-cluster) for handli

[2022-07-11 21:38] nealormsbee commented on #1536
I'm unable to reproduce on `v1.94.3`. @srpomeroy if you happen to have a live link or version info that would be a big help! Otherwise I'll plan to browse the code for anything that looks like it might cause this.

[2022-07-11 21:48] srpomeroy commented on #1536
I will get some additional details from the customer and report back!

[2022-07-11 21:53] nealormsbee commented on #1536
Thank you! In the meantime, it looks like this will happen if the client is unable to retrieve the configured Grafana URL from the backend, or if it is simply still waiting for a response. We create the link `target="_blank" href=""`, and then ask the server for the Grafana URL, and apply it to the link after-the-fact.

[2022-07-11 21:57] nealormsbee commented on #1535
Sounds like a sensible feature to me. Adding to the FE team project backlog.

Out of scope for this ticket, but it might be cool to expand general Allocation/Asset filters to permit "exclude items with totalCost < $X".

[2022-07-11 22:56] nealormsbee commented on #1523
@kirbsauce Can this be safely closed, or is it still in use for testing?

[2022-07-11 23:03] nealormsbee commented on #1521
@peijianju-sonrai does that API do what you need? If so, I'll close this ticket and consider the problem resolved ^_^

[2022-07-11 23:05] keithhand commented on #1526
Hey @andreb89, thanks for the additional information. Let me pass this along to the engineering team to look into what we have now, and if there is anything else we can get from you, we will reach out. Thanks!

[2022-07-11 23:07] kirbsauce commented on #1476
@nealormsbee , not likely your area of the code but wondering if you could direct this to the right person for triage?

[2022-07-11 23:11] nealormsbee commented on #1520
+1 because this would be cool, and I also want notifications for this issue 😄

[2022-07-11 23:21] trentbroderick commented on #1520
@dwbrown2 we’re still exploring this with the oracle team. Will update the thread here as this continues to develop!

[2022-07-11 23:22] kirbsauce commented on #1523
thanks @nealormsbee !  sorry for the wasted cycles...closing

[2022-07-11 23:22] #1523 closed

[2022-07-11 23:27] nealormsbee commented on #1476
Can do. I'm going to guess @michaelmdresser is the right person to triage -- he's done a lot of work on one-click request sizing.

[2022-07-12 04:06] mtb-xt opened #1542 "Enabled cluster controller generates duplicate app labels"
**Describe the bug**
If I enable cluster controller, helm will render it's resources with two 'app' labels, which make fluxcd error out (like in issues https://github.com/kubecost/cost-analyzer-helm-chart/issues/1322 and https://github.com/kubecost/cost-analyzer-helm-chart/issues/1150)

**To Reproduce**
Steps to reproduce the behavior:
1. Run `helm template test kubecost/cost-analyzer --set cluste

[2022-07-12 13:48] zorrobyte opened #1545 "Panic in cost-analyzer container"
[code]

gz#2162<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2162'>Zendesk ticket #2162</a>)</i>

Customer will be sharing the version shortly

gz#2156<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2156'>Zendesk ticket #2156</a>)</i>

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-124) by [Unito](https

[2022-07-12 16:10] dwbrown2 opened #1547 "Review use of kube-state-metrics"
**What problem are you trying to solve?**
Kube-state-metrics will become optional in our application yet we ship with it on by default. We should decide how this should be used in our application as there have been requests for upgrading + more configuration https://github.com/kubecost/cost-analyzer-helm-chart/issues/1493#issuecomment-1175121269

**Describe the solution you'd like**
I'm inclined t

[2022-07-12 16:12] dwbrown2 commented on #1493
@AjayTripathy can you please shared any updates?

@ledouxpl created https://github.com/kubecost/cost-analyzer-helm-chart/issues/1547 to review further!

[2022-07-12 16:14] dwbrown2 commented on #1493
Also, @ledouxpl are none of these config options helpful? https://github.com/kubecost/cost-analyzer-helm-chart/tree/develop/cost-analyzer/charts/prometheus/charts/kube-state-metrics

[2022-07-12 16:18] jcharcalla opened #1548 "Allocation reports are not respecting the globally-set sharedNamespaces config"
**Describe the bug**
After setting `sharedNamespaces` in the config the change is not reflected on the Allocation page. This bug is related to Zendesk Ticket # [2160](https://kubecost.zendesk.com/agent/tickets/2160) and has been reported in version `1.95.0-RC.*`.

**To Reproduce**
Steps to reproduce the behavior:
1. Using `1.95.0-RC.3` on the "Settings" page and add a "Shared Namespace".
2. Naviga

[2022-07-12 16:43] CrisNevares opened #1549 "kiwigrid/k8s-sidecar:1.15.4 impacted by 7 Critical CVEs"
**Describe the bug**
kiwigrid/k8s-sidecar:1.15.4 contains 20 CVEs -- 1 Critical CVE affecting busybox, 1 Critical affecting ssl_client, and 5 Critical affecting expat.

The following image tags do not contain these or any other Medium/High/Critical vulnerabilities:
- kiwigrid/k8s-sidecar:1.16.0
- kiwigrid/k8s-sidecar:1.17.0
- kiwigrid/k8s-sidecar:1.18.0
- kiwigrid/k8s-sidecar:1.18.1
- kiwigrid/k8s

[2022-07-12 16:51] dwbrown2 commented on #1545
Thanks for reporting, @zorrobyte! Can you share what version this was from?

[2022-07-12 16:55] keithhand commented on #1542
Thanks for the report, let me ping @nealormsbee from our engineering team to take a look at this. It looks like we are specifying the app label directly [in the template](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/kubecost-cluster-controller-template.yaml#L9) as well as in [the helper function](https://github.com/kubecost/cost-analyzer-helm-chart/blob

[2022-07-12 16:57] CrisNevares opened #1550 "grafana/grafana:8.3.2 impacted by 2 Critical CVEs"
**Describe the bug**
grafana/grafana:8.3.2 contains 14 distinct CVEs -- 1 Critical CVE affecting busybox and 1 Critical affecting ssl_client.

The following image tags do not contain any Critical vulnerabilities (some Medium/High remain):
- grafana/grafana:8.4.7
- grafana/grafana:8.5.0
- grafana/grafana:8.5.1
- grafana/grafana:8.5.2
- grafana/grafana:8.5.3
- grafana/grafana:8.5.4
- grafana/grafana

[2022-07-12 17:15] jcharcalla commented on #1549
@CrisNevares Thanks again for reporting this CVE as well.

[2022-07-12 18:40] #1548 closed

[2022-07-12 20:22] peijianju-sonrai commented on #1521
@nealormsbee  thank you, please feel free to close this

[2022-07-12 21:17] nealormsbee commented on #1485
Adding this to the FE-Team project and assigning @wolfeaustin. @jessegoodier if you don't mind creating a separate `enhancement` issue for putting more detail into that card, I think it makes sense to track that separately from this ticket.

[2022-07-12 22:43] ledouxpl commented on #1493
@dwbrown2 Setting `collectors.ingresses` to `false` would work. However if Kubecost needs those metrics, it is a bummer that to fix deprecated calls you have to opt-out of one of Kubecost feature.

Getting around this issue is not that hard, but I just feel that the default Kubecost helm chart should use a `kube-state-metrics` image which _plays nice_ with Kubernetes 1.22+. Or maybe introduce a co

[2022-07-12 23:42] zorrobyte commented on #1545
This is on version 1.94.3 - ZD 1972

[2022-07-12 23:43] dwbrown2 commented on #1545
Thanks! @AjayTripathy @sundeepghuman would this be relevant in 1.95 release?

[2022-07-13 01:48] AjayTripathy commented on #1545
Thanks for the report. These tickets need a bit more context like what page of the application triggers the error and whether this is ongoing or intermittent to determine priority since we're so close to the release cut date. @zorrobyte can you please collect that information and add it to the ticket, then add that to the context required to file tickets like this?

[2022-07-13 09:52] hyj-github commented on #1525
Where are the detailed information?

[2022-07-13 14:11] kirbsauce commented on #1525
Apologies, @hyj-github , my mistake...
https://guide.kubecost.com/hc/en-us/articles/4407601807383-Kubernetes-Cost-Allocation#cost-metrics-1

[2022-07-13 16:12] kirbsauce commented on #1547
@dwbrown2 , just to clarify, SOME version of KSM is required, no?  There is some confusion based on "Kube-state-metrics is now optional in our application".  Users are referencing this issue asking if they can disable KSM.

[2022-07-13 16:23] #1521 closed

[2022-07-13 16:54] AjayTripathy commented on #1547
I would call the optionality in alpha state and note that it is not recommended for production (yet). In particular, downtime in kubecost becomes a lot more relevant than when ksm runs, because pod uptime tracking moves from ksm to kubecost.

[2022-07-13 21:41] Adam-Stack-PM commented on #1515
@nealormsbee Could you get a priority Assigned to this (P1,2,3) and add a category?

[2022-07-13 21:59] Adam-Stack-PM commented on #1471
@keithhand, Would you be willing to verify this is fixed in the upcoming release and close out after?

[2022-07-14 01:57] hyj-github commented on #1525
I cannot access this website. Is there any relevant introduction in other places? Such as github

[2022-07-14 02:14] dwbrown2 commented on #1525
@hyj-github can you share why you're unable to access that page at guide.kubecost.com?

Here's the corresponding page on GH: https://github.com/kubecost/docs/blob/main/cost-allocation.md

[2022-07-14 09:46] hyj-github commented on #1525
This page is too general, can you be more detailed and explain how the figures are calculated.In addition, foreign websites cannot be accessed in China.

[2022-07-14 13:14] kc-creynold commented on #1471
@Adam-Stack-PM We have another customer seeing this issue. they are willing to deploy the new version to test the fix.
![image](https://user-images.githubusercontent.com/104522108/178990876-ee4eac78-1210-4248-ae3d-ae84bfdb42be.png)

[2022-07-14 13:38] Adam-Stack-PM commented on #1471
@kc-creynold That is great. Thanks for helping organize this feedback.

[2022-07-14 15:18] zorrobyte commented on #1545
Thank you for the feedback @AjayTripathy

The customer is reporting that it sometimes when using allocation summary API. Would their API call be helpful? I'll ask them for it and update when I get it from the customer

[2022-07-14 17:44] nealormsbee commented on #1515
Sure thing. I will do some additional testing here, but given that the issues are wrong URLs for `favicon` and the Azure logo, this may be resolved in 1.95.0. I know that at least the `favicon.ico` will now route correctly.

Labeling `P1` because this is pretty serious, but @marco-giovannini-73team has supplied a successful workaround.

[2022-07-14 18:58] nealormsbee commented on #1476
Thank you Michael! Surfacing some info for @svelango here since the other issue is private.

We have reason to suspect that our cluster-sizing recommendations cannot, currently, accommodate Istio's automatic sidecar injection, because those containers are not present in the K8s resource spec. The other containers should still rightsize correctly.

It will require product work

- To better-convey t

[2022-07-14 23:06] dwbrown2 commented on #1525
These calculations are based on the OpenCost spec: https://github.com/kubecost/opencost/tree/develop/spec

[2022-07-15 05:33] AjayTripathy commented on #1549
Hey @CrisNevares this can be quickly updated in your own chart by specifying a version , just like in this PR: https://github.com/kubecost/cost-analyzer-helm-chart/pull/1561

Long term we plan on moving away from bundling grafana with kubecost (but continuing to allow users to bring their own that will plug in with kubecost), though this should help for now.

[2022-07-15 05:33] AjayTripathy commented on #1550
Hey @CrisNevares this can be quickly updated in your own chart by specifying a version , just like in this PR: https://github.com/kubecost/cost-analyzer-helm-chart/pull/1561

Long term we plan on moving away from bundling grafana with kubecost (but continuing to allow users to bring their own that will plug in with kubecost), though this should help for now.

[2022-07-15 13:04] romankydybets opened #1562 "it is not clear how to enable grafana for summary dashboard"
Hi team,
It is not clear what should be configured for using this feature
<img width="1338" alt="Screenshot 2022-07-15 at 15 56 36" src="https://user-images.githubusercontent.com/27759761/179228052-11975e5b-1fe4-4c0f-993f-5fdbb6a2ca0d.png">

i am using grafana which was provided by your team,
and it is accessible

gz#2192<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/21

[2022-07-15 15:02] dwbrown2 commented on #1562
Thanks for reporting, @Kydybets! We just noticed this issue last night on the latest release and are now investigating.

Note: dupe of private issue https://github.com/kubecost/cost-analyzer-frontend/issues/903

[2022-07-15 17:09] linhlam-kc commented on #1527
I had a phone call with partner on Jul-14. The issue happened because of their internal system does not use Helm or Kubectl to deploy Kubecost but using their in-house tool to call K8s API without overriding namespace feature. Their ask is to update all of our resources templates in all of the helm charts and subcharts in consistent format with namespace is explicitly specified. In the meantime, p

[2022-07-15 17:39] dwbrown2 commented on #1493
@ledouxpl that shouldn't be a required metric or have impact on Kubecost functionality

@kirbsauce would you be able to share the set of required metrics today and comment on version support?

cc @AjayTripathy

[2022-07-15 19:06] kc-adawson opened #1563 "Summary numbers for Efficiency and Savings are unclear"
**What problem are you trying to solve?**

Had multiple calls this week that have called out our Savings numbers not adding up/ overall efficiency score not being clear. People are genuinely curious why these numbers seem to not add up.

On https://demo.kubecost.xyz/, we say there is a 3.5% efficiency score, but we also show that the idle over 14 days has been $112 dollars out of ~175. The prospec

[2022-07-15 20:01] jcharcalla commented on #1493
From the [bring your own Prometheus documentation](https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus#dependency-requirements ).
[code]

And below is the list of the KSM metrics that are both consumed and emitted by the Kubecost from the [User Metrics](https://guide.kubecost.com/hc/en-us/articles/4425134686743-User-Metrics#kube-state-metrics) page. These can also be found

[2022-07-15 20:19] dwbrown2 commented on #1563
Re: overview -- I believe @nealormsbee is looking at this now. Summary is that cost efficiency exposed both workload idle + cluster idle. I see a really opportunity for us to have more "learn more" tooltips that deep link to relevant docs, e.g. the OpenCost spec. I say that because these are complex topics...

Re: savings -- is the tooltip in the top card helpful at all?

cc @Annalillie as FYI

[2022-07-15 20:36] Annalillie commented on #1563
@dwbrown2 I agree. I think a "learn more" that link to docs will help users really understand how we are calculating these numbers. A quick "Efficiency is determined by calculating X and X. Learn more." I see Neal may be on this now. If this continues to be a UX issue after his coding magic, I'd love to brainstorm alternative ways to present this information to users so they aren't inherently havi

[2022-07-15 21:25] dwbrown2 commented on #1563
I dit it! Kinda random example, but I think Google flights does this in a pretty slick way...

<img width="440" alt="image" src="https://user-images.githubusercontent.com/298359/179312948-8ddb90c5-3f2d-4f83-adcf-0d5c2c13e829.png">

[2022-07-15 21:37] Annalillie commented on #1563
Thats a great example, exactly like that. A brief overview with the option to read more in-depth in desired.

[2022-07-15 22:00] Adam-Stack-PM commented on #1316
@srpomeroy With Kyle gone, would you be willing to help track down the additional context needed for this issue?

[2022-07-15 22:04] Adam-Stack-PM commented on #946
Closing based on the above comment. Re-open if needed.

[2022-07-15 22:04] #946 closed

[2022-07-16 12:58] kc-adawson commented on #1563
<img width="1059" alt="2022-07-16_08-46-31" src="https://user-images.githubusercontent.com/101200254/179355469-c36012c4-20cd-4877-8cbf-46c58394e2d7.png">

The tool tip makes sense that the total is "probability adjusted", but first impression to most is the Savings sub-report numbers on the bottom cards would add up to the total summary card up top. If you look at the top 4 savings blocks alone, t

[2022-07-18 02:07] dwbrown2 commented on #1498
+1, I think there's two things here: 1) make the current docs as helpful as possible and then 2) refine this product experience. I propose we tackle 1 quickly while think through 2. Thoughts?

[2022-07-18 14:30] kc-adawson commented on #1563
CC @jessegoodier and I worked on a rough mock up on layout ideas - If we broke out the savings by category, it could make the overall report clearer.

<img width="1447" alt="2022-07-18_10-26-08" src="https://user-images.githubusercontent.com/101200254/179534140-05b022cf-65d0-498b-aa0d-f39a44d06cea.png">

[2022-07-18 19:22] Adam-Stack-PM commented on #1563
Hi @kc-adawson and @jessegoodier

Here is a link to a document our design consoltant is using to update the savings UX.

Based on the scope of our engagement want to keep the scope tight.

However, if you could add any future ideas or context at the bottom, that would be very helpful.

https://docs.google.com/document/d/1_Vadch2sTTbeTWjE2a_b7XfBr3AHhpXoTB3kSTr_gE8/edit#heading=h.48eulx5rs2l