[2022-10-18 16:38] keithhand opened #1748 "Add redirect link after SAML login"
**What problem are you trying to solve?**
If a user is directed to an instance deployed with SAML using a specific link (such as a report), I would like to be routed to the link after successful login. Currently, the user gets routed back to `/overview` every time.

**Describe the solution you'd like**
Route users to the link that initially opened after successful login.

**Describe alternatives y

[2022-10-18 17:53] jcharcalla commented on #1720
@mbolt35 For the scrape config this customer is using Victoria Metrics, not the standard Prometheus. Are there any specifics of the config you would like me to ask about?
I'm currently waiting on a reply as to how "inflated" the costs are.

For tacking purposes... this was from ZD ticket [2725](https://kubecost.zendesk.com/agent/tickets/2725)

[2022-10-19 05:03] AjayTripathy commented on #1722
Hey @tohjustin sorry for the late response. I think that's a very reasonable feature request though it isn't supported today. It's probably easiest and the least "sticker shock" (where reconciliation drifts heavily from the actual cost) if we do as suggested and drop a JSON file to read from for airgapped clusters.

[2022-10-19 14:59] mmurph3 opened #1749 "Identify short workload patterns from historical data and provide reserved instance recommendations"
**What problem are you trying to solve?**
Want to strategize use of reserved instances in azure based on usage patterns which can be sporadic
Azure has 2 reserved instances models - 1 year and 3years. Need recommendation on which model would be most cost effective based on historical costs.

**Describe the solution you'd like**

Customer has workloads where they need to run 1,000 concurrent jobs f

[2022-10-19 18:02] #1615 closed

[2022-10-19 23:27] AjayTripathy commented on #1676
@ivankube I think I might have actually fixed this swapping the if/else case. Let's check in on this after 1.98 is released.

[2022-10-19 23:31] AjayTripathy commented on #1578
1. I think our LB estimates are just based on GCP pricing or something and we need to do estimates on a per provider basis.
2. Subnet classification has to happen to get more accurate network pices in GCP. https://github.com/kubecost/cost-analyzer-helm-chart/issues/1720#issuecomment-1281655132

[2022-10-19 23:52] ivankube commented on #1716
@nealormsbee This issue might not be fixed in the latest nightly build: http://test-kubecost.kbrwn.xyz/kubecost/allocations clicking on any namespace results in [404](http://test-kubecost.kbrwn.xyz/details?name=agones-system&type=namespace)

❯ kubectl get deploy kubecost-cost-analyzer -o yaml -n kubecost | grep frontend
        image: gcr.io/kubecost1/frontend-nightly:188b33b

[2022-10-19 23:53] AjayTripathy commented on #1574
Proposal that we look at this for v1.99

[2022-10-20 03:27] dwbrown2 commented on #1739
Thank you both!

@keithhand this internal port access can be limited by a network policy to all user or only those with namespace access. That's what we've seen done previously to block exposure. Are there scenarios where that's not a viable solution?

@clekas-fff do you mean Kubecost application health metrics available at this port or something else?

[2022-10-20 04:08] dwbrown2 commented on #1734
@mmurph3 @tonytauller any feedback on daily/monthly projected rate in the allocation view? https://guide.kubecost.com/hc/en-us/articles/4407601807383#cost-metric-1

This would account for a deployment scale up, new namespace, etc etc.

[2022-10-20 12:03] aschi1 commented on #1716
We are having the same problem with kubecost exposed on FQDN/kubecost. Additionally, after OIDC login via Keycloak I am redirected to FQDN/login and not FQDN/kubecost/login (we are providing redirect uri in the keycloak request).

It would help us immensely f this could be fixed. Thanks!

[2022-10-20 12:37] Atinlay opened #1750 "Allocation API fails when aggregating on annotations with a JSON string value"
**Describe the bug**

From another pod in kubernetes, when calling the allocation endpoint with the JSON format and with an aggregation on an annotation, e.g. `http://localhost:9090/model/allocation?format=json&aggregate=annotation%3Aad.datadoghq.com%2Ftags`, where the value of the annotation is a JSON string, e.g. `'{"key": "value"}'`, I receive an error. The workaround is to call the API with th

[2022-10-20 14:48] sumanmukherjee03 commented on #1644
Thanks for reopening this.

[2022-10-20 14:53] MrJW27 commented on #1428
@AjayTripathy & @Adam-Stack-PM  - Do we have an update on this?

[2022-10-20 20:04] mmurph3 opened #1751 "Ability to drill into "No Account" Asset in assets page"
**What problem are you trying to solve?**
It's currently not possible to drill down into No Account asset when aggregating by Account in assets page.
![](https://user-images.githubusercontent.com/36980248/197046929-ad8a3140-8386-4389-9f89-523462688502.png)

**Describe the solution you'd like**
Capability to drill down to see what resources aren't tied to an account whether it'd because the account

[2022-10-21 02:31] dwbrown2 commented on #1751
@nikovacevic would this go away all together with new Asset store?

[2022-10-21 16:52] dwbrown2 commented on #1748
+1, seems like a no brainer to me. @AjayTripathy have a sense for difficulty?

[2022-10-21 16:56] AjayTripathy commented on #1740
Hi @cwitthaus sorry for the late response-- @nealormsbee is OOO. I'll go through patch notes to make sure they reflect reality. Swapping in the right helm chart into the tarball is probably wrong at this point-- we are going to fix our build process in the upcoming releases (scheduled for next week) to ensure this doesn't happen again.

[2022-10-22 20:37] Adam-Stack-PM commented on #1545
@zorrobyte, If you hear of more customers experiencing this issue, please let us know.

[2022-10-22 21:47] Adam-Stack-PM commented on #1737
CC: @dwbrown2 interesting idea here.

[2022-10-24 01:29] dwbrown2 commented on #1737
+1, what step sizes seem most valuable? daily, weekly, and monthly?

[2022-10-24 01:34] AjayTripathy commented on #1751
I don't think it will. In general we have created != filters in order to support this usecase and think we should follow through.

[2022-10-24 03:35] AjayTripathy commented on #1716
@jjarrett21 was what @ivankube said missed in https://github.com/kubecost/cost-analyzer-frontend/pull/1123 or did that build just not make it to that cluster/nightly? Can you take a quick look since neal is out?

[2022-10-24 04:35] AjayTripathy commented on #1739
@keithhand if you can access the namespace you can essentially access the data by exec-ing into the pod so tend to agree with @dwbrown2 here that this needs to happen at the k8s rbac level.

@clekas-fff -- you can view /etl/status at this endpoint but more coming soon!

[2022-10-24 05:40] AjayTripathy commented on #1750
Hi @Atinlay thanks for this report. Assigning to @Adam-Stack-PM  for triage, seems like a good candidate for v1.99

[2022-10-24 05:41] AjayTripathy commented on #1748
Doesn't seem too hard. Tagging as a candidate for v1.99 cc @Adam-Stack-PM

[2022-10-24 05:43] AjayTripathy commented on #1742
I support this and like the proposed solution @thomasvn , this feel like something you can pick up for v1.99? adding the label and cc-ing @Adam-Stack-PM

[2022-10-24 11:38] merlineus opened #1753 "Kubecost v1.97 doesn't work on K8S 1.25 (v1.98)"
Hello. Seems that Kubecost doesn't support K8S 1.25.

**Describe the bug**
After deployment cost-model fail it's readiness probe. In logs there is an error:
`E1024 09:07:56.918373       1 reflector.go:138] pkg/mod/k8s.io/client-go@v0.20.4/tools/cache/reflector.go:167: Failed to watch *v2beta1.HorizontalPodAutoscaler: failed to list *v2beta1.HorizontalPodAutoscaler: the server could not find the re

[2022-10-24 12:36] derekhawkesworth commented on #1737
Yes daily/weekly/monthly seems good, hourly can be useful but not as important as the others.

[2022-10-24 13:43] mbolt35 commented on #1743
We support ipv6 routes. @mKeRix Is there a reason you think this isn't the case?

[2022-10-24 13:45] mbolt35 commented on #1720
@jcharcalla Sounds like a pretty custom setup. Prometheus operator? Can you get their helm values?

[2022-10-24 14:35] AjayTripathy commented on #1753
Thanks for this @merlineus !
Here's the open issue: https://github.com/opencost/opencost/issues/1440

[2022-10-24 14:58] merlineus commented on #1753
Thanks, @AjayTripathy, let's switch to the opencost issue, this could be closed probably.

[2022-10-24 15:01] Adam-Stack-PM commented on #1753
@merlineus, For tracking with the engineering team, let's keep it open for now and I will once it is fixed. Thank you for the help.

[2022-10-24 15:12] merlineus commented on #1753
Welcome. Do you have an ETA for fix?

[2022-10-24 15:38] nimish22 commented on #1748
+1, This is a feature multiple users in our organization have requested. Thank you.

[2022-10-24 15:39] AjayTripathy commented on #1716
Hey @ivankube can you try to deploy the latest nightly and confirm what you're seeing?

[2022-10-24 16:13] jerwen opened #1754 "Metric `node_total_hourly_cost` provides underestimated value compared to Azure effective unit price"
# For reproducible bugs, please provide the following
**Describe the bug**

After configuring the Rate Card API and Azure cloud integration, I noticed that the metric `node_total_hourly_cost` was giving underestimated value, compared to effective unit Price found on my Azure bill.

**To Reproduce**

Steps to reproduce the behavior:

1. Configure Rate Card API
1. Configure Azure Cloud integration
1

[2022-10-24 16:14] dwbrown2 commented on #1754
@jerwen do you have an EDP, reserved instances, or anything else applied to these?

[2022-10-24 16:17] dwbrown2 commented on #1754
Also, where are you getting effective pricing because I'm not seeing list prices match. Here's one example:

<img width="1327" alt="image" src="https://user-images.githubusercontent.com/298359/197575305-3c1f1fd7-f120-4e46-8441-d8ff3ba67c90.png">

[2022-10-24 16:19] thomasvn commented on #1742
Thanks for the feedback @dwbrown2 and @AjayTripathy! Yep this is something I can work on for v1.99!

[2022-10-24 16:49] dwbrown2 commented on #1675
@burkeshartsis looks like this is fixed in new UI! That sound right?

[2022-10-24 17:08] mmurph3 commented on #1340
Customer unable to get this working with annotation/label filtering. Per the docs/examples[1], we see the examples are specific to cluster and namespace. Do we have a known working config example for annotation and labels? Do we need to escalate this to Engineering? Customer also noticing that the wildcards aren't working. Attaching an example of their config.

[1] https://github.com/kubecost/poc-

[2022-10-24 17:16] thomasvn opened #1755 "Compare efficiency between two date ranges"
### What problem are you trying to solve?
I'd like to compare Kubecost's efficiency metric between two different date ranges. For example, what was our average efficiency for the "App1" namespace in Q3 of 2022 versus Q3 of 2021?

### Describe alternatives you've considered
One existing solution is Kubecost's existing chart to show "Efficiency over time". This is helpful in understanding how effici

[2022-10-24 18:21] #1694 closed

[2022-10-24 18:22] AjayTripathy commented on #1694
Closing in favor of bugs on our end to help the UI

[2022-10-24 18:27] AjayTripathy commented on #1431
I believe this should be fixed by changing the deployment strategy to rolling update. Let's try and get this verified once v1.98 is released.

[2022-10-24 18:44] jessegoodier commented on #1716
will leave this up permanently:
https://nightly-subpath.kubecost.xyz/kubecost/
seems broken still?

[2022-10-24 19:02] ivankube commented on #1716
@AjayTripathy I tested with the latest nightly frontend[ image]( gcr.io/kubecost1/frontend-nightly:e220762) and got the same error as Jesse - 404:

[2022-10-24 19:03] mmurph3 commented on #1572
+1

[2022-10-24 19:18] mmurph3 commented on #1572
Customer feedback: Feature for adding groups of annotations/labels to RBAC filter groups in assets and allocations page. This is a blocker in prod.

[2022-10-24 21:29] ddl-wasanthag commented on #1716
+1 @ivankube I see still see the same broken behavior.

[2022-10-24 22:03] akramwaseem commented on #1742
+1, This is something we need as well. This is causing lot of duplicates on metrics as well and adding our own custom config or scrape config seems more resource intensive and have to maintain in the long run.

[2022-10-24 23:57] LaikaN57 opened #1758 "Allow use of `config.prefix` in `kubecostModel.etlBucketConfigSecret` secret by bumping to Thanos 0.27"
**What problem are you trying to solve?**

I am trying to have multiple clusters backup ETL data to the same S3 bucket using `kubecostModel.etlBucketConfigSecret`. However when using a secret like this:

[code]

I get the following warning:

[code]

However if we look at similar documenation to the [doc referenced](https://guide.kubecost.com/hc/en-us/articles/4407601811095-ETL-Backup#:~:text=This%

[2022-10-24 23:57] LaikaN57 commented on #1758
I am not 100% sure if this is the correct repo top open this issue against. If there is a better place, please LMK.

[2022-10-25 00:07] LaikaN57 commented on #1758
...and just to confirm, I also tried moving the `prefix` key up a level (as it was in the doc example originally) and got the same warning:

[code]

[2022-10-25 00:43] AjayTripathy commented on #1716
@jjarrett21 can you take another look?

[2022-10-25 08:11] tohjustin commented on #1722
@AjayTripathy @Adam-Stack-PM I've discussed with my team & seems like the fix mentioned in https://github.com/kubecost/cost-analyzer-helm-chart/issues/1722#issuecomment-1274542965 wouldn't be useful for us if the RI savings aren't reconciled.

Instead of the proposed fixed above, would it be possible to just allow the AWS Pricing API endpoint to be configurable via some Helm Chart value or Environ

[2022-10-25 09:54] BenCoughlan15 commented on #986
Hey @biancaburtoiu - I've seen release 1.98 rc1 has gone in, do we still expect to ship this feature with 1.98?

[2022-10-25 10:39] tohjustin opened #1759 "Allow "Unmounted PVs" costs in allocation view to be aggregated by namespaces"
**What problem are you trying to solve?**

* If a PV is dynamically provisioned by a PVC in Namespace A
* The PV isn’t mounted by any pods in Namespace A
* Kubecost allocates the cost of such unmounted PVs under a cluster-wide group called “Unmounted PV” on the /allocations page

In order to implement proper PV cost chargebacks on our tenants, we need to be able to aggregate such cost by namespace

[2022-10-25 11:46] mikementzmaersk opened #1760 "What does 'SummaryAllocation: detected invalid sharing coefficient' mean?"
Really like the product !
Just a quick query, we are seeing this warning message and would like a hint as to what it might mean?

WRN SummaryAllocation: detected invalid sharing coefficient for CLUSTER1//rook-ceph/csi-cephfsplugin-wbks4/driver-registrar: 0

I wondered if the two slashes after cluster_id were anything or not - just looked odd..

[2022-10-25 11:56] biancaburtoiu commented on #986
Hi @BenCoughlan15, thank you for checking in! That's right, this feature is part of the rc1 and is on track to be included in 1.98. Please let us know if you are able to set it up and whether you've encountered any issues along the way!

[2022-10-25 12:56] jessegoodier opened #1761 "cluster-sizing fails when missing data for a single cluster, even if other clusters have data"
**Describe the bug**
Note: I believe this is what is going on, but it is may be something else entirely. This is for a customer, but I am able to reproduce.

When kubecost doesn't find data for a cluster on the cluster-sizing, it does not allow ANY cluster to display.

[code]

For customers that already have multi-cluster aggregated metrics, these means that the page will not work until every sing

[2022-10-25 13:31] jessegoodier commented on #1761
closing as this is a duplicate of https://github.com/kubecost/kubecost-cost-model/issues/961

[2022-10-25 13:31] #1761 closed

[2022-10-25 13:55] BenCoughlan15 commented on #986
Awesome, thanks, I'll give it a whirl :)

[2022-10-25 14:22] praveenkumar0566 commented on #1690
I am closing this ticket, The user has the details on the difference b/w the old and new API and is ok to close the ticket.

[2022-10-25 14:22] #1690 closed

[2022-10-25 14:57] AjayTripathy commented on #1722
That makes sense to me. Is that preferred over dropping the whole API as a JSON object into the pod?

[2022-10-25 16:48] ivankube commented on #1716
@jjarrett21 please use non-root ingress for repro.

[2022-10-25 17:31] mKeRix commented on #1743
My believe is based on the `kubecost_pod_network_egress_bytes_total` metric not being reported by the network cost container, as well as the following reported log output:

[code]

As suggested, I went onto the node directly to check conntrack there. Since the OS is Bottlerocket, I ran the following commands:

[code]

The output included IPv6 addresses, such as:

[code]

Is there anything else I c

[2022-10-25 18:11] nadellavamsee commented on #1403
Is there any fix available for the container securityContext readOnlyRootFilesystem: true issue?
seeing these errors, while trying to deploy kubecost-cost-analyzer deployment.

kubectl logs deployment/kubecost-cost-analyzer -c cost-analyzer-frontend -n nms-kubecost
/docker-entrypoint.sh: /docker-entrypoint.d/ is not empty, will attempt to perform configuration
/docker-entrypoint.sh: Looking for sh

[2022-10-25 18:31] AjayTripathy commented on #1428
@jcharcalla can you check what version your customer is running on? This is fixed in kubecost itself, just not in the bundled grafana. We may want to upgrade our bundles grafana to get rid of this altogether.

[2022-10-25 19:52] jcharcalla commented on #1428
Their latest bug report has them at 1.97, I've asked if they are still seeing the error in relation to Grafana. Will update when they reply.

[2022-10-25 20:07] ivankube commented on #1716
It seems like `biancaburtoiu/jj-new-details-path` fixed the issue. I don't receive 404 anymore. I'd wait for another confirmation though.

[2022-10-25 20:27] Adam-Stack-PM commented on #1753
@merlineus After researching this issue, the goal is to get this into v1.99, witch should be released around December 6th.

@srpomeroy, Michael mentioned you may have some ideas on possible work arounds?

[2022-10-25 20:28] Adam-Stack-PM commented on #1716
Jesse tested and confirmed the fix.

[2022-10-25 20:31] jessegoodier commented on #1716
Nice work team!

[2022-10-25 20:46] michaelmdresser commented on #1753
Oh shoot, my bad here tagging in Sean P. This is actually a dupe of https://github.com/opencost/opencost/issues/1440. Sean has a workaround I think for a (separate) v1.25 issue that is specific to the Helm chart: PodSecurityPolicy removal. Sorry Adam!

[2022-10-25 20:50] Adam-Stack-PM commented on #1605
Fixed in v1.98

[2022-10-25 20:50] #1605 closed

[2022-10-26 15:07] AjayTripathy commented on #1716
(FYI this will be fixed in v1.98-rc.2+)

[2022-10-26 15:55] michaelmdresser commented on #1753
We now have an open PR that should resolve this issue: https://github.com/opencost/opencost/pull/1452.

@Adam-Stack-PM would you please help coordinate whether or not this change should be cherry-picked into the ongoing v1.98 release?

[2022-10-26 16:11] #1753 closed

[2022-10-26 16:16] michaelmdresser commented on #1753
PR for cherry-picking into v1.98 of Kubecost, if desired: https://github.com/opencost/opencost/pull/1453. My availability will be spotty for the rest of this week, so please feel free to close or merge that PR depending on if we want this fix in v1.98 of Kubecost.

[2022-10-26 17:12] mmurph3 commented on #1580
do we have a status update on this?

[2022-10-26 19:10] Adam-Stack-PM commented on #1670
@dwbrown2, Would love your product input on this issue.

[2022-10-26 20:31] keithhand opened #1765 "Ensure that label aggregation properties are populated in final aggregation items"
**What problem are you trying to solve?**
When viewing a report based on labels, if you select more than one aggregation type, the label can be dropped from the `properties` section of the API response. This will happen if the second aggregation type doesn't include the same label, even if the aggregation might match.

**Describe the solution you'd like**
If you have a report based on an aggregate

[2022-10-27 17:11] dwbrown2 commented on #1580
Beginning design discussions early next week as part of advanced reports improvements! There's a chance this effort spans multiple releases, but we will update during 1.99

[2022-10-27 17:52] kirbsauce commented on #1758
Hi @LaikaN57!  Sorry for the delayed response.  We're in the process of triaging this enhancement request and, in parallel, trying to determine if there is any workaround for you.

[2022-10-27 17:58] LaikaN57 commented on #1758
@kirbsauce No worries. My current workaround is just to use multiple buckets. This is a bit annoying but works well enough for my use-case.

At minimum, if you/your team could just advise if this issue can be solved with just a version bump of some dependency or if this requires far more work, that will help me plan a possible re-arch timeline on my side. Thanks!

[2022-10-27 19:07] nealormsbee commented on #1675
Yes! This is fixed for the old and new Assets pages in v1.98, using Sets to ensure we don't get multiple disagreeing values for hardware specs. My mistake not tying the fix commit to the issue! Closing.

[2022-10-27 19:07] #1675 closed

[2022-10-27 19:07] #1644 closed

[2022-10-27 19:53] thomasvn commented on #1758
Hi @LaikaN57! Thanks for bringing this up! I agree that it would be convenient to have the `prefix` key so that all ETL backups can be managed in a single bucket.

I believe your recommendation is correct! This issue could probably be solved with a version bump.

Currently our Thanos subchart is on v0.24 [as shown here](https://github.com/kubecost/cost-analyzer-helm-chart/blob/56b880ce2bd4c2092648

[2022-10-27 20:58] kaelanspatel commented on #1740
Tested with the newest rc, looks like this specific example no longer happens.
[code]
We probably want to understand what exactly went wrong here (cc @nealormsbee, maybe just some Github Action weirdness?) but for now it seems to be working as intended.

[2022-10-27 21:04] nealormsbee commented on #1740
@kaelanspatel I believe the discrepancy came from the fact that, after the GH Actions are done opening PRs, creating tags, etc, we built the tarball from the helm chart, using a script that is not part of a GH action. For that step, I used the Helm chart's `master` branch rather than the `v1.97.0` tag. I had thought they should be identical, but there's some long-standing strangeness where we get

[2022-10-27 21:58] dwbrown2 commented on #1670
Thanks guys! Can you share a bit more on why this is annoying? Are these 1000 pods not all part of the same deployment? Are you trying to set different requests across pods within a deployment? How would you be doing that?

You should already be able to filter by cluster, deployment, service and more. Are those not meeting your needs?

+1 on custom date ranges! cc @michaelmdresser as FYI

[2022-10-27 22:52] dwbrown2 commented on #1751
I don't disagree, but do we know why something has no account this scenario?

@nealormsbee Looks like new filters UI doesn't support the use of != yet. That right? That would help us investigate my previous question.

[2022-10-27 23:08] Adam-Stack-PM commented on #1724
@dwbrown2, @AjayTripathy  After researching, Kaelan and I think this item got dropped when the settings page got converted.  Marking it P0 for v1.99 for the FE team.

[2022-10-27 23:38] LaikaN57 commented on #1758
Ah ok, this seems to clear things up a bit. I wasn't sure if the config was actually going to thanos. The kubecost docs seemed to indicate that the config was just "thanos-like" in schema (and presumably picked up by some other thing for use). But yeah if this is just going to thanos then that might open up some options for me.

[2022-10-28 03:42] nealormsbee commented on #1751
@dwbrown2 it's true; we have not migrated the frontend's logic to use the new filters API, so we don't support things like `!=`.

In addition to `!=`, I don't *think* we have a good way, with the old filters API, to ask for items where a given field is `null` or `""`. Passing e.g. `?filterAccounts=`, the filter is simply ignored. Something like `Account != *` or `!Account` in the new syntax will l

[2022-10-28 16:40] dwbrown2 commented on #1751
Would it make sense to pick this up when @nikovacevic and @Sean-Holcomb have their new API?

[2022-10-28 17:08] kaelanspatel commented on #1740
After talking with Neal, this was probably just a one-off issue in the v1.97.0 build. I'll take a few steps to verify correctness for the v1.98.0 release, but it seems to be working in general.

[2022-10-28 23:29] nikovacevic commented on #1644
@sumanmukherjee03 apologies for the quick fix-and-regression here. (Not that it matters why it happened, but we initially patched a soon-to-be-deprecated code path, which was swiftly replaced with a new filtering package... that brought the bug back.)

v1.98, which we aim to release early next week, will contain the fix. Appreciate your patience, and will look forward to checking in with you after

[2022-10-28 23:32] AjayTripathy commented on #1760
Mike, thanks so much for the feedback. I believe this means we weren't able to compute a coefficient for the total cluster costs, possibly because kubecost was installed recently and we're missing historical data.

@nikovacevic  am I on the right track? can you help clarify what this means?

[2022-10-28 23:45] nikovacevic commented on #1751
So, first thing is -- this is almost certainly your Kubernetes spend. I don't think we attribute Account to nodes, disks, etc. Yo ucan see this clearly on my cluster e.g. http://kubecost.nikovacevic.io/assets?agg=account&context=W10%3D

So one thing is figure out how to do that.

Then, in terms of "!=" filters, we can totally implement those. But today they only exist for Allocation API. So we'd s

[2022-10-28 23:46] nikovacevic commented on #1751
And to address your point directly, @dwbrown2... if my hypothesis is correct, then our API won't necessarily solve this, but splitting the views into "Kubernetes Assets" and "Cloud Costs" will make it very clear what's happening.

[2022-10-29 00:05] nikovacevic commented on #1760
@AjayTripathy is correct that we weren't able to compute a coefficient -- but it appears to actually be much simpler than that. The `0` at the end of the log indicates that the cost of the container was $0.00, and we log if the coefficient is not `> 0.0`. (The coefficient is `container cost / cluster cost`` or `container cost / node cost`.) We should just disable the log for coeffs == 0.0.

[2022-10-29 00:06] AjayTripathy commented on #1760
Great find!!

[2022-10-29 01:59] AjayTripathy commented on #1751
We are not entirely certain, but per @Sean-Holcomb if you don't place your account in helm configs for a multicloud setup, we aren't able to pull the account through. Not sure if there's another solution to that issue-- care to elaborate there Sean?

[2022-10-31 03:02] tohjustin commented on #1722
Hi @AjayTripathy, this would be much preferred over dropping the whole API as a JSON object into the pod - implementing a proxy for the pricing API on our end is a tradeoff would like to take as we prefer reconciliation to be supported since day one. 😅

[2022-10-31 14:17] jessegoodier commented on #1744
for monthly costs: our overview could default to reconciled costs only?

![image](https://user-images.githubusercontent.com/31039225/199027534-2ab632a6-a91e-45f0-bdfe-7fce6c46cd8e.png)

Image is of a large gcp account.

[2022-10-31 14:48] akramwaseem commented on #1670
@dwbrown2  -- We have more than 10 teams using the Kubernetes clusters. And more than 100 deployments which are unique on there own.
If some deployments are new and maybe running for couple of weeks, so to look at the efficiency recommendations, we either have to do 2 days 7 days or 30 days.

How can I look at the whole run period of the deployment (In this case 2 weeks )? This might help get prop

[2022-10-31 18:10] nikovacevic commented on #1760
Tackling this now.

[2022-10-31 18:45] AjayTripathy commented on #1758
Great candidate for 1.99, thank you for investigating. @thomasvn , can you just make the changes in the helm chart soon and we'll roll them out to nightly to let them bake?

[2022-10-31 18:54] AjayTripathy commented on #1734
I totally think request size * projected rate is a great start. Over time, I think we will potentially want to account for stuff like taints/tolerations, savings plans, RIs, spot, etc.

Increasingly, it seems like people want forecasting tools on their own pages, which I support.

[2022-10-31 18:56] AjayTripathy commented on #1403
@jessegoodier  (nginx expert) was this already fixed/care to comment quickly?

[2022-10-31 19:01] #1760 closed

[2022-10-31 19:33] jessegoodier commented on #1403
For the openshift install that has some of the changes, we did not do anything regarding the request here for a readOnlyRootFilesystem

For frontend: this still needs some templating, but works:
https://github.com/kubecost/cost-analyzer-helm-chart/commit/a77c1f01f2194ced38dd7094f9368ffda1281f89

I did not test readonlyfilesystem for cost-model

[2022-10-31 21:15] Dima-Diachenko-work opened #1770 "Issue with OIDC authorisation for Azure setup"
**Describe the bug**

I spent maybe 4 hours but did not configure the OIDC authorization for Azure setup.
I found [this feature request ](https://github.com/kubecost/cost-analyzer-helm-chart/issues/1371) and it still is open.
But also in the default values you have the OIDC section:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/56b880ce2bd4c2092648a446ff6110c02ccf0592/cost-analyzer/val

[2022-11-01 13:11] bwagner3slb commented on #1430
I am having this issue currently.  The rate card does not connect as shown in the screen snapshot above.  When I add kubecostProductConfigs.cloudIntegrationSecret and kubecostProductConfigs.serviceKeySecretName the mounts never get created in the output from the Helm command.  running "helm template -f ./my-values-aks.yaml . "  with this in the my-values-aks.yaml

[2022-11-01 16:37] AjayTripathy commented on #1759
I think this needs some investigation since we don't necessarily have the data of who provisioned a PV, just that the PV exists and hasn't been mounted. That being said I am going to add it to the v1.99 proposal, though it needs some scoping.

[2022-11-01 20:28] michaelmdresser opened #1773 "Installing Kubecost on K8s v1.25 clusters fails due to PodSecurityPolicy"
## To reproduce

Create a K8s v1.25 cluster with K3d:
[code]

Confirm version:
[code]
[code]

Try to install the latest version of Kubecost (v1.98.0-rc.3):
[code]
`Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "PodSecurityPolicy" in version "policy/v1beta1"`

## Expected behavior
Kubecost installs successfully on the K8s v1.25 cluster

[2022-11-01 20:29] michaelmdresser commented on #1773
Related to https://github.com/kubecost/cost-analyzer-helm-chart/issues/1493

[2022-11-01 20:44] lgmorand commented on #1773
+1. was coming to create a bug too.

[2022-11-01 21:13] AjayTripathy commented on #1773
My suggestion is we document and make clear the workaround for v1.98 and implement it seamlessly in v1.99 since we probably need to give folks adequate warning before turning off PSPs, and most people on cloud providers are not yet on v1.25.

[2022-11-01 22:53] michaelmdresser commented on #1773
We've also had a request that we place PSPs with SecurityContext constraints where appropriate, but I'm not sure how applicable they are -- I'm not familiar with our existing PSPs. Just noting for the record!

Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

cc @srpomeroy

[2022-11-01 22:55] michaelmdresser commented on #1773
There is also an alternative workaround that (might?) not disable Grafana in the process:

[code]

Haven't tested personally yet.

[2022-11-02 09:41] jerwen commented on #1754
Hello @dwbrown2 , sorry for the delay, I didn't receive notifications on your reply.

We do not have reserved instances. We are on Pas as you go plan and the region is "France Central".

And I can confirm that the pricing match at least for the D2s v4 instance type
<img width="1313" alt="Capture d’écran 2022-11-02 à 10 40 03" src="https://user-images.githubusercontent.com/20145870/199456465-cce1

[2022-11-02 12:37] jerwen commented on #1754
@dwbrown2 After doing some comparisons between the values I'm receiving from the metric and the pricing for the `North Central US` region, I found that they're actually pretty close.
This finding leads me to think that there, maybe, is a misconfiguration on the region for the part that's generating the metric value.

[2022-11-02 12:47] jessegoodier commented on #1744
More detail regarding the image above:
You can see the Kubernetes costs are $5.82k in the top right. But if you look at the cluster trends, clearly the estimate should be much lower because the current/previous day have not been reconciled yet.

[2022-11-02 13:47] Adam-Stack-PM commented on #1730
ok to close?

[2022-11-02 16:37] nickolaskraus-wf commented on #1569
As a side note, if Grafana is disabled (`global.grafana.enabled=false`) and `global.grafana.proxy=true` (which is the default), the cost-analyzer-frontend will crashloop:
[code]
As @AjayTripathy, stated, you need to set `proxy=false` when disabling Grafana.

[2022-11-02 16:41] NickolasHKraus commented on #1569
As a side note, when disabling Grafana (`global.grafana.enabled=false`) if `global.grafana.proxy=true`, which is the default, the cost-analyzer-frontend Pod will crashloop:
[code]
As @AjayTripathy stated, you need to set `proxy=true`.

[2022-11-02 19:14] Adam-Stack-PM commented on #1770
@Dima-Diachenko-work, Apologies for the delay. Working to get this routed to an Engineer. We will update this ticket shortly.

CC: @AjayTripathy, @dwbrown2

[2022-11-02 23:59] jcharcalla commented on #1428
Here is an excerpt from the customer cloudtrail log, It looks to be related to the network-costs pod.

[code]

Looking at the [AWS docs](https://docs.aws.amazon.com/eks/latest/userguide/service-accounts.html) I see that "Go version `0.15.7` and later" is required. [Cost-model](https://github.com/kubecost/kubecost-cost-model/blob/0f7e2058f1b1bbb5bb7b86f50404fecf2d6a07a6/go.mod#L9) is at `v1.16.2`,

[2022-11-03 13:49] jessegoodier opened #1779 "/spot 500 error: error performing cluster sizing for spot-ready workload"
500 error on

[code]

link to HAR: <https://kubecost.slack.com/files/U0325HCDR17/F0499RDB9B6/spot_instances_500.har>

**To Reproduce**

I have not reproduced this error. This is for the same customer in the issue here: https://github.com/kubecost/cost-analyzer-helm-chart/issues/1761

Essentially, Kubecost is not running on all clusters that are in the aggregated Prometheus metrics (cortex).
Though

[2022-11-03 17:16] jessegoodier commented on #1656
I have had a couple more customers ask for this. a node label exists in all known providers:
` topology.kubernetes.io/region`

[2022-11-03 17:51] michemoche opened #1781 "Network cost metrics or cost not working"
Hello !
I'm struggling for severals days now about network costs
I think I've set the values.yaml section right (cf code snippet below), I have all DS/pods deployed on each nodes, and the logs show some traffic
But ! I don't see anything regarding internet traffic, either in the prom metrics or the cost in the allocation page...
I'm sure something is missing somewhere but I'm reaching a point wher

[2022-11-03 19:17] kirbsauce commented on #1781
Hi @michemoche !  Sorry to hear you're running into issues, but we're here to help.  If it's not too much trouble, can I ask you to re-post this via email to support@kubecost.com?  This will allow us to better assist you w/out the need to post any sensitive information here on GitHub.

[2022-11-03 19:30] keithhand opened #1782 "Advanced report asset breakdown include Kubernetes for __unallocated__"
**Describe the bug**

When trying to analyze external cost allocation, I noticed there is a line item for the `__unallocated__` external breakdown for "Kubernetes". Primarily looking for an explanation as to what this would be referring to, as all of the Assets marked with the "Kubernetes" service type are generally metrics directly from Kubecost.

**To Reproduce**

Steps to reproduce the behavior

[2022-11-03 19:32] michemoche commented on #1781
sure ! I'll do it right away :)

[2022-11-03 19:32] #1781 closed

[2022-11-03 19:38] mmurph3 commented on #1574
Another customer needing this. Including RBAC with filtering for labels and annotations. tix # 2877

[2022-11-03 19:42] mmurph3 commented on #1460
Why does the customer need this? (List the business requirements here)
This is a handy feature for increasing observability. For example, we can configure daily reports sent to leads of different teams with the related resources, and they can observe their cost usage without directly interacting with Kubecost. It is much better than current Kubecost's reporting system. It only sends the text data

[2022-11-03 19:59] mmurph3 opened #1783 "Build Reports/Send Alerts and Export capability with data from each sub page under Savings page."
**What problem are you trying to solve?**
Reporting, exporting and sending capabilities in each of the sub pages under savings page.

**Describe the solution you'd like**
Same functionality available in cost allocation, assets and alerts page but for savings page.

**Describe alternatives you've considered**
Giving kubecost access to various teams/people wanting to see savings page and recommendat

[2022-11-03 20:04] kirbsauce commented on #1781
Thanks so much @michemoche !  I'll close this issue out as we collaborate elsewhere.

[2022-11-03 20:09] kc-creynold commented on #1783
this came up on a customer call the other day as a needed feature

[2022-11-03 21:13] srpomeroy commented on #1700
The @kubecost/solutions-engineers team typically modifies ETL settings on secondary clusters to minimize the resource footprint. With this new functionality, will we have to re-enable ETL on secondaries?

[2022-11-03 21:15] Adam-Stack-PM commented on #1765
@keithhand, I Want to make sure im clear. Does this relate to when you view a saved report or when you use the allocation view regardless if you have the view/report

[2022-11-03 23:28] linhlam-kc opened #1784 "[Bug] remote_write is set statically in Prometheus's server_configmap.yaml"
---
# For reproducible bugs, please provide the following

**Describe the bug**
From an enterprise customer in the ticket https://kubecost.zendesk.com/tickets/2937

[code]

In short, the `remote_write` is set statically in [server_configmap.yaml version: 1.98](https://github.com/kubecost/cost-analyzer-helm-chart/blob/releasebot/master-release-v1.98.0/cost-analyzer/charts/prometheus/templates/serve

[2022-11-03 23:38] AjayTripathy commented on #1770
Hi Dima, here are some docs for OIDC integration:  https://docs.google.com/document/d/1h5xkXXp73qJLferxe-ShXjZAIyRrTy2uzoTOMT54HCE/edit

I believe Azure has been tested, however there were a few OIDC issues that are resolved in v1.98 (https://github.com/kubecost/cost-analyzer-helm-chart/issues/1605), so perhaps with the upgrade and the docs this should work.

[2022-11-04 15:33] jcharcalla opened #1785 "Add the ability to set request-sizing profile default values in the helm chart"
**What problem are you trying to solve?**
This request came from speaking with a customer. While we have added a ["custom"](https://github.com/kubecost/cost-analyzer-frontend/pull/906) profile which allows users to create a custom CPU and Mem range, they would like the ability to set the defaults for the `high-availability`, `production`, and `development` profiles. Preferably this would be done v

[2022-11-04 15:35] dwbrown2 commented on #1783
Starting to dig into reports/alerts in 1.99 and I suspect will be ready to focus here in the following release.

Any detailed use cases or specific personas that either of you have heard?

[2022-11-04 15:54] dwbrown2 commented on #1460
Exploring this now for 1.99 release! cc @teevans

[2022-11-04 16:02] biancaburtoiu commented on #1779
@jessegoodier thanks for your patience here!

As part of the spot cluster sizing API call (`/savings/spotChecklistClusterSizing`) we run an asset query (aggregated by cluster) to obtain the cost of all nodes in the cluster in the given time window. We then use this value to derive an estimated monthly cost.

The error returned here indicates that no nodes were found for `cluster-one` in the query

[2022-11-04 17:28] kc-adawson commented on #1754
I have deployed an Azure cluster in France Central and I see the following in the Kubecost azurenodepricing.json which is similar to the original post. in this thread: "d2sv4": 0.096,

On my test France Central cluster, I'm running Standard Ds2v2 nodes, which I see in the Kubecost azurenodeprices.json as "ds2v2": 0.114, but I see it on the Azure pricing calculator as $0.175/hour.

<img width="637"

[2022-11-04 17:59] thomasvn opened #1787 "Reintroduce `gpuRequestAverage` and `gpuUsageAverage` to the Allocation API Schema"
### What problem are you trying to solve?
Currently when calling the Allocation API (example below), we are only returned `gpuCount`, `gpuHours`, `gpuCost`, and `gpuCostAdjustment`.

To get a better understanding of how the GPUs are actually used, it would be nice to add `gpuRequestAverage` and `gpuUsageAverage` to the Allocation API Schema (similar to how `cpuCoreRequestAverage` and `cpuCoreUsage

[2022-11-04 20:05] MrJW27 commented on #1572
@mmurph3  - Is working to reproduce this issue, and we should have updates within a week or so

[2022-11-05 12:20] Dima-Diachenko-work commented on #1770
@AjayTripathy could you please share with me access to this document? I requested it a few days ago. Or just add me using my e-mail: ddiachenko@emergemarket.com.

Also, I will try the solution from https://github.com/kubecost/cost-analyzer-helm-chart/issues/1605 and provide you feedback.
Many thanks for considering my request!

[2022-11-07 12:07] fungiboletus commented on #1773
I have and it works well. Thanks.

[2022-11-07 14:22] mmurph3 opened #1790 "Lower memory consumption of network-cost daemonset"
**What problem are you trying to solve?**
A lot of network traffic is being monitored and the driving force of costs within org. It's not cost effective to run the network-cost daemonset because it's ~2,000 euros/week to run this. It is need however to identify spend and inefficiencies accurately among different teams.

**Describe the solution you'd like**
Lower memory consumption by only mapping

[2022-11-07 14:47] mmurph3 commented on #1790
<img width="1211" alt="Screenshot 2022-11-03 at 2 24 30 PM" src="https://user-images.githubusercontent.com/36980248/200339078-e8eac3e5-c6bb-45eb-8b73-9d5711cea2d8.png">

[2022-11-07 15:56] myrthebil opened #1791 "Divide sharedOverhead/sharedNamespaces/sharedLabels proportionally"
**What problem are you trying to solve?**
We would like to divide sharedOverhead/sharedNamespaces/sharedLabels proportionally over our aggregation by owner. This way our larger fish owners can carry some weight for the smaller fish in our pond.

**Describe the solution you'd like**
We are looking for a way for the costs defined in sharedOverhead to be divided proportionally over our aggregation by

[2022-11-07 16:48] kc-adawson commented on #1754
Further Interesting data - the pricing seems to match East US 2 and West US 2 Pricing, as shown below, even though the region is France Central

<img width="205" alt="2022-11-07_11-48-20" src="https://user-images.githubusercontent.com/101200254/200367156-4345caaf-ab8f-4891-9427-d929807f8fcb.png">

<img width="637" alt="2022-11-04_13-25-54" src="https://user-images.githubusercontent.com/101200254/2

[2022-11-07 16:53] dwbrown2 commented on #1593
@AjayTripathy was able to pick this up. Backend PR currently outstanding. Currently expected in 1.99.

@AjayTripathy can you share info on parameters supported?

cc @teevans would now just need a minor FE change.

[2022-11-07 17:52] nikovacevic commented on #1580
@Adam-Stack-PM looks to me like this is not related to Alibaba. Likely meant to be linked to https://github.com/kubecost/kubecost-cost-model/issues/1053

[2022-11-07 18:02] AjayTripathy commented on #1724
While this isn't on the /settings page, this is at least working again on the /diagnostics page for 1.96+

[2022-11-07 18:26] srpomeroy commented on #1758
Do we run Thanos in nightly?

[2022-11-07 23:05] Adam-Stack-PM commented on #1743
@mKeRi, Apologies for the slow reply.

We had a few people out the last few weeks. I am getting this back on the Engineers radar.

@ajay, could you help me route this to the right person?

[2022-11-07 23:05] DKeeling01 commented on #1498
Hello all -

Just checking in for a status/timeline on this request - I have a customer who is asking for the ability to disable switch context in the UI. They are also having an issue with customers being confused with what the functionality is supposed to be.

Thanks!

Danielle

[2022-11-07 23:20] teevans commented on #1593
@nealormsbee - Mind taking a look at what needs to be hammered out here?

[2022-11-07 23:52] nealormsbee commented on #1593
Sure thing! It seems like we'd just need a per-alert way to set a subject line

[2022-11-08 00:51] AjayTripathy commented on #1593
@nealormsbee https://github.com/kubecost/kubecost-emailer/pull/3 PR here

[2022-11-08 00:53] AjayTripathy commented on #1700
I suspect we'll need to re-enable a very small subset of ETL. Like 3d worth? It will increase secondary usage a bit but not too much.

[2022-11-08 02:18] AjayTripathy commented on #1770
Access shared, sorry for the late response here.

[2022-11-08 02:30] AjayTripathy commented on #1791
@myrthebil have you taken a look at the https://github.com/kubecost/docs/blob/main/allocation.md#querying shareSplit option here? Does that help at all?

[2022-11-08 12:33] kc-adawson commented on #1754
Confirmed many of the rate card entires line up with East US 2 and not France Central - although there are some instance types in the A range that don't match, so its not 100%. Whats the best path to get these rates corrected?

<img width="436" alt="2022-11-08_07-28-29" src="https://user-images.githubusercontent.com/101200254/200564329-72b5fb7b-972a-4cd8-b190-d5bf5f218c44.png">

<img width="240" a

[2022-11-08 15:59] DKeeling01 commented on #1498
Hi all -

Just checking in once again - I have another customer who this time is asking for the switch context feature to include OAuth2 so they can integrate multiple contexts  in different  Azure subscriptions. Any thoughts?

Thanks!

Danielle

[2022-11-08 17:50] keithhand commented on #1782
@dwbrown2, I'm not sure this is actually the case. From what I understand, all of the objects that are tagged with the "Kubernetes" service label should be coming directly from metrics that Kubecost gathers. Anything that is coming from a cost and usage report should have a "cloud-like" service attached to it (EC2, Cloud Storage, Microsoft.Compute, etc.).

[2022-11-08 18:21] cr-benchmarkcorp commented on #1782
A very large Enterprise Customer I am working with needs to aggregate costs at the Kubernetes Cluster level, for Cost Recovery purposes.   This capability (imo) should be 'out-of-the-box' functionality for KubeCost.    This is not happening on Azure and leads to ambiguity and multiple line items in report views.   I would recommend this issue be prioritized at a very high level within KubeCost as

[2022-11-08 19:18] myrthebil commented on #1791
@AjayTripathy thanks, we can definitely use this in the development of our workaround.

[2022-11-08 21:04] dwbrown2 commented on #1754
Sounds like a potential bug, @AjayTripathy @Adam-Stack-PM could you please help triage?

[2022-11-08 21:56] keithhand opened #1796 "Prometheus communication error (Request Entity Too Large) on AMP"
**Describe the bug**
On a cluster using Amazon-managed Prometheus, I am seeing a lot of "Prometheus communication error: 413" and "Prometheus communication error: 422" errors related to the query:

[code]

I believe this comment could be related: https://github.com/kubecost/kubecost-cost-model/blob/fdfc19836d5cf2f6c1f04daac30c2e1c77d49df0/pkg/containerstats/prom/prom.go#L149-L151

**To Reproduce**

[2022-11-08 23:13] AjayTripathy commented on #1787
Just as a note, those aren't standalone; they require deploying a metric collector to run that isn't straightforward. I'm happy to bring those back, just know that getting the relevant exporters running on clusters can be a challenge. I think we can look to bring this back in an alpha state though for v1.99 and provide a guide for spinning up the gpu usage exporters. @kaelanspatel thoughts?

[2022-11-08 23:25] AjayTripathy commented on #1782
Cc @teevans @nealormsbee -- you guys have a handle on this one for v1.99 and the new advanced reports page?

[2022-11-08 23:26] kaelanspatel commented on #1787
Agree for reintroduce, would be nice to support.

Like Ajay says, this was initially designed to use the `DCGM_FI_DEV_GPU_UTIL` metric from the Nvidia DCGM. Old setup document [here](https://docs.google.com/document/d/1fsbV55wTbpfWy4m9_FVETqHgtTMahfUa2w5MzV9gngc/edit). If we find some time, we might want to look at other metrics and/or the state of the DCGM, the `DCGM_FI_DEV_GPU_UTIL` metric was m

[2022-11-08 23:41] teevans commented on #1782
Looping in @nikovacevic because I'm fairly the first run at this api will not include this.

[2022-11-08 23:57] AjayTripathy commented on #1782
Given that we implemented the ability to do a  != filter a drill down here shouldn't be hard to support right?

[2022-11-09 00:09] nikovacevic commented on #1782
I'm still not sure I understand the original ask here. Seems to me that people are expecting all Kubernetes Assets to have a `kubernetes_cluster` label, which is not the case. Furthermore, the new Advanced Reports we're building (i.e. the Allocation External API) will not interact at all with the Assets API -- only the Cloud Costs API.

Happy to help further if I can, but I would need to understan

[2022-11-09 00:46] cr-benchmarkcorp commented on #1782
The desired user experience is to aggregate the TCO of Kubernetes at the Cluster level on Azure.
This does not seem possible today, in a single line item in KubeCost.

[2022-11-09 04:41] AjayTripathy commented on #1428
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1569  related -- once that's closed, this should also be closed, since it's the optional kubecost-grafana that still seems to have this issue

[2022-11-09 12:45] kc-adawson commented on #1754
We had another user contact us about Azure pricing being off - This user had a cluster in Southeast Asia, with rate card configured. I had the user check the `/var/config/nodeprices.json`, and it was the same as the one we are getting for Central France (rates close to East US 2). Seems like some regions are defaulting to an incorrect set of on-demand rates.

[2022-11-09 16:34] AjayTripathy commented on #1765
This happens regardless.

[2022-11-09 16:35] AjayTripathy commented on #1758
No-- we'll want to scale test #1776 -- see notes there.

[2022-11-09 16:48] AjayTripathy commented on #1740
@kaelanspatel , would you mind documenting the verification steps when you can under the release process? Going to close this for now then.

[2022-11-09 16:48] #1740 closed

[2022-11-09 17:32] dwbrown2 commented on #1572
@mmurph3 @jessegoodier do you guys have any more details on the top use cases you're seeing right now?

When I see this, it sounds like this would be filtering on k8s data, but I believe the main focus is on filtering cloud assets.

[code]

[2022-11-09 18:03] AjayTripathy commented on #1744
I think this can be done purely on the frontend with two things:
1. the state of the configs and a cloud connection (cc @Sean-Holcomb -- pretty sure there's an API for this but not 100%)
2. the button simply shows data > 48h old

[2022-11-09 18:14] jessegoodier commented on #1572
This has come up a couple more times. Most specifically with "service providers."

The general concern is that they would like to provide the "end users" access to the kubecost UI and they absolutely do not want them to access things that aren't specific to that customer.

The current alternative is for them to pull from the API into another tool.

For the service providers, there may be a potenti

[2022-11-09 18:23] jessegoodier commented on #1572
also some overlap here: https://github.com/kubecost/cost-analyzer-helm-chart/issues/1574#issuecomment-1197109170

[2022-11-09 18:52] dwbrown2 commented on #1785
Thanks for the request, @jcharcalla! My initial believe is that a saved report (could be defined in YAML like Assets + Allocation) would be a good pattern here. That would effectively make these custom profiles the default view for Dev, Prod, etc. See any problems with that approach?

[2022-11-09 18:53] AjayTripathy commented on #1498
@DKeeling01 what's the current behavior when oauth2 is enabled? We don't allow adding the context to the list of switchable contexts?

[2022-11-09 19:08] keithhand opened #1797 "Azure duplicated out of cluster costs"
**Describe the bug**

After enabling an out-of-cluster report on an Azure cluster, it seems some objects are being duplicated and not reconciled with the correct Kubernetes resources within the cluster. The specific objects that were noticed to be a problem seem to be related to Load Balancers.

**To Reproduce**

Steps to reproduce the behavior:

1. Enable Azure OOC
1. Check the Assets report for

[2022-11-09 19:17] dwbrown2 opened #1798 "Simplifying Custom Prom Install"
This step, as part of using a custom Prom, has always seemed unnecessary to me. Could we not just tell Prom to scrape Kubecost in our service via annotation? We could have this enabled by default but easily turned on by a single flag.

Seems like this would greatly simplify the setup because most teams wouldn't have to touch their Prom configs.

![](https://user-images.githubusercontent.com/298359

[2022-11-09 19:30] mbolt35 commented on #1798
We have no way of knowing what the custom prom setup is like. We can't just expect that it can automatically scrape our data, right?

Our instructions are definitely necessary for someone without service discovery configured, and if they have service discovery configured, our instructions provide a reasonable guide to the configuration options to set.

I believe we have all the necessary options i

[2022-11-09 19:37] dwbrown2 commented on #1798
What's preventing us from doing just what `kube-state-metrics` does? https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/charts/prometheus/charts/kube-state-metrics/templates/service.yaml#L17

My understanding is that the vast majority of teams use service discovery for ksm and it works well.

[2022-11-09 19:40] biancaburtoiu commented on #1770
Hi @Dima-Diachenko-work! Have you tried appending the `client_id` to the `authURL` in the helm chart config?
[code]

Different OIDC providers require request parameters as part of the `authURL`, you may need to check the Azure documentation on OIDC authorisation code flow for all the required parameters. You might need to add `&response_type=code` as well. Let us know if that worked for you!

[2022-11-09 19:46] mbolt35 commented on #1758
@LaikaN57 is correct here. This particular support has nothing to do with the thanos dependency, as we modeled our configs such that we didn't create a completely new backup auth scheme. However, we _do_ want to move both the thanos dependency and update the config support in the same release (the idea is that they should stay the same).

Just wanted to explicitly call out that updating the thanos

[2022-11-09 19:48] cr-benchmarkcorp commented on #1797
Thank you Keith.   It's less of a 'duplication' issue than it is a 'correlation' issue.   Azure bills two different ways for the same object.   Therefore, the cost model is different for the same object, but they should be correlated together, imo.   Beyond that, these things belong to a Managed Kubernetes deployment (AKS in this case), and should therefore ALSO be correlated against "Kubernetes"

[2022-11-09 19:54] mbolt35 commented on #1798
It doesn't seem like much of an issue to say: "Here's the instructions on how you would manually add Kubecost to your scrape configs", and let whoever is managing the custom prometheus determine the appropriate action for adding it. This just feels like a case where we're giving instructions to support the non-service discovery user at a minimum. IMO, it's much worse to just leave off this informa

[2022-11-09 19:56] dwbrown2 commented on #1798
I think that's what I'm saying haha, if we do it's not at all documented as part of this setup!

[2022-11-09 19:56] mbolt35 commented on #1798
We support this when you deploy kubecost as a separate metrics exporter! https://github.com/kubecost/cost-analyzer-helm-chart/blob/23f6d28743f5a9c110899f293e22df680a497e2e/cost-analyzer/templates/kubecost-metrics-service-template.yaml#L16-L19

[2022-11-09 19:58] mbolt35 commented on #1798
@dwbrown2 There may be some deeper complexity here that I'm misremembering, but I definitely agree we should have a flag that can enable this. We do it for network-costs as well as the cost-model as a metrics exporter.

[2022-11-09 20:02] Sean-Holcomb commented on #1744
Some data can't be reconciled at all, in a federated system there is also no guarantee that reconciliation is set up for each cluster. I think the just a 48h filter could do the trick at a basic level though.

[2022-11-09 20:17] thomasvn commented on #1758
Thanks for clarifying @mbolt35! I began suspecting the same thing yesterday evening.

After bumping the Thanos image from v0.24 -> v0.29 in our subchart then doing some testing on my cluster, I began to realize that although [ETL Backups require](https://guide.kubecost.com/hc/en-us/articles/4407601811095-ETL-Backup#step-1-create-storage-configuration-secret) an `object-store.yaml` with the same ya

[2022-11-09 20:17] AjayTripathy commented on #1744
Agree, see note above of "no data" being shown when reconciliation failed or is not set up.

Can we just show no data for those by checking against an API?

[2022-11-09 20:21] Sean-Holcomb commented on #1744
The problem is that we only have the adjustment column to work off of. And sometime even if things are reconciled they were spot on to begin with so there is no adjustment. Some asset types still cannot be reconciled on certain providers.

[2022-11-09 20:29] Sean-Holcomb commented on #1744
One of the things that we need is here is persistent reconciliation coverage, which could also contain accounts reconciled. That way we could apply coverage by account. This is something that I am thinking about as we are considering moving reconciliation to the cloudcost api

[2022-11-09 22:42] jessegoodier commented on #1744
Do we have data for this `undefined`? Ideally, we could just find the last timestamp in the file and have the `Show Reconciled Costs Only` work off that?
feel free to test with this demo that has all 3 providers https://demo.kubecost.xyz/diagnostics

![image](https://user-images.githubusercontent.com/31039225/200957571-a9cc17ac-0abd-419d-89cf-a323d01a803b.png)

[2022-11-09 22:59] jessegoodier commented on #1798
For those that run prometheus that supports service monitors (most?), I think this works today:
[code]

For the others, we just need what @mbolt35 has above with the scrape annotations.

It would just take a little templating to add the annotations to the cost-analyzer pod.

[2022-11-10 02:02] LaikaN57 commented on #1758
@thomasvn Add me as a contributor on the internal repo and I'll write the code for you guys 😉

To be clear, for this/my issue, I am only interested in providing a bucket with prefix for ETL backup. I have no requirement to also use this configuration for Thanos itself, although I could see how it would be useful/helpful to keep both config "flavors" in-sync.

[2022-11-10 02:13] LaikaN57 commented on #1758
@thomasvn @AjayTripathy Also, if either of you can advise if the `storage` implementation modification work can still be targeted for `v1.99`, that would be helpful for planning on my side. Not sure what t-shirt size that work is. I'm guessing `S` just to add another key to an existing structure presumably.

[2022-11-10 10:01] ghost commented on #1770
Hello,

I have tried a variant with client_id as you mention:
`authURL: "https://login.microsoftonline.com/*********************/oauth2/authorize?client_id=c8f8112c-2ee4-***************"`, but it require to fill other options for the Azure OIDC auth.

Anyway, I got an answer here, in [this doc](https://docs.google.com/document/d/1h5xkXXp73qJLferxe-ShXjZAIyRrTy2uzoTOMT54HCE/edit), thanks!
For now,

[2022-11-10 17:43] thomasvn commented on #1758
I'll defer the decision on whether this can go into v1.99 to @AjayTripathy and @Adam-Stack-PM.

Thanks @LaikaN57 for clarifying that you only need `prefix` for ETL Backups and not for Thanos storage! By design, I think we would like to keep both of those object storage interfaces in sync. A fix for this would require a change to OpenCost's [`storage`](https://github.com/opencost/opencost/tree/831c

[2022-11-10 18:31] avrodrigues5 commented on #1729
Issue was solved as part of v1.98 PR https://github.com/kubecost/kubecost-cost-model/pull/1051

[2022-11-10 19:59] LaikaN57 commented on #1758
Ah, my bad. I didn't think I found this in `opencost` before when I looked. Thanks for the breadcrumbs.

[2022-11-10 20:20] dwbrown2 commented on #1742
@thomasvn still think you'll have capacity to pick for 1.99?

One other thought: if we use `__meta_kubernetes_endpoints_name` filter we should think about network costs deamonset as well I believe. Not sure if there are others, but Nvidia's GPU utilization exporter may be one.

[2022-11-10 21:10] mmurph3 opened #1799 "Feature for RBAC to filter by "label" and "annotation""
**What problem are you trying to solve?**
Kubecost currently supports [SSO/RBAC](https://github.com/kubecost/poc-common-configurations/tree/main/saml-okta). It additionally supports providing a `filters.json` (example [here](https://github.com/kubecost/poc-common-configurations/blob/main/saml-okta/filters-examples.json)) which specifies which groups can read/write to which resources.

The current

[2022-11-10 22:08] keithhand commented on #1796
Closing as this is fixable by ensuring that the following value gets set to false, https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L342

[2022-11-10 22:25] keithhand opened #1800 "Kubecost Pod Capacity Estimations"
**What problem are you trying to solve?**
I want a straightforward way to estimate the potential overhead of Kubecost and dependencies.

**Describe the solution you'd like**
I have created this [spreadsheet](https://docs.google.com/spreadsheets/d/1F7qGxPFfYaskN1ZBZlxgsggIMJYE3LaenYHKqWs1gqE/edit#gid=0) based on this [document](https://docs.google.com/document/d/1kr76djthiaCiHcLyL37cWhfoGIyBiMPOWic

[2022-11-10 22:33] dwbrown2 commented on #1798
Good call out, Jesse. Thoughts on quickly adding Bolt's suggestion on adding to our service plus documenting both paths in this resource above? I think either would be significantly easier than asking teams to directly edit their scrape configs. 

[2022-11-11 01:06] thomasvn commented on #1799
I've been able to confirm that Kubecost's RBAC does not currently support filtering by `label` or `annotation`.

Here is an [internal document](https://docs.google.com/document/d/1jBy9Uw3Se--f_5VsuT6Up6kvtmqjShfNws7r1PXmIK4/) describing (1) details of the issue, (2) how to reproduce it, and (3) how to access the cluster/environment I reproduced it in.

[2022-11-11 03:18] AjayTripathy commented on #1754
Thanks for the repros @kc-adawson -- we'll get this fixed for v1.99

[2022-11-11 13:31] praveenkumar0566 opened #1802 "Cluster Health Monitoring is not allowing to modify of the threshold"
# For reproducible bugs, please provide the following

**Describe the bug**

Cluster Health Monitoring is not allowing to modify of the existing values of "**_Health change threshold_**" and "**_Window_**"

![image](https://user-images.githubusercontent.com/102574445/201350172-621a24ba-e25a-4dd4-984e-db6d8efe20f7.png)

The above error occurs on hitting the test button after modifying the existing

[2022-11-11 16:02] praveenkumar0566 opened #1803 "Large negative numbers"
**Describe the bug**
The large negative cost numbers on the cost allocation page are not recoverable.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. See error

**Expected behavior**
Large negative numbers should get recovered on repairing or rebuilding the ETL allocation/asset on specific dates.

**Screenshots**

**A customer reported they have large negat

[2022-11-11 16:45] thomasvn commented on #1758
@LaikaN57 No problem! Because the size of the work is larger than anticipated, it's likely that this feature won't be completed for `v1.99`. However I'll keep you updated on its status as it's discussed!

[2022-11-11 16:56] AjayTripathy commented on #1803
This was a result of bad data flowing from KSM for a very short lived pod; we'll work around it to drop outliers.

[2022-11-11 16:58] thomasvn commented on #1742
@dwbrown2 Thanks for keeping me on this! I'll commit to getting a first-draft PR done by next Friday (Nov 18).

Also, thanks for that reminder! So in summary, we want to whitelist by this label `__meta_kubernetes_endpoints_name` for the following [service endpoints](https://github.com/kubecost/docs/blob/main/user-metrics.md):
* kubecost-prometheus-node-exporter
* kubecost-kube-state-metrics
* kube

[2022-11-11 17:11] dwbrown2 commented on #1742
That seems right to me! Thanks, Thomas.

@AjayTripathy @kaelanspatel may know more about these last two endpoint names

[2022-11-11 17:43] AjayTripathy commented on #1797
Thanks for this report! To confirm, this isn't an accuracy issue but an issue of where the data is displayed? We're reworking some of these pages and can take a look after that redesign.

Just as a note, afaik there's no way to directly correlate the exact LB in the AKS cost and usage report with how the LB is tagged/labeled in Kubernetes (@Sean-Holcomb to confirm).

[2022-11-11 21:12] srpomeroy commented on #1754
Engineering can use the following command to add the cluster to their local kubectl config from the Azure sandbox subscription:
`az aks get-credentials -n adawson-labs-tester -g adawson-labs`

[2022-11-11 21:45] keithhand commented on #1782
The problem here is that the aggregations on the advanced report don't quite match up with what is seen on an allocation report today, causing some confusion.

For example, the following two screenshots got generated using a last 30 days [report](http://a33fe579340b346b6a7badbaa503699d-79357105.us-east-2.elb.amazonaws.com:9090/allocations?context=W10%3D&agg=cluster&window=30d), aggregated on "Clus

[2022-11-11 23:00] DKeeling01 commented on #1732
@AjayTripathy

Had a customer inquire about a similar feature, but with the following changes:

- auto detect the corrupt/missing stores
- automatically kick off the rebuild
- doesn't need to rebuild all of the stores, just the ones that are corrupt/missing (unless they are all not functional)

[2022-11-11 23:13] nealormsbee commented on #1655
This item came up in a call today. I think this would be a backend thing, right? If we want to take action, let's get it into tracking and assigned to someone.

CC @nikovacevic @teevans

[2022-11-14 22:06] dwbrown2 commented on #1802
Thanks for sharing, @praveenkumar0566! Can you share what version you're running?

cc @Adam-Stack-PM to track as a potential 1.99 bug fix

[2022-11-14 22:20] dwbrown2 commented on #1784
@linhlam-kc good to close now that we merged #1784?!

[2022-11-15 13:18] jessegoodier commented on #1744
Feedback from the customer is that it would be ideal if we addressed the issue with the estimates as well.

Should I file a separate issue for this?

[2022-11-15 14:00] praveenkumar0566 commented on #1803
Are we going to anticipate a fix in the next release? The customer wants to know when they can expect the fix.

[2022-11-15 16:39] linhlam-kc commented on #1784
@dwbrown2 Yes, it is good to close here. Thank you Webb.

[2022-11-15 16:39] #1784 closed

[2022-11-15 17:15] praveenkumar0566 commented on #1802
I see this bug in 1.96, 1.97 and in 1.98, Maybe it was hidden since the previous versions :)

[2022-11-15 17:36] ErnestG4 commented on #1755
Added this feature request to the tracking project.

I have received this request from multiple enterprise customers.

[2022-11-15 18:38] AjayTripathy commented on #1799
Thanks for setting up a test for me! Optimistic that we can get this knocked out in v1.99-- next update in a week or less.

[2022-11-15 21:16] keithhand opened #1806 "Timeout when trying to capture a bug report"
**Describe the bug**
There are instances when you are generating a bug report from the application which cause the application to consistently "spin" while creating the report. It seems like this could be related to making Prometheus/Thanos queries directly and those queries hanging.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to generate a bug report on a federated cluster with a si

[2022-11-15 21:27] keithhand opened #1807 "Custom SAML groups override built-in SAML groups"
**Describe the bug**
With SAML and RBAC enabled, if you create a `group-filters` configmap (to enable custom groups), the default `admin`, `editor`, and `readonly` roles no longer work.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable SAML + RBAC filtering with custom groups enabled
2. Create a group-filters configmap with custom filter options: https://github.com/kubecost/poc-common-c

[2022-11-15 23:27] nikovacevic commented on #1655
I put this on my team's project (https://github.com/orgs/kubecost/projects/23/views/3) as "To Do" but unassigned. I'll have Nick or Steven jump on it next time they're free, but feel free to assign it to someone else first if it jumps in priority.

cc @teevans @AjayTripathy

[2022-11-16 07:05] nealormsbee commented on #1802
I'll try to pick this tomorrow. Context if someone else needs to take it:

It looks like we're setting "threshold" as a string instead of a number when it's user-modified, and not converting it before sending to the server. We just need to convert the threshold value to a number for the request JSON payload.

[2022-11-16 15:17] srpomeroy commented on #1371
@Adam-Stack-PM Sounds like this issue may have been fixed.
@kaelanspatel @biancaburtoiu I believe you may have the most context, can this be closed?

[2022-11-16 15:22] biancaburtoiu commented on #1371
Yes, @kaelanspatel introduced OIDC support a good couple of months ago!

[2022-11-16 15:22] #1371 closed

[2022-11-16 16:58] keithhand commented on #1806
See [ZD ticket 2959](https://kubecost.zendesk.com/agent/tickets/2959) for more details.

[2022-11-16 18:04] mmurph3 commented on #1737
We have another customer whose stakeholders are also interested in this feature. Support tix #3006.

[2022-11-16 18:44] jessegoodier commented on #1737
quote from a customer:
[code]

This was specifically for a chargeback advanced report.

[2022-11-16 21:39] biancaburtoiu opened #1808 "Modify OIDC setup to support AzureAD"
**What problem are you trying to solve?**
It is currently not possible to configure our current OIDC implementation under the AzureAD provider. The `authURL` configuration under AzureAD requires a unique `nonce` among the request parameters for every login request ([see AzureAD docs](https://learn.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc)). At the moment, the `authURL`

[2022-11-16 21:39] biancaburtoiu commented on #1808
cc @jessegoodier @kaelanspatel

[2022-11-16 22:13] AjayTripathy commented on #1798
Adding a little additional helm templating sounds plausible and I support this, just want to ask the question if our existing global.podAnnotations field + strong documentation wouldn't cover this rather than making a code change?

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L48

would support doing this either wa

[2022-11-17 03:33] dwbrown2 commented on #1803
Yes, the PR is already done. It will be in 1.99.

[2022-11-17 15:22] michemoche opened #1809 "Broken URI for keyinstructions section"
Hello,
In the last version, you fixed the broken URI redirection for some links when you have kubecost deployed in a subpath (like /kubecost/[...])

But I've found another one

when you go to settings > Cloud Cost Settings > Update
it redirects you to /keyinstructions instead of /kubecost/keyinstructions

adding the subpath manually works fine

[2022-11-17 16:41] AjayTripathy commented on #1787
https://github.com/kubecost/cost-analyzer-helm-chart/pull/1805 FYI when we reintroduce. Need to scrape the DCGM exporter by default for ease of setup.

[2022-11-17 19:54] keithhand commented on #1796
Re-opening this as the flag only solved the issues with the 413 error. The 422 error persists.

[code]

[2022-11-17 20:59] keithhand commented on #1796
I was incorrect. The 422 was resolved, however the 413 still persists, and some new 500 errors are now present

413:
[code]

500:
[code]

[2022-11-17 21:01] DKeeling01 commented on #881
Received a request today to also filter data by their `owner` label. Would we be able to revisit this request in the near future?

[2022-11-17 21:20] michaelmdresser commented on #881
I believe @jjarrett21 is currently working on filters for the new request sizing page. I'm not sure if owner/team/etc. are included in that, but he probably knows!

[2022-11-17 21:49] mmurph3 opened #1812 "Cost Breakdown of Savings Plan for compute usage line item in AWS."
**What problem are you trying to solve?**
Need a breakdown of the "Savings plan for compute usage". Not clear what's driving those costs. AWS doesn't break down this lined item in cost explorer. Having this breakdown in Kubecost gives more visibility into cloud costs and the data could be used for recommendations and other features.

![](https://user-images.githubusercontent.com/36980248/202565617

[2022-11-18 03:16] dwbrown2 commented on #881
@DKeeling01 this is currently supported in Savings UI. Know what's missing?

<img width="905" alt="image" src="https://user-images.githubusercontent.com/298359/202608715-51a06c59-46bb-41ed-8598-a59381e6baa8.png">

[2022-11-18 05:05] AjayTripathy commented on #1732
This feels like a bigger project we can look to take in in v1.100, along with alerts etc. when ETL is missing data. I guess a button could work, but it's sort of a button that brings down the app until the rebuild is complete so we'd need to be really careful.

[2022-11-18 05:24] AjayTripathy commented on #1812
In general I think we can do a lot better here designing an experience to help people use savings plans. @dwbrown2 something to target for v1.100?

[2022-11-18 06:21] AjayTripathy commented on #1809
@nealormsbee  seems like a quick fix?

[2022-11-18 19:24] Adam-Stack-PM commented on #1642
@AjayTripathy, A few customers have reported. Could you review and see if you would like to escalate this issue for v1.00.  May be a challenging fix.

CC @dwbrown2 for product input.

[2022-11-18 20:21] nealormsbee commented on #1802
A PR fixing this issue is now open. The bug should be resolved in our v1.99 release! Thanks for the report @praveenkumar0566

[2022-11-18 20:41] ErnestG4 commented on #1737
This has come up recently for several of my customers as well.
The ultimate goal is to be able to tell a story with the data, such as "we made foo/bar/baz changes, and as you can see this is the cost trend for these clusters/namespaces/projects over this set of time".
Yearly is its own challenge (data has to be backed up over that time period and pulled back in to generate an intensive report), bu

[2022-11-18 23:32] #1802 closed, assigned to nealormsbee

[2022-11-18 23:38] AjayTripathy commented on #1642
I actually think this can be done in v1.99. @biancaburtoiu has a list of bugs to fix on this page and I think we can find a day or two to knock them out.

[2022-11-19 00:16] nealormsbee commented on #1809
Quick indeed! Thank you for the report @michemoche. A PR to resolve this issue is submitted, and it will be fixed in v1.99.

[2022-11-19 00:42] michemoche commented on #1809
awesome, thanks guys ! :)

[2022-11-21 06:21] AjayTripathy commented on #1722
@tohjustin PTAL at https://github.com/opencost/opencost/pull/1505 and lmk if that fits your needs!

[2022-11-21 06:45] AjayTripathy commented on #1808
Is there any harm in just always adding the nonce? That way we can skip additional configuration? Aren't nonces in all specs?

https://openid.net/specs/openid-connect-core-1_0.html#NonceNotes

[2022-11-21 12:22] praveenkumar0566 commented on #1803
Thanks Webb!

[2022-11-21 12:35] praveenkumar0566 opened #1813 "Slack URL should be masked in Monitor Cluster Health"
**What problem are you trying to solve?**
When we try to edit "Monitor Cluster Health" configurations, one can see the Slack webhook URL as plaintext.

<img width="736" alt="Screenshot 2022-11-21 at 5 59 31 PM" src="https://user-images.githubusercontent.com/102574445/203056651-6f36d88d-d06a-42d0-9468-d460ff4a2bf2.png">

**Describe the solution you'd like**
Like SLACK URL is masked in **Monitor Kub

[2022-11-21 14:45] teevans commented on #1782
@keithhand - We've got an adjusted version of Advanced Reports going out for 1.99. Let's follow up with this after that release, and see what we can do.

[2022-11-21 15:05] #1809 closed, assigned to nealormsbee

[2022-11-21 16:14] jcharcalla commented on #1785
Sounds like a good approach to me.

[2022-11-21 22:18] keithhand commented on #1807
After additional testing, I believe this is working as intended. When initially testing, I think the user we were trying with didn't have proper base permissions, leading to the perceived error. I experimented with a SAML admin and readonly account with and without `group-filters`, and it seems to be working now.

[2022-11-21 22:18] #1807 closed, assigned to nobody

[2022-11-22 04:17] AjayTripathy commented on #1807
cc @Annalillie @teevans ... I think we will want to wrok through a UX to properly display permissions very soon in v1.100.

[2022-11-22 04:19] AjayTripathy commented on #1813
@teevans sounds like this is a quick one that we want to knock out for v1.99 . @Adam-Stack-PM can you add to the buglist?

[2022-11-22 14:05] cr-benchmarkcorp commented on #1782
Thank you for the update @teevans .    Was there some progress made on this issue in v1.99 or are you saying wait for v1.99 to drop and then this issue will be addressed in a future version?

[2022-11-22 16:27] praveenkumar0566 opened #1817 "Frequent false alerts from Monitor Kubecost Health"
Thanks for your interest in Kubecost!  To ensure you get the help you need, please follow these guidelines:

# For reproducible bugs, please provide the following
**Describe the bug**

After configuring "Monitor Kubecost Health" to notify a slack channel. There are false alert notifications to slack "Added cluster" and "removed cluster" in frequent intervals. One of the customer's issues
They have

[2022-11-22 17:01] kc-adawson opened #1818 "GKE cluster management free tier credit not reflected in Kubecost (with GKE Integration Enabled)"
- - -
# For reproducible bugs, please provide the following
**Describe the bug**

A clear and concise description of what the bug is.

Kubecost on GKE Cluster does not reflect Free Zonal Cluster Management Fee, with cloud integration enabled.

**To Reproduce**

Steps to reproduce the behavior:

1. On an account with a single GKE 'zonal' cluster, install Kubecost on the cluster.
1. After cost metri

[2022-11-22 17:23] mmurph3 opened #1819 "Extend pre populated Window to 180 days+ for Container Right-sizing recommendations"
**What problem are you trying to solve?**
Recommendations on container right-sizing & abandoned workloads page using historical data greater than 30 days (180 days+)

**Describe the solution you'd like**
More options in the drop down for the window (specifically 180days+). Or custom entry option.
![](https://user-images.githubusercontent.com/36980248/203380437-061f0906-d977-4999-ac80-5d904e41a9a3.

[2022-11-22 17:29] dwbrown2 commented on #1819
@teevans is it easy to bring the same window options we have available in Assets/Allocation?

[2022-11-22 17:34] dwbrown2 commented on #1813
@praveenkumar0566 does it not obfuscate once saved? can you share what version you're running?

[2022-11-22 17:47] AjayTripathy commented on #1818
I think this is likely because we draw "cluster management" as an "in cluster" cost where I think it really should not be anymore. @nikovacevic this is changing for the new Cloud Assets pipeline, correct?

[2022-11-22 18:49] praveenkumar0566 commented on #1813
@dwbrown2  Yes, this doesn't get obfuscated after saving, Observed in 1.96,1.97 and 1.98

[2022-11-22 19:06] teevans commented on #1813
@jjarrett21 - Can you jump on this?

My idea is this: When there is a token, change the placeholder to "Token hidden" - Verbiage up for debate there

When there is not a token, make the placeholder "https://hook.slack.com/xxxxxxxxxx/xxxxxxxxxx"

Make sense?

[2022-11-23 02:59] teevans commented on #1782
@cr-benchmarkcorp - we're actually going to be taking a very different approach to Advanced Reporting come 1.99. Because of this, Azure support won't be completely supported for at least 1 to 2 more versions. Since this is still an Alpha release, we're not planning on investing any more resources into the current alpha version of Advanced Reporting. However, with the new approach, I think we'll be

[2022-11-23 03:02] teevans commented on #1807
Les do it. I'll get some time on the calendar next month.

[2022-11-23 14:09] cr-benchmarkcorp commented on #1782
Thank you @teevans .    Also casting my vote for Azure as a first class citizen.  ;)

[2022-11-23 18:00] nikovacevic commented on #1818
I don't believe @Sean-Holcomb and I have finalized where Cluster Management fees are going to fall in the new Cloud Costs work. (I think it makes slightly more sense for it to NOT be considered in-cluster, but that creates some friction with the spec.) If it's not considered in-cluster, then this should be solved by faithfully reflecting the CUR data.

[2022-11-23 18:07] AjayTripathy commented on #1817
First need to rule out that the data upload process is not flaking on the user's end. I've followed up with the user but @praveenkumar0566 can you please get this added to the runbook for debugging this alert?

1. Log into Thanos:
```kubectl port-forward svc/kubecost-thanos-query-http 8080:10902 --namespace kubecost```
2. Visit localhost:8080
3. Click on the "graph" section
4. Graph ```kubecost_cl

[2022-11-23 18:08] dwbrown2 commented on #1817
@AjayTripathy agree this is valuable to confirm, but even if it is... does sending an alert every 10m feel right?

[2022-11-23 18:14] praveenkumar0566 commented on #1817
Sure, I will add it to the runbook.

[2022-11-23 20:40] AjayTripathy commented on #1817
@dwbrown2 I agree. Here's a PR to support a number of retries https://github.com/kubecost/kubecost-cost-model/pull/1084

[2022-11-24 00:08] mbolt35 commented on #1817
@dwbrown2 This does appear to only send an alert if the status changes, so the fact that it's showing up, then dropping, then showing up again, repeatedly seems to be indicative of something bad happening. In this case, I think the alert is doing exactly what we intended (despite it being delayed 3h anyways).

What @AjayTripathy added is a one-hour down time requirement (after the metrics have bee

[2022-11-24 00:15] mbolt35 commented on #1817
@AjayTripathy I think we should actually change the way the cluster map works maybe? I think it issues instant vector queries for the `kubecost_cluster_info` metric. Should we be issuing something like `avg_over_time(kubecost_cluster_info[10m])`?

https://github.com/opencost/opencost/blob/a34125a484b0aecf6379738ee3204dfcf02e76ab/pkg/costmodel/clusters/clustermap.go#L132-L135

I've discussed this w

[2022-11-24 09:01] azizzoaib786 opened #1822 "Timestamp is not available in csv report generated by kubecost"
**What problem are you trying to solve?**
When generating the report from kubecost UI, it generates the perfect csv but somehow timestamp is missing.

**Describe the solution you'd like**
Date/Timestamp column in the csv report.

Sample report without any timestamp/date column aggregated by namespace.

[code]

Is there any possibility of providing adding this column by default in the report?

[2022-11-25 00:21] cr-benchmarkcorp commented on #1782
Hello @teevans   It appears that even in the standard reports (not advanced/alpha) out of cluster items tagged with "kubernetes_cluster=<cluster-name>" don't aggregate properly with what KubeCost finds by default in the same cluster.

Should we be treating this as a separate bug request from that pov, or open a new request.   Please let us know.

<img width="1409" alt="Screen Shot 2022-11-24 at 7

[2022-11-27 17:43] AjayTripathy commented on #1817
Sure, sgtm. Want to take a quick PR on that then and I'll update mine?

[2022-11-28 14:21] teevans commented on #1782
@nikovacevic - Any thoughts here?

[2022-11-28 17:06] nikovacevic commented on #1782
This is a misunderstanding of what is being displayed. "Cluster" is not the same thing as the label "kubernetes_cluster". One is a property, the other is a label. Does that help, or can I share more?

[2022-11-28 17:07] nikovacevic commented on #1782
As an example, there's nothing stopping someone from taking a node that Kubecost has identified as belonging to cluster "cluster-one" and applying the label "kubernetes_cluster=cluster-two". That item would have:
[code]

[2022-11-28 17:10] nikovacevic commented on #1782
At the beginning of Q1 2023, we're looking at splitting the Assets experience into two experiences: Kubernetes Assets, and Cloud Costs. (Something like that -- details will likely change as we work through it.) This should clear up some of the confusion, because the `label["kubernetes_cluster"]=...` pattern was meant for Cloud Costs, as a way of associating them with Kubernetes Assets, which have

[2022-11-28 19:17] cr-benchmarkcorp commented on #1782
Thank you for the update.  Regardless of whether the internal implementation is a tag or a label, customers have the need to aggregate costs (both in cluster and out of cluster) by Cluster.   This is not possible today with the standard reports, or the advanced Alpha reports for Azure (imo).

[2022-11-28 19:22] #1593 closed

[2022-11-28 19:24] dwbrown2 commented on #1822
@azizzoaib786 would this be beginning end of report time window for the entire report or something else?

@teevans @nealormsbee, if it's the former, we just added this functionality to new PDR reports so I'm guessing quick?

[2022-11-28 21:26] rossfisherkc commented on #1526
Will close this issue for now due to staleness, please don't hesitate to re-open or reach out for help in the future!

[2022-11-28 21:26] #1526 closed

[2022-11-29 00:04] #1773 closed

[2022-11-29 02:09] tohjustin commented on #1722
@AjayTripathy Sorry for the late reply, was out of office for the past 2 weeks.... Yes, the PR looks good & should work for our use-case 🙏🏼

[2022-11-29 02:14] #1722 closed

[2022-11-29 03:01] AjayTripathy commented on #1498
@DKeeling01 ping?

[2022-11-29 08:37] alnazaro opened #1825 "Invalid ETL Data Stored - too many hours/days out of data"
# For reproducible bugs, please provide the following

**Describe the bug**
Since November we see a lot of hours/days with broken ETL Data for assets/allocations in all our clusters in different regions (oregon/virginia)

**Kubecost Info**
Version
1.96.0

API Version
1.96.0 (3e7021e7ba1c3d64f9f748652ca9f4b733a7b505)

**EKS VERSION 1.24**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2022-11-29 10:13] AjayTripathy commented on #1825
Hi @alnazaro this is likely due to prometheus downtime, cost-model downtime, or the inability of the cost-model to communicate with Prometheus during these time periods. Any instances of downtime there?

[2022-11-29 11:13] alnazaro commented on #1825
@AjayTripathy i see in log of pod error of ETL, it doesn't look like prometheus
attaching, and in histogram you can see that this error started in November, exactly when we started to get data holes

[ETL-outside-window.pdf](https://github.com/kubecost/cost-analyzer-helm-chart/files/10112447/ETL-outside-window.pdf)

[2022-11-29 12:40] alnazaro commented on #1825
![image](https://user-images.githubusercontent.com/34234303/204531720-088c5bae-6985-4956-a20a-c42ac3ecfc79.png)

new errors in pod

[2022-11-29 13:59] azizzoaib786 commented on #1822
@dwbrown2 may be the duration time window? for example duration start & duration end? similar to what we have in the json output when you use the kubecost api.

Or end of report time will make sense if the cost is cumulative. What do you think?

[2022-11-29 14:01] praveenkumar0566 commented on #1825
I had a quick call with @alnazaro ,
- It is observed in prom the data is missing from the past week.
- The user has an AWS-managed Prometheus integrated to kubecost
- Kubecost endpoint is up and running in the prom targets

The next plan of action
@alnazaro will reach out to their backend team to check the PVC disk issue and who manages AWS-managed prom to check if there was any downtime or any is

[2022-11-29 20:12] jjarrett21 commented on #1813
![Screen Shot 2022-11-29 at 2 12 00 PM](https://user-images.githubusercontent.com/14066631/204638034-13202b01-df43-4016-8413-2403e5050186.png)
![Screen Shot 2022-11-29 at 2 11 51 PM](https://user-images.githubusercontent.com/14066631/204638039-9b9f5f7d-62c8-4532-ae53-f032f3c852b5.png)
 What doe we think about something like this instead has the placeholder but treats the field like a password? @te

[2022-11-29 20:49] keithhand opened #1826 "Disabling values reporting breaks bug reporting"
**Describe the bug**
When disabling the value `.reporting.valuesReporting` you can no longer generate a bug report.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Kubecost with `--set reporting.valuesReporting=false`
2. Navigate to the setting page and try to generate a bug report
3. See the following console error:
[code]

**Expected behavior**
Bug reports should generate with or w

[2022-11-29 22:36] #1340 closed

[2022-11-29 23:09] AjayTripathy commented on #1803
Hey @praveenkumar0566 if you'd like you can also share this test image:
```gcr.io/kubecost1/cost-model:fixlargedata```
with the user. You can ask them to deploy it and rebuild only the day with the large data to see if it works.

[2022-11-29 23:17] teevans commented on #1813
I think that works for now. Let's a get a PR going. I want to re-visit this experience in the near future though.

[2022-11-30 01:21] #1742 closed

[2022-11-30 12:17] praveenkumar0566 commented on #1803
Sure thing, I will share the image with the customer.

[2022-11-30 18:35] anoop2811 commented on #1642
Hi, wanted to check  if this going to be fixed in 1.99? I think of this as a fundamental feature since righsizing the nodes can make a difference in cost so not having this functionality is a big ding.

[2022-11-30 21:14] kirbsauce commented on #1152
More customers are asking about this. @Adam-Stack-PM  any chance this will be in 1.99?

[2022-11-30 23:00] rossfisherkc commented on #1783
I have a customer on ZD 3095 planning on chiming in their case case here; I offered to pass it along if they couldn't for some reason. Will update once I hear something

[2022-11-30 23:50] jjarrett21 commented on #1813
I can do the other thing with some regex or with some yup magic so I'll swap this and get a PR up.