[2022-07-18 20:35] michaelmdresser commented on #1539
Hi @zdenekvicar, I think we already support this functionality in our API, but not on the frontend. If you're an API user, you should be able to pass a parameter like this: `filterTeams={team}`.

However, as you've seen, we aren't currently exposing that as an option on the frontend. Thanks for the report/feature request, this may be a pretty straightforward addition once we get it prioritized. I'

[2022-07-18 21:55] Adam-Stack-PM commented on #1498
### **Action Items:**  For quick reference (credit Webb)

1)) Make the current docs as helpful as possible and then
2) Refine this product experience.

Order of Action
We tackle 1 quickly. Then we think through and design the right product experience.

[2022-07-18 22:55] keithhand commented on #1471
@Adam-Stack-PM, the overall savings estimates seem more in line; however, when drilled into the savings page, that node is still showing up on the list. Not sure if this is expected or not. Screenshots below show the upgraded version on the left and the old version on the right.

![image](https://user-images.githubusercontent.com/43491549/179630145-3bf55a58-e85f-4e03-a41d-8224cac8216a.png)
![image

[2022-07-18 23:06] akramwaseem commented on #1537
@jcharcalla  -- Based on the documentation link provided above

`
Run a separate Prometheus for Kubecost alone (the default installation behavior of Kubecost) and disable the scraping of Kubecost’s metrics in your other Prometheus configurations.
`
I am running separate Prom for kubecost and there is other Prom which is also running. can you update the documentation where I can either completely d

[2022-07-19 00:01] keithhand opened #1564 "Settings durable storage debug section always asks for upgrade"
**Describe the bug**
The durable storage section of the settings page displays "Product upgrade required to enable long-term metric retention." when on an enterprise version with Thanos running.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Enterprise Kubecost with Thanos
2. View [`/settings`](http://a33fe579340b346b6a7badbaa503699d-79357105.us-east-2.elb.amazonaws.com:9090/settings

[2022-07-19 01:11] AjayTripathy commented on #1471
@kaelanspatel is it possible we missed a query on the "resize local disks" section?

[2022-07-19 04:59] alexkubecost commented on #1520
Adding @amcheste, who we have been working with from the Oracle side!

[2022-07-19 17:09] Adam-Stack-PM commented on #1471
@kaelanspatel Friendly nudge. Please see Ajay's last comment.

@jessegoodier @keithhand, Could you help me understand the priority level of this issue based on customer input?  Is it a (p0,1,2)

[2022-07-19 18:37] jessegoodier commented on #1471
I have 1 customer with the issue. Fairly low impact, given that the savings totals are in line and everything else seems in-line with expectations.

[2022-07-19 18:39] kaelanspatel commented on #1471
In any case, fixed it here @AjayTripathy @Adam-Stack-PM: https://github.com/kubecost/cost-analyzer-frontend/pull/918

Missing check in an added instance of those prom queries added in SPA after the check logic was written.

[2022-07-19 18:39] keithhand commented on #1471
One customer for me as well. I would say a p1.5. It's not something that is bringing the application down. However, it is an important feature that they are looking to use.

[2022-07-19 22:03] keithhand opened #1566 "Option to ignore last 2 days if CUR enabled"
**What problem are you trying to solve?**
Because enabling a cost & usage report will result in discrepancies for the last 48 hours (time it takes to post CUR data), I would like an option to disable non-reconciled data so that it doesn't show up in my UI.

**Describe the solution you'd like**
An option to ignore dates that have not yet been reconciled against my CUR.

**Describe alternatives you'

[2022-07-19 22:48] jcharcalla opened #1567 "Large dollar amounts cutoff in UI"
**Describe the bug**
Large dollar amounts on the "overview" and "cost allocation" page get cut off when displayed in kubecost `1.95.0`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `1.95.0`
2. Spend a lot of money.
3. See display issue on "overview" and "cost allocation" pages.

**Screenshots**
![Screen Shot 2022-07-19 at 3 17 58 PM](https://user-images.githubusercontent.com/17748

[2022-07-19 23:04] dwbrown2 commented on #1566
Thanks for sharing Keith! Have a sense for what pages this most applies to? Would custom date ranges be a good way to tackle?

[2022-07-19 23:29] keithhand commented on #1566
This would primarily be for Asset and Allocation reports. A custom date range would work, but because we need to set an actual date, there's not a way to customize reports with a window such as "last seven days minus today and yesterday."

[2022-07-20 00:17] AjayTripathy commented on #1566
I think we could quickly build that as a dropdown and then have the user save that dropdown as their default report? Don't think we need to add additional configuration.

[2022-07-20 03:16] teevans opened #1569 "Disable Grafana by Default"
Following up here on an email thread with AjayTripathy and nealormsbee.

Sounds like we're ready to make the switch to remove our shipped version of grafana by default.

AjayTripathy / nealormsbee

* What are the steps to get this done?

gz#2222<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2222'>Zendesk ticket #2222</a>)</i>

┆Issue is synchronized with this [Jira Task

[2022-07-20 03:27] srpomeroy commented on #1316
I can certainly try @Adam-Stack-PM!

[2022-07-20 15:50] nealormsbee commented on #1569
@teevans I'll read through the Helm chart again to see if there are other considerations. Nominally, defaulting `grafana.enabled = false` in `values.yaml`.

That *might* be it, but there may be a little more. Broadcasting this change to users would also be good.

[2022-07-20 17:47] dwbrown2 commented on #1569
@AjayTripathy can you share the broader gameplan here so we have context?

[2022-07-20 18:18] AjayTripathy commented on #1563
Here are my thoughts:
* I think it's pretty clear from the feedback and tickets that "probability adjusted savings" shouldn't be way up at the top. Those numbers aren't summable, so my opinion is we should stop summing them if it's causing confusion.
* Idle and efficiency are separate concepts, so let's just stop pages from mixing them...

[2022-07-20 20:26] AjayTripathy commented on #1520
@amcheste would love to support you guys on this addition. here's the guide for adding a new provider: https://docs.google.com/document/d/1JVPCeQmvGU88aw0bJJjtTzdl5RhhOqT7FPs2szuHBkc/edit

[2022-07-20 22:42] Adam-Stack-PM commented on #1545
@AjayTripathy, Could you look into this or point me in the right direction for who could help triage?

[2022-07-20 22:49] Adam-Stack-PM commented on #1471
@kaelanspatel thanks for the fix and the followup @keithhand & @jessegoodier

[2022-07-20 22:50] Adam-Stack-PM commented on #1471
Action Items: Verify https://github.com/kubecost/cost-analyzer-frontend/pull/918 fixed the issue before closing

[2022-07-21 03:20] AjayTripathy commented on #1569
Note on implementation is you need to also set proxy=false

Here's my thoughts on broader plan. We should announce in patch notes that we're setting this to off but will continue to support byo grafana and community dashboards.  Then over the next few releases we should remove grafana entirely from our app and only support byo+an integration with our dashboards.

[2022-07-21 06:03] RomanDvorsky opened #1571 "Cost treemap UI bug"
**Describe the bug**
Unable to see cost efficiency and costs on the graph - the menu get hidden.

**To Reproduce**
Steps to reproduce the behavior:

1. have multiple small namespaces
1. Show cost treemap graph
1. Try to show costs for the bottom namespaces

**Expected behavior**
Shown menu position will be changed depending on the position the control so it is always visible, bottom controls will

[2022-07-21 13:22] jessegoodier opened #1572 "enable RBAC filtering in assets"
**What problem are you trying to solve?**

currently RBAC allows for filtering in cost allocation. Customer requesting filtering in assets as well.

Ideally insure all saving and advanced reports adhere to filters as well.

**Describe the solution you'd like**

Customer has stated: "We have a bunch of groups and every group should have access to exactly one cluster. Also in every cluster we want t

[2022-07-21 16:02] kc-adawson opened #1573 "Ability to 'exclude' certain namespaces (kube-system) in Request Rightsizing"
**What problem are you trying to solve?**
On a GKE cluster, the Kube-system namesapce can not be resized. Within the Kubecost rightsizing section, many of my top savings are kube-system, which are counted in Savings but can not actually be re-sized.

![](https://user-images.githubusercontent.com/101200254/180258801-36c2dcbc-a6f4-4164-afd0-49539bff059e.png)

**Describe the solution you'd like**
Abi

[2022-07-21 16:07] dwbrown2 commented on #1573
Definitely see the need for this! @michaelmdresser would we be close now with new filters implementation?

[2022-07-21 16:51] jessegoodier commented on #1500
A customer got MS Teams to work using "power automate"

https://powerautomate.microsoft.com/en-us/

we can close this issue unless we want to change the wording here:
![image](https://user-images.githubusercontent.com/31039225/180269819-3e3cc412-d4cd-409d-b8ff-1c4800ba2992.png)

[2022-07-21 17:12] AjayTripathy commented on #1500
Can we add documentation for how powerautomate works so it doesn't get lost, then close this issue linking that documentation?

[2022-07-21 17:15] teevans commented on #1500
^^ Let's do that, but let's also update the copy on the page, and provide a help link to this new documentation.

[2022-07-21 17:27] srpomeroy commented on #1500
FWIW, Microsoft Power Automate is separate from Microsoft Teams and not necessarily included in M/O365 licensing.

[2022-07-21 18:37] dwbrown2 commented on #1500
Would it make sense to see how we can support teams too? Another path would be to at adding a more generic PagerDuty integration.

[2022-07-21 18:48] kc-creynold opened #1574 "Role Based Access Controls in Kubecost"
**What problem are you trying to solve?**
For customers that are running kubernetes as a enterprise solution, they want to offer their tenants the ability to track/view/monitor only for their namespace/project/etc only and not have the ability to see other tenants data/spend/underling assets, health, settings, etc in the UI/API.  By bringing in RBAC and applying contextually aware UI elements we c

[2022-07-21 19:05] dwbrown2 commented on #1563
A big part of these numbers not adding up is because we attach a savings value to optimizations like removing abandoned pods and right-sizing applications. These indirectly allow for savings, because teams can then right-sizing infrastructure, but don't directly lead to savings.

I have ideas on how we can better present, but would love to hear your input!

[2022-07-21 19:24] Adam-Stack-PM commented on #804
@teevans  Do we have or want to spin up an issue to get this exposed in the UI as well?

CC @michaelmdresser, @dwbrown2

[2022-07-21 19:51] Adam-Stack-PM commented on #1563
I would be hesitant to lose the total savings. It is clear and tangible for a business user.  This point of view was inspired by Mat Wilcox related to a feature gate idea I had.

Webb, to ensure I understand correctly to get the full savings, the user must first act on the initial recommendations like "right-sizing applications".  Then these unlock additional savings opportunities like right-sizin

[2022-07-21 20:24] Adam-Stack-PM commented on #1387
@teevans Who should this be assigned to?

[2022-07-21 20:32] jcharcalla opened #1575 "Unknown storage class"
**Describe the bug**
When drilling into "Disk" assets the storage class is always displayed as "Unknown". This appears to happen with volumes from all cloud providers and I have reproduced it using Kubecost `1.95.0`. This bug report is in reference to Zendesk ticket [2191].(https://kubecost.zendesk.com/agent/tickets/2191)

Screenshot showing "Unknown" Storage class.
<img width="1279" alt="Screen S

[2022-07-21 21:03] jcharcalla opened #1576 "Left over Cloud provider after removal from the cloud-integration.json"
**Describe the bug**
A customer has removed a GCP entry from the `cloud-integration.json` used for [multi-cloud integrations](https://guide.kubecost.com/hc/en-us/articles/4407595968919-Setting-Up-Cloud-Integrations) and after doing so the "Cloud Integrations" section of the "diagnostics" page now shows a generic GCP "Cloud Provider" in its place. They are currently running version `1.95.0`.

A Har

[2022-07-21 21:04] jcharcalla commented on #1576
If there is an additional location I should check for left over configuration details let me know.

[2022-07-21 21:28] jcharcalla opened #1577 "External costs column shown on the details page, and does not match the "Cloud Costs" tile."
**Describe the bug**
After [1.94.0](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.94.0) where the release notes state "Removed External Costs column from the totals row", should the "External" column still be displayed on the details page? It appears to alway show $0.00 even when the "Cloud Costs" tile shows a dollar amount or when `&external=true` is added to the URL.

**To

[2022-07-21 21:32] Adam-Stack-PM commented on #1478
@jjarrett21, Are you aiming to get this into v1.96?

[2022-07-21 21:54] jcharcalla opened #1578 "Make LB estimates per-provider and more accurate pre-reconciliation"
**Describe the bug**
When drilling into the cost allocation details page, the estimated costs for AWS load balancers prior to CUR reconciliation are inflated ($2 vs $0.60). This was seen in `1.95.0`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the [test cluster](http://a33fe579340b346b6a7badbaa503699d-79357105.us-east-2.elb.amazonaws.com:9090/details?name=kubecost&type=namespace)

[2022-07-21 21:56] Sean-Holcomb commented on #1526
@andreb89 can you verify that that the column "InstanceId (InstanceId)" was replaced with "InstanceName".
Additionally can you check that the date format hasn't changed in the CSV for me?

[2022-07-21 22:03] dwbrown2 commented on #1478
@jjarrett21 have the APIs you need or anything we can help you with?

[2022-07-21 22:08] AjayTripathy commented on #1578
This is not a frontend bug, also note the estimates are off for AWS.

[2022-07-21 22:36] Sean-Holcomb opened #1579 "Strange numbers from reconciliation on Azure"
User reports:
Not sure if might be related but in my Kubecost recently installed in Azure I see the cost calculation is wrong. The cost for recent data (last 2 days) are ok but older data are incorrect. I suspect is related to reconciliation with cost exporter data. Repairing the ETL bring the data to correct value after after a while the are wrong again.

I was able to validating running the ETL

[2022-07-21 22:40] Sean-Holcomb commented on #1579
@marco-giovannini-73team I have created a new issue for you because I don't think what you are seeing is related to the issue you originally commented on. I agree that your issue is likely related to reconciliation. What kind of adjustment numbers are you seeing for on the Asset page. Can you find the resources in Azure's cost explorer and ensure that the number are not being correctly adjusted?

[2022-07-21 23:04] kc-adawson commented on #1499
Is overview-new set to be promoted in 1.96? If not, can we give the users an ability to "opt into the new overview"? I think the overview-new even in its current state is much better than the old overview:

<img width="1440" alt="2022-07-21_18-58-11" src="https://user-images.githubusercontent.com/101200254/180329309-58a305e6-d164-4c09-8554-7a25c41932e0.png">

[2022-07-21 23:05] dwbrown2 commented on #1499
@nealormsbee has a big PR in the works for performance! I think it's still part of 1.96 plan but he'll know best.

[2022-07-21 23:08] nealormsbee commented on #1499
Yes! The plan is to promote overview-new to overview as part of 1.96. Performance is improved to the point that the page loads scale cluster data on the order of 10~20 seconds. I need to confirm that all numbers are solid (it seems like efficiency calculation may have been messed up in the translation) but otherwise we're looking good here.

[2022-07-21 23:14] Sean-Holcomb commented on #1526
@andreb89 In terms of your second issue. It appears that your nodes are missing the labels `topology.kubernetes.io/region and `beta.kubernetes.io/instance-type` or `node.kubernetes.io/instance-type` can you check if this is the case, and if so is there anything particular about your aks set up that you think might affect this.

[2022-07-21 23:45] AjayTripathy commented on #1574
Just to check in, this has been implemented for the allocations page and api, and this request is to ensure that this implemented throughout the app?

[2022-07-22 14:21] jessegoodier commented on #1356
We have this, which has worked for some customers. We should link to it after we do some more validation.
https://github.com/kubecost/poc-common-configurations/blob/main/private-registry-helm-values/values-private-container-registry.yaml

note the imageVersion line that is commented, probably should not be commented

[2022-07-22 14:57] kc-creynold commented on #1574
Correct.

Right now there are three pre-defined roles ([https://guide.kubecost.com/hc/en-us/articles/4407595985047-User-Management-SSO-SAML](url)) that allow for filtering based on filters.json

Most of the Govt customers use OU mapping to manage application RBAC via keycloak and need a higher level of granularity in turning things on/off. In addition they use SSO via a CAC (X509) card to pass to

[2022-07-22 16:06] kc-adawson opened #1580 ""Shared External" Cost Allocation"
**What problem are you trying to solve?**
Customers have Out of Cluster Costs that they want to share across multiple kubecost reporting groups (Example, share CloudFront and RDS costs across "Customer" label or across namespace) In this case, multiple tenants utilize 1 CloudFront distribution and 1 RDS, so they need some way to split it across customers (by weight or evenly)

**Describe the solut

[2022-07-22 16:28] jessegoodier commented on #1580
+1 from a few customers that have mentioned this to me.

Idea:
maybe just start with percentage first? The customer could script out the tags for when they require "evenly" until we get more requirements?

[2022-07-22 16:41] dwbrown2 commented on #1580
Seems like a great feature addition to advanced reporting to me!

cc @teevans @wolfeaustin

[2022-07-22 16:58] AjayTripathy commented on #1575
Hey @jcharcalla thanks for this! I don't think this is necessarily on the FE folks; the api doesn't return this data so it should probably be assigned to @sundeepghuman for further traige.

[2022-07-22 17:08] Sean-Holcomb commented on #1526
@andreb89 thank you for the response. I believe I have the solution for billing data ingestion. I will keep looking at the second issue.

[2022-07-22 17:25] nealormsbee commented on #1499
Revisiting to add some additional clarification.

- The plan is to promote new overview to the default experience in 1.96
- It will likely, for large scale users, load somewhat more slowly than the current overview, because it includes pod-level metrics. However, it is still loading data fro the scale cluster in <20s and there is likely room for more improvement.
- @jessegoodier idle costs will be

[2022-07-22 17:49] nealormsbee commented on #1499
I changed the list in OP to have checkboxes so I can check things off as I work.

I guess number 7 is also an interesting one, because that table currently treats cluster/namespace pairs as unique items (hence the 'cluster' column). So if you have a namespace duplicated across 3 clusters, it would show as 3 different items. I think it would be confusing to include "cluster" and "cluster count" col

[2022-07-22 17:53] AjayTripathy commented on #1574
There's more than those 3 defined roles; Editor and Reader can already be scoped to namespaces, though it is in beta: https://docs.google.com/document/d/1o3jzlHg9lHhz5hNCaTERXVzVrwLe1R7YTKGTxt6RYTM/edit

[2022-07-22 17:57] Adam-Stack-PM opened #1582 "Find and update any recommendations that conflict with #1581 update"
We should ideally find any recommendations that conflict with this throughout our docs. Items changed in PR (review PR after merged to ensure additional changes where made)

Default values for Kubecost Helm chart
FOR THE EASIEST UPGRADE PATH, DO NOT COPY THIS FILE AS YOUR OWN values.yaml.
ONLY SET THE VALUES YOU WANT TO OVERRIDE IN YOUR values.yaml.
Source: https://github.com/kubecost/cost-analyze

[2022-07-22 18:09] Adam-Stack-PM commented on #1571
@RomanDvorsky Thanks for this bug and clear explanation.  We are working on a big frontend update and will get this on our roadmap.

@teevans  This could be a good candidate to fix as we migrate to the new design system.

[2022-07-22 18:35] kc-creynold commented on #1574
Ok cool, good to know @AjayTripathy.  Could we take it a step further and have a mappings file that would map a User identity management OUs, to roles created in the SAML filters once we have full rbac? This way a users access is tracked and managed upstream in a system that meets/maintains auditing requirements/logging requirements, etc.

[2022-07-22 18:37] Adam-Stack-PM commented on #1577
@jcharcalla Thanks for reporting this.  Side note, I unassigned Thomas. We are trying to use that field for when items have been scheduled.

@teevans Could you get this reviewed and assign it a priority for an upcoming release (p0,1,2)?

[2022-07-22 18:41] Adam-Stack-PM commented on #1575
@AjayTripathy, While on support rotation, could you take the first pass at assigning this bug a priority p0,1,2)?

[2022-07-22 18:46] nealormsbee commented on #1499
Sorry for the quadruple post! One more thing. A link to the updated Overview in progress is here: https://kc-frontend-dsx10b8n7-kubecost.vercel.app/overview-new?backends=https%3A%2F%2Fmulti.test.kubecost.io

I'm working through these UI enhancements, and also doing my best to test out different cases for numerical accuracy. I'm seeing some small numerical discrepancies that I'm trying to track dow

[2022-07-22 19:03] srpomeroy commented on #1499
What aggregation is the cluster efficiency metric based on? It used to be namespaces in the old overview. Is it now cluster? We should call out what the aggregation is.

[2022-07-22 19:04] srpomeroy commented on #1499
Have we explored using line charts instead of stacked bars? Would be much easier to see the rate of change for a particular resource of time compared to stacked bars.

[2022-07-22 19:18] jessegoodier commented on #1499
This looks great! I'll try out and let you know if I find anything.

[2022-07-22 19:42] bstuder99 commented on #1582
Can you be more specific about what we should be looking for in the docs and how we issue corrections? I see about 20 articles that mention a values.yaml, but what else is required to warrant a correction? Does that warning we've added to the Cost Analyzer Helm Chart need to be duplicated on every page?

[2022-07-22 19:44] dwbrown2 commented on #1499
Looking awesome @nealormsbee!

* Just curious, how much does dropping pod data impact load time on scale cluster? Would love to see if we can get that down.
* What do you think about deep linking this card to spend aggregated by Service with cloud filter? Currently just shows one-line of "Cloud"
<img width="259" alt="image" src="https://user-images.githubusercontent.com/298359/180515723-5b7b0c69-6

[2022-07-22 19:52] jessegoodier commented on #1499
I think this should be #of namespaces?
![image](https://user-images.githubusercontent.com/31039225/180517261-0b0eb7c9-bd21-477c-9657-062cbaf0515e.png)

[2022-07-22 20:07] kc-adawson commented on #1499
It would also be great if we had ability to create a "friendly name" for Cloud Accounts, alongside the "account-id". It's tough to tell what is what with the number as the only an identifier.

<img width="1261" alt="2022-07-22_16-05-44" src="https://user-images.githubusercontent.com/101200254/180519095-8d8df538-3b5d-4457-8be0-bcb3a4816e95.png">

[2022-07-22 20:10] kc-adawson commented on #1499
Also on 1.95.0, seeing blank links on multiple different Kubecost deployments. You can see it does this on both the Cluster and the Namespace sub-modals on 2 different instances (demo.kubecost.xyz and nightly.kubecost.io)

![Kapture 2022-07-22 at 16 09 21](https://user-images.githubusercontent.com/101200254/180519507-62f8076b-d7da-470d-8f2c-76cf762800ae.gif)

[2022-07-22 20:22] dwbrown2 commented on #1582
Definitely want to get eng input here, but IMO any time we say to "copy values.yaml" or duplicate our full values.yaml it can lead to upgrade issues later. I'd call this P2, don't mean to create a firedrill

[2022-07-22 20:24] srpomeroy commented on #1499
We could pull this data from the bill/api where available as opposed to having to maintain a config-map or some other data source.

[2022-07-22 22:13] keithhand opened #1583 "Add the option to filter by non-standard aggregation types"
**What problem are you trying to solve?**
Within the Allocation report, if you would like to filter by certain aggregation types that are based on labels (Product, Team, Owner, etc.), you have to choose to filter based on the label, rather than the aggregation.

**Describe the solution you'd like**
A way to select "Filter by product:cost-analyzer"

Describe alternatives you've considered**
If you

[2022-07-22 23:12] clekas-fff commented on #1583
This would be great. It would make sense for the group by options and the filter options to match since it's a pretty common use case to group by something, then filter to only it and remove the grouping to drill down.

[2022-07-22 23:31] nealormsbee commented on #1499
@srpomeroy

The query is aggregated by `cluster,namespace`, but if I'm generating that final number correctly, I don't think it should matter. It should be the average request/usage efficiency of all allocations in ETL, with `__idle__` factored in.

I'm down to visit different visualization options! Probably not this release because there's polish left to do on this page, and I have additional ite

[2022-07-23 16:16] AjayTripathy commented on #1537
That drop information looks correct but must be added to the scraping job on your own Prometheus, not as a separate job, since you're asking the existing job to drop metrics from the kubecost namespace @akramwaseem

[2022-07-23 16:21] AjayTripathy commented on #1537
@headyj to reduce duplication, if you're using ksmv2 you can set this to true. https://github.com/kubecost/cost-analyzer-helm-chart/blob/6ee0c8bb58664767a6b6efe0123d85e586f568f2/cost-analyzer/values.yaml#L227

[2022-07-25 02:38] srpomeroy opened #1585 "Add support for Azure in the Orphaned Resources savings report"
**What problem are you trying to solve?**
Identify disks and IP addresses in Microsoft Azure that are not currently attached.

**Describe the solution you'd like**
Azure support on the Orphaned Resources savings page.

**Describe alternatives you've considered**
I manually identify resources via the Azure API, CLI, or UI.

**How would users interact with this feature?**
Disks and IP addresses woul

[2022-07-25 11:30] headyj commented on #1537
I was finally able to solve this issue by setting `honor_labels` to `true` on our **internal** prometheus, for `kubernetes-service-endpoints` job (to replace `exported_namespace` key by `namespace`

[2022-07-25 13:30] teevans commented on #1577
@wolfeaustin - Can you take a look at this and see what's going on here?

[2022-07-25 13:40] teevans commented on #1580
Yeah I like this a lot. Let's definitely get it on the road map!

[2022-07-25 13:52] teevans commented on #1576
@Sean-Holcomb - I believe this is something we've talked about. Didn't I commit to removing the blank ones from the FE?

[2022-07-25 13:54] teevans commented on #1387
@Adam-Stack-PM - Assigned Austin!

[2022-07-25 13:59] teevans commented on #804
Sure thing - Spun up - https://github.com/kubecost/cost-analyzer-frontend/issues/925

Will likely be 1.97 before implementation!

[2022-07-25 14:08] teevans commented on #1500
I'm assuming they're using the power-automate feature to take the slack formatted webhook and port it to a teams notification. I would argue that if there is a way for us to build multiple different variations of webhooks for different platforms, we should. Including a generic 'Webhook' that has a simple payload that any of their middleware tools like powerapps can parse.

[2022-07-25 14:18] akramwaseem commented on #1537
@headyj  -- can you share the job. if possible.
Did you add it as a Job or Added it during the Prometheus deployment ?

[2022-07-25 15:04] dwbrown2 commented on #1578
@AjayTripathy can you share recommended next steps?

[2022-07-25 15:06] headyj commented on #1537
No I did not add a job (except the kubecost one, as explained on the documentation: https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus), I just added the `honor_labels: true` to the existing kubernetes-service-endpoints job:

[code]
because otherwise I was getting namespaces as "exported_namespaces", which caused the duplications

[2022-07-25 15:09] srpomeroy opened #1586 "Take Kubernetes best practices (or Providers) into consideration when recommending instance sizes - max pods"
**What problem are you trying to solve?**
I would like to resize my cluster nodes for more efficient utilization using Kubecosts "Rightsize your cluster nodes" savings recommendations.

**Describe the solution you'd like**
The recommended instance sizes and quantities should abide by Kubernetes best practices, or in the case of a cloud-based environment, the cloud providers' best practices and lim

[2022-07-25 15:09] srpomeroy commented on #1586
There are likely other best practices we should consider when making node size recommendations.

[2022-07-25 15:41] Adam-Stack-PM commented on #1578
@AjayTripathy When you identify the next steps, could you also label this issue with (P0,1, or 2)?

[2022-07-25 17:33] clekas-fff opened #1590 "Fine-grained contractual discount specification"
**What problem are you trying to solve?**
Negotiated discounts often apply to more than just compute, but they apply at different rates.

**Describe the solution you'd like**
It would be useful to be able to specify different discounts for different types of resources (e.g. on-demand compute, RIs, CSPs, spot instances, networking, S3).

**Describe alternatives you've considered**
Without this, the

[2022-07-25 17:35] dwbrown2 commented on #1590
@clekas-fff this should be supported with our bill reconciliation feature once you integrate with a cloud provider!

[2022-07-25 23:24] clekas-fff commented on #1590
@dwbrown2 That's an awesome feature, but unfortunately it doesn't address the situation of negotiated discounts that show up as a credit at the end of the month (a credit which can even appear on another account's bill).

[2022-07-26 03:12] dwbrown2 commented on #1590
@clekas-fff it actually should account for end of month adjustments, do you have a specific scenario you're encountering that you need help with?

[2022-07-26 03:14] dwbrown2 commented on #1564
cc @teevans looks like this is statically set

I believe we need to decide on the exact flag where this is shown as enabled/disable? i.e. is this when you have a bucket key attached, show successful writes, or something else. @mbolt35 might have ideas

[2022-07-26 09:06] Kydybets commented on #1431
have the same issue, any sorts on this?

[2022-07-26 18:14] #1392 closed

[2022-07-26 18:19] teevans commented on #1564
@wolfeaustin - Do you have any context on this? It looks like it's checking if thanos is enabled, but I'm not sure what the actual logic behind it is.

[2022-07-26 21:45] clekas-fff commented on #1590
@dwbrown2 We get end of month adjustments in the form of a non-itemized rebate that:
- isn't broken down by account
- isn't broken down by service
- appears on a bill that we don't ingest

For those reasons, I don't think that Kubecost's bill ingest functionality will be able to correct for these other negotiated discounts.

[2022-07-27 02:34] dwbrown2 commented on #1585
+1, would just need to see if the same APIs exist. I'm guessing they do.

[2022-07-27 16:45] dwbrown2 commented on #1572
I definitely see value in this, but I think there's some design needed here to do this well. Here are some open questions IMO:

* How do we communicate to users that a filter is being applied? Proposal is that settings should inform but we may need more.
* What happens if someone filters to say just `S3` data with a specific label? Does that mean Allocation shows nothing?
* What happens when an Al

[2022-07-27 16:47] dwbrown2 commented on #1574
@AjayTripathy is that mapping that @kc-creynold mentions not currently supported?

Also, I think there's overlap with discussion in https://github.com/kubecost/cost-analyzer-helm-chart/issues/1572

@kc-creynold more thoughts on this one? What I commonly see is that they would get a limited view or read-only view of Settings as opposed to not be able to access at all.

[2022-07-27 17:10] AjayTripathy commented on #1590
The non-itemized rebate is a little tricky to handle but I think this is a cool idea to add to our "Advanced Reports" feature. cc-ing @teevans and @wolfeaustin for visibility-- what do you all think of applying constants or user-defined transformations in Advanced reports?

@clekas-fff while our frontend team explores that, maybe there is also something we can do to handle a non-itemized rebate au

[2022-07-27 17:16] AjayTripathy commented on #1574
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L162 @kc-creynold do you think this idea is sifficient? you can use SAML attributes to perform mappings of groups / any arbitrary thing to users.

[2022-07-27 17:58] kc-creynold commented on #1574
@dwbrown2 yes there is some overlap with that one.  The request I have had from a few PubSec customers extends beyond just the assets page.  Say for an application/namespace owner that wants to log into KC to view their reports, etc for just their namespace.  The settings page has no bearing/use for that user.

@AjayTripathy that would work, as long as the SAML attributes can be mapped to a OU/gro

[2022-07-27 18:14] AjayTripathy commented on #1431
@Kydybets could you clarify how you're running the upgrade for kubecost as well as send over your values.yaml?

[2022-07-27 18:22] Kydybets commented on #1431
@AjayTripathy
[code]

[2022-07-27 18:24] Kydybets commented on #1431
the issue is this initial deployment is ok,
but once we update something under the help it is going to failed
[code]

[2022-07-27 18:40] Kydybets commented on #1431
[code]

[2022-07-27 18:44] AjayTripathy commented on #1431
Looks like the storageclassname changed? If you need to modify that you'll have to delete and recreate your PV. Perhaps return to not specifying a storageClassName?

[2022-07-27 18:54] Kydybets commented on #1431
@AjayTripathy  initially storageClass is `gp3`
so the issue can be reproduce for example i change the `resources` and it goes to failed, cause pod is try to recreate and pvc can't me attached to 2 pods due to `AccessModes:      {"ReadWriteOnce"}`,

[2022-07-27 19:24] AjayTripathy commented on #1578
Next steps would be to come up with an algorithm to refine estimates for AWS and Azure on the CUR. Perhaps a small task for v1.97?

[2022-07-27 20:10] mmurph3 opened #1592 "test alert not sending email to recipient"
**Describe the bug**
Email not being sent when creating an alert to recipient specified.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Alerts > + CREATE ALERT
2. set Cost Threshold to any number (e.g. 1)
3. Under add recipient, add your email and click button "TEST ALERT"

**Expected behavior**
I expect it to send me an email.

**Additional Info**
I can confirm this feature wor

[2022-07-27 20:30] mbolt35 commented on #1592
@mmurph3 Not sure if this is related, but make sure you hit enter after specifying your email address:

![image](https://user-images.githubusercontent.com/334480/181365927-2731f977-1de3-4214-9a4e-a633ebd3b090.png)

This is something I didn't do originally, and was seeing the following:
![image](https://user-images.githubusercontent.com/334480/181366380-8ebd0ab4-363b-496f-be04-bd656e26f5ac.png)

If

[2022-07-27 21:28] Adam-Stack-PM commented on #1592
@teevans Bolts comment relates to a small UI issue that has come up a few times. May be worth looking at.

[2022-07-27 21:30] LaikaN57 opened #1593 "Customizable (or Semi-Customizable) Alert Email Subjects"
**What problem are you trying to solve?**

It would be useful if the alert email subject was configurable (or at least partially configurable) so that users can simply filter on subject lines for different alert emails they might get from Kubecost. The thought here is when setting up multiple email reports, the user should get alert emails with subjects indicating which report the email is linked

[2022-07-27 21:31] LaikaN57 commented on #1593
NOTE: I realized that I was seeing this on "Test Alerts". I have not seen the subject of a real email report alert. Looking for others to confirm. I will also attempt to confirm this as well and will post an update or close.

[2022-07-27 21:41] Adam-Stack-PM commented on #1576
Lets try and get a priority set for this (p01,2,3).

[2022-07-27 22:11] Adam-Stack-PM commented on #1471
@keithhand, could you follow up with the customer after the release to ensure our solution fixed the issue?

[2022-07-27 22:15] AjayTripathy commented on #1471
Maybe we can give them the nightly to test @keithhand ?

[2022-07-27 22:26] Sean-Holcomb commented on #1576
Yes you did, I am not sure when a regression would have happened

[2022-07-27 22:45] dwbrown2 commented on #1592
+1 on Adam's and Bolt's comment. @Annalillie has a great UX suggestion here!

[2022-07-27 22:58] Annalillie commented on #1592
Thanks for tagging me @dwbrown2, I remember reading this in another issue. In regards to @mbolt35 and @Adam-Stack-PM comment, this is definitely a UX problem. A physical action would be great here to eliminate addresses not being saved, such as an "add" icon. I also think notifying users to check spam could work as microcopy if alerts are being sent there. I'll brainstorm a few different flows for

[2022-07-27 23:57] clekas-fff commented on #1590
@AjayTripathy I've just learned that AWS has something called a billing policy that actually might achieve what we need it. It sounds like it lets us hard-code some discounts, which it applies when generating the CUR.

[2022-07-28 00:08] kirbsauce commented on #1593
hi @LaikaN57 , thanks for the suggestion!  I too do a lot of filters on emails and can definitely see the value.  Stay tuned for any followup questions from our product team!

[2022-07-28 00:10] wolfeaustin commented on #1564
@teevans yea it looks like there isn't any existing logic around this. I'll put something together to remedy.

[2022-07-28 00:23] Annalillie commented on #1592
Yes! Thanks for that reminder. I'll run with this flow for the time being.

[2022-07-28 02:03] LaikaN57 commented on #835
@dwbrown2 Speaking of auth...

Working around email security for a while has shown me the lack of good documentation around it and end-users not typically know about email security. As you gear up for release, I would ensure that you have **really really (really)** good documentation around setting up DMARC/DKIM/SPF.

I have found some documentation written by https://sendgrid.com/ and https://dma

[2022-07-28 02:29] LaikaN57 commented on #1468
I would add that, we should capture values not only on "click-away" events, but also on "form submit" events. I am likely to just throw in an email address and click submit instead of clicking in the "blank area" first.

[2022-07-28 03:17] LaikaN57 commented on #1030
@dwbrown2 Lets make the label name configurable on the Kubecost side please. I find that hard-coding label names for configuration does not work well in the long-term due to unforeseeable collisions with other products or definitions.

As for our setup, we have a blessed git repo which installs a `namespace` for a newly defined "project". That repo requires you to specify a `namespace` and more/le

[2022-07-28 03:28] teevans commented on #1564
I would think it would be if they have durable storage enabled.

[2022-07-28 04:37] teevans commented on #1576
@Sean-Holcomb  - Looks like AWS and GCP both have different values for those attributes. GCP returns "", while AWS returns "_" - So I'll need to account for both. PR opening soon.

[2022-07-28 06:20] LaikaN57 commented on #1569
Config snippet from a _mostly_ disabled `grafana` (for whatever it is worth in this discussion):

[code]

[2022-07-28 07:32] ankit-kumar-7 opened #1594 "Kubecost not showing recommendation based on max usage"
**Describe the bug**
Kubecost request sizing giving recommendations based on current usage and not the max usage.

**Expected behavior**
The recommendation should be based on max usage which is 1.047 in case of cpu as shown in third image.

**Screenshots**

![](https://user-images.githubusercontent.com/97100327/181444515-eeefbdaf-d04d-4484-ae9d-d5834340844e.png)
This image shows the usage and reco

[2022-07-28 12:05] Kydybets commented on #1431
i think one of the way is do next
instead of this config
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-deployment-template.yaml
[code]
do next
[code]

in the helm it could be like this
[code]

[2022-07-28 12:18] jessegoodier opened #1595 "correct status on diagnostic "Pricing Sources" when using cloud-integration and disable settings UI cloud providers"
**Describe the bug**

If cloud-integration is used, /diagnostics "pricing sources" leads users to believe they have a configuration issue.

When kubecost detects that cloud-integration is present, disable "Cloud Cost Settings" in /settings

**To Reproduce**

1. Configure `.Values.kubecostProductConfigs.cloudIntegrationSecret`
2. deploy helm
3. view errors in /diagnostics page and the ability to co

[2022-07-28 14:34] srpomeroy opened #1596 "Support AWS Assume Role when ingesting multiple AWS bills"
**What problem are you trying to solve?**
My organization has many different AWS payer accounts, and I would like Kubecost to ingest the bill from all of them using [IAM Roles for Service Accounts (IRSA)](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html). Today this appears only to be possible using IAM Users.

**Describe the solution you'd like**
The ability to

[2022-07-28 15:45] dwbrown2 commented on #1593
+1 on this! Might just need to think through handling special characters and other edge cases.

[2022-07-28 16:24] mmurph3 commented on #1592
@mbolt35 it works - It was a user error. I didn't hit enter after entering the email. Should I close this out?

[2022-07-28 16:26] #1567 closed

[2022-07-28 16:27] #1576 closed

[2022-07-28 16:41] keithhand commented on #1594
Hi @ankit-kumar-7, I'm not sure what is causing this, but it looks like it might be a bug to me. I noticed that it appears we are targeting the same pod for max usage (`...-rt7kg`). I am curious if the other pods within the Kubecost and Grafana dashboards match values. Could you check some of these to see if we notice a similar discrepancy or if they are consistent? I will also ping someone from o

[2022-07-28 17:13] LaikaN57 commented on #1593
I'm pretty sure email subjects mostly support utf-8 now days (as proved out by all the scammy emails using "cute" emojis in my inbox).

[2022-07-28 19:07] Kydybets commented on #1431
another thing that i just realise that if for example i would like add extra resources, and apply to the pod, it can failed working with volume, cause the previous container is not yet terminated, and another one try to run,

If you have a monitoring that is watch of pod restart in the cluster, alert will be fired

[2022-07-28 20:33] jcharcalla opened #1597 "Diagnostics page not reflecting cloud-integration.json configuration."
**Describe the bug**
After adding cloud integrations via the [cloud-integration.json ](https://guide.kubecost.com/hc/en-us/articles/4407595968919#step-2-create-cloud-integration-secret) exclusively, the "diagnostics" page shows errors under the pricing sources despite the integration actually working correctly.
![](https://user-images.githubusercontent.com/17748044/181631150-7b3f103d-9e17-4c8a-846

[2022-07-28 20:45] jcharcalla commented on #1597
I forgot to mention this was tested in `v1.95.1`.

[2022-07-28 21:53] jcharcalla opened #1598 "Incorrect error shown on the cluster size recommendation page"
**Describe the bug**
The cluster size recommendation page is displaying an error `Failed to compute cluster size, please check that you have a valid service account configured...` when from the Har file the error is clearer. `error converting cluster ******** WorkloadDistribution to cluster sizing: failed to recommend single pool cluster sizing:...`

In this customer scenario they are using federa

[2022-07-29 11:52] jessegoodier commented on #1595
more detail: https://github.com/kubecost/cost-analyzer-helm-chart/issues/1597

[2022-07-29 11:53] jessegoodier commented on #1598
more detail and suggestions on UI changes for when cloud-integration is used:
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1595

[2022-07-29 12:45] LaikaN57 commented on #1593
Confirmed that alerts generated by reports do not contain report name or similar. Proof:
[code]

[2022-07-29 15:25] Adam-Stack-PM commented on #1578
@jcharcalla, have added this to the list of items we are considering for v1.97.

[2022-07-29 16:19] romankydybets commented on #1493
Warning policy/v1beta1 usage PR
#1599

[2022-07-29 20:26] linhlam-kc commented on #1527
@Adam-Stack-PM : Partner updated that they have solution to fix it on their end. So item 3 is not required now. However, in the long term, we need to standardize namespace name to support some CI/CD tool like Circle CI.

[2022-07-29 20:53] Adam-Stack-PM commented on #1527
@linhlam-kc, Thanks for the update. Could you close this issue out and open a new issue to support additional CI/CD tools? Ideally, this would include a list of a few popular tools.

 If you could label it enhancement + CI/CD  tit will help keep this on our radar.

[2022-07-29 21:02] Adam-Stack-PM commented on #1493
@romankydybets, Thanks the PR!

[2022-07-29 21:06] keithhand commented on #1471
Hey @Adam-Stack-PM, I confirmed with the customer that the nightly looks to have resolved this issue.

[2022-07-29 21:07] Adam-Stack-PM commented on #1471
@keithhand, You rock. Thanks.

[2022-07-29 21:07] #1471 closed

[2022-07-29 21:14] Adam-Stack-PM commented on #1592
Thanks @Annalillie, Let me know if you need any feedback on the designs but also feel free to run with it.

@mmurph3, Thanks for opening this issue and pointing out a place we can elevate our UI. Great find!!

[2022-07-29 21:14] #1592 closed

[2022-07-29 21:35] Adam-Stack-PM commented on #1468
@LaikaN57, thanks for the input on this issue!

@Annalillie, across several issues, I've noticed a great opportunity to improve how we handle form submissions, saving items, and user input. As we transition to the design system, would it make sense to create a standard treatment (failures/success/feedback) and map out where it should be applied?

[2022-07-29 21:41] Annalillie commented on #1468
That makes complete sense @Adam-Stack-PM. As we move forward, we will definitely find ways to improve our UX for input/form submissions as well as incorporating error state microcopy. This is something I am currently looking into.

[2022-07-29 22:05] Adam-Stack-PM commented on #1564
Added the v1.96 label for the bug. Please update if you have other plans.

[2022-07-29 22:37] kirbsauce commented on #835
hi @vgokul984 !  I wanted to give you an update on this issue.  Unfortunately this isn't going to make the next release as we had hoped.  We'll be re-evaluating it in an upcoming product planning meeting, at which time we'll have a better ETA.  Apologies for any inconvenience.

cc: @dwbrown2 @Adam-Stack-PM

[2022-07-29 23:31] AjayTripathy commented on #1596
@Sean-Holcomb does this seem straightforward?

[2022-07-29 23:58] Sean-Holcomb commented on #1596
AFAIK this is more of a docs issue, multi-cloud can take in master-payers for each of its [aws configs ](https://github.com/opencost/opencost/blob/2850bc8f33f8ba6dd49aa9d1d2348d93a1535b2c/pkg/cloud/awsprovider.go#L429) and it is handled [here](https://github.com/opencost/opencost/blob/2850bc8f33f8ba6dd49aa9d1d2348d93a1535b2c/pkg/cloud/awsprovider.go#L433)

[2022-07-30 00:06] srpomeroy commented on #1596
@Sean-Holcomb are you saying what I am suggesting is already supported?

[2022-07-30 00:11] Sean-Holcomb commented on #1596
I am pretty sure they still need
[code]
It sounds like they are wanting to do multi-pod annotation verification, which I don't think is supported.

[2022-07-30 00:19] srpomeroy commented on #1596
Hopefully it will work without having an IAM user specified. In theory you would just need the role in the account where the primary is running to be trusted by all the roles in the different payer accounts.

I’ll make some time next week to treat it out.

[2022-08-01 15:57] michaelmdresser commented on #1573
Yes, we're close. The request sizing API will have to be updates to accept the new filters (should be straightforward) and then the frontend will have to be updated (similar to https://github.com/kubecost/cost-analyzer-frontend/issues/925).

[2022-08-01 17:34] AjayTripathy opened #1600 "Efficiency flips when changing Idle Allocations"
**Describe the bug**

https://user-images.githubusercontent.com/453512/182208507-5a2f0b01-8f4b-4e51-8c9b-69c420d924d3.mp4

**To Reproduce**
See above video

**Expected behavior**
Idle allocation should not impact efficiency-- it should be calculated before Idle is applied.

[2022-08-01 17:43] linhlam-kc commented on #1527
@Adam-Stack-PM Yup, I will close this one and open new enhancement issue.

[2022-08-01 17:43] #1527 closed

[2022-08-01 19:14] #1542 closed

[2022-08-01 19:49] nealormsbee commented on #1600
Info on how these efficiency numbers are calculated:

## Frontend
Most efficiency calculation for allocations takes place on the frontend. The Summary API sends request/usage averages for CPU and RAM, and start/end timestamps for the allocation. From this, the frontend determines the cpuEfficiency and ramEfficiency, and takes a cost-weighted average of those values to get the allocation's total ef

[2022-08-01 21:23] AjayTripathy commented on #1600
Hey @nealormsbee thanks for that. Let's clarify the purpose of efficency and work backwards from there: it's used to define what workloads need to be prioritized at for right-sizing. Since you can't actually control machine efficiency (idle) by making those adjustments directly, I feel like idle should be entirely removed from this calculation*.

My proposal is the following-- let's start with the

[2022-08-01 22:06] nealormsbee commented on #1600
That rationale totally makes sense to me, and so does the plan of action.

I like the idea of Cost Allocation focusing on "Workload Land" so that rightsizing workloads has an immediate observable impact on your total efficiency number. And then maybe it makes sense to add a "hardware efficiency" column in the Assets page? I think this'll clear up a lot of existing confusion around efficiency.

--

[2022-08-02 00:12] keithhand opened #1601 "Cluster context switcher behavior on non-root cluster"
**Describe the bug**
When you select a secondary cluster through the context switcher options and try to switch contexts again, the "0" cluster adjusts to the root and you lose the context options from the root. This can be confusing for users if they want to view multiple different clusters. For example, if you start at the Root cluster, and navigate to a secondary cluster, you need to return to

[2022-08-02 01:19] nealormsbee commented on #1515
Based on my additional testing, this issue should be resolved in `1.95.0` and `1.96.0` when we release it ~next week.

@marco-giovannini-73team could I persuade you to upgrade, remove the ingress workaround, and let us know whether the issue is resolved?

[2022-08-02 12:40] biancaburtoiu commented on #1601
I think this may be non-blocking since the two clusters can be accessed outside of the context switcher by separately navigating to each of the appropriate URLs:
- http://ae978d75d3497461d9b0b2768b0d8d7c-2094351192.us-west-2.elb.amazonaws.com/overview
- http://20.115.8.72:9090/overview

@AjayTripathy or @dwbrown2 could you help confirm the priority here?

[2022-08-02 14:12] michaelmdresser commented on #1600
Thanks for the clean explanations Neal, as always. The backend is definitely a bit thorny when it comes to efficiency because after idle is shared to an `Allocation` (in the regular Allocation API, in-Go and in the HTTP endpoint) you lose the context needed to calculate efficiency "correctly" as you're doing in your FE PR. Worth a look at some point, but all progress is good progress.

I've always

[2022-08-02 17:06] Adam-Stack-PM commented on #1600
@michaelmdresser,  Are we good to close out this issue related to the bug fix or more work before we close?
If the backend work is not urgent, can we open a new PR to consider for a later release?

[2022-08-02 17:27] michaelmdresser commented on #1600
This is fine to close now that Neal's PR is merged.

[2022-08-02 18:15] #1600 closed

[2022-08-02 18:23] nealormsbee commented on #1536
Any update on this one @srpomeroy ?

[2022-08-02 18:25] nealormsbee commented on #1515
Closing for now. If it turns out that I've missed something, please feel free to re-open and @ me

[2022-08-02 18:25] #1515 closed

[2022-08-02 19:39] srpomeroy commented on #1536
I was unable to solicit any additional feedback. We can close.

[2022-08-02 19:39] #1536 closed

[2022-08-03 08:05] korjavin opened #1605 "Stuck with OIDC google auth (v1.98)"
Kubecost installed with official helm chart.

Values.yaml contains:

[code]

I checked that redirect URL included to “authorized” list on the Google site.

When I open kubecost front page I'm getting
[code]

![image](https://user-images.githubusercontent.com/148765/182556862-539a3731-bd3d-440c-9c2b-3cc68fd4ba9a.png)

Is there anything I can do with this issue?

gz#2289<br><br><i>(related to <a hre

[2022-08-03 14:35] Adam-Stack-PM commented on #1601
Hi @bianca, I would trust your experience and research on items like this.

In cases like this, I would just prioritize it (p0,1,2) it and ask people to adjust if they have a different opinion.

This has three fantastic outcomes.  In most cases, 1) does not create additional work for others, 2) it closes out items for you, and 3) it leaves the door open for others input.

[2022-08-03 15:10] teevans commented on #1564
@wolfeaustin - Can you knock this out?

[2022-08-03 22:03] Adam-Stack-PM commented on #1598
@biancaburtoiu  Could you help assign a priority status to this bug?  My gut says P1 because we have a workaround but could do better handling.

[2022-08-03 22:09] Adam-Stack-PM commented on #1595
@jessegoodier, I labeled this a P2 Bug.

Meaning it is important but will need to wait until it aligns with a more significant chunk of work to get fixed or an engineer has a little extra time.

You have a better view of customer needs, so please let me know if you feel differently.

[2022-08-03 22:09] Adam-Stack-PM commented on #1597
@jessegoodier  I labeled this a P2 Bug.

Meaning it is important but will need to wait until it aligns with a more significant chunk of work to get fixed or an engineer has a little extra time.

You have a better view of customer needs, so please let me know if you feel differently.

[2022-08-03 22:21] Adam-Stack-PM commented on #1594
@keithhand, ,Were  you and Austin able to get this issue resolved? If so could we close it? Or do we have more work to do on it?

[2022-08-03 22:47] keithhand commented on #1594
We noticed that the [Grafana section](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/pod-utilization.json#L264) looks like it might be using a different window than the [request sizing query](https://github.com/kubecost/cost-analyzer-frontend/blob/1a2f31db431990fe774028fb6e2117d75680e0c9/src/pages/RequestSizing/queries.ts), but we weren't able to confirm much past

[2022-08-04 23:24] #1564 closed

[2022-08-05 15:54] Adam-Stack-PM commented on #1577
@wolfeaustin, Any update on this item? Your making great progress on open items. Thanks for the hard work.

[2022-08-05 16:26] wolfeaustin commented on #1577
@Adam-Stack-PM [this](https://github.com/kubecost/cost-analyzer-frontend/pull/964) should take care of it

[2022-08-05 18:09] michaelmdresser opened #1606 "Add diagnostic check for Thanos blocks API"
**What problem are you trying to solve?**

While testing 1.96.0-rc.0, I ran into a problem where Thanos' credentials were messed up, meaning it was failing to write data to S3. It is frustrating that Kubecost reports successful ETL builds and mostly green diagnostics in this situation.

![](https://user-images.githubusercontent.com/17585786/183135101-62d97977-e952-4150-9e3f-8d3b5d3605f1.png)

![](

[2022-08-05 19:54] praveenkumar0566 opened #1607 "namespaces with no <0.01 units of CPU and MEMORY show no cost in cost allocation UI"
**Describe the bug**
A clear and concise description of what the bug is.
Namespaces with no resource requests and limits defined for both CPU and MEMORY show 0$ in the cost allocation report even if the workload is running in the pod.
![image](https://user-images.githubusercontent.com/102574445/183144077-2bb5768b-cf1d-4f15-8f0c-723823b9a98f.png)

And If we redeploy the pod by defining resource req

[2022-08-05 20:00] AjayTripathy commented on #1607
This doesn't seem likely. It's more likely that the backing cadvisor metrics are not making it back into kubecost. Can you look at the diagnostics page to ensure cadvisor metrics are being scraped?

[2022-08-05 20:06] AjayTripathy commented on #1607
I suppose another point is that if usage is low, you might have $0.004 over a small time window causing a round to zero-- you may check the backing API for more preceision.

[2022-08-05 20:08] #1577 closed

[2022-08-05 20:41] kirbsauce commented on #1607
@praveenkumar0566 , let's run another test.  Let's deploy two workloads w/out requests or limits and let it bake for two days and make sure the UI has a 7 day window.  If we still see 0's, let's redeploy just one with requests and observe the results.  this should ensure we're allowing things to accumulate a reportable cost, in the event their resource utilization is low.

[2022-08-05 20:43] AjayTripathy commented on #1607
Checking the API also seems reasonable. That should have ~6 figures of precision and you can also check if usage is registered

[2022-08-05 20:49] keithhand opened #1608 "Allow users to export saved reports/alerts created via the UI"
**What problem are you trying to solve?**
If a user creates an alert or report in the UI, it would be nice to have a way to export that report into a YAML format to add to their values.yaml so the alert/report can be recreated every deployment.

**Describe the solution you'd like**
A button for saved reports/alerts to 'export YAML'

**Describe alternatives you've considered**
Users today can confi

[2022-08-05 20:56] kirbsauce commented on #1607
love that idea.  it also gives us something to have users try.  one could also just drill down into the details too, I suppose.

[2022-08-07 13:52] kc-adawson opened #1611 "Add "Current/Now" Window in Container Rightsizing"
**What problem are you trying to solve?**

The smallest time window available for container rightsizing is 2 days. If someone is actively rightsizing workloads and checking back into Kubecost, the 2 day window seems to contain the old resource settings in its analysis.

I resized my clusters with Kubecost yesterday, and now I want to check on how everything looks. I select 2 day window:

![](https

[2022-08-08 05:13] ankit-kumar-7 commented on #1594
Hi @keithhand I checked the same for other pods as well and they are also showing similar discrepancy. There is a huge difference between usage shown in kubecost from the max usage indicated by grafana. Here's another example
<img width="1274" alt="Screenshot 2022-08-08 at 10 34 52 AM" src="https://user-images.githubusercontent.com/97100327/183343639-7a2643ee-d83b-4256-b6c4-1f7ae4fdb31f.png">

<im

[2022-08-08 09:51] ankit-kumar-7 opened #1612 "Anomaly in cost savings report"
**Describe the bug**
We have jobs running everyday for whhich the cost allocation shows very less total cost incurred for a day but the savings report show high value based on cpu and ram request.

**Expected behavior**
The savings report should show data based on usage.
for one day cost showing : $0.24
For 30 days (considering similar usage): 0.24*30 = $7.2
Then how is savings report showing $371

[2022-08-08 14:34] dwbrown2 commented on #1597
This is likely going to cause confusion for many users. Is this happening with all cloud provider integrations?

[2022-08-08 16:28] Adam-Stack-PM commented on #1597
@dwbrown2 Need to review in the sprint meeting.

@AjayTripathy + @sundeepghuman, Very important note this testing area has not been completed yet for v1.96.

[2022-08-08 18:37] mmurph3 opened #1613 "Set thanos store to recreate instead of update"
**Describe the bug**
kubecost-thanos-store pod hangs when editing deployment definition to change the update strategy.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit kubecost-thanos-store deplyoment and make a change to the update strategy. Change it to 'Recreate'
2. Run:
kubectl get pods -n kubecost
4. See that the second kubecost-thanos-store pod is created and old pod is stuck in 't

[2022-08-08 21:47] jcharcalla commented on #1612
@ankit-kumar-7  Thank you for reporting this issue.

Can you tell me what version of Kubecost you are running?

[2022-08-08 21:51] AjayTripathy commented on #1607
Were you able to check the API on your end @praveenkumar0566 ?

[2022-08-08 22:12] akramwaseem commented on #1608
+1

[2022-08-08 22:14] akramwaseem commented on #1593
+1

[2022-08-09 00:15] keithhand commented on #1613
I updated this in the past to support a custom strategy in this [PR](https://github.com/kubecost/cost-analyzer-helm-chart/issues/1328) based on this [ZD request](https://kubecost.zendesk.com/agent/tickets/1576). If we would like to default to Recreate, we only need to tweak the sub-charts values.yaml, see [this PR](https://github.com/kubecost/cost-analyzer-helm-chart/pull/1614).

[2022-08-09 00:25] dwbrown2 commented on #1569
Thanks for sharing @LaikaN57!

@AjayTripathy I still think this needs a little more thought from a product perspective. I doubt most users will go install all dashboards unless they are easily bundled.

[2022-08-09 03:57] praveenkumar0566 commented on #1607
Apologies @AjayTripathy  i didn't update here. Yes i have ran the API i can see the namespace with limits and i didn't see the values for the namespace with no limits.
I have deployed a namespace without requests yesterday (my time) so i will verify today again.
Will keep updated.

[2022-08-09 05:57] ankit-kumar-7 commented on #1612
I am running **Kubecost v1.89.1**

[2022-08-09 13:12] praveenkumar0566 commented on #1607
I verified again today that the cost allocation for CPU and RAM are displaying for the namespace with the workload for the one in which requests are not defined. Yesterday it was zero so I think it takes time to accumulate to display with very low utilization I checked both from UI and via API
**Below is the pod with requests not defined.**
![image](https://user-images.githubusercontent.com/102574

[2022-08-09 15:41] dwbrown2 commented on #1593
Goal is to review + get this in to 1.98!

[2022-08-09 16:57] AjayTripathy commented on #1431
Hi @romankydybets thanks for that feedback and sorry for the late response. I support switching the strategy to Recreate here or at least making it configurable to avoid this issue.

[2022-08-09 16:59] AjayTripathy opened #1615 "Allow configurable storage strategy on kubecost-cost-analyzer"
**What problem are you trying to solve?**
Should help with issues like https://github.com/kubecost/cost-analyzer-helm-chart/issues/1431 -- see there for more details.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.
](https://github.com/kubecost/cost-analyzer-helm-chart/issues/1431#issuecomment-1198053185)

**Describe alternatives you've considered

[2022-08-09 16:59] AjayTripathy commented on #1615
Assigning to @sundeepghuman for triage.

[2022-08-09 20:32] dwbrown2 commented on #1594
@ankit-kumar-7 do you believe that you're seeing this on just CPU usage? And is this the exact Grafana/Prom query you're viewing? Just wanted to make sure this hasn't been modified...

[code]

Also, what profile are you using in request-sizing view?

<img width="497" alt="image" src="https://user-images.githubusercontent.com/298359/183755153-efa9af02-d5ea-47c6-9c3f-888dc7ca1e33.png">

[2022-08-09 20:54] AjayTripathy commented on #1569
I'm supportive of continuing to bundle here-- I think this is just a question of turning grafana off by default? Set it to true and you'll still get the whole bundle. Open to additional feedback on that plan though!

[2022-08-09 20:56] AjayTripathy commented on #1607
Sounds like this can be closed then... @Annalillie any ideas on improving the UX here so that it's more clear that we have data albeit very small for these views?

[2022-08-09 21:07] Annalillie commented on #1607
@AjayTripathy if I'm reading the comments Praveen made correctly, it seems as though we have data for these views. However, this data is pretty small and takes a while to display. In that case, a "pending" status could be useful here in place of the value. If a value is, let's say $0.004, we could also have a generic value in place that describes the cost for this view is under $0.01. Maybe someth

[2022-08-09 21:09] AjayTripathy commented on #1607
Yep, you're reading it correctly. Pending or < 0.01 both sound good.

[2022-08-09 21:29] Annalillie commented on #1607
Awesome! I think the number value is best here. Even though pending would work, it doesn't offer any up front information like the number value does which I believe is more useful to users.

<img width="1041" alt="Screen Shot 2022-08-09 at 2 26 09 PM" src="https://user-images.githubusercontent.com/89574007/183764914-3ef5a4d3-d7ed-4c78-802f-b2e1d4eda57e.png">

<img width="1125" alt="Screen Shot 202

[2022-08-09 21:48] AjayTripathy commented on #1612
Thanks @ankit-kumar-7 , mind upgrading to v1.95.1 and taking a look again? Lots has changed since that version on accuracy/anomaly detection.

[2022-08-09 21:49] AjayTripathy commented on #1594
Hi @ankit-kumar-7 I noticed in this issue https://github.com/kubecost/cost-analyzer-helm-chart/issues/1612#issuecomment-1208947819 that you are running an older version of kubecost-- mind upgrading to v1.95.1 and taking another look?

[2022-08-09 22:20] zorrobyte commented on #1406
Another case #2196 where this was confusing. We just set up the CUR and had this error in the UI:
![image](https://user-images.githubusercontent.com/7257172/183771894-91984070-cdb0-47a5-af96-fd8ad73ceb97.png)

The customer does not have any reserved instances.

[2022-08-10 15:35] dwbrown2 commented on #1611
The main reason we did this was to indicate users shouldn't be making critical right-sizing decisions based on really small time windows. But I definitely see your points. I see two independent ones:

1) we should be using the latest/current request. I may even call this behavior a bug.

2) we can support more flexible window options here. @teevans think we should bring full window support of asse

[2022-08-10 16:33] cazter opened #1621 "Full Aggregation of Costs by Controller"
**What problem are you trying to solve?**
Need a complete sum total of costs associated with a StatefulSet.

**Describe the solution you'd like**
Cost Allocations page drill-down to K8S controllers currently only includes some portion of costs (CPU and Memory) for controllers. We'd like this to include all associated costs--network and storage.

**Describe alternatives you've considered**
N/A

**H

[2022-08-10 17:19] kc-adawson opened #1622 "Add UI Report Aspects for Budget / Budget Alerts"
**What problem are you trying to solve?**
We offer Allocation and Asset Budget Alerts to be created within the "Alerts" module. There is no current way to visualize or tracki these budgets in the Front End/UI.

**Describe the solution you'd like**
A UI element could be created when Budget Alerts are created, showing what is defined in the alert (Kubecost over Last 7 Days - Budget vs Spend), Or, cr

[2022-08-10 17:34] zorrobyte commented on #1621
Nice meeting with you, Brent!

Thank you for submitting this enhancement request; I'll follow up in the support case! (ZD #2196)

[2022-08-10 18:10] michaelmdresser commented on #1611
I'd call this a product-level bug -- we should be showing the latest-known request for "Current Request", rather than the average over the window (which is what we're currently showing). I think this is achievable at the API level right now with a bit of eng work.

If we do that, we can continue using the regular set of windows for calculating recommended requests, because that only takes into acc

[2022-08-10 19:47] akramwaseem commented on #1608
+1

[2022-08-10 20:57] linhlam-kc opened #1629 "Parameterize namespace values using Values.yaml file"
**What problem are you trying to solve?**
- Customer and partner report that many of our deployment templates does not have the namespace explicitly specified in the metadata. It generates issue when deploying Kubecost using their in-house deployment tool or Gitops tool like ArgoCD which has no option to omit namespace value. The template that does not have the namespace specified will be deploy i

[2022-08-10 21:24] zorrobyte opened #1630 "AWS cross zone traffic doesn't seem right"
**Describe the bug**
Customer has their network config setup like this:

[code]

This is traffic within a zone:
![image](https://user-images.githubusercontent.com/7257172/184022775-1d32466f-637a-401d-8be0-bf73d668b502.png)

And outside a zone:
![image](https://user-images.githubusercontent.com/7257172/184022804-b425973b-52bf-4602-85c5-59fe351adb1a.png)

In-zone traffic should be much, much more th

[2022-08-10 21:55] Adam-Stack-PM commented on #1406
Thanks for the additional report @zorrobyte

[2022-08-10 22:54] Adam-Stack-PM commented on #1613
@Sean-Holcomb Could you add a priority status to this bug?

[2022-08-10 23:43] nikovacevic commented on #1611
I agree that we should prioritize the ability to see something like "last known request" -- even though we'll never be able to do "current," per se, because that can change faster than ETL can possibly pick up the change.

But I think we need to be very careful that we don't let users easily view and act on _recommendations_ generated from a too-short window. Like... even 2 days is arguably a dang

[2022-08-10 23:59] Sean-Holcomb commented on #1621
@cazter can I get a little more detail on what you want to accomplish here. It seems to me that what you are looking for is on the Allocation page rather than the Asset page. On the Allocation page you can aggregate by controller and get a break down like this
![Screen Shot 2022-08-10 at 4 58 23 PM](https://user-images.githubusercontent.com/12225425/184042903-38c397eb-41fa-4494-a349-3c7b954c4842.p

[2022-08-11 12:28] kc-adawson commented on #1611
I understand the time window concerns - If we can do the "Last Known Request" like you said, I think that would solve the issue and improve the experience.

[2022-08-11 13:48] cazter commented on #1621
@Sean-Holcomb Here's an example. The below screenshot is from Assets > Disk.
![disks](https://user-images.githubusercontent.com/6201176/184148081-f9ee35f0-8920-47da-9f2b-1b6d15b3cc43.png)

That PVC disk is attached to this controller's pod. The below screenshot is from Cost Allocation > Namespace (Controller):
![controller](https://user-images.githubusercontent.com/6201176/184148302-dca2f421-a93f-

[2022-08-11 14:06] allemp commented on #1493
I've been having the same problem as

The error looked like

[code]

I tried disabling ingresses collector, but it kept spamming errors for certificatesigningrequests. Disabling those as well in the kubecost values.yaml fixed the log error spam:

[code]

I'm not that great with helm and it took me a while to figure out how to work with helm subcharts so for anyone googling the issue I've added the

[2022-08-11 16:15] Adam-Stack-PM commented on #1630
@zorrobyte Thanks for this issue. We have the bug categorized and prioritized. Will review for an up coming release.

[2022-08-11 16:37] Adam-Stack-PM commented on #1629
@linhlam-kc Thanks for this idea. To help move this forward, do you see any downsides to your proposed solution?

Assuming we went with the current approach for a specific reason (not saying it was a good or bad) but always helpful knowing the other side of a change.

[2022-08-11 16:47] Sean-Holcomb commented on #1621
@cazter thank you for the details that makes the issue much clearer. I have relabeled this issue as a bug and given it a category and priority. It will be considered for an upcoming release.

[2022-08-11 18:44] mmurph3 opened #1634 "Auto populate filters under Savings > Right Size your Container Requests"
**What problem are you trying to solve?**
Specifying filters is tedious and manual in this view. Involves knowing the values you're searching for more specifically and involves some copying and pasting.

**Describe the solution you'd like**
Ability to search for specified filter value with an auto-complete function instead of having to copy and paste the value(s) for the specified filter in the te

[2022-08-11 20:53] linhlam-kc commented on #1629
@Adam-Stack-PM From my local testing, I have not seen the downside of the proposed solution compare to the current approach yet.

[2022-08-11 22:46] clekas-fff commented on #1590
The billing policy worked for the EC2 pricing, but not for:
- S3
- Data transfer out
- intr-regional data transfer
- EBS? I can't really tell from reading the line entry in kubecost if the negotiated discount here is getting applied

[2022-08-12 01:26] #1613 closed

[2022-08-12 14:31] zorrobyte commented on #1493
@Adam-Stack-PM I have another customer blocked, unable to update their clusters due to KSM depreciation. They'd rather not create a snowflake KubeCost configuration, as currently, we'd have to disable KSM via the Prometheus sub-chart: https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/charts/prometheus/values.yaml#L391

Could we add a variable in the primary helm chart

[2022-08-12 15:41] mmurph3 opened #1635 "Increase the Requested rows of Asset data > 75000 and to an amount that will NOT crash browser"
**What problem are you trying to solve?**
This is working as intended. Per our internal conversations, this should be able to be increased.

To reproduce this:
Navigate to Asset View, hit aggregate by "type" and then click "cloud" under the results under the graph.
This error generates (specific to environment amount of unaggregated asset data):

[code]

**Describe the solution you'd like**
Increa

[2022-08-12 16:12] williamscs opened #1636 "Label query shouldn't transform results to contain underscores"
**What problem are you trying to solve?**
It's confusing when I query for allocations related to a label that contains a dash in it "-" and it is returned from the API with underscores "_".

![image](https://user-images.githubusercontent.com/1476137/184397927-cbd0bdc3-f20b-4cd2-b2bc-3f13818ea62c.png)

**Describe the solution you'd like**
For the API to return the exact value queried.

gz#2389<br><

[2022-08-12 17:05] kirbsauce commented on #1252
Here is another use case where we could alert -> https://kubecost.slack.com/archives/C02DNV35W21/p1660314823459869?thread_ts=1659979361.961269&cid=C02DNV35W21

(alert on abnormal ETL file size, for those who don't have permissions to see this particular slack.)

[2022-08-12 17:13] keithhand commented on #1636
Hello @williamscs, the limitation here is due to a limit within Prometheus for how we can save labels: https://guide.kubecost.com/hc/en-us/articles/4407595916823-Allocation-API#allocation-schema-version-1-76.

[2022-08-12 18:17] AjayTripathy commented on #1635
I definitely think we can bump this limit. tentative proposal is to check on multi-cloud where unaggregated this number is closer to 200k and see if we can get there.

[2022-08-12 18:22] AjayTripathy commented on #1622
@teevans any thoughts here?

[2022-08-12 18:27] AjayTripathy commented on #1493
There is a value to disable KSM from the top level, it's simply .Values.prometheus.kube-state-metrics.disabled . Subchart variables are specifiable from their parents.

[2022-08-12 18:36] AjayTripathy commented on #1590
Thanks for that feedback @clekas-fff . It sounds like there are transformations we potentially want to apply on our side to data returned by Athena/Prometheus. cc @teevans -- sounds like a good feature for advanced reports?

[2022-08-12 18:38] AjayTripathy commented on #1607
I like the first option. @teevans for final call here and triage.

[2022-08-12 19:09] zorrobyte commented on #1493
Excellent, thanks! I've notified the customer and shared with the team!

[2022-08-15 02:27] dwbrown2 commented on #1611
I agree with Michael, I recommend we just show latest measured request in the UI/table and maybe provide a tooltip to indicate it's the last measured.

[2022-08-15 02:44] dwbrown2 commented on #1493
@zorrobyte @AjayTripathy were we able to answer @allemp's question here? https://github.com/kubecost/cost-analyzer-helm-chart/issues/1493#issuecomment-1212037352

[2022-08-15 14:56] Adam-Stack-PM commented on #1493
@dwbrown2, If you identify an issue we have missed, please add the needs-triage label.

This will put the issue into the engineering support rotation triage workflow that has a 24hr SLA

@jjarrett21, Please reach out to via slack to Ross and confirm this customer has gotten a response or will get help today.   This bug also needs to be prioritized and categorized into a sub-category.

[2022-08-15 15:07] zorrobyte commented on #1493
Should be good! Just waiting for a response in this GH issue

[2022-08-15 15:09] michaelmdresser commented on #1611
Since we're aligned on showing the latest-known request, I have a followup question: **should we only show recommendations for workloads that, as far as we can tell, are "live"?**

Live could mean: shows up in the most recent filled AllocationSet, has an End matching the End of the last full (has at least one Allocation whose End matches the End of the Set, if this is possible to check -- I know i

[2022-08-15 15:37] mmurph3 commented on #1500
We have another customer who is interested in this feature and for it to be available by default under alerts. That's 2 customers in the past week (1 will be intercepting the slack webhook as a workaround).

[2022-08-15 17:28] mmurph3 opened #1638 "Support for multi-aggregation when creating alerts"
**What problem are you trying to solve?**
Ability to discern where alerts are coming from when the same namespace is used across clusters

**Describe the solution you'd like**
multi-aggregation capability when setting up alerts. Right now can only aggregate by single object
![](https://user-images.githubusercontent.com/36980248/184685162-49ca7cc5-7186-4b2a-8145-2a786b0ac8b1.png)

┆Issue is synchro

[2022-08-15 20:08] jessegoodier opened #1639 "Grafana origin not allowed"
**Describe the bug**

When using Grafana behind an ingress, the graphs are sometimes broken with `origin not allowed`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a grafana dashboard
2. Click see empty charts
3. See error on right `origin not allowed`

**Expected behavior**

Dashboard loads normally.

**Screenshots**

![image](https://user-images.githubusercontent.com/31039225/18470

[2022-08-15 23:28] Adam-Stack-PM commented on #1545
@AjayTripathy, Could you help assign this a priority status and release target?

[2022-08-15 23:40] #1639 closed

[2022-08-15 23:55] xtaje commented on #927
Are there any pointers or documentation on how the cloud API integrations work? At least for the pricing API, we might be able to contribute some work.

[2022-08-16 03:36] mattray commented on #927
@xtaje I'm not sure if there's a guide for onboarding new platforms, but the relevant code appears to be here:
https://github.com/opencost/opencost/tree/develop/pkg/cloud

Take a look at this as well:
https://github.com/opencost/opencost/blob/develop/CONTRIBUTING.md

[2022-08-16 14:01] mmurph3 opened #1641 "Generate PDF with more data and possibly a graph when sending alerts via email"
**What problem are you trying to solve?**
Provide more information, including visual when an alert is generated and sent to email so it is more easily interpreted by various teams within an org.

**Describe the solution you'd like**
When an alert is generated, send an attached pdf to the recipient that includes more information.  Example: a recurring update alert of the cumulative costs breakdown

[2022-08-16 16:04] dwbrown2 commented on #1641
+1, @jjarrett21 have you or anyone on the team used an PDF generator packages before? That feels like the only missing piece that I see.

@mmurph3 where do you see most value here, 1) attaching more data to email directly or 2) displaying it in visually appealing way?

[2022-08-16 16:25] dwbrown2 commented on #1630
I know we've tested this fairly closely. Are we confident this isn't a potential configuration issue?

[2022-08-16 16:40] zorrobyte commented on #1630
I've been working with Simon on this case since July 14th or so. I can ask them to chime in here!

[2022-08-16 17:11] dwbrown2 commented on #1634
I believe autocomplete is very straightforward with certain fields, e.g. namespace, but then is much harder for others, e.g. labels.

As an alternative but also potentially complementary: what do you think about making this another form a saved reports, i.e. a saved report for different views of Savings/Optimization Insights?

[2022-08-16 19:23] Adam-Stack-PM commented on #1537
@headyj Closing this out based on your above comment.

If you need additional help, please open a support ticket [here](https://guide.kubecost.com/hc/en-us/requests/new), and a support engineer will jump on it.

@akramwaseem, also please reach out if we can help.

[2022-08-16 19:23] #1537 closed

[2022-08-16 20:00] Adam-Stack commented on #102
test

[2022-08-16 20:53] jcharcalla commented on #1428
@Adam-Stack-PM Do you know what the current status of this is? I have a customer ZD:2412 reporting this warning in their API Server logs.

```"[authentication.k8s.io/stale-token](http://authentication.k8s.io/stale-token)": "subject: system:serviceaccount:{REDACTED}:kubecost-cost-analyzer, seconds after warning threshold: 789369"```

[2022-08-16 20:58] jcharcalla commented on #1476
@Adam-Stack-PM I've had a customer ask for an ETA on this, can you provide one?

[2022-08-16 21:00] Adam-Stack-PM commented on #1583
@keithhand Thanks for this idea.  Also, thank you @clekas-fff for the additional feedback.  We have this categorized and will consider it for an up coming release.

[2022-08-16 21:22] michaelmdresser commented on #1611
V2 recommendation API PR, which is up now [1] includes logic to calculate the "current" request for each request sizing recommendation. Some UI changes will have to be made for the new API, so this functionality will not be available in the UI immediately. Progress is being made, though!

I have _extremely_ rough UI proposal for the new API [2] if anyone would like to provide feedback.

We can lea

[2022-08-16 21:46] AjayTripathy commented on #927
Hey @xtaje here's an even more in-depth guide designed to help folks walk through an implementation. It is a work-in-progress so please let me know if you have any feedback! https://docs.google.com/document/d/1JVPCeQmvGU88aw0bJJjtTzdl5RhhOqT7FPs2szuHBkc/edit

[2022-08-17 04:55] simonwu-sn commented on #1630
How can I verify if it's configuration issue. As @zorrobyte says, we follow the online documentation and define the zone info with CIDR.
destinations:
direct-classification:
- region: apne1
zone: apne1-az1
ips:
- 10.0.104.0/22
...
- region: apne1
zone: apne1-az2
ips:
- 10.0.128.0/22
...

[2022-08-17 04:56] AjayTripathy commented on #1621
Hey all, we're digging in here now and the plan is to get it into an upcoming release. We'll let you know if additional debugging info is needed.

[2022-08-17 13:34] AjayTripathy commented on #1621
@cazter any chance we could get a dump of your data we can mount on our test instances to speed up our repro and make sure we're reproing the right thing? The etl-download.sh script generates a tarball we can use to view data on our own clusters: https://github.com/kubecost/etl-backup

[2022-08-17 14:39] Adam-Stack-PM commented on #1476
@jcharcalla, Thanks for the follow-up.

This is marked as P2. This means we will likely be fixing this issue as part of a larger initiative around error handling or rightsizing down the road (I don't have a date yet).

My understanding is this is currently working; however, it is 100% a poor user experience that we need to improve.  If this is not the case, let's elevate the priority.

[2022-08-17 14:43] Adam-Stack-PM commented on #1428
@AjayTripathy, Do we need any additional info to assign this a priority status.

@jcharcalla, Have it marked v1.97 for tracking only. Would not promise this will be fixed in v1.97 yet.

[2022-08-17 14:52] cazter commented on #1621
@AjayTripathy Sure. I'll drop the data in your slack on #customer-grow.

[2022-08-17 15:57] jcharcalla commented on #1476
Thank you, I will follow up with them to see if they are able to make use of it.

[2022-08-17 18:59] wamak9 commented on #1608
so, current process is to update the YAML file for both alert and reports and then deploy and see if the alert is working as expected or if the report is as we need it.
If its not, update the yaml again and redeploy the chart and go on until we get to a point on what we need.

This goes on for both reports and alerts. Having a import as yaml gives more insights into how the report looks and alerts

[2022-08-17 21:07] #1504 closed

[2022-08-17 22:10] jcharcalla opened #1642 "Failed cluster sizing recommendations when DaemonSets do not run on all nodes"
**Describe the bug**
When DaemonSets do not run on all of the nodes in a cluster due to node pools, tolerations, taints, etc. The cluster sizing recommendation will fail with an error similar to this...

```error converting cluster cluster-one WorkloadDistribution to cluster sizing: failed to recommend single pool cluster sizing: failed to find machine pool for vCPUs: 1723.027448 (235.195698 Daemo

[2022-08-17 23:47] keithhand commented on #1562
Hey @romankydybets, the latest release (v1.96.0) should have a fix for this issue. Can you upgrade and test if it resolves this for you?

[2022-08-18 18:17] mmurph3 commented on #1641
I think a graph in addition to the real values is quite good as graphs are more appealing than values, but a distribution of the costs (CPU, RAM, out-of-the cluster costs etc.) would make the alert more "complete". As you can see in the attachment you have the cost and efficiency value. It lacks the distribution of the cost. Having this information included makes the alert more "eligible/complete/

[2022-08-18 18:51] jessegoodier commented on #1641
IHAC ask today for basically this too. They want an alert (aka "scheduled report") with the /details page on a namespace
use case is giving details to users without them logging into kubecost UI.

Happy to add another ER (for /details), but just echoing that this is being asked for by other customers.

[2022-08-18 23:03] dwbrown2 commented on #1622
+1, we used to display part of this in the namespace details page. I see at least three potential options: 1) display more info on the alerts 2) provide insights on the inspect page or 3) create a new budgets (& policies) page.

One UI aspect to consider is that we could potentially have multiple/many budgets set per namespace.

[2022-08-18 23:18] sumanmukherjee03 opened #1644 "Annotations not showing up in aggregations but labels are"
**Describe the bug**
Controller objects with annotations not showing up in aggregations in the UI but one that are labeled are showing up

**To Reproduce**
I am using chart version 1.96.0.
I have this relevant config in my kustomize `values.yaml`

[code]

I have some statefulsets with owner label `example.com/project` and some other statefulsets with annotations  `example.com/project`. The pods in

[2022-08-19 03:22] dwbrown2 commented on #1607
I also like the first option! Would this just be used to differentiate between say 0.000001 and 0.0? Or would either of you also picture it being used in other scenarios, e.g. specifically on startup like Praveen originally reported? I feel like the former handles all cases I can picture but just wanted to see.

[2022-08-19 05:15] 1uf3 opened #1645 "Support overriding name on cost-analyzer service name"
What problem are you trying to solve?
On the cost-analyzer service, overriding name is not an option. It appears supported on other psp templates so could it be added here?
i hate deployed service name `cost-analyzer-cost-analyzer`. i want to change. for instance`kubecost-cost-analyzer`

Describe the solution you'd like
Override the name of cost-analyzer service name https://github.com/kubecost/co

[2022-08-19 05:18] AjayTripathy commented on #1545
Let's get this double checked during our v1.97 bug testing @Adam-Stack-PM . I _think_ this has already been fixed or gone away but not positive.

[2022-08-19 13:50] romankydybets commented on #1562
@keithhand
thank you for update
right now it is forwarding to grafana,
but for some reason I start facing the issue `origin not allowed` for each view and even when I try to login
this is example of response from one of the view
[code]

[2022-08-19 14:47] lufeee commented on #1645
can i make PR to solve this issue?

[2022-08-19 16:54] jyepesr1 opened #1646 "Container Request Recommendation Request entity too large"
**Describe the bug**
When I try to run the commands described here https://github.com/kubecost/docs/blob/main/api-request-recommendation-apply.md to check the plan to be applied for the cluster resources I get a 413, Request entity too large.

**To Reproduce**
Steps to reproduce the behavior:

1. Run the following command

[code]

1. See error

[code]

**Expected behavior**
I can get the info from

[2022-08-19 17:07] keithhand commented on #1562
@romankydybets, what is the ingress controller you are using? I would be curious to see if access/error logs might indicate what is happening to deny the request.

[2022-08-19 17:09] romankydybets commented on #1562
@keithhand  nginx ingress controller of the helm chart version "4.1.1"

[2022-08-19 18:26] sumanmukherjee03 opened #1647 "PV cost is being reported wrong"
**Describe the bug**
We are using quite a few statefulsets in EKS which ultimately via the ebs csi driver tie back to EBS volumes. However, in the kubecost reporting the cumulative cost of the PVs in statefulset controller objects seem to be wrong. To be more precise they seem to be almost always half of what they should be.

For example if I have a gp3 EBS volume of 100Gi for a statefulset pod, i

[2022-08-19 18:48] praveenkumar0566 opened #1648 "_Monitor Kubecost Health_ in Alerts shows disabled even after entering all required details and clicking save button"
**Describe the bug**
The toggle button in _Monitor Kubecost Health_ in Alerts gets enabled only if values 7d or 10m are entered in the "window" section, Any other value entered for the first time and saved the button remains grayed out.

![image (4)](https://user-images.githubusercontent.com/102574445/185684870-4d7c9e27-d389-4e8e-abec-80960e623272.png)

**Observation:**
As a workaround to make it

[2022-08-19 21:47] dwbrown2 commented on #1645
Seems like a great idea to me if you can @lufeee but I'm less familiar with this part of the code base. Any considerations on your end @AjayTripathy @michaelmdresser?

[2022-08-19 22:17] keithhand commented on #1562
@romankydybets, do you notice any logs from the nginx ingress controller that relate to this? https://kubernetes.github.io/ingress-nginx/troubleshooting/#check-the-ingress-controller-logs

[2022-08-19 22:29] dwbrown2 commented on #1646
@michaelmdresser is also actively working on request sizing APIs for next release! would that impact?

[2022-08-19 23:09] nikovacevic commented on #1646
@dwbrown2 Yes, that would definitely impact -- but still possible to have nginx choke on a large payload, I'd imagine. Larger file uploads would definitely help. We can also consider composing these two features on the back-end (as opposed to yielding one result, then immediately uploading it back to _another_ API call.)

[2022-08-20 16:07] Adam-Stack-PM commented on #1089
@kirbsauce Closing this issue out due to age and there is another bug we are tracking related to this item.

[2022-08-20 16:07] #1089 closed

[2022-08-20 16:13] Adam-Stack-PM commented on #102
@AjayTripathy Closing out do to age. Reopen if you still feel this is important.

[2022-08-20 16:13] #102 closed

[2022-08-20 16:22] Adam-Stack-PM commented on #1428
@AjayTripathy, Friendly nudge

[2022-08-20 16:35] Adam-Stack-PM commented on #1608
@akramwaseem, Thanks for the followup and helping build on the idea.

[2022-08-20 16:43] Adam-Stack-PM commented on #1621
@AjayTripathy, When you have time could you confirm you have the information you need?  Want to make sure this issue does not slip through the cracks.

[2022-08-20 16:45] Adam-Stack-PM commented on #1630
@simonwu-sn, Sorry for the delay here.  I will get this on supports radar Monday morning.

[2022-08-21 15:44] Adam-Stack-PM commented on #1605
@zorrobyte, Any update on this ticket? Is this a bug or support issue?

[2022-08-21 16:02] Adam-Stack-PM commented on #1343
@michaelmdresser, Any chance this item will be fixed with your current work in progress?

[2022-08-22 00:27] dwbrown2 commented on #1630
The config pasted looks like it has indention off, but that might just be auto formatting. If the configuration fails to load, we do log it, but we revert to a default configuration (which would definitely be missing any custom classifications):

[code]

You can restart a single `network-costs` pod and watch the logs at startup and look for the log above.

[2022-08-22 09:03] dmitrii-didenko opened #1651 "Link to Grafana is Not Working"
**Describe the bug**
Links to Grafana is not available when using configuration with existing Grafana installation
<img width="772" alt="Screenshot 2022-08-22 at 11 40 03" src="https://user-images.githubusercontent.com/81171763/185878250-c90c9ba9-d477-4cc6-b099-5963098c7233.png">

Please note, everything was working fine in 1.94.3, the issue has started to be observed after 1.95.

**To Reproduce**

[2022-08-22 14:26] michaelmdresser commented on #1343
The new API in https://github.com/kubecost/kubecost-cost-model/pull/923 should address most of these concerns, but that PR doesn't close this issue because there is still frontend work required to get data from the new API in front of users.

[2022-08-22 14:45] michaelmdresser commented on #1646
There are two upload steps when applying our request sizing recommendations. Based on the request information from @jjarrett21 (thanks for the excellent detail!!) this user seems to be having problems with the first step, which is uploading a recommendation API response to receive a plan; i.e., the recommendation API response is too large to upload. It is possible to have problems with the second

[2022-08-22 15:49] jcharcalla commented on #1612
@ankit-kumar-7 Were you able to test this after upgrading?

[2022-08-22 16:05] keithhand commented on #1651
Hello @dmitrii-didenko, v1.96 should have a fix for this issue. Can you try to upgrade and see if you are still experiencing it within your installation?

[2022-08-22 16:25] dwbrown2 commented on #1590
How is this currently showing up in the CUR for these others services? A credit that isn't associated with any other service?

[2022-08-22 16:44] nikovacevic commented on #1644
Perhaps I'm misunderstanding, but this sounds like a feature request, not a bug. I'll ask a question to clarify.

* You have some workloads with label `example.com/project` (call them workloads A), and you have other workloads with annotation `example.com/project` (call them workloads B).
* You have `owner_label` set to `example_com_project`, indicating that is the _label_ you want to use when agg

[2022-08-22 18:38] dmitrii-didenko commented on #1651
@keithhand I tried, the issue is still observed. The screenshot in the original post is from 1.96.0
[code]

[2022-08-22 19:51] dwbrown2 commented on #927
I've recently seen a couple other users request an integration here. Would love to see if we can prioritize soon. @xtaje is this something you would be interested in working on?

[2022-08-22 20:32] kaelanspatel commented on #1605
Hi @korjavin

This should be made clearer, so we'll work on documentation here, but the AuthURL parameter in the helm chart needs to be the full URL required for login to the OIDC provider _including_ various query params (these are different based on which provider you use, and so are left user-configurable).

To resolve this specific error you'd need to specify at least:
[code]
On a cursory glan

[2022-08-22 21:55] sumanmukherjee03 commented on #1644
@nikovacevic that's right. That is what I am trying to achieve. I thought this https://github.com/kubecost/cost-analyzer-helm-chart/issues/1392 gave us that feature. I upgraded to 1.96.0 hoping the use case I described above to work.

May be my understanding of the feature to emit annotations is incorrect?

Attaching a screenshot of the settings page. If what i described is not a currently support

[2022-08-22 23:55] dwbrown2 commented on #1647
@Sean-Holcomb your outstanding PRs looks close to this. Believe it would address?

[2022-08-23 00:17] Adam-Stack-PM commented on #1270
@evgenii-denisov,  Are you still experiencing this issue? If so would like to get this on our engineering teams radar for you.

[2022-08-23 00:50] Sean-Holcomb commented on #1647
@sumanmukherjee03 in the picture that you provided for the PV on the assets page you are using a 48 query, due to time delays on the populating of the CUR we do not reconcile our hourly data. If you did a 1 day query on the day before yesterday do you still not see any adjustments to the proper costs?

In terms of your allocations pictures, your query window is 7 days, can you confirm that the sta

[2022-08-23 00:59] kaelanspatel commented on #1651
Hi @dmitrii-didenko, thanks for reporting this.

I think I see the issue; it looks like it's related to how it reads in the helm configs.

Just curious, did that value for `global.grafana.enabled` change at all between your upgrade?

[2022-08-23 06:42] dmitrii-didenko commented on #1651
@kaelanspatel There was no changes in helm values, just upgraded the version from 1.94.3 to 1.96.0 and the links stopped working

[2022-08-23 12:05] ankit-kumar-7 commented on #1612
On upgrading to kubecost 1.95.1 this issue was resolved. Thanks @AjayTripathy @jcharcalla

[2022-08-23 12:12] ankit-kumar-7 commented on #1594
On upgrading to 1.95.1, the link to grafana dashboard broke. Its showing grafana is disabled while in the deployment it's enabled. The cpu usage and recommendation shown is still much less compared to max usage.

[2022-08-23 13:41] michaelmdresser opened #1653 "Develop branch installs outdated images by default"
## Repro
See the following template commands of the `develop` branch:

By default:

[code]

Can be fixed by setting `imageVersion` (or other methods, like the relevant `...fullImageName`)

[code]

Huge thanks to jessegoodier for identifying the issue and providing the above repro commands.

## Why it matters
While developing on the Helm chart, it is natural to assume that the latest image will be

[2022-08-23 13:44] michaelmdresser commented on #1653
For clarity: this does _not_ affect production releases of Kubecost because our release automation correctly handles version bumping.

[2022-08-23 15:09] kc-adawson commented on #1634
What if you were able to create custom groups in Settings where you could define all the subgroups and what their labels are. These subgroups could then auto-populate the different filter views with pre-loaded data.

For example:

Group- Environment
---
Subgroups:
Prod (Label: Prod) (50% of cost)
Dev (Label:Dev or Name Contains Dev) (25% of cost)
Test (Label:Test or Name Contains Test (15% of cost

[2022-08-23 16:10] dwbrown2 commented on #1612
Great to hear, @ankit-kumar-7! Anything else we can help you with?

[2022-08-23 18:41] dwbrown2 commented on #1642
Great report! @michaelmdresser this one seems like it could be hard or am I overestimating?

[2022-08-23 18:42] keithhand commented on #986
Do we have an update on adding support for this?

[2022-08-23 19:01] michaelmdresser commented on #1642
Yep, probably quite challenging. We have no concept of node pools/groups right now. Fixing this would require introducing that concept to the cluster right-sizing algorithm.

[2022-08-23 19:48] xtaje commented on #927
Possibly, but would need to discuss with our team and see how it fits in on our roadmap.

[2022-08-23 20:09] keithhand opened #1655 "Add cluster identifier to cluster health alerts"
**What problem are you trying to solve?**
If you set up a single webhook for multiple cluster health alerts, it becomes hard to identify which alert belongs to which cluster.

**Describe the solution you'd like**
Include the cluster id in the cluster health alerts

**Describe alternatives you've considered**
Configure multiple slack webhooks for each cluster

**How would users interact with this f

[2022-08-23 20:47] kaelanspatel commented on #1651
Ok thank you @dmitrii-didenko, will get this looked at.

[2022-08-23 21:03] Adam-Stack-PM commented on #1644
@sumanmukherjee03, Routing this to our engineer on support rotation to help you on this item. They will comment soon.

[2022-08-23 21:33] kaelanspatel commented on #1644
Hi @sumanmukherjee03.

If I could ask another clarifying question, for your statefulsets annotated `example.com/project` (workloads B in Niko's example above), are these also labeled with something else?

As in, you'd like to see both Workloads A (labeled with `example.com/project`) and Workloads B (annotated with `example.com/project` and labeled something else)?

[2022-08-23 23:01] Adam-Stack-PM commented on #986
@keithhand, Not yet. Looks like the attached PR is close to being merged for v1.97. Then will need to review Sean's issue for an upcoming release.

[2022-08-23 23:04] Adam-Stack-PM commented on #1651
Linking for reference to help troubleshoot https://github.com/kubecost/cost-analyzer-frontend/issues/903

[2022-08-23 23:04] #1612 closed

[2022-08-23 23:13] Adam-Stack-PM commented on #1645
@lufeee Adding the needs follow up label to get this on the engineering teams radar.  Would expect a followup within 24 hours.

[2022-08-23 23:19] mbolt35 commented on #1653
If we're incrementing the version #s for the release build, why are they not being merged back into develop?

[2022-08-24 15:05] srpomeroy opened #1656 "Expose Cloud Provider Region in Asset View"
**What problem are you trying to solve?**
Identify what region a resource, specifically a node, is running in.

**Describe the solution you'd like**
It would be helpful to display regions with cloud and instance/vm size in the asset view.

The nodes have a label that provides this detail which Kubecost is already capturing.

[code]

Most cloud providers have standardized on `topology.kubernetes.io

[2022-08-24 16:00] dwbrown2 commented on #1656
+1, @srpomeroy know if this information would be available for nodes that aren't actively monitored, i.e. would this also be in the CUR?

[2022-08-24 16:01] michaelmdresser commented on #1653
Releases per repo _are_ tagged. See e.g. https://github.com/kubecost/cost-analyzer-helm-chart/tags

Dev branch not having an incremented version is a problem, which is why this issue is open and is what I'm hoping we can address! See also https://github.com/kubecost/cost-analyzer-frontend/pull/1007.

My personal opinion is that merging a release branch back into `develop` is not the right choice b

[2022-08-24 17:56] keithhand commented on #1594
Relooking at this, I noticed those two sections I posted earlier, the [Grafana section](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/pod-utilization.json#L264) and the [Kubecost section](https://github.com/kubecost/cost-analyzer-frontend/blob/1a2f31db431990fe774028fb6e2117d75680e0c9/src/pages/RequestSizing/queries.ts), it looks like the Kubecost frontend is check

[2022-08-24 18:15] srpomeroy commented on #1656
@dwbrown2 Yes, there is a label added by the providers to the nodes `topology.kubernetes.io/region`. I am not sure if this label is added if not using a managed Kubernetes offering. Otherwise, the region information exists in all provider bills.

Examples:

- AWS: `product_region`
- Azure: `resourceLocation` OR `location`
- GCP: `location.location` OR `location.region`

[2022-08-24 18:17] srpomeroy commented on #1656
I could see value in being able to filter or aggregate by region as well.

[2022-08-24 18:28] viniciusfs opened #1657 "AWS pricing is broken, Athena query failing with column cannot be resolved"
**Describe the bug**

AWS pricing integration is broken, when I go to diagnostics page I can see the following error:

`QueryAthenaPaginated: query execution error: no query results available for query 18bcd9de-34e4-4152-ba7b-ac3a04a91096`

More details from Athena query history on AWS console. Full query:

[code]

Query results:

`SYNTAX_ERROR: line 4:3: Column 'line_item_resource_id' cannot be r

[2022-08-24 18:29] viniciusfs commented on #1657
Using helm chart 1.96.0.

[2022-08-24 18:30] BenCoughlan15 commented on #986
Eagerly awaiting this. 🙂

[2022-08-24 18:49] kaelanspatel commented on #1594
Form a cursory look over it doesn't seem like the Kubecost request sizing FE does that prometheus query. That Grafana query looks like it's consistent with the one Kubecost uses to get pod CPU usage.

@ankit-kumar-7 for the dashboard link being disabled, are you using bundled Grafana? i.e. is grafana enabled or disabled in your helm configs?

[2022-08-24 20:07] keithhand commented on #1657
Hello, how long has it been since you configured the Cost report export? There is a 24-48 hours delay from AWS due to waiting for billing data to get posted, and I'm curious if you are experiencing that.

[2022-08-24 20:10] kaelanspatel commented on #1657
Hi @viniciusfs,

In addition to the delay, I believe you need to enable Resource Ids in your CUR to avoid this error.

[2022-08-24 21:12] michaelmdresser commented on #1611
Issue for tracking UI work that will get "current" request info on this page, as requested: https://github.com/kubecost/cost-analyzer-frontend/issues/1018

[2022-08-24 21:17] mmurph3 opened #1659 "Inaccurate Reporting on No Master Replicas in Cluster Health Page"
**Describe the bug**
The health report shows Cluster does not have replicated masters. This is for a hosted master set up in AKS with auto-scaling enabled. This doesn't seem accurate. The nodes have agent roles:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Health tab
1. Click on Cluster Does Not Have replicated masters
1. See feedback:

![](https://user-images.githubusercon

[2022-08-24 21:22] dwbrown2 commented on #1659
Great point, this recommendation needs to be reviewed for all managed offerings. Do we know for sure how AKS manages the control plane?

I believe GKE requires a regional cluster for replication, more [here](https://jayendrapatil.com/google-kubernetes-engine-gke/).

[2022-08-24 21:37] michaelmdresser commented on #1573
Request sizing API V2 supports both V1 and V2 Allocation filters. Documentation PR explaining: https://github.com/kubecost/docs/pull/324

Now we just need frontend updates to request sizing. See https://github.com/kubecost/cost-analyzer-frontend/issues/1018. Another issue may be warranted to change the special "filter" control window that we use to make V2 filters. That aligns with https://github.

[2022-08-25 03:25] sumanmukherjee03 commented on #1644
Hey Kaelan,

Sure. Happy to clarify further.

Yes, there are labels. Also, there are other annotations besides `example.com/project`. Workloads that have an annotation `example.com/project` do not have a label with the same name. And workloads that have a label `example.com/project` do not have annotation with the same name. But both kinds of workloads have other labels and annotations.

That is c

[2022-08-25 04:07] sumanmukherjee03 commented on #1647
As to your second question

The statefulset and CUR has been running for many days. But I wiped kubecost clean and did a fresh installation 2 days before I created this issue.

But now it has been a few more days. Over 5 days. So, hopefully we have some stable numbers now.

I have taken some fresh screenshots. This time with a custom range of only 1 day for all the pictures below. Dated - 21st Aug

[2022-08-25 04:12] sumanmukherjee03 commented on #1647
On a slightly unrelated note, does adding those extra tags to the EBS volume in aws provide any value? I added the external owner tag, external cluster tag, external controller tag, external namespace tag thinking it might make some difference. But looks like it did not.
Have you seen other kubecost users tagging their EBS volumes with these kinds of tags for cost allocation?

[2022-08-25 11:10] viniciusfs commented on #1657
@keithhand there is few days since the cost report was configured.

@kaelanspatel I believe that's my problem. I wiil create a new CUR with this option enabled and recreate the stack. Thanks for this information.

[2022-08-25 19:26] Adam-Stack-PM commented on #1659
@kaelanspatel When you have time could you add the sub category here?

[2022-08-25 19:31] Adam-Stack-PM commented on #1657
@viniciusfs, Please let us know if you need additional support after you create a new CUR. Thanks for choosing Kubecost.

[2022-08-25 23:10] keithhand opened #1665 "Confusing custom label configuration"
**Describe the bug**
When using custom aggregations (Product, Environment, Department), if you refer to a label containing a character Prometheus doesn't like ([more info](https://guide.kubecost.com/hc/en-us/articles/4407595916823-Allocation-API#allocation-schema-version-1-76)), the aggregation looks like it works, however, drilling down will fail. You can get around this by manually converting th

[2022-08-26 00:25] keithhand opened #1666 "Times displayed on the allocation and asset reports don't match bar data"
**Describe the bug**
It looks like the times for the bars data itself is based on local time, and will update if I change my timezone on my local machine. However, the axis details always display UTC. From what I can tell it's configured for the [bar here](https://github.com/kubecost/cost-analyzer-frontend/blob/develop/src/pages/Assets/AssetChart/RangeChart.tsx#L143-L149) and the [axis here](https

[2022-08-26 00:54] #1621 closed

[2022-08-26 07:29] korjavin commented on #1605
It worked.

But how can I limit domain to mine.

[2022-08-26 14:06] zorrobyte commented on #1666
Hey @keithhand

Looks like utcOffset has been depreciated, see:
https://github.com/kubecost/cost-analyzer-helm-chart/pull/1081

[2022-08-26 20:05] kaelanspatel commented on #1647
Hi @sumanmukherjee03

Is this EBS volume being shared by any other resources? Kubecost will divvy out costs based on the time a pod consumes resources on a shared PV, so if there are two different pods with the same claimed PV, that could result in a halving of costs.

w.r.t. your question about the extra tags, Kubecost does not deal with these in terms of core calculation functionality, to my kno

[2022-08-26 20:05] kaelanspatel commented on #1644
Hi @sumanmukherjee03

That's helpful, thanks. I've taken a look at the feature and spoke with the implementing engineer. You're correct that https://github.com/kubecost/cost-analyzer-helm-chart/issues/1392 should allow you to do this, so this is definitely a bug. We will get this looked at.

Correct behavior is like you say, being able to match on both annotations and labels at the same time.

[2022-08-26 21:53] wamak9 opened #1670 "Need Better filters for Request Sizing Recommendations Section"
**What problem are you trying to solve?**
Need filters on the Request Sizing Recommendations under 'Breakdown' when viewing recommendation at cluster level.

**Describe the solution you'd like**
When viewing sizing recommendations based on filters at cluster level. Under breakdown section I see recommendations at container level. so this is very annoying since we have more than 1000 pods and hard

[2022-08-26 22:26] keithhand opened #1671 "Add way to filter for missing labels"
**What problem are you trying to solve?**
When trying to label assets for OOC matching, it can be challenging to verify I have all my external assets labeled.

**Describe the solution you'd like**
It would be helpful to have a way to filter for all assets missing that label within the UI.

**Describe alternatives you've considered**
Manually filtering JSON results received from the API

**How woul

[2022-08-26 22:55] keithhand commented on #1670
Hi @akramwaseem, I think some of this might be achievable today. If you select to use the "Controller" and "Controller Type" options to filter, you should be able to achieve a "deployment filter" so that we can start to view more specific objects.

![image](https://user-images.githubusercontent.com/43491549/187000186-60c2fe58-4550-450c-9a94-c46f5d344dfa.png)

Regarding a "Deployment breakdown," I

[2022-08-27 00:48] clekas-fff commented on #1590
We used to get a credit not associated with any other services, but now we
see notes (-XX.XX%) in the title of the line-item pricing in the AWS bill.
It looks like with this bill version we do get the discounts coming in
through the CUR, though that isn't shown to us directly in kubecost like
the SP and RI discounts are. It looks like our network discounts might not
be coming in, but we're working

[2022-08-27 18:49] aliusmiles opened #1672 "arm images on public ECR"
I've tried to install Kubecost as per [aws instructions](https://aws.amazon.com/blogs/containers/aws-and-kubecost-collaborate-to-deliver-cost-monitoring-for-eks-customers/), but sadly there are no arm images available on public ecr repo, even though arm is present on gcr repos. Would be nice to have arm on ecr too, as I'm surely not the only one trying to achieve fully-arm'ed EKS cluster :)

But p

[2022-08-28 23:02] dwbrown2 commented on #1672
Great request, @aliusmiles! Happy to look at posting these.

@linhlam-kc would this just be mirroring as an initial step or more than that?

[2022-08-28 23:54] dwbrown2 commented on #1655
+1, adding to group of alerts features that will be triaged for an upcoming release!

[2022-08-29 15:57] mmurph3 opened #1673 "Alerts CRD so when users add new tenants (e.g. namespace), custom alerts can deployed with them via preferred git ops tool without running a helm upgrade"
**What problem are you trying to solve?**
Alerts can only be configured via helm/UI and this causes the need for redeployment

**Describe the solution you'd like**
Create a budget for each tenant (new or existing) and deploy it together with the tenant. E.g. yaml file with budget associated with namespace and deploy it.

**Describe alternatives you've considered**
Right now this is done via the UI

[2022-08-29 16:57] sumanmukherjee03 commented on #1647
Thanks for getting back.

Thanks for confirming this. Much helpful.

------------

I have double checked and I can confirm that this EBS volume is attached to only 1 pod via the PVC. The EBS volume is only mounted on the aws instance where the corresponding pod using the PVC is scheduled.

![Screen Shot 2022-08-27 at 9 56 58 PM](https://user-images.githubusercontent.com/90907/187252297-4599466d-24

[2022-08-29 17:07] linhlam-kc commented on #1672
@dwbrown2 Hi Webb, we have required images to support ARM platform. I'm doing further testing to ensure they will work well with ECR public registry. I will update this issue soon once the changes are ready for testing.

[2022-08-29 19:13] Sean-Holcomb commented on #1647
@sumanmukherjee03 the bug you are highlighting with these images has a fix for it which is currently available in our nightly build and will being going out in the next release. The fix does require repairs to be done to the days where you see the issue though.

[2022-08-29 20:54] nickcurie commented on #1644
Hi @sumanmukherjee03

Could you run this query and confirm for me that you are seeing annotations under any workloads that you would expect to see annotations? `http:/localhost:9090/model/allocation?window=1h`

You should expect to see annotations under `[your allocation] > properties > annotations`.

[2022-08-29 21:50] sumanmukherjee03 commented on #1644
Sure. This is the relevant result from hitting the endpoint above. I assume this is what you were referring to?

FYI, there are 2 containers in the pod (mongo-primary, metrics), that's why the 2 matches.
[code]

[2022-08-29 22:37] linhlam-kc commented on #1672
Public ECR registries is updated to support multi-arch (amd64.arm64) images.
Customer can deploy Kubecost on Amazon EKS cluster with ARM-based worker nodes with the following command:

[code]

On the Amazon EKS cluster with mixed worker nodes type, this parameter can be used to schedule Kubecost deployment on ARM-based worker nodes:

[code]

Kubecost public documentation is going to be updated soo

[2022-08-29 23:48] dwbrown2 commented on #1672
Wow, thanks so much for this @linhlam-kc!

@aliusmiles does this get you everything you need?

@linhlam-kc see a good way to point users from blog post back here?

[2022-08-30 02:30] dwbrown2 commented on #1673
Really interesting, have an example of how this would work?

One caveat: when adding a new alert with the Kubecost UI/APIs it shouldn't require restarting the pod.

[2022-08-30 03:52] dwbrown2 commented on #1665
Really interesting. @nealormsbee have any intuition around this one? I was going to say this is a Prom limitation but doesn't seem like it given the initial page loads.

[2022-08-30 06:24] aliusmiles commented on #1672
Awesome, many thanks!

[2022-08-30 13:42] nealormsbee commented on #1648
I'm seeing odd behavior with this feature, but not quite as described in the issue OP. Will enumerate differences here to make sure I'm not missing anything:

1. I think "Monitor Cluster Health" is the alert in question, not "Monitor Kubecost Health", because the Kubecost Health alert does not accept a Window field.
2. Valid relative windows other than "7d" and "10m", such as "6d", do work. What d

[2022-08-30 15:12] nealormsbee commented on #1665
I can check this out. My guess is that the initial query is converting the label to be prom-friendly, but the drilldown logic isn't.

[2022-08-30 16:19] Adam-Stack-PM commented on #1670
@keithhand Thanks for the tag and @akramwaseem thank you for the idea. Will review for an upcoming release.

@dwbrown2, Big +1 on for a larger project to bring best in class filtering across the application.

[2022-08-30 17:17] mbolt35 commented on #1590
Thanks for the excellent feature idea. We'll have  @Adam-Stack-PM add it to our roadmap ideas list. It looks like you have a support issue in Zendesk already if you need further support.

[2022-08-30 19:51] mbolt35 commented on #1644
Just wanted to follow up here. We are still investigating.

[2022-08-31 00:19] sundeepghuman commented on #1579
@Sean-Holcomb can you get the additional information from the original reporter here so we can get this fixed in v1.97

[2022-08-31 10:08] torbjoernk commented on #1430
Issue still persists and I'm facing it as well. Using v1.96.0.

@AjayTripathy, `kubecostProductConfigs.createServiceKeySecret=true` does not have the promised effect.

However, the variable `azureStorageCreateSecret` checked for in https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/azure-storage-config-secret.yaml#L3 isn't present in the values.yaml.

Definin

[2022-08-31 15:48] viniciusfs commented on #1657
Hi all! I recreated my CUR and redeployed all stack. The missing column issue was solved but now got a different error on diagnostics page:

![image](https://user-images.githubusercontent.com/72996/187721713-c7a41c85-47ee-404d-839c-2c2ae6a89578.png)

Maybe similar to issue #1406

[2022-08-31 15:59] viniciusfs commented on #1657
@dwbrown2 Sorry about 'broken' on issue title. English is not my mother language, after your change I realized that the words I used make it sounds like a problem much worse than I'm reporting.

[2022-08-31 16:20] keithhand opened #1674 "Better support for value global.additionalLabels"
**What problem are you trying to solve?**
I am trying to apply labels to every resource deployed by Kubecost.

**Describe the solution you'd like**
The `.Values.global.additionalLabels` section would indicate that it would apply labels to everything. However, that doesn't seem to be the case in practice. For example, both the node exporter and network costs daemon sets aren't updated, nor are the

[2022-08-31 19:46] dwbrown2 opened #1675 "Duplicate and unexpected node chips in k8s Assets view (v1.98)"
Thanks for your interest in Kubecost!  To ensure you get the help you need, please follow these guidelines:

**Describe the bug**
Confusing collection on chips show on certain multi-cluster and hosted deployments. For example, the link below shows "No cluster" and then near duplicates of CPU measurements.

<img width="1013" alt="image" src="https://user-images.githubusercontent.com/298359/18776590

[2022-08-31 19:47] dwbrown2 commented on #1675
@Adam-Stack-PM @nealormsbee let me know if I can help share more info for triage

[2022-08-31 19:57] biancaburtoiu commented on #1605
Hello @korjavin! Thanks for letting us know the `authURL` worked once you added the additional params.

Could you explain a bit more what you are trying to achieve by limiting the domain?

[2022-08-31 20:05] korjavin commented on #1605
Interesting question.

I don't think that EVERYONE with google account should have access to my kubecost installation.

[2022-08-31 20:58] jcharcalla opened #1676 "Error finding abandoned workloads: json: Unsupported value: +Inf"
This was seen in a customer install of Kubecost v1.96.0

**Describe the bug**

When viewing the Abandoned workloads page an error "Failed to load abandoned pods" is displayed. The browser developer tools console it is shown that the cause is `Error finding abandoned workloads: json: Unsupported value: +Inf`

This is a federated/Thanos backed install. I can get more information from the customer if

[2022-08-31 21:09] akramwaseem commented on #1634
+1 -- This can be integrated into  https://github.com/kubecost/cost-analyzer-helm-chart/issues/1670

Auto populating the field with namespaces /cluster / service  seems like a good option.

[2022-08-31 21:17] korjavin commented on #1605
Well, I don't think so. As far as I understand there is nothing I can configure with google about it.

What i've seen before, let's say for flask apps, looks like:
[code]
Where hd is some params of filtering.

There is more info: https://developers.google.com/identity/protocols/oauth2/openid-connect#hd-param

but, even there it says, app should check if domain fits the filter.

[2022-08-31 21:18] jcharcalla opened #1677 "Unable to find "container_fs_usage_bytes" and/or "container_fs_limit_bytes" metrics"
This was seen in a customer install of Kubecost v1.96.0

**Describe the bug**
When viewing the "Cluster Savings > Low Disk Utilization" page nothing is displayed. The browser developer console shows and error of `Warning: Unable to find "container_fs_usage_bytes" and/or "container_fs_limit_bytes" metrics`.

This is a federated/Thanos backed install and we verified the metrics are present in Thanos

[2022-08-31 23:07] Lax77 commented on #1642
We are also seeing the similar issue., in our case I did notice on one such cluster on one of the node Daemonset was unable to run the pod and it got evicted.

ERR savings: cluster sizing: error reccomending cluster sizing for cluster <our cluster name>: failed to recommend single pool cluster sizing: failed to find machine pool for vCPUs: 2476.461222 (194. │
│ 010140 DaemonSet); RAM: 23190.903387

[2022-09-01 01:47] dwbrown2 commented on #1657
No worries at all @viniciusfs! Huge thanks for reporting. Just curious, are you using Reserved Instances today?

@Sean-Holcomb would it working as intended for this to fail if no RIs in the account?

[2022-09-01 02:04] Sean-Holcomb commented on #1657
That is correct

[2022-09-01 04:54] srpomeroy commented on #1485
Docs incoming... https://github.com/kubecost/docs/pull/327

[2022-09-01 09:30] marco-giovannini-73team commented on #1579
This issue was related to the misconfiguration of the currency between Kubecost and cost export. Kubecost was using US dollars but cost export is in INR.

[2022-09-01 16:18] #1598 closed

[2022-09-01 17:08] Sean-Holcomb commented on #1579
Thank you Marco, glad it worked out for you!

[2022-09-01 17:08] #1579 closed

[2022-09-01 17:47] kaelanspatel commented on #1605
Hi @korjavin

Looking into this, it appears you're right about the hd param. We'll look into it.

Unfortunately, as of now, Kubecost does not support this method. It expects authentication to be handled by the server. If Google's OAuth2 server authenticates every google user, then that's who will have access.

[2022-09-01 18:06] Adam-Stack-PM commented on #1675
@dwbrown2 Let's get this routed to @mbolt35 as he is on support this week for the triage.

 Bolt, could you take a deeper dive to verify it is a rounding issue then label with a priority status?

[2022-09-01 19:11] mbolt35 commented on #1677
@jcharcalla They're hitting `prometheus` though, the endpoint is `prometheusQuery` -- we actually have a separate endpoint for `thanosQuery`.

The console logs from the frontend page shows the response was a 500. I think the "unable to find metric" log is misleading, as it will log that message under any failure circumstance.

On the backend, we're just forwarding along the query body, so we only

[2022-09-01 19:19] mbolt35 commented on #1675
It also looks like if you drill down into the Node, the problem exists there as well:

![image](https://user-images.githubusercontent.com/334480/187995064-b6920800-ea58-462e-a819-5bc09204d2a4.png)

[2022-09-02 02:38] dwbrown2 commented on #1634
@kc-adawson like the idea, but feels a bit more like reporting functionality than core Settings functionality to me. You see it closer tied to Settings?

cc @michaelmdresser since he's working on related functionality w/r/t filters

[2022-09-02 03:19] dwbrown2 commented on #1674
I like this feature request! @mbolt35 any challenges that you see or helm patterns that would point you in another direction?

[2022-09-02 04:00] nealormsbee commented on #1675
Took a look. The "No Cluster" issue, and the ~similar duplicate chips issue have two different causes.

### Duplicate Chips

Chips for an Asset are determined by looking at the properties of the Asset for each day in the queried range. The, because the table row represents the entire range, a union of the chips from each day is taken. The value of the `GiB RAM` chip is determined using the `ramByt

[2022-09-02 09:57] andreb89 commented on #1526
@Sean-Holcomb
Hi, can you give an update here, please?

[2022-09-02 16:06] mbolt35 commented on #1674
I agree with this, but execution may be a bit more of a challenge (although I'm guessing this is fairly common practice on a lot of larger charts, so surely there's a clean solution we can derive from somewhere).

We definitely want to avoid the "duplicate labels" issues that are possible when you allow settings labels from different sources. Then, we'll need to establish some level of priority (w

[2022-09-02 16:35] mbolt35 commented on #1675
@nikovacevic Would love your opinion here, I feel like you always have good ideas surrounding user facing UI anomalies stemming from ETL data.

[2022-09-02 16:45] dwbrown2 commented on #1675
re: "No Cluster" -- would be interesting to learn why that is missing. @mbolt35 have a sense here? seems like a potential fix for backend. If it's a k8s asset but has "No Cluster" I would consider hiding or showing "Unknown Cluster."  I don't think the current copy is helpful to users.

re: duplicate changes -- seems like it would also be interesting to understand why backend returns different val

[2022-09-02 17:10] mbolt35 commented on #1675
@dwbrown2 I agree, the "No Cluster" seems like something backend related, but I know that we have some limitations to what we  merge between Assets and Allocations. I'll look into it, although I feel like @nikovacevic may just know the answer off-hand

[2022-09-02 17:16] dwbrown2 commented on #1676
Never seen this before. @mbolt35 any ideas on this one?

[2022-09-02 17:17] dwbrown2 commented on #1676
@jcharcalla anything obviously unusual about this cluster/deployment or able to repro?

[2022-09-02 17:25] Adam-Stack-PM commented on #1675
@dwbrown2, and/other, Love the discussion here.  Would also be helpful to get clear on if this needs to be rushed into v1.97?

We have lots of items in motion for v1.97 and would love to make sure we don't loose ground triaging items that can be pushed out.

[2022-09-02 17:35] dwbrown2 commented on #1675
I'd call between P1/P2 but caused this user to question data accuracy. Seems like it would be a quick fix on FE. Can wait until 1.98 if needed.

[2022-09-02 19:19] nickcurie commented on #1644
Hi @sumanmukherjee03

We're having a bit of trouble reproducing this issue. Based on the response you've given above, it looks like the annotations are present in Kubecost's core data.

Could you run these API queries and let me know if you are seeing what you'd expect?

- `/model/allocation?aggregate=owner&window=1d&accumulate=true&filterNamespaces=app-microservices`
- `/model/allocation?aggregat

[2022-09-02 19:24] jessegoodier commented on #1491
https://github.com/kubecost/cost-analyzer-helm-chart/pull/1680

[2022-09-02 19:45] keithhand commented on #1562
@romankydybets, are you using an external Grafana or the Grafana bundled with Kubecost?

[2022-09-02 19:55] romankydybets commented on #1562
@keithhand  sorry for the late response,
I just test on version 1.96.0, and everything works perfect,

I am using bundled Grafana and Prometheus,
Unfortunately for Prometheus, not yet find the way add target without breaking  existing metrics related to k8s

[2022-09-02 19:55] #1562 closed

[2022-09-02 19:58] mbolt35 commented on #1676
I've got this on my list of tickets to look into - This looks like a backend issue, but it's not clear where the `+Inf` comes from given the current context.

[2022-09-02 22:12] dwbrown2 commented on #1677
@mbolt35 investigated further and I believe there's something going on in the frontend!

[2022-09-03 00:47] sumanmukherjee03 commented on #1644
I will get back to you with the results. In the mean time, have you considered multiple namespaces when trying to replicate the bug? May be that's something to check.

I was expecting the aggregation to work across namespaces. We have a bunch of statefulsets with the owner annotation in 1 namespace and another bunch of statefulsets with the owner label in another namespace.

[2022-09-03 03:46] nealormsbee commented on #1675
Looks like we'll defer this until v1.98, so taking it out of my attention queue for now.

Suggested approach sounds reasonable to me, Webb. If we do happen to get a bad 1d block for an Asset, then the chip will only be wrong for a day if we're using most recent value :+1:

[2022-09-05 13:16] calasto123 opened #1681 "Azure Out of Cluster Costs only displaying for 1st of the month"
**Describe the bug**
After following this guide: https://guide.kubecost.com/hc/en-us/articles/4407595936023-Adding-Azure-Out-of-Cluster-Cluster-Costs-into-Kubecost

We only recieve out of cluster data for what appears to be first day of the month, even though there are reports present for 2nd, 3rd and 4th of September.

![KubecostIssue](https://user-images.githubusercontent.com/99887832/188457827-

[2022-09-06 04:50] Sean-Holcomb commented on #1526
The updated format export is in v1.96 were you able to confirm the fix there?

In terms of the other issue, did the fix to the other issue change it at all.
If not can you run the following query and give me the result?
`/model/assets?window=7d&accumulate=false&filterCategories=Storage&includeCloud=false`

[2022-09-06 06:06] andreb89 commented on #1526
ah, I did not see that the fix was in v1.96
I haven't updated yet, but will try to do so today or tomorrow latest. Then I will give you an update.

[2022-09-06 14:10] sumanmukherjee03 commented on #1644
@nickcurie here's the information you asked for

We have a bunch of statefulsets with the owner annotation in 1 namespace and another bunch of statefulsets with the owner label in another namespace. These are the numbers for one of the namespaces where there are annotations `example_com_project` but no labels by that name on the statefulsets.
These are the queries i ran to get the numbers
[code]

[2022-09-06 15:51] sumanmukherjee03 commented on #1644
I think the bug is coming from some other queries. I looked at the queries in the UI for a page like this
![Screen Shot 2022-09-06 at 7 48 54 AM](https://user-images.githubusercontent.com/90907/188667545-00c04212-d56b-4d0e-a28e-7db977ecd89f.png)
To get to this page in the UI above, this is the series of operations i performed -
click on "Cost Allocation" > Choose single aggregation > Aggregation b

[2022-09-06 15:59] sumanmukherjee03 commented on #1647
@Sean-Holcomb i forgot to ask this.

Regarding your comment

Once the new release goes out...

If i delete kubecost PVCs and recreate kubecost in the cluster, will that give us the right numbers going foward? ie, if i dont want to deal with any old data and start fresh.
Also, on the AWS side we dont have to make any changes to the CUR and athena stuff right?

[2022-09-06 16:13] Sean-Holcomb commented on #1647
If you have Kubecost installed and configured via helm and your goal is a fresh start. I would recommend a `helm uninstall` and re install the project.

[2022-09-07 03:13] dwbrown2 commented on #1681
Can't say I've ever seen this.

@AjayTripathy @michaelmdresser @Adam-Stack-PM can you triage? should this go to Kubecost Support Eng?

[2022-09-07 04:13] AjayTripathy commented on #1681
Hi @calasto123 I've never seen this before. Is it possible that the report only was accessible for 1 day and then we lost access? What does it say about current access to the Azure integration at the /diagnostics view?

[2022-09-07 15:21] akramwaseem commented on #1641
+1

[2022-09-07 15:22] akramwaseem commented on #1608
Can we get some traction on this ?

[2022-09-07 15:35] raids commented on #1252
these metrics would be immensely useful for us too. We would want PrometheusRules to power alerts for when ETL processes fail.

[2022-09-07 17:00] sundeepghuman commented on #1545
We still don't have the exact details on their cluster to help us reproduce

[2022-09-07 17:05] sundeepghuman commented on #1605
@korjavin are you indicating that in our current implementation, users from different Google domains are able to access your application?

[2022-09-07 19:56] nickcurie commented on #1644
Hi @sumanmukherjee03 thanks for following up. We've identified the issue and are working on a fix.

[2022-09-08 02:49] dwbrown2 commented on #1608
To be reviewed as part of 1.99 release where we'll look at a number of alerts/reports features!

[2022-09-08 07:12] korjavin commented on #1605
Yes

[2022-09-08 09:15] andreb89 commented on #1526
@Sean-Holcomb
So I was finally able to update our Kubecost instance from v1.94.3 to v1.96.0, which really should be tested again, since initially when I upgraded with the v1.94.3 helm configuration values, then the cloud integration did not work. Only when I also manually created the cloud-integration secret, the feature worked. So now I have a Kubecost deployed with 3 different secrets, that all

[2022-09-08 16:50] Sean-Holcomb commented on #1526
`CloudUsage[]` logs with this signature are indicative of the failed set ups with service-key and azure-storage-config. Since you have multi-cloud integration the data coming in is correct. In terms of why your other configurations are failing I would need to see your helm values to help diagnose the issue.

[2022-09-08 17:46] keithhand opened #1684 "Better Digital Ocean pricing support"
**What problem are you trying to solve?**
For customers on DO clusters, there are custom configuration options for pricing. However, it would be helpful to pull pricing API information in the same way we do AWS, GCP, and Azure.

**Describe the solution you'd like**
Add support for pulling pricing information from Digital Ocean APIs.

**Describe alternatives you've considered**
Add custom prices to

[2022-09-08 20:58] biancaburtoiu commented on #1545
@mbolt35 has helped me look into this and while we haven't found the root cause yet, we're looking at potential issues in the cache group, wrt single flighting the summary allocation requests.

In absence of more details and/or similar complaints, downgrading this from P1. Will send further updates.

[2022-09-08 21:37] mbolt35 commented on #1545
Here is the actual stack trace (we located it in Sentry):
[code]

[2022-09-08 22:02] AjayTripathy commented on #1605
Thanks @korjavin . We'll expect to have a solution here in our v1.98 release.

[2022-09-09 16:36] biancaburtoiu commented on #1545
Given this new stack trace the issue seems to be in the single flighting used in optimisations - in this case specifically in request sizing. The problematic code segment processes an accumulated allocationSet whose `Window` seems to be null.

I see @michaelmdresser did some [work](https://github.com/kubecost/kubecost-cost-model/pull/746) here a couple of months ago, he might be able to share more

[2022-09-09 18:03] linhlam-kc commented on #1672
Public doc is updated. Closing this issue.

[2022-09-09 18:44] Adam-Stack-PM commented on #1681
@wolfeaustin, Could you look into this related to your v1.97 testing?

[2022-09-09 21:48] #1672 closed

[2022-09-12 03:15] dwbrown2 commented on #1574
@Adam-Stack-PM proposal is to review closely as part of 1.99!

[2022-09-12 03:23] dwbrown2 commented on #1671
This feels like a no brainer based on my understanding!

@keithhand would an example query be something like `service=s3` and `owner_label=""` or a functional equivalent?

@michaelmdresser any work on filters apply here?

[2022-09-12 11:02] romankydybets commented on #1431
@AjayTripathy thanks for update.
when we could expect the fix for this issue?

[2022-09-12 16:55] michaelmdresser commented on #1671
We haven't yet scheduled work for implementing v2 filters for Assets, so probably not here.

This is a good feature request for filters in general, though! I've heard a similar request on the Allocation side with a similar motivation: finding K8s workloads that don't adhere to a labeling scheme.

[2022-09-12 18:25] michaelmdresser commented on #1545
Here's the line of code `/app/kubecost-cost-model/pkg/savings/requestsizing.go:670` in 1.94.3 https://github.com/kubecost/kubecost-cost-model/blob/4ebe7c88b4492d492e5431d2449c18af9646eeb5/pkg/savings/requestsizing.go#L670

I think it's also possible that the AllocationSet, not it's Window, is nil because `.Each()` I think handled `nil` gracefully -- AFAICT the other uses of `as` above that line ar

[2022-09-12 19:38] praveenkumar0566 opened #1690 "Bug: discrepancy between PV amounts on AggCM API and Allocation API"
Thanks for your interest in Kubecost!  To ensure you get the help you need, please follow these guidelines:

- If you have questions about product functionality/usage or need assistance with product installation/configuration, please email support@kubecost.com, where our support engineering team will be happy to help!
- If you have a reproducible bug or a feature request, you're in the right place

[2022-09-12 19:40] dwbrown2 commented on #1690
@nikovacevic may know more context here, but I'm not able to follow the current report. @praveenkumar0566 would you able to share more info on the issue and how to reproduce?

[2022-09-12 19:42] praveenkumar0566 commented on #1690
@dwbrown2 I have updated the API, A customer is using it and seeing the difference. I spoke to Niko regarding this issue.

[2022-09-12 21:51] nikovacevic commented on #1690
My plan here is to try to repro by seeing if we have any envs where PV costs do not match between the two APIs. Even if we do, I'm not sure what I'd say, other than "Use the new API, do not use the old deprecated one," as I'm pretty sure we're not going to dig in and try to support the old API any more.

We could offer something like "use the ETL adapter" which should guarantee the numbers match..

[2022-09-12 21:52] nikovacevic commented on #1690
But also, not sure this is a great use of my time FWIW.

[2022-09-12 22:24] dwbrown2 commented on #1684
Thanks for this request, @keithhand! What do you think about opening a corresponding issue in the OpenCost repo as I think this is where most of the initial work will be.

We actually recently connect with the Digital Ocean team given that a handful of users have requested this. Here's some more information based on what we've learned. Would love to see if someone in the community is interested in

[2022-09-13 00:22] dwbrown2 commented on #1657
Thanks, Sean! I agree that https://github.com/kubecost/cost-analyzer-helm-chart/issues/1406 is relevant @viniciusfs. Proposal is we track that open issue/question there.

Good to close this with that in mind?

[2022-09-13 09:22] calasto123 commented on #1681
It did appear to be displaying the metrics for one of the items in the report but not the others.

Strangely enough now there is a weeks worth of data it is displaying absolutely fine.

I'm not sure if it was a case of the azure report that was just skipping a few days. But it looks to be all resolved from my perspective.

[2022-09-13 09:22] #1681 closed

[2022-09-13 15:35] rossfisherkc opened #1694 "Bug: Read only users can still access the diagnostics page and perform operations (v1.98)"
Customer concern:
[code]

This seems related to the TODOs in this issue that may have not yet been implemented:
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1164
cc @AjayTripathy @kaelanspatel

[2022-09-13 17:08] sumanmukherjee03 commented on #1644
@nikovacevic / @nickcurie i see this issue is marked as completed. Would you please let me know if this fix is included in `v1.97.0-rc.4` ? If not in this version, then any idea on which version it might be included in? Thanks.

[2022-09-13 17:25] Adam-Stack-PM commented on #1574
@dwbrown2 Awesome appreciate the help getting this assigned to a release target. Labeled and added to our product pillar tracking doc.

[2022-09-13 18:51] rossfisherkc opened #1695 "Extend alerting to include KubeCost errors"
Case #2590

Customer experienced a Thanos Error 500: parse error: bad number or duration syntax which led to Thanos being unable to ingest secondary data. This led to the customer loosing data from their secondary cluster for a few days, until they realized the issue and reinstalled KubeCost.

This seems related to https://github.com/opencost/opencost/issues/1291 as a bug fix went out in 1.96, the

[2022-09-13 21:05] nikovacevic commented on #1430
Hi @torbjoernk and @doonto -- we are looking into this issue and will get back to you as soon as we can! Thank you for your patience.

[2022-09-13 22:27] nikovacevic commented on #1694
I'll follow up later this week, to find out if there's anything not WAI here. Sounds like the user might simply disagree with us about what "readonly" should mean, and which views that should grant access to. Can revisit with @dwbrown2 and @AjayTripathy from a product perspective after the behavior is verified to be correct.

[2022-09-13 23:27] rossfisherkc commented on #1694
Just my opinion here from the DBA world, but if a readonly account is created for PostgreSQL, Redis, MongoDB, etc; such user shouldn't be able to perform potentially disruptive operations. I'd never imagine granting a read only user to perform a compact on a PSQL deployment, for example.

[2022-09-14 18:46] dwbrown2 commented on #1690
What is the actual size of the PV? Isn't 22548578304.0 = 22 gb?

[2022-09-14 19:08] dwbrown2 commented on #1694
I agree, repairing ETLs seems like it would not be a readonly action to me.

I believe viewing Settings can provide helpful context to read-only users, e.g. what are pricing assumptions. Would be interested to hear if there are other perspectives here!

[2022-09-14 19:38] nikovacevic commented on #1644
Hi @sumanmukherjee03! Yes, GH automatically closed the ticket when https://github.com/kubecost/kubecost-cost-model/pull/945 was merged. That will be available in `v1.97.0`, but I'm not as certain it's available in the `rc.4`. I will look into that and let you know. `v1.97` is scheduled to be released early next week.

[2022-09-14 19:39] nikovacevic commented on #1644
Looks like it is not yet in a release candidate, but it has now been merged into the `v1.97` release branch, so it will be out in the very next release.

[2022-09-14 19:48] sumanmukherjee03 commented on #1644
Thank you for confirming. Because I did pull the rc.4 and didnt see the fix. That's why i asked. Will wait for the release next week. Appreciate you getting back.

[2022-09-15 13:52] praveenkumar0566 commented on #1690
This is the deployment file is trying in his test cluster with sample PV with 1GB with KC version 1.96

[code]

The PV values in the issue description are in his prod, We asked to upgrade KC to the latest version. He has installed KC with the latest version in his test cluster and deployed PV with the above sample file.

[2022-09-15 17:04] danielfritsch commented on #1593
+1 on this request! Would be awesome to be able to customize the subject name in the emails to include which cluster the report is about -- very useful when you are managing multiple Kubecost instances for a multi-cluster setup

[2022-09-15 20:03] akramwaseem commented on #1695
+1, this is kind of we needed it yesterday kind of alert.

[2022-09-15 20:14] nikovacevic commented on #1694
Well, I can confirm that ETL rebuild/repair is not protected by any auth mechanisms. Either today or tomorrow, I'll try to put out a PR fixing those.

To be clear, this would be:
* Disabling the Diagnostics page for readonly
* Making the scary ETL endpoints admin-only

Likely going to want help from @AjayTripathy or @kaelanspatel as I do not have any experience testing SAML auth stuff, and I'd pre

[2022-09-15 21:00] akramwaseem opened #1696 "Generate cost Estimate report based on custom CPU/RAM inputs"
**What problem are you trying to solve?**
I am using 2 CPU  2GB RAM per pod with 3 pods , And it is costing me around $500 a month.
I want to increase 2 CPU to 4 CPU and 2 GB RAM to 6GB RAM but before I do that, I want to calculate the cost increase for these changes for 3 pods or I want to deploy 5 pods or 10 pods  for a week or month.

**Describe the solution you'd like**
We need a new section u

[2022-09-15 21:02] nikovacevic commented on #1665
This is another great example of inconsistencies between aggregation and filtering, where we've added a feature to one and not another. Good news: this should be a quick fix.

## Aggregate
Note the calls to `labelConfig.Sanitize` in the working examples below:

https://github.com/opencost/opencost/blob/f501e82f7fe0a0f26c7a031bd8b28421d7ddb4d8/pkg/kubecost/allocationprops.go#L299
[code]
https://git

[2022-09-16 12:47] doonto commented on #1430
I just wanted to say, that I've posted couple of month ago the workaround in the Slack here: https://app.slack.com/client/TE6RTBNET/search/search-eyJkIjoiYXp1cmVDbGllbnRJRCIsImsiOiJ0aW1lc3RhbXAiLCJxIjoiVTAzMDdORDZRTlEiLCJyIjoiYXp1cmVDbGllbnRJRCJ9/thread/CLFV60Y90-1652801061.615549

We are still hoping, that the price data we receive by the costexport is enough, and the RateCard integration is not

[2022-09-16 13:44] michaelmdresser commented on #1665
v1 filters are now parsed using https://github.com/opencost/opencost/blob/f501e82f7fe0a0f26c7a031bd8b28421d7ddb4d8/pkg/util/allocationfilterutil/queryfilters.go#L43, which appears to be doing sanitization for label and annotation filters: https://github.com/opencost/opencost/blob/f501e82f7fe0a0f26c7a031bd8b28421d7ddb4d8/pkg/util/allocationfilterutil/queryfilters.go#L325. If we aren't experiencing

[2022-09-16 19:23] dwbrown2 commented on #1690
@praveenkumar0566 are you saying that this is a 1gb PV and we think it's a 22gb PV in our current APIs? I've never seen this issue and this would be very surprising.

[2022-09-16 19:38] praveenkumar0566 commented on #1690
Apologies if I have created any confusion here, The PV is 1GiB and the customer claims that there is a difference in displaying data for the Old API and the new API between pvAllocationAverage and pvBytes and pvBytesHours.
However, I worked with the customer and took statistics of allocation API and I didn't find any issues and reported them the same.
Waiting for their feedback.

[2022-09-16 20:25] michaelmdresser commented on #1665
Niko and I identified the source of this error -- a lack of sanitization in one of our v1 filter parsing code paths. Fix PR is up: https://github.com/opencost/opencost/pull/1392.

[2022-09-16 20:34] #1665 closed

[2022-09-16 20:36] michaelmdresser commented on #1665
Now that the fix is merged, this will be fixed in 1.98. Currently in discussion to determine if this will be cherry picked into the v1.97 release to get it out earlier.

[2022-09-16 22:22] nikovacevic commented on #1694
FYI did not get to this today, but will revisit next week

[2022-09-19 15:33] michaelmdresser commented on #1665
Update: this issue should be fixed in v1.97 of Kubecost (the upcoming release).

[2022-09-19 20:12] cr-benchmarkcorp commented on #1574
Having worked with multiple Global Organizations (including currently working with one previewing KubeCost), it is desirable for the organization to control which accounts have access to view OCC Cloud Costs.    It would be very beneficial to also restrict OCC costs tagged to various namespaces (etc) as part of the RBAC implementation.   This would allow companies to maintain internal financial pr

[2022-09-19 21:23] kaelanspatel opened #1700 "Add Federated ETL Pipeline"
Current federation of multiple clusters relies on Thanos and building ETL data from combined metrics. The goal of adding a federated ETL is to mitigate memory and efficiency issues with the Thanos implementation, including costly builds and shipment of unnecessary unaggregated metrics data.

This would be done by creating a pipeline that uses existing integrations with s3 to federate clusters' ETL

[2022-09-19 21:57] dwbrown2 commented on #1700
This actually completed? Seems like a great tracking issue for Federated ETL work in 1.98!

[2022-09-19 23:18] avrodrigues5 commented on #1575
Closing this issue as v1.97 forth has storage class information in Disk drilldown.
![Screen Shot 2022-09-19 at 4 18 32 PM](https://user-images.githubusercontent.com/11470561/191135663-6935adf4-924c-49a4-89ba-6ef964c75499.png)
![Screen Shot 2022-09-19 at 4 18 36 PM](https://user-images.githubusercontent.com/11470561/191135666-eb7cad1a-15d4-42b6-845f-3f973be72a91.png)

[2022-09-19 23:18] #1575 closed

[2022-09-20 00:18] keithhand opened #1704 "Add Email support to Kubecost and cluster health alerts"
**What problem are you trying to solve?**
I want to use the Kubecost and Cluster Health alerts through a solution other than Slack.

**Describe the solution you'd like**
Extend the current email support to those alert types.

**Describe alternatives you've considered**
Add a custom email integration with Slack to send emails based on the alerts Kubecost sends.

**How would users interact with this

[2022-09-20 07:56] dmitrii-didenko commented on #1651
@kaelanspatel hey! I see it's tagged 1.97. Just checked the issue still persist in 1.97, could you please clarify when we can expect the fix? Thanks

[2022-09-20 14:52] akramwaseem commented on #1704
+1

[2022-09-20 16:10] Adam-Stack-PM commented on #1704
@keithhand, Thanks for this idea.  We are planning to work on several enhancements to alerts in an up coming release. Have this idea organized in the alerts backlog.

@akramwaseem appreciate the +1.

[2022-09-20 16:35] keithhand commented on #1704
@Adam-Stack-PM, do we have a possible timeline for when this could get prioritized?

[2022-09-20 16:41] Adam-Stack-PM commented on #1700
@dwbrown2 This part of the work is completed! We could have been more clear in what this issue covered.

This issue relates only to the initial beta of Federated ETL upload. This will designate an s3 bucket which will be used to upload ETL data from federated clusters to be later used for Federated ETL.

@kaelanspatel and I went back and forth about including this in the release notes.

We decided

[2022-09-20 17:18] Adam-Stack-PM commented on #1696
@akramwaseem  Thanks for this idea.

@dwbrown2, I would love your opinion on this item.

I like it because I see two sides to cost optimization.

I feel both are very important and I would vote that this idea falls into budgeting.

[2022-09-20 17:41] AjayTripathy commented on #1431
Hi @romankydybets I've tagged this as a fix to be released in v1.98. We expect that in mid october; a test build may be available with the improvements sooner.

[2022-09-20 18:48] Adam-Stack-PM commented on #1704
@keithhand Not yet. We need to review it alongside other alert enhancements. Will have a better idea when we start planning v1.99 around 10/31.

[2022-09-20 18:54] Adam-Stack-PM commented on #1651
@AjayTripathy Could you help trouble shoot this issue?

[2022-09-20 18:56] akramwaseem commented on #1704
@Adam-Stack-PM -- just FYI, email is the most common way of getting alerts, Not all organizations uses slack.
  Kubecost and Cluster Health alerts via email feature is kind of needed yesterday and without it at least on our side we are running blind. we did had some data loss due to lack of this kind of alerts.

Want to put this out, So this can get some traction when implementing in v1.99

[2022-09-20 19:26] Adam-Stack-PM commented on #1647
@sumanmukherjee03, We just released v1.97;  after you install it, let us know if you need any additional help.

If we don't hear from you will assume all is good and close out the issue next week. Thanks for using Kubecost.

[2022-09-20 19:38] Adam-Stack-PM commented on #1252
@raids, Thanks for this idea. Will review with the team.

[2022-09-20 19:56] Adam-Stack-PM commented on #1657
Closing in favor of Casing in favor to consolidate issues https://github.com/kubecost/cost-analyzer-helm-chart/issues/1406 to consolidate issues.

[2022-09-20 19:57] Adam-Stack-PM commented on #1406
Connected issue https://github.com/kubecost/cost-analyzer-helm-chart/issues/1657

[2022-09-20 20:03] Adam-Stack-PM commented on #1593
@danielfritsch Thanks for  the +1 and building on the idea.

This work will not make it in v1.98 but we are planning a big push on alerts and notifications for an upcoming release.

[2022-09-20 20:31] dwbrown2 commented on #1593
Specifically, 1.99 is current plan!

[2022-09-20 20:37] Lax77 commented on #1642
We also noticed this issue when a daemonset is unable to run due to lack of resources(CPU, Memory) on a node.

[2022-09-21 17:29] praveenkumar0566 commented on #1690
@dwbrown2 Customer is asking  the same deployment and extractions are taken right after each other. In the old api, there is one record of 1 GB, while in the new API there are 240 records of 1 GB.
I am aware that the new api is per hour, but there should probably only be 24 records of 1 GB

**Here is the old api**
 curl -kLs 'http://cost012.sit.govcloud.dk/model/aggregatedCostModel?window=yesterda

[2022-09-21 18:31] AjayTripathy commented on #1690
Looking at the JSON, it seems like there are ten replicas, each being allocated 1GB by their claim. The old API query is actually not a per-pod query, it's a label aggregation giving you an "average" allocation, meaning that you have an average of 1GB. The new api simply tells you how much each pod's claim has requested, giving it 1GB per pod allocated.

We made an effort to calculate _cost_ corre

[2022-09-21 20:03] wamak9 opened #1708 "Need better labels for Cost Allocation and Need drilldown support for Multi Aggregation feature"
**What problem are you trying to solve?**

1) Cost Allocation Tab needs  more labels, so viewing pods with clusters makes it more readable
2) Also multi aggregation doesn't let you drilldown to the pod level when any of the two aggregations are selected.

**Describe the solution you'd like**
1) by default it is being aggregated by Name which gives me list of all the namespaces but I have 15 cluste

[2022-09-21 20:22] jessegoodier opened #1709 "create serviceMonitor for network-costs"
**What problem are you trying to solve?**

kubecost have a serviceMonitor for kubecost metrics, but not for the daemonset.

FYI: the scrapeConfig does work

**To Reproduce**
Steps to reproduce the behavior:

there is no serviceMonitor in the repo for network-costs

**Expected behavior**
create network cost service monitor similar to:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develo

[2022-09-21 22:29] mbolt35 commented on #1709
Hey @jessegoodier - I think this is because we don't want the functionality from a service monitor when it comes to network costs. A service in this case would only extract metrics from one of the N  daemonset network costs pods. We have a `PodMonitor` template though:

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-network-costs-podmonitor-

[2022-09-21 22:39] mbolt35 commented on #1709
Just so it's clear, there are basically two ways you can setup scraping for network-cost pods. The _default_ way in our current helm chart is with this prometheus "extra" config:

https://github.com/kubecost/cost-analyzer-helm-chart/blob/9c93abb6ba432d95e84f787c3000c38c5b5414b8/cost-analyzer/values.yaml#L449-L456

(Note line 41 - `sd_role: pod`) indicating that it will match pods to scrape based o

[2022-09-22 12:17] jessegoodier commented on #1709
I should have added more detail.

This is _only_ for bring your own prometheus.

Our Prometheus does not look for serviceMonitors, even if the CRD is installed on the cluster because we aren't using the operator.

If a user were to set
[code]

they would get:

[code]

Regarding the type of serviceMonitor to scrape every pod of a DS, I verified on a two-node cluster that it is scraping both:
![imag

[2022-09-22 13:35] jessegoodier commented on #1597
Just bumping this up-
This is still an issue and causes a lot of confusion (ran into it again with a POC yesterday). Would love to see this get picked up. I'm happy to help with configs and testing.

[2022-09-22 16:21] kirbsauce commented on #1593
@Adam-Stack-PM , @dwbrown2 will the customization also extend to the email body?

[2022-09-22 18:10] kaelanspatel commented on #1690
Is the cost correct? If the cost is correct then I'd say probably you're right @AjayTripathy, we might be able to just divide the PVC bytes by the coefficient. That would make the above alloc items consistent with cost.

But tbh I think the number of 240 GB actually demonstrates the allocated memory (like Ajay says)? What is the issue with that number (except matching with the deprecated API)? Fro

[2022-09-23 00:03] Adam-Stack-PM commented on #1597
@jessegoodier, thanks for bumping this up. This got marketed as low priority (p2). Is this POC blocking or just a point of friction. Agree we need to get this fixed if it keeps coming up.

Frontend team is booked solid in v1.98 Need to know if this can want until v1.99 or need to pull something out of v1.98 and slide this in.

CC @dwbrown2

[2022-09-23 03:05] dwbrown2 commented on #1593
@kirbsauce any example scenarios you have in mind?

[2022-09-23 04:11] kirbsauce commented on #1593
No use case, just curious. That said, one user did want the cluster name/id but I suspect having it in the subject will work. I'm currently trying to confirm this with them.

Working with automations in other tools with email notifications, I've found it very useful to embed more robust information in the email body, which triggered my question.

[2022-09-23 09:57] BenCoughlan15 commented on #986
Hey, is this scheduled at all?

[2022-09-23 13:01] sumanmukherjee03 commented on #1644
@nikovacevic this does not appear to be fixed in `v1.97.0`.

[2022-09-23 13:13] kirbsauce commented on #1593
@dwbrown2 , confirmed with user that Alert Name and Cluster ID in subject would work.

[2022-09-23 15:40] Adam-Stack-PM commented on #986
@BenCoughlan15, Thanks for the nudge here. I will sync with the team on Monday and follow up here on Tuesday.

Note to engineer on rotation please keep the need-follow-up label on this issue.

[2022-09-23 15:48] Adam-Stack-PM commented on #1597
Adding this to the v1.99 backlog. Will adjust if needed.

[2022-09-23 16:36] biancaburtoiu commented on #986
I'm looking at implementing this as part of the support rotation. I'll share further updates as the PR(s) go through the review process. Thanks for the patience!

cc @Adam-Stack-PM

[2022-09-23 16:51] Adam-Stack-PM commented on #1597
100%. We have a few items competing for this bandwidth if we have it.  When the time gets closer will revisit and sync with you on prioritization.

[2022-09-23 17:35] jessegoodier commented on #1597
Thanks team.
@Annalillie had a nice mockup of moving cloud-integration up here:
https://github.com/kubecost/cost-analyzer-frontend/issues/902#issuecomment-1215775720

This, by itself would help a lot.

I pinged her the other day and she mentioned that she would talk to Niko about it.

[2022-09-23 17:47] Annalillie commented on #1597
Hi team, since speaking with Jesse the other day I have a mock for this replicating the one Jesse linked, but for our new design system. To keep it simple for now, I moved cloud integration above pricing sources and added copy to explain the nature of some pricing errors. I'm also tagging @nikovacevic for transparency
![image](https://user-images.githubusercontent.com/89574007/192026538-63e1e4ee-3

[2022-09-23 22:53] biancaburtoiu commented on #1708
hello @akramwaseem, thank you for sharing this request!

While we currently don't support drilldown when selecting multiple aggregations (and I will raise a feature request for that), I'm spotting a few potential solutions to some of the issues you've raised:
- Aggregate by `cluster`, as well as `cluster & namespace`, `cluster & namespace & pod`, `pod & container` to clearly see which clusters the

[2022-09-23 22:57] biancaburtoiu opened #1711 "Implement drill down for multi-aggregations in Cost Allocation"
**What problem are you trying to solve?**
Implement drill down for multi-aggregations in Cost Allocation
Reference: user request in https://github.com/kubecost/cost-analyzer-helm-chart/issues/1708

**Describe the solution you'd like**
Users to be able to access lower level items given multiple aggregation options.

**Describe alternatives you've considered**
n/a

**How would users interact with th

[2022-09-23 23:58] Adam-Stack-PM commented on #1651
@dmitrii-didenko,This is on my radar and will follow up next week.

[2022-09-23 23:59] Adam-Stack-PM commented on #1430
@doonto, This issue is still on my radar and will follow up next week.

[2022-09-26 00:13] sumanmukherjee03 commented on #1647
@Adam-Stack-PM I can confirm that the numbers look correct to me. We can close this ticket as done.

[2022-09-26 02:03] #1647 closed

[2022-09-26 23:03] keithhand opened #1712 "Improved request sizing information"
**Problem are you trying to solve?**
The only error displayed is "Container may be underprovisioned"; however, this can sometimes be confusing in the case where one resource is underprovisioned, but another is overprovisioned.

**Describe the solution you'd like**
A more precise explanation for the request sizing recommendations

![](https://user-images.githubusercontent.com/43491549/192395918-b11

[2022-09-27 01:08] AjayTripathy commented on #1651
Hey all, the eng team is a bit slammed heading into kubecon-- not sure we expect this to make 1.98 but will reevaluate in 1.99

[2022-09-27 11:46] guijusto90 opened #1714 "Endpoint requestSizing with specified time ranges"
**What problem are you trying to solve?**

We would like to know the efficiency/saving and recommendations of applications at specific times, eg 12:00-15:00. Today we can specify ranges like this only on the allocations endpoint. When we query this specified time, we get error 500.

**Describe the solution you'd like**
To query the endpoint model/savings/requestSizing with specified widow, eg "win

[2022-09-27 22:00] sumanmukherjee03 commented on #1644
@nikovacevic / @Adam-Stack-PM i dont see this fixed in `v1.97.0`. Is the fix for this scheduled on a next release? Or does it make sense to create a new issue?

[2022-09-27 22:14] AjayTripathy commented on #1644
Hi @sumanmukherjee03 I'm not immediately able to reproduce this. Can you share your configurations and the queries you're making by Owner label in v1.97?

[2022-09-28 02:09] ameya-parab commented on #1406
Having a similar issue -

![image](https://user-images.githubusercontent.com/75458630/192671429-d39133a8-c0f0-4846-8b8c-8e56c69569df.png)

Do we know how to fix the error?

[2022-09-28 02:15] felipegimenez commented on #1714
This feature will be very util for us. Because in endpoint "/allocation" don't have target and savings parameters.

[2022-09-28 07:11] doonto commented on #1430
I'll add here some comments from the slack channel:

Since you are using the kubecostProductConfigs.cloudIntegrationSecret value and cloud-integration.json secret the following kubecostProductConfigs values should not be needed.
[code]
The error Configure Azure Storage Failed azure storage config not found is a false positive as well, due to azureStorageSecretName not being set. I works because yo

[2022-09-28 08:32] mattray opened #1715 "Savings - Underutilized Savings Plans and Reserved Instances"
There is currently no visibility into Savings Plans or purchased Reserved Instances in the Savings tab. As a user with these attached to my account, I would like visibility into whether or not these are being consumed properly because they contribute to the entire build.

This is a feature request on behalf of a customer.

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net

[2022-09-28 14:58] jcharcalla commented on #1430
To clarify the recommendation above on using the `cloud-integration.json` secret as [documented here](https://guide.kubecost.com/hc/en-us/articles/4407595968919) is for the Cloud Integration only, it does not configure the Rate card integration. As [noted here](https://guide.kubecost.com/hc/en-us/articles/4407595934871-Azure-Config#azure-rate-card-configuration) the Cloud Integration provides simi

[2022-09-28 15:05] jessegoodier opened #1716 "/details hardcoded / and fails on /kubecost (1.97.0)"
**Describe the bug**
Customer reported and I reproduced:

kubecost 1.96.0: using ingress with a non-root (FQDN/kubecost for example) path WAI on all pages
1.97.0: /details does not respect /path, gives 404

**To Reproduce**

Steps to reproduce the behavior:
1. Go to http://nginx.kubecost.xyz/197/allocations
2. Click blue link for details of a namespace
3. See 404
4. Go to http://nginx.kubecost.xyz

[2022-09-28 15:33] AjayTripathy commented on #1716
@jessegoodier do you have a reproduction of this running in a cluster somewhere?

[2022-09-28 15:37] jessegoodier commented on #1716
Yes, those are my NGINX links.

[2022-09-28 16:01] AjayTripathy commented on #1716
I don't think we want a patch just yet since a workaround for now is to go directly to http://nginx.kubecost.xyz/197/details?name=kube-system&type=namespace

Bit annoying though.

[2022-09-28 16:58] dwbrown2 opened #1717 "Review default image pull policy"
**What problem are you trying to solve?**
While users have control over Kubecost image pull policies, I'm surprised Kubecost defaults to `Always`. Seems like this will create unnecessary image pulls for `cost-model` image.

**Describe the solution you'd like**
Should Kubecost default to `IfNotPresent`?

**Describe alternatives you've considered**
Given that the kubelet first checks the local cache

[2022-09-28 17:02] Adam-Stack-PM commented on #1714
Hi @guijusto90, Thanks for the idea.  @felipegimenez for the additional upvote. Will review with the engineering team and consider it for an upcoming release.

CC: @michaelmdresser, I Wanted to get this on your radar.

[2022-09-28 18:47] michaelmdresser commented on #1714
Hi @guijusto90! For a variety of reasons, our request sizing APIs only support querying specific windows if they are multiples of 24 hours and are aligned to UTC 00:00. This means that you won't be able to get recommendations based on data from windows smaller than 24 hours.

Working with what you've provided, `window=2022-09-25T12:00:00Z,2022-09-25T15:00:00Z` won't give you any data from the requ

[2022-09-28 19:51] Adam-Stack-PM commented on #1715
@dwbrown2 would love your thoughts here.

Also may be interesting to help customer's transition workloads to saving plans and predictable workloads to reserved instances when relevant

[2022-09-28 20:09] akramwaseem commented on #1696
bump

[2022-09-28 20:13] dwbrown2 commented on #1717
I don't think this necessary needs to be in the next Kubecost release, was more aiming to start a discussion...

[2022-09-28 20:29] thomasvn commented on #1430
We were able to reproduce the reported issue. As shown below, using the `.Values.kubecostProductConfig.azureStorageSecretName` will not result in the cloud integration properly being set up. This was tested on both an existing install, and a fresh install of Kubecost of 1.96.0.

However, using `.Values.kubecostProductConfigs.cloudIntegrationSecret` will be successful. Documented [here](https://gui

[2022-09-29 15:49] jcharcalla commented on #1578
I have a customer seeing a similar issue with network costs on GCP.

Is it related to this issue or should I file an additional GH issue?

![Screen Shot 2022-09-29 at 11 28 31 AM](https://user-images.githubusercontent.com/17748044/193078587-6d3924fc-0711-42f3-ac5a-34f5be7ca7f7.png)

[2022-09-29 16:51] dwbrown2 commented on #1715
Excited to see more support here beyond our basic insights today. @mattray have any more context on what you feel would be most valuable?

[2022-09-29 22:18] mmurph3 opened #1719 "Cloud External Costs not working with s3 CUR integration"
**Describe the bug**
External cloud costs are not showing up in the UI for s3 CUR integration

**To Reproduce**
Steps to reproduce the behavior:
I tried exactly as follows with an already existing athena-results-query s3 bucket. Bucket has resource ID's checked.

1. Created a secret named cloudinit for cloud-integration.json with following values:
[code]
`kubectl create secret generic cloudint --f

[2022-09-29 22:51] mmurph3 commented on #1719
I used the wrong bucket. Will test again and provide an update.

[2022-09-30 07:39] AjayTripathy commented on #1719
Please let me know!

[2022-09-30 19:14] jcharcalla opened #1720 "Inflated Network costs estimates before GCP reconciliation"
**Describe the bug**
When drilling into the cost allocation details page, the estimated costs for GCP networking prior to the detailed billing report reconciliation are inflated.

It has been mentioned that using [direct classification ](https://github.com/kubecost/cost-analyzer-helm-chart/blob/4fa9493251ad904ff28487632808c26bbc5a40ff/cost-analyzer/values.yaml#L607-L614) may help with the estimate

[2022-09-30 19:30] biancaburtoiu commented on #986
I've made the necessary adjustments to introduce GCP integration via Workload Identity, to be released in 1.98. Will link our updated public docs shortly after the release. Thanks everyone for your patience and please let us know if you have further questions!

cc @Adam-Stack-PM

[2022-09-30 19:35] BenCoughlan15 commented on #986
Awesome, can't wait, thanks all!

[2022-09-30 22:16] AjayTripathy commented on #1712
Seems like a simple UI fix... I know @nealormsbee something for you to triage?

[2022-10-01 00:06] mbolt35 commented on #1720
We should look into how their scrape is setup as well. How "inflated" is it? 2x or more?

[2022-10-01 13:28] ameya-parab commented on #1406
Noted. Thanks @AjayTripathy!

[2022-10-03 03:05] tohjustin opened #1722 "Getting AWS pricing data in air-gapped environments"
**Describe the bug**
When deploying Kubecost in a regular EKS cluster provisioned in a VPC that doesn't have an internet gateway (i.e. essentially an air-gapped cluster, cluster nodes doesn't have internet access), Kubecost fails to get AWS pricing data from the AWS Pricing API.

Deployment Environment
- EKS v1.22
- Kubecost v1.97.0

**To Reproduce**
Steps to reproduce the behavior:
1. Provision E

[2022-10-03 03:15] tohjustin opened #1723 "Support more configurations for Advanced Reports feature"
**What problem are you trying to solve?**
The current functionality of the **Advanced Reports** feature isn’t able to fully replace what we used to have on our `/allocations` page back in & we’re not sure why the External Costs column was removed from the table on that page in `v1.94.0` before a proper replacement is available.

**Describe the solution you'd like**
We would like to see the followi

[2022-10-03 08:14] mattray commented on #1723
Related:
https://github.com/kubecost/cost-analyzer-frontend/issues/1125
https://github.com/kubecost/cost-analyzer-frontend/issues/1126

[2022-10-03 17:00] keithhand commented on #1152
I just wanted to bump this as we have some additional interest in a way to report on potential ETL failures. Perhaps we could send an alert now with a message like "Potential issue; please investigate as it could be a false alarm" to try and prevent cases where we are picking up failure anomalies.

[2022-10-03 19:03] ErnestG4 opened #1724 "1.96 fails to show 1.97+ upgrade available on settings page."
Thanks for your interest in Kubecost!  To ensure you get the help you need, please follow these guidelines:

- If you have questions about product functionality/usage or need assistance with product installation/configuration, please email support@kubecost.com, where our support engineering team will be happy to help!
- If you have a reproducible bug or a feature request, you're in the right place

[2022-10-03 19:39] AjayTripathy commented on #1722
Hi @tohjustin thank you for the feedback. Today, you can use a custom pricing CSV (https://docs.google.com/document/d/1GgSOl_W_zchO8Yc66H4o5D37Sj46FZTWx0oU64Tq-RM/edit) to specify node or node class types.

If that's not feasible, we could explore doing this via a JSON file we can place on the container (or possibly in s3) since it is quite large. Would one of those options work for you?

[2022-10-03 19:45] AjayTripathy commented on #1723
Hi @tohjustin thanks for the feedback. @Adam-Stack-PM can we get this grouped with the other advanced reports feedback and prioritized for v1.99?

[2022-10-03 19:47] DKeeling01 commented on #1472
Hello all -

Just checking in to get a status update on this issue - customer is asking for a timeline

[2022-10-03 20:00] srpomeroy commented on #1642
I have another customer experiencing the same issue.
```2022-09-30T15:18:48.866518294Z ERR savings: cluster sizing: error reccomending cluster sizing for cluster cluster-one: failed to recommend single pool cluster sizing: failed to find machine pool for vCPUs: 8449.137473 (551.990303 DaemonSet); RAM: 18554.122618 GB (647.945532 DaemonSet); max pod: 47.000000 vCPUs, 230.077000 RAM GB with buffer 1

[2022-10-03 20:13] akramwaseem commented on #1694
@nikovacevic -- Is there an update on this ?
Isn't this a security risk with Read Only users having access to ETL with  performing repairs ?

[2022-10-03 20:55] dwbrown2 commented on #1694
@akramwaseem this is in process this week

@michaelmdresser can you add Steven's GH? I'm not sure what his handle is.

[2022-10-03 21:18] AjayTripathy commented on #1430
@thomasvn what would you think next steps are? If there's a better way should this be removed from our configurations?

[2022-10-03 21:19] AjayTripathy commented on #1252
Seems groupable with #1152 . @Adam-Stack-PM can you get those together and tracked under monitoring tasks?

[2022-10-03 21:20] AjayTripathy commented on #1252
And #1695 as well.

[2022-10-03 21:23] AjayTripathy commented on #1472
This depends on #1713 once that lands we should be in good shape to look at this in v1.99 (our post-kubecon release)

[2022-10-03 21:24] AjayTripathy commented on #1152
Let's group together these monitoring/alerting tasks and look to tackle in v1.99

[2022-10-04 14:23] michaelmdresser commented on #1694
I believe its @saweber!

[2022-10-04 15:03] akramwaseem commented on #1708
@biancaburtoiu -- I did try those and I had a session with the kubecost team. We still might need the drilldowns.

[2022-10-04 16:25] dwbrown2 commented on #1724
cc @AjayTripathy

[2022-10-04 17:20] thomasvn commented on #1430
Some of our next steps should include:

1. Updating all public docs to reference the `.Values.kubecostProductConfigs.cloudIntegrationSecret` when setting up Azure Cloud Integration
2. Creating internal docs about `.Values.kubecostProductConfig.azureStorageSecretName`. This includes a saved version of the old public docs. Notes about recent issues with this config. And observations on what occurs w

[2022-10-04 19:14] michaelmdresser commented on #1611
Please note that "current" as far as the new API is concerned is the most recent ETL window. So this will lag as much as the latest ETL window lags (1h normally, possibly 4h with Thanos?).

[2022-10-04 19:16] michaelmdresser commented on #1061
Quantile support added in the v2 request sizing API, see docs: https://github.com/kubecost/docs/pull/371. Progress is proceeding on the FE integration.

[2022-10-04 19:16] #1061 closed

[2022-10-04 19:22] dwbrown2 commented on #1611
Is this the expected case in a standard deployment? I thought ETL rebuilt every ~10 minutes

[2022-10-04 19:25] michaelmdresser commented on #1611
Apologies, yes I think you're right there. So a lag of <=10m normally and <=3h 10m if it's Thanos (and if I remember Thanos data lag correctly...).

[2022-10-04 19:26] michaelmdresser commented on #1611
Actually, it's a little more complicated than that because we average request over an ETL window. So the _exactly_ correct request can lag as long as 1h/4h.

[2022-10-04 20:11] kaelanspatel commented on #1694
We ideally want to block rebuild and repair for all pipelines (Allocation, Asset, Cloudusage etc.), though some of these are not tied to the diagnostics page.

[2022-10-05 18:35] keithhand opened #1729 "Saved reports created via values.yaml ignored if not persistent volume"
**Describe the bug**
When enabing saved reports via your values.yaml, if you also set `persistentVolume.enabled=false` the reports will not be created in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade application with the following values.yaml

[code]

2. Port-forward with `kubectl port-forward service/kubecost-cost-analyzer 9090` and visit http://localhost:9090/reports to s

[2022-10-05 19:32] akramwaseem commented on #1694
@saweber  -- Cant we just grayout the diagnostic button for Read only users ?
So they dont even get to view the page ? That would make it much easier and better approach ?
What do you think ?

[2022-10-05 19:36] dwbrown2 commented on #1694
@akramwaseem why would you want to disable the diagnostics page entirely vs making this particular action on the diagnostics page not accessible?

[2022-10-06 07:19] sumanmukherjee03 commented on #1644
@AjayTripathy sorry it took me a while to get back to this.

Cant seem to capture bug report from the /settings page. Seeing an error in the JS console
[code]

When you say queries, this is what I am trying to do.

Go to "Cost Allocation" > Select "Aggregate by" > Chose "Owner" from the dropdown > Click on one of the rows > I expect to see resources with tags or annotations from different namespac

[2022-10-06 13:25] jessegoodier opened #1730 "abandoned workloads report logic error"
**Describe the bug**
Customer brough this up and we also have an example on internal demo environment (happy to send link):

abandoned workloads have containers with traffic above the threshold see screenshots below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'savings>abandoned workloads'
2. Click on detail of a workload that you know has significant traffic
3. See bytes are far a

[2022-10-06 18:59] AjayTripathy commented on #1730
Yeah, though I will say this bug predates a lot of our testing workflow we should be writing an integration test on this API.

[2022-10-06 20:43] mmurph3 opened #1731 "Savings Plan Feature"
**What problem are you trying to solve?**
It's difficult to identify and stay on top of opportunities for adjustments on savings plan in aws console.

**Describe the solution you'd like**
Kubecost to be able to provide recommendations on saving plan summary https://us-east-1.console.aws.amazon.com/cost-management/home?region=us-east-2#/savings-plans/overview. Like what we have for reserved instanc

[2022-10-07 14:16] jessegoodier opened #1732 "Single click to rebuild all ETL"
**What problem are you trying to solve?**

We run into issues with users needing to rebuild various etl stores and it is difficult for users to find the commands to kick off the rebuilds.

In my experience, there is little harm in running these when there is "bad data"

**Describe the solution you'd like**

a single click to kick off:
/model/etl/asset/rebuild?commit=true
/model/etl/allocation/rebu

[2022-10-07 14:44] Adam-Stack-PM commented on #1732
@jessegoodier , Have added this to the ETL backlog idea list https://github.com/orgs/kubecost/projects/13/views/2

Do you see any downside if this requires two clicks?

Wondering if we should have a confirmation step that warns users this may take a few hours, and if there is only a day or two of bad data, they may want to rebuild the individual hour/day.

[2022-10-07 15:08] jessegoodier commented on #1732
most of the value would be to get links into the UI.
Open to whatever is the best practice.

[2022-10-07 20:31] jessegoodier commented on #1709
https://github.com/kubecost/cost-analyzer-helm-chart/pull/1710

[2022-10-07 20:31] #1709 closed

[2022-10-07 20:33] jessegoodier commented on #1499
Should we close this?

It is mostly done and we can create a new ER for anything that comes up again?

[2022-10-07 20:34] jessegoodier commented on #1492
Nice work @Annalillie

[2022-10-07 20:34] #1492 closed

[2022-10-07 20:35] jessegoodier commented on #1452
@Adam-Stack-PM
There's still a ton of value in this one, just bumping this up for visibility.

[2022-10-08 04:48] nealormsbee commented on #1499
That sounds good to me. With the different design, several of these may not even make sense now. Closing the issue. Thanks Jesse!

[2022-10-08 04:48] #1499 closed

[2022-10-10 18:42] dwbrown2 commented on #1720
@jcharcalla any updates on your end?

[2022-10-10 19:22] mmurph3 opened #1734 "Forecasting in Savings page"
**What problem are you trying to solve?**
It's not possible to project costs from UI if new tenants/customers are added (scaled deployments, nodes, etc).

**Describe the solution you'd like**
Add a "Forecasting" sub page under Savings page that allows user to input values such as increased/decreased number of replicas for a given deployment/workload, adding specific number of nodes and node type w

[2022-10-10 23:27] AjayTripathy commented on #1722
That sounds like a potentially quick fix. Would you need authentication around that file or could we just assume the file is at a URL  as a static endpoint @tohjustin ?

[2022-10-11 02:06] tohjustin commented on #1722
We don't need any authentication around that file, probably just specifying the S3 bucket + path to the pricing data JSON file would work for us.

---

Just spoke with Matt Ray & Jeremy Walker earlier today, we could also work with the existing [custom pricing CSV](https://docs.google.com/document/d/1GgSOl_W_zchO8Yc66H4o5D37Sj46FZTWx0oU64Tq-RM/edit) solution shared above. But we were wondering whe

[2022-10-11 11:35] AjayTripathy commented on #1722
1. No-- I'm not sure reconciliation is compatible with the CSV today.
2. We don't.

Given this, let's focus on delivering a simple URL to read the JSON from. I'd estimate we can deliver this in v1.99.

[2022-10-11 11:48] AjayTripathy commented on #1719
@mmurph3 were you able to fix permissions here and get this working? If so can we make a change in the documentation?

[2022-10-11 11:50] AjayTripathy commented on #1724
I think this may have had to do with the build proces son v1.97. Let's make sure we get this fixed in v1.98

[2022-10-11 12:07] AjayTripathy commented on #1729
This looks like a bug. cc @Adam-Stack-PM for tracking. Let's pick up as we finish the major v1.98 features.

[2022-10-11 12:09] AjayTripathy commented on #1430
I support these changes... assigned you!

[2022-10-11 12:15] AjayTripathy commented on #1731
Seems like a major focus in v1.99, wdyt @dwbrown2 ?

[2022-10-11 14:52] mmurph3 commented on #1719
Issue fixed, I was missing createServiceKeySecret. Will update documentation. This is the correct config:

[code]

[2022-10-11 14:59] srpomeroy opened #1736 "Percentage of Budget Attainment Alert"
**What problem are you trying to solve?**
Get notified before budget overrun.

**Describe the solution you'd like**
Define thresholds to trigger a budget alert.
Example: When total cost is 90% of budget threshold.

**Describe alternatives you've considered**
None

**How would users interact with this feature?**
When creating the budget alert, have an additional field that allows setting the budget

[2022-10-11 15:14] thomasvn commented on #1430
@AjayTripathy ACK! I will update this Github Issue as progress is made.

[2022-10-11 15:46] mmurph3 opened #1737 "Show total cost for an object(s) by week, day month, etc. (e.g. Monthly granularity)"
**What problem are you trying to solve?**

**Describe the solution you'd like**
The ability to aggregate by specified object(s) in cost allocation page/asset page and get total cost by week, month, year.

**Describe alternatives you've considered**
Cost over time & monthly rate settings in UI when aggregating by object(s).

**How would users interact with this feature?**
Build reports showing the

[2022-10-11 15:52] derekhawkesworth commented on #1737
This is a good feature available in AWS Cost explorer and really helps seeing trends over the resources.

[2022-10-11 18:59] akramwaseem commented on #1704
Update: for now, I can use the teams webhook and get the notifications on to a teams channel. Still missing email alerts.

[2022-10-11 22:17] Adam-Stack-PM commented on #1574
@cr-benchmarkcorp  Thanks for this insightful product feedback. Very much appreciated.

[2022-10-11 23:10] Adam-Stack-PM commented on #1704
@akramwaseem Thanks for the follow up here and great product feedback regarding slack.  This is on our list to prioritize  for v1.99.

[2022-10-12 04:06] dwbrown2 commented on #1694
@akramwaseem we have a number of teams where read-only users want to be able to view Prometheus status, ETL status, cloud integration status, etc. Are there situations where that would be problematic for you?

[2022-10-12 04:34] akramwaseem commented on #1694
I think I am fine with view access.

[2022-10-12 16:11] nikovacevic commented on #1597
@dwbrown2 @Adam-Stack-PM FYI I suspect that some of @Sean-Holcomb 's work on the new Cloud Costs API (which necessitated changes to the Cloud Provider Integrations) could affect this. I'd propose that we tackle this once and for all in 1.99 as part of the Cloud Costs rewrite.

If there's a quick fix that we have capacity for in 1.98, not opposed. Just think we will have a good chance to address ag

[2022-10-12 16:18] Adam-Stack-PM commented on #1597
Thanks for the head up @nikovacevic Niko. Will track in both places.

[2022-10-12 18:08] cr-benchmarkcorp commented on #1580
Large Enterprises that use a shared-services IT chargeback model will have this business requirement.   Many organizations use this and require the ability to share tenant-wide (external) cloud services across each tenant in a Kubernetes cluster.   If this feature is not developed, large organizations with a shared financial responsibility will be less likely to adopt KubeCost, or more likely to r

[2022-10-12 20:06] akramwaseem commented on #1696
bump+

[2022-10-12 21:52] ivankube commented on #1676
Another user is hitting the same error in 1.97.0

[2022-10-12 22:31] jessegoodier opened #1738 "savings should not be greater than costs"
**Describe the bug**
A clear and concise description of what the bug is.

I have seen this on multiple clusters, including in hosted.
https://demo.kubecost.xyz/overview for example

In any case, it looks really bad and we lose loads of credibility on our home screen.

**To Reproduce**
Steps to reproduce the behavior:

I'm not 100%- likely only happens when cloud integration is enabled (which shoul

[2022-10-13 02:51] tohjustin commented on #1722
@AjayTripathy Would we eventually have RI savings reconciliation to be compatible with the CSV approach? Cause we would still be purchasing RIs for our air-gapped cluster nodes & ideally want the costs reported by Kubecost to account for the discounts too 🤔

[2022-10-13 03:11] dwbrown2 commented on #1738
Jesse, thanks for reporting and agree with your view on impact. My assessment is that in this case we're double counting pods as 1) abandoned and should be deleted and 2) over-provisioned and should be right-sized. Is that consistent with your understanding? We should have a heuristic to prevent this.

That said, when I look at https://demo.kubecost.xyz/overview (which has a cloud integration comp

[2022-10-13 03:16] dwbrown2 commented on #1696
Absolutely see the value in this. The complexity that I see calculating these costs before the pods are deployed is that cost can be usage driven, i.e. you may be requesting 2 cpus but using 12 and that will drive costs.

Once the pods are deployed, Kubecost has the ability to estimate monthly costs in the Allocation view within several hours.

[2022-10-13 13:32] jessegoodier commented on #1738
For demo.kubecost.xyz, I agree, that's what is happening.

In the screenshot with the $297k abandoned workloads: perhaps that is the logic error Ajay just fixed. In that cluster, "Delete unassigned resources" is $0.

If the savings identified card had a different title, that would go a long way to addressing the confusion.
"Total possible savings (including cloud resources)"
Which is a bit wordy.

[2022-10-13 16:46] keithhand opened #1739 "Add option to disable SAML port"
**What problem are you trying to solve?**
When SAML is enabled, [port 9004 gets opened](https://github.com/kubecost/cost-analyzer-helm-chart/blob/ca8e9952df26179fedd6ad00a72278c9d4d16b70/cost-analyzer/templates/cost-analyzer-service-template.yaml#L62-L66) for an additional way to access the API, some users might not want this option to be there.

**Describe the solution you'd like**
An option to d

[2022-10-13 20:40] cwitthaus opened #1740 "Published helm chart release 1.97.0 does not match code tagged (v1.98)"
**Describe the bug**
The helm chart that is packaged and distributed as version 1.97.0 via https://kubecost.github.io/cost-analyzer/ does not match the code at tag 1.97.0. Specifically, `https://github.com/kubecost/cost-analyzer-helm-chart/blob/v1.97.0/cost-analyzer/templates/cost-analyzer-cluster-role-binding-template.yaml` has a different value for the name of the RoleBinding. In the repository,

[2022-10-13 20:56] clekas-fff commented on #1739
It would be great to be able to have health metrics available here so that engineers can support the operations of Kubecost, but to not have any cost/usage data available since that is needed by a separate group and contains sensitive information.

[2022-10-13 20:56] keithhand opened #1742 "More implicit scraping of required Prometheus metrics"
**What problem are you trying to solve?**
If you deploy Kubecost to a cluster that has many services with the Prometheus annotation `prometheus.io/scrape: true`, our bundled Prometheus will attempt to auto-scrape these endpoints, potentially leading to false positives on the diagnostics page for "Prometheus endpoints"

**Describe the solution you'd like**
More implicit scraping of our metrics and

[2022-10-14 03:12] dwbrown2 commented on #1720
@jcharcalla friendly ping on this, any updated information?

[2022-10-14 09:10] mKeRix opened #1743 "IPv6 support for network costs"
**What problem are you trying to solve?**
I would like to use the network cost allocation on an IPv6 EKS cluster to receive granular insights into the network costs that our applications generate.

**Describe the solution you'd like**
A seamless detection of IPv6 clusters would be best, but a toggle in the Helm chart is also fine. The network-costs tool would also need to understand the IPv4 addre

[2022-10-14 20:46] AjayTripathy commented on #1740
Hi @cwitthaus thank you for this report. @nealormsbee did the last build, any ideas what might have happened here? Did the tag not update here or is it pointed to the wrong place/tarball?

[2022-10-14 20:57] thomasvn commented on #1742
More specifically, this issue occurs for the [`kubernetes-service-endpoints` scrapeconfig](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/charts/prometheus/values.yaml#L1278). Prometheus will scrape all service endpoints available, and it may error out attempting to scrape API servers or monitoring stacks that require authentication.

As a potential solution, we ca

[2022-10-15 15:23] nealormsbee commented on #1740
@cwitthaus thank you! I'm able to reproduce the issue and I see the discrepancy you're talking about.

Looking at command history and logs from when I built the tarball, I built it from `master`, immediately after merging the `v1.97` branch into `master`. It seems likely that I resolved a merge conflict incorrectly, or should have built from the `v1.97.0` tag directly. My sincere apologies here --

[2022-10-17 16:37] AjayTripathy commented on #1615
@keithhand, you set the strategy for thanos to be rolling update right to help alleviate PV issues? Could you help with this one to set our own strategy to RollingUpdate?

[2022-10-17 16:41] keithhand commented on #1366
Had some more interest in this feature. Is there any update on when this might be usable?

[2022-10-17 17:53] AjayTripathy commented on #1644
Hey @nickcurie I believe you implemented this? Can you take a look during our bugfix week next week?

[2022-10-17 18:16] jessegoodier opened #1744 "show only reconciled costs - filter on /allocation"
**What problem are you trying to solve?**

When viewing costs in cost-allocation, create an option to only show costs that have reconciled.

**Describe the solution you'd like**

It can be misleading when looking at the last day of usage where costs are very high. Optionally hiding non-reconciled costs would reduce confusion.

**Describe alternatives you've considered**
NA

**How would users inter

[2022-10-17 18:34] AjayTripathy commented on #1740
IMO I would update the tag to reflect reality and then make sure we fix the build/buildscript processes to make this work seamlessly in v1.98.

[2022-10-18 00:19] AjayTripathy commented on #1720
This is going to be a tough one to estimate correctly without carefully modifying the CIDR blocks for what traffic happens where. This may relate more closely to @jessegoodier filing an issue for an option to just disable estimates until reconciliation has run. (https://github.com/kubecost/cost-analyzer-helm-chart/issues/1744)

[2022-10-18 00:20] AjayTripathy commented on #1743
@mbolt35 I thought we supported ipv6 routes in the network costs pods... that not the case?

[2022-10-18 00:22] AjayTripathy commented on #1744
I like this idea! If users haven't set up reconciliation though, would they just see no data?

[2022-10-18 00:43] jessegoodier commented on #1744
if they check the box (unchecked by default), yes.

[2022-10-18 02:47] dwbrown2 commented on #1366
@Annalillie know you had a couple early mocks here. Have interest in revisiting during 1.99? I believe this should be quick on the eng side.

[2022-10-18 11:29] jessegoodier commented on #1738
I think the spacing in the new overview page, with the new wording, addresses the main concern. Closing-

[2022-10-18 11:29] #1738 closed

[2022-10-18 12:57] patrickbardo commented on #1574
I would also like to echo the need for this feature. As the platform team, we want to give our tenants this tool to monitor their spend, but want to limit their access to the settings page (and possibly other pages we haven't fully tested yet).

[2022-10-18 15:11] tonytauller commented on #1734
Please look at this example https://spot.io/resources/azure-pricing/azure-cost-management-4-ways-to-optimize-azure-costs/

[2022-10-18 15:35] Annalillie commented on #1366
I'm interested and invested. I'll do some research into this and come up with some concepts! @dwbrown2

[2022-10-18 16:10] kirbsauce commented on #1720
@jcharcalla had some issue with notifications and will be updating this asap.

[2022-10-18 16:12] jcharcalla commented on #1720
Notifications are working now! I'll follow up with the customer.

[2022-10-18 16:26] cwitthaus commented on #1740
I didn't do a full investigation of everything that was in the pushed chart, but it seems to me like it would be possible for the release to not actually include changes that are detailed in the release notes if the wrong version of the code was used for the chart. I think trying to make sure the helm chart contains the features and fixes outlined there seems best as a consumer of the chart.