[2020-11-11 16:39] esteban1983cl commented on #668
HI @dwbrown2 I need support for kubecost containers, not prometheus, for example I have the follow containers

gcr.io/kubecost1/checks:prod-1.53.2
gcr.io/kubecost1/frontend:prod-1.53.2
gcr.io/kubecost1/server:prod-1.53.2
gcr.io/kubecost1/cost-model:prod-1.53.2

Thanks

[2020-11-12 20:45] dwbrown2 commented on #668
@esteban1983cl happy to look at this with you. Also, we'd welcome a contribution if you are interested.

[2020-11-19 05:08] vikas027 opened #681 "Question - How to use external Grafana?"
There is an option to use an external Prometheus in `README.md` but I can't find an option to use an external Grafana?

[2020-11-19 05:11] dwbrown2 commented on #681
Hi @vikas027, this resource should give you what you need! Let me know if you have questions.

https://github.com/kubecost/docs/blob/master/custom-prom.md#custom-grafana

[2020-11-19 09:24] vikas027 commented on #681
Thanks, @dwbrown2  . Let me try it out, I will raise an issue if required.

[2020-11-19 09:24] #681 closed

[2020-11-23 10:53] Zenmodai opened #683 "Query timeout after upgrade"
**Describe the bug**
After upgrading Kubecost from v1.66.0 to v1.69.0, we are seeing query timeouts, when opening the Health section in the kubecost dashboard. The two options, which are stuck loading are:
- Network issues detected
- Daily cluster costs increased 10% or more

In the browser console, you can see the Prometheus queries are stuck pending or abort with a timeout.

We are using an exte

[2020-11-23 17:56] dwbrown2 commented on #683
@Zenmodai thanks for the report. I'm surprised to see, as there are no recent changes to these health checks.

Would you be able to send us a [bug report](http://docs.kubecost.com/bug-report) to team@kubecost.com?

Also, cc'ing @nikovacevic in regards to the ETL save error.

[2020-11-24 13:37] Zenmodai commented on #683
After creating the bug report, I checked the exported prometheus logs, it seems to be a problem with our prometheus instance:

`level=error ts=2020-11-24T12:00:48.022Z caller=klog.go:94 component=k8s_client_runtime func=ErrorDepth msg="/app/discovery/kubernetes/kubernetes.go:361: Failed to list *v1.Endpoints: Get \"https://10.255.0.1:443/api/v1/namespaces/dev-team-a/endpoints?limit=500&resourceVer

[2020-11-29 06:29] Shivam9268 opened #687 "Customizing cluster cpu request alarm threshold"
**What problem are you trying to solve?**
We are constantly receiving notifications via slack hook from kubecost: ALERT:  :You are requesting 80.73% of your total cluster CPU.
We want to increase this alarm threshold to 90% or so. How can we do that.

**Describe the solution you'd like**
Any way to set the cluster cpu thresholds.

[2020-11-29 21:02] micya commented on #507
Noticing a similar issue when installing on AKS:

[code]

Setting the persistentVolume.size worked.

[2020-11-29 21:05] dwbrown2 commented on #507
thanks for sharing, @micya. can you share what version of aks you are running and how you installed kubecost?

cc @AjayTripathy

[2020-11-29 21:12] micya commented on #507
Multiple versions of AKS: 1.17.5, 1.19.3.

Installation with Helm 3:

[code]

Fixed with below change
[code]

[2020-11-29 21:54] dwbrown2 commented on #683
@nikovacevic or @AjayTripathy do you mind commenting on this ETL message? I don't believe this message is worrisome but just want to double check.

[2020-11-29 22:05] dwbrown2 commented on #687
@Shivam9268 thanks for this suggestion! Right now, this value in our product alerts is not configurable. I do think the threshold you propose does make sense though.

Are there other values you want to customize/change? If so, you should be able to do this directly in Alertmanager with our metrics.

[2020-11-29 22:08] AjayTripathy commented on #507
Thanks for this report! This seems like it doesn't work on enough providers by default that we should consider simply bumping the default to 1GB here.

[2020-11-29 22:15] dwbrown2 commented on #507
If we're changing the default, should we increase to 32gb to host ETL as well?

[2020-11-29 22:23] dwbrown2 commented on #687
Actually, @Shivam9268 it appears the current threshold for this alert is 90%.

@AjayTripathy do you know why this would be firing before the alert threshold?

[2020-11-30 22:40] #668 closed

[2020-11-30 22:45] dwbrown2 commented on #668
@itscalvinwang I believe this is now supported, correct?

Any chance you can add a PR #?

Also, @esteban1983cl let us know if there's anything else we can get you!

[2020-11-30 22:46] dwbrown2 commented on #668
My apologies, I see https://github.com/kubecost/cost-analyzer-helm-chart/issues/668 referenced.

Esteban, let us know if this meet yours needs!

[2020-12-07 20:27] hchhabada opened #693 "support pull from different docker registry"
**What problem are you trying to solve?**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Due to the docker pull limit limitation, we host images in the local registry and pull from there.
kubecost does not support customization of adding different registry host and secrets

**Describe the solution you'd like**
A clear and concise description of what y

[2020-12-08 09:14] AjayTripathy opened #696 "Pass additional environment variables to pods"
**What problem are you trying to solve?**
Support using a proxy for HTTP requests

**Describe the solution you'd like**
go respects proxy environment variables: https://www.oreilly.com/library/view/security-with-go/9781788627917/5ea6a02b-3d96-44b1-ad3c-6ab60fcbbe4f.xhtml

**How would users interact with this feature?**
Set environment variables for proxy from helm. Make sure this works even when t

[2020-12-10 15:46] nikovacevic opened #698 "Extend allocation labels to include kubernetes recommended labels"
**What problem are you trying to solve?**
Kubecost could make it easier to aggregate by common k8s labels; e.g.
[code]

**Describe the solution you'd like**
Include the [k8s recommended labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/) in the list of configurable labels, which then appear in the UI as aggregation options (as Name, Instance, Component, etc.).

[2020-12-10 22:27] AjayTripathy opened #699 "Allow read-only mode without any authentication"
**What problem are you trying to solve?**
Currently, we support read-only mode once a user has been authenticated via SAML.

**Describe the solution you'd like**
A helm value (something like kubecostProductConfigs.readonly: true) that rejects all application config updates from the frontend.

**Describe alternatives you've considered**
SAML, but not all users can support SAML

**How would users in

[2020-12-14 17:36] dwbrown2 opened #704 "Better support unexpected pricing values passed via configmap"
We experienced a situation last week where passing an empty string for `gpuCost` lead to failures in our emission pipeline. Kubecost should be more resilient here.

[2020-12-14 17:36] dwbrown2 commented on #704
Will be addressed by https://github.com/kubecost/cost-model/pull/626

[2020-12-15 01:17] AjayTripathy commented on #699
Fixed in #705

[2020-12-15 01:17] #699 closed

[2020-12-15 01:47] AjayTripathy opened #706 "Push Gateway PV Still created when Push Gateway disabled"
**Describe the bug**
From a user: I install Kubecost via Helm and am experiencing an issue where Kubecost appears to create a Persistent Volume Claim for Prometheus Push Gateway even though Push Gateway is not enabled. I believe these values in the Helm chart are causing this: https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L281-L282

**Expected behavior

[2020-12-15 14:23] Shivam9268 commented on #687
Hi @dwbrown2, thanks for your response. Are there any updates for ways to customize these alerts?

[2020-12-15 19:57] AjayTripathy opened #708 "Support filtering by cluster_id in the grafana UI"
**What problem are you trying to solve?**
Support filtering by cluster_id in the grafana UI

**Describe the solution you'd like**
When kubecost is hooked up to a multicluster promQL source, it can be confusing to see all the data together.

**Describe alternatives you've considered**
Users today can quickly edit the prometheus query from the grafana UI to filter by clusterID , though this change g

[2020-12-16 03:16] AjayTripathy commented on #687
Sorry for the late response. It may be possible that the alert is firing during the spike but by the time the alert is ready to send, it drops a bit. Any chance you have the history of the spike? You can look at CPU utilization % over time by running
`SUM(kube_pod_container_resource_requests_cpu_cores) / SUM(kube_node_status_allocatable_cpu_cores) * 100` as a query range in prometheus

Regarding c

[2020-12-16 04:15] Shivam9268 commented on #687
Hi @AjayTripathy, thanks for reaching out. The above query during the time of the alert `You are requesting 80.14% of your total cluster CPU` gives this result:
![image](https://user-images.githubusercontent.com/22556869/102304277-188b9a80-3f83-11eb-8b29-5e662ac44cf4.png)
The peak usage during the time was 90%. It would be really awesome if we could tweak some of these thresholds or disable some a

[2020-12-21 19:25] dwbrown2 commented on #687
Hey @Shivam9268, thanks for this feedback! We'll increasingly add more and more configuration options in the future.  Leveraging AlertManager in the short-term is the recommended path for getting full control for these alerts and others!

[2021-01-04 12:03] MattJeanes commented on #109
I've just had to taint my Windows node on AKS as this chart does not respect the nodeSelector properly and was trying to schedule failing pods on it. Other major charts like nginx-ingress, cert-manager, keda, kubernetes-dashboard etc all support this properly - can we make this too?

[2021-01-04 14:51] AjayTripathy commented on #109
Hi @MattJeanes can you provide a little more detail, ideally in a separate bug? What did you provide as values for  .Values.nodeselector https://github.com/kubecost/cost-analyzer-helm-chart/blob/release-1.71.0/cost-analyzer/values.yaml#L203

[2021-01-04 15:46] MattJeanes opened #712 ".Values.nodeSelector is not respected across all resouces"
**Describe the bug**
`.Values.nodeSelector` is not respected across all resources. In my case, I have a Windows node and kubecost was trying (and failing) to deploy pods / jobs onto the Windows node.

The resources I've noticed potentially affected are:
- https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-checks-template.yaml
- https://github.co

[2021-01-04 15:46] MattJeanes commented on #109
Hi @AjayTripathy I have raised the issue here, apologies for the lack of logs / screenshots as I had already worked around the issue as above: https://github.com/kubecost/cost-analyzer-helm-chart/issues/712

[2021-01-07 00:09] dwbrown2 opened #719 "Special characters not working on Asset filtering"
**Describe the bug**
When supplying a Tag/Label asset filter in Assets the value `namespace:kubecost` provides expected matching results but `kubernetes_namespace:kubecost` does not

Here's an example API request that fails. This is generated from the frontend.

/assets?window=6d&aggregate=service&accumulate=false&filterLabels=kubernetes_namespace%3Akubecost&sharedMonthlyCost=1000&req=160997808732

[2021-01-07 00:09] dwbrown2 commented on #719
@itscalvinwang could you take a look since I think you worked on this recently?

@AjayTripathy as FYI in case he knows more.

[2021-01-07 05:25] AjayTripathy commented on #712
I've created #721 to address this. Thanks for the report!

[2021-01-07 10:28] MattJeanes commented on #712
Thank you, much appreciated!

[2021-01-08 05:03] #706 closed

[2021-01-08 05:14] dwbrown2 opened #723 "Support service filter in Reports view"
For teams that primarily view cost allocation by service, it is helpful to filter by an individual service name or set of services names, especially `__unallocated__`.

[2021-01-08 19:05] amccool commented on #507
I required the `--set persistentVolume.size=1Gi`  on helm3 AKS 1.19.3 as well

[2021-01-08 19:28] ChuckkNorris commented on #664
Not sure if it's related, but I'm also getting an error when following the Helm v3 instructions to install Kubecost in a cluster.
[code]

[2021-01-08 22:57] itscalvinwang commented on #719
On initial glance, my suspicion is that the underscore is the problematic character. I know that when our code writes to Prometheus, any illegal character (which "_" is) gets sanitized to become a hyphen ("-") before writing and after reading.

I'll take a look today/Monday if time permits but my main priority is making sure alerts are looking good for release.

[2021-01-08 23:00] itscalvinwang commented on #723
@dwbrown2 is this meant to be a helm chart issue or should it be in the front end?

[2021-01-08 23:05] dwbrown2 commented on #719
Yes, I suspect it's Prom's treatment of underscore as well. Let's try to get this fixed for Tuesday's release if possible but support keeping alerts as the top priority!

[2021-01-12 00:39] AjayTripathy commented on #664
Hi @ChuckkNorris I suspect that this is also due to the checks pod running before the cost-analyzer pod is ready. Note the ages here:
[code]

The checks pod likely ran before kubecost-cost-analyzer. This isn't a major concern, as this pod just runs our alerts.

[2021-01-12 03:14] dwbrown2 commented on #507
Thanks again for the reports, @amccool and @blairdrummond. We plan to address this week by updating to 32gb now that our ETL cache is written to disk.

[2021-01-12 20:53] #696 closed

[2021-01-13 04:40] dwbrown2 opened #729 "Certain custom windows not support in Allocation details view"
When viewing cumulative costs by namespace over a custom time window, the Cost Allocation subpages shows an empty table despite having non-zero values for the corresponding table cells in the Cost Allocation page:

* RAM Cost: /metric.html?id=ram&ns=kube-system&window=2021-01-01T00:00:00Z,2021-01-05T23:59:59Z
* CPU Cost: /metric.html?id=cpu&ns=kube-system&window=2021-01-01T00:00:00Z,2021-01-05T23:

[2021-01-14 16:54] dwbrown2 commented on #507
Fixed in [v1.72.0](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.72.0)! Please let me know if you have any questions or additional suggestions here. Thank you again!

[2021-01-14 16:54] #507 closed

[2021-01-18 03:49] dwbrown2 commented on #664
@ChuckkNorris I just wanted to follow up to see if this issue is persistent or causing any loss of functionality. Let me know if we can get you anything.

[2021-01-22 03:29] dwbrown2 opened #740 "Add utilization to cost allocation APIs"
Today, the `aggregatedCostModel` and `allocation` API provide cost efficiency measurements. These are cost-weighted measurements vs resource-weighted measurements. Teams may want to cost these metrics to straight utilization metrics.

The example below provides a calculation to show the difference:
https://docs.google.com/spreadsheets/d/15CL2YrJHIcQyDMHu3vB3jXdTdcqEntawmy5T3zsVZ_g/edit#gid=0

[2021-01-22 12:01] pierluigilenoci opened #741 "networkCosts don't work with PSP enabled"
**Describe the bug**
networkCosts pod is not able to start if the cluster uses a Pod Security Policy.

From k8s events:
[code]

This also happens with kubecostChecks but @garreeoke told me via Slack that this problem will be fixed in the next release.

From k8s events:
[code]

**To Reproduce**
Deploy kubecost with networkCosts enabled in a cluster with this policy deployed:
https://raw.githubuserc

[2021-01-22 12:03] pierluigilenoci commented on #414
Any news about this?

[2021-01-22 12:08] pierluigilenoci opened #742 "Include this chart inside Artifact Hub"
**What problem are you trying to solve?**
The chart is not listed in Artifact Hub. https://artifacthub.io/

**Describe the solution you'd like**
I would like the chart to be listed in the Artifact Hub. This guarantees uniformity and quality to the chart (as well as visibility to the project)

This is the guide to being accepted:
https://artifacthub.io/docs/topics/repositories/

[2021-01-22 13:33] pierluigilenoci opened #743 "Network policy chart value has an unexpected behaviour"
**Describe the bug**
Enabling the option in the chart creates a deny-egress policy that effectively blocks outgoing traffic from the pods.

Ref:
* https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L235-L236
* https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-network-policy.yaml

**To Reproduce**
Deploy

[2021-01-22 13:47] pierluigilenoci opened #744 "Grafana dashboards imported the sidecar with an hardcoded datasource."
**Describe the bug**
All the dashboards imported by the sidecar are using `"datasource": "default-kubecost"`.

If you use a custom installation of Grafana and Prometheus, the dashboards cannot be used.

**To Reproduce**
Install kubecost with a custom Prometheus and Grafana installation and name the Prometheus datasource with something other than `default-kubecost`.

**Expected behavior**
Being abl

[2021-01-22 13:57] pierluigilenoci opened #745 "Helm chart values undocumented"
**What problem are you trying to solve?**

There are many completely undocumented configuration possibilities within the chart.

To give some examples:
[code]

**Describe the solution you'd like**
I'll like to have all the options well documented in the chart README.md so you don't have to guess or go to the chart templates to understand how it works. I want to suggest improving the readability of

[2021-01-22 14:04] pierluigilenoci opened #746 "Deprecated Prometheus configuration still in use"
**Describe the bug**
A deprecated prometheus configuration parameter is used here:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L344

Recording rules, according to Prometheus Helm chart, should be configured in another way:
https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml#L1223-L1227

**To Reproduce**
Nothing

[2021-01-22 14:31] pierluigilenoci opened #747 "Deprecated cadvisor metrics"
**Describe the bug**
According to [Kubernetes instrumentation guidelines](
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/instrumentation.md) the `pod_name` and `container_name` metrics are deprecated since almost 2 years and not available since K8s 1.16.

Ref:
* https://github.com/kubernetes/kubernetes/issues/66790
* https://github.com/kubernetes/kubern

[2021-01-25 03:40] dwbrown2 commented on #747
We introduced these changes to continue supporting legacy versions. I agree we should drop this requirement / move away from this practice.

@nikovacevic @AjayTripathy

[2021-01-25 03:42] dwbrown2 commented on #745
Strong +1 from me. Let's get more documentation added here.

[2021-01-25 03:48] dwbrown2 commented on #741
The network-costs DaemonSet specifically needs to access hostNetwork, so I'm not sure this will work. @mbolt35 for comment

The latter issue should indeed be resolved.

[2021-01-25 08:55] pierluigilenoci commented on #741
In this case, a privileged PSP capable of doing this must also be provided in the chart. As is already done with https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/templates/cost-analyzer-psp.template.yaml.
If it is not possible to integrate it with the chart, it should be described in the installation guide how to generate it, IMHO.

[2021-01-25 10:08] pierluigilenoci commented on #743
Allow me to suggest a policy that works and is necessary in the case of "closed traffic" inside the namespace where Kubecost is installed.

[code]

and this in case Prometheus and Kubecost run in the same namespace:

[code]

[2021-01-25 10:10] pierluigilenoci commented on #746
@dwbrown2 what about this?

[2021-01-26 01:16] dwbrown2 commented on #414
Current expectation is that this work will be started in our next sprint!

[2021-01-26 03:36] dwbrown2 commented on #746
Any real known impact to this?

[2021-01-26 03:38] dwbrown2 commented on #741
I'll let @mbolt35 comment further, but does this not get you what is needed? https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/templates/network-costs-psp.template.yaml

[2021-01-26 09:31] pierluigilenoci commented on #746
Considering that it is only deprecated there are no immediate impacts. However, it will be removed from Prometheus' chart sooner or later. Considering that this is just a trivial change (from `rules:` to `recording_rules.yml:` [here](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L344)), I don't see why to postpone the fix until there is a real impact.

[2021-01-26 09:58] LH8PPL opened #752 "Getting "connection refused" when connecting to Openshift built-in Prometheus"
**Describe the bug**
Getting "connection refused" when connecting to Openshift built-in Prometheus .

**To Reproduce**
Steps to reproduce the behavior:
1. Configure the Openshift built-in Prometheus url.
2. See error

**Expected behavior**
Can you please explain and give example how to connect with token?

[2021-01-26 18:55] dwbrown2 commented on #752
@LH8PPL would you be able to share any more context? For example, where are you seeing this error? Can you share the full log? Also, how are you deploying our product? Were you able to successfully deploy with the bundled Prometheus initially?

[2021-01-26 19:50] LH8PPL commented on #752
1. I am deploying it with the helm chart on a Openshift 3.11.
2. All settings are default except for the Prometheus (openshift built-in) and Grafana (latest Grafana helm chart) URLs.
3. company security, cant paste the log here.
4. seeing the error in the cost analyzer pod logs.
5. didn't deploy the bundled Prometheus.

[2021-01-26 19:54] dwbrown2 commented on #752
Can you deploy with our bundled Prometheus first? It sounds like you may have some sort of auth on your Prometheus. Kubecost should support but hard to comment without knowing more.

[2021-01-26 19:56] LH8PPL commented on #752
as i said it needs token auth....
do you know how to configure it in cost analyzer?
can you give me an example?

[2021-01-27 03:53] dwbrown2 commented on #752
Apologies -- we have a different concept of a token in our product...

I believe this is the feature you are looking for: https://github.com/kubecost/cost-analyzer-helm-chart/blob/c10e9475b51612d36da8f04618174a98cc62f8fd/cost-analyzer/values.yaml#L8

[2021-01-27 04:04] dwbrown2 commented on #745
First PR https://github.com/kubecost/cost-analyzer-helm-chart/pull/753 is out

[2021-01-27 04:12] dwbrown2 commented on #746
Agreed, we want to get this migrated. Just trying to understand the impact and focus on the highest impact issues first!

[2021-01-27 17:03] mbolt35 commented on #741
@pierluigilenoci I think @dwbrown2 is correct here: Flag to enable is here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/c10e9475b51612d36da8f04618174a98cc62f8fd/cost-analyzer/values.yaml#L386-L387

[2021-01-27 17:15] pierluigilenoci commented on #741
Enabling this not solve the issue. This [log](https://github.com/kubecost/cost-analyzer-helm-chart/issues/741#issue-791949633) is exactly a Kubecost installation with that flag enabled.

[2021-01-27 17:30] pierluigilenoci commented on #741
Our configuration:
[code]

[2021-01-27 17:55] pierluigilenoci commented on #741
In your [PSP](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/network-costs-psp.template.yaml) probably is missing this `hostNetwork: true` and `hostPorts`.

Ref: https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-namespaces

[2021-01-30 00:09] AjayTripathy commented on #747
Hi @pierluigilenoci -- we will look into this. The main complexity is we want to support both versions seamlessly, as not all of our users can upgrade and it would also be a bad experience to upgrade and for these to all stop working.

[2021-01-30 00:30] AjayTripathy commented on #744
Hi @pierluigilenoci there are legacy reasons we do this. We're open to implementing a set of dashboards that use the DS_PROMETHEUS templating, but is a workaround for now just to create a datasource that is called "default-kubecost" in your grafana dashboard?

[2021-01-30 00:40] dwbrown2 commented on #712
@MattJeanes this should be available in our last two releases! Can we get you anything else?

[2021-01-30 02:43] MattJeanes commented on #712
That's all, thank you very much

[2021-01-30 02:43] #712 closed

[2021-01-31 13:32] pierluigilenoci commented on #747
Hi @AjayTripathy, I can understand that you want to keep backward compatibility but it shouldn't be done at the expense of new versions. In the charts, it is the norm, when some changes break the compatibility to announce the breaking changes and a migration guide. Anyone who wants to upgrade the software but still remains at the legacy version of the cluster can apply the workarounds.

In your ch

[2021-01-31 13:46] pierluigilenoci commented on #744
I've already used this workaround for my PoC with Kubecost but it still remains a dirty trick to get things working.

In my specific case, however, it is not sufficient because I have a single Grafana installation to which all Prometheus installations are connected as datasource. So only one works at a time.

As I said in another ticket, in my opinion, the chart should reward those who update thei

[2021-01-31 17:15] AjayTripathy commented on #747
Yes, we are ok to take this on, just trying to give context on why this change isn't a simple one-liner to relabel.

[2021-02-01 03:48] dwbrown2 commented on #745
https://github.com/kubecost/cost-analyzer-helm-chart/pull/757 added with more to come

[2021-02-01 07:43] Zenmodai opened #758 "Tolerations missing from job cost-analyzer-checks"
**Describe the bug**
With the last release, you added the support of nodeselectors through all resources. But you did not add tolerations to the job cost-analyzer-checks as well, which results in provisioning errors/problems.

**Expected behavior**
Please add this settings for the job as well or remove the nodeselectors for the job. Also currently there are general options for nodeselector and tol

[2021-02-01 16:13] AjayTripathy commented on #729
This is fixed in 1.73.0

[2021-02-01 16:13] #729 closed

[2021-02-01 17:06] pierluigilenoci commented on #388
Hi @li-adrienloiseau this PR https://github.com/kubecost/cost-analyzer-helm-chart/pull/756/files should fix the issue.

[2021-02-01 17:09] pierluigilenoci commented on #758
Hi @li-adrienloiseau the version 1.73.0 should have this setting.
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L226

[2021-02-01 19:20] sylus commented on #414
Happy to be an evaluator for this if need anyone to take a look :D

[2021-02-01 22:55] AjayTripathy opened #759 "Support all three of HTTP_PROXY, HTTPS_PROXY and NO_PROXY"
**What problem are you trying to solve?**
Better control for using HTTP/S proxies.

Remove the fields:   useHttps:, proxyIP and proxyPort
Add the fields httpProxyUrl, httpsProxyUrl and noProxy
Set the envs HTTP_PROXY, HTTPS_PROXY and NO_PROXY with the values specified in #2, without trying to manipulate them.

[2021-02-01 23:59] dwbrown2 commented on #414
Thanks, William! We currently have @Sean-Holcomb looking at this now. Working to find the right integration points with the Azure team. Let us know if anyone has a suggested contacts!

[2021-02-02 09:17] pierluigilenoci commented on #741
I tried to use version 1.73.0 but the network-costs pod still doesn't work correctly.

From K8s events:

[code]

[2021-02-02 09:22] pierluigilenoci commented on #388
@AjayTripathy @dwbrown2 version 1.73.0 fix this issue. Very good! 👍

[2021-02-02 14:29] pierluigilenoci opened #761 "Missing labels on kubecostChecks"
**Describe the bug**
The pods of the kubecostCheck cronjob don't have unique labels that allow them to be identified.
It is therefore difficult to create NetworkPolicy with the pods.

Ref: https://github.com/kubecost/cost-analyzer-helm-chart/issues/743

**To Reproduce**
Deploy the package with NP enabled with a policy like this:
[code]
Try to create a Network Policy to allow kubecostCheck to reach

[2021-02-02 14:31] pierluigilenoci commented on #388
But I've still a problem with Network Policy for kubecostCheck. Ref: https://github.com/kubecost/cost-analyzer-helm-chart/issues/761

[2021-02-02 14:40] pierluigilenoci commented on #761
If it's not too much to ask, it would be really valuable to be able to define arbitrary labels and annotations to all possible pods that should be launched.

[2021-02-03 03:59] mbolt35 commented on #741
Looks like we need to update `hostPath` as well - reading up on this. PR will remain open until we figure it out. Thanks for all the info @pierluigilenoci!

[code]

[2021-02-03 22:36] dwbrown2 commented on #761
This seems like a straightforward addition. Any blockers that you see @AjayTripathy?

[2021-02-03 22:37] dwbrown2 commented on #741
@pierluigilenoci are you able to verify that https://github.com/kubecost/cost-analyzer-helm-chart/pull/762 meets your needs?

[2021-02-04 09:29] pierluigilenoci commented on #741
@dwbrown2 It would seem correct. As soon as you do a staging build I can test it on our cluster and see what happens.

[2021-02-04 17:02] lordz-md commented on #652
Confronted with this today. We tried to deploy a AWS EKS cluster based on AWS ARM based Graviton processors. We get standard_init_linux.go:219: exec user process caused: exec format error and the pod enters in a CrashLoopBackOff

[2021-02-04 21:11] mbolt35 commented on #652
Thanks for the input. We do this currently for our network-costs pods, but we still need to revisit our build process for each of the other images we ship with. We'll update you here when we can. Thanks again

[2021-02-04 22:35] dwbrown2 commented on #652
@lordz-md do you already have Prom + kube-state-metrics running on your ARM machine? If so, we may need to just do this for our core images.

[2021-02-04 23:30] AjayTripathy commented on #761
No, we can add this.

[2021-02-04 23:45] AjayTripathy commented on #743
I think this makes sense, we'll just want to migrate the policy that does deny-egress to a different flag.

[2021-02-05 09:58] Zenmodai commented on #758
The version 1.73.0 only has the setting for nodeSelector, not tolerations, for the cost-analyzer-checks jobs. The tolerations setting is not put through.
[https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-checks-template.yaml](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-checks-template

[2021-02-05 13:09] pierluigilenoci commented on #758
Howevere `tolerations` are here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L228

[2021-02-05 13:14] pierluigilenoci commented on #758
Ok, now I understand.
Missing here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-checks-template.yaml#L62-L64

[2021-02-05 16:49] dwbrown2 commented on #109
@MattJeanes @AjayTripathy I believe we can close this based on the #712 but let me know if there is more outstanding work.

[2021-02-05 17:21] MattJeanes commented on #109
We have a nodeSelector now but does that also cover affinity? I'm happy the nodeSelector bit is all done and working

[2021-02-05 18:01] lordz-md commented on #652
@dwbrown2 I just checked and prometheus and metrics-server are running.

[2021-02-08 17:40] dwbrown2 opened #766 "Checks CVEs"
The cost-analyzer-checks pod is an optional component that wakes up and calls the kubecost APIs on an interval, sending an alert based on our business logic to a slack URL or email. This pod is not exposed to anything on the wide internet, and no untrusted input is accepted. It can also be disabled without impacting the core kubecost product.

https://nvd.nist.gov/vuln/detail/CVE-2020-7754
npm-use

[2021-02-08 17:40] #766 closed

[2021-02-08 18:19] lordz-md commented on #652
@dwbrown2 my apologies kube-state-metrics is also failing with standard_init_linux.go:219: exec user process caused: exec format error.

[2021-02-08 20:42] dwbrown2 commented on #652
For reference it looks like ksm just added arm64 support: https://github.com/kubernetes/kube-state-metrics/issues/1340

[2021-02-09 01:44] #741 closed

[2021-02-10 17:53] dwbrown2 commented on #741
@pierluigilenoci can you let us know if there's anything else you need here? This will be in our 1.74 build coming shortly!

[2021-02-11 05:02] dwbrown2 commented on #414
This feature just launched in Beta in our v1.74 release! Initial documentation [here](https://docs.google.com/document/d/1xb20INwYrlV6NDUtb9kMza92W_l30gm9GS65tnP_O7U/edit). Reach out to us at team@kubecost.com if you want to learn more or if we can help in anyway.

[2021-02-11 08:22] pierluigilenoci commented on #741
@dwbrown2 works like a charm!

[2021-02-11 08:22] pierluigilenoci commented on #741
Thank you!

[2021-02-11 12:06] pierluigilenoci commented on #414
@Sean-Holcomb trailing comma left here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/templates/azure-storage-config-secret.yaml#L16 (JSON is not well-formed).

[2021-02-11 15:57] pierluigilenoci commented on #414
@dwbrown2 I configured the integration and Kubecost is able to gather cost from the subscription of the cluster.

During parsing, however, I noticed a very high number (many thousands) of error messages logs like these:
[code]

[2021-02-11 16:11] Zenmodai commented on #414
@pierluigilenoci What did you do for the integration? I set up the export of the cost report and created the secret, added the secret name to the deployment, but Kubecost is not showing the out of cluster Azure costs in the dashboard. There are also no log messages regarding the reading of the reports or any errors, that something is wrong. Did you do something else?

[2021-02-11 16:24] pierluigilenoci commented on #414
I created the secret, added the following option in the helm chart, and created the export following this [guide](https://docs.google.com/document/d/1xb20INwYrlV6NDUtb9kMza92W_l30gm9GS65tnP_O7U/edit) and this [guide](https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/tutorial-export-acm-data?tabs=azure-portal).
[code]

[2021-02-11 16:33] Zenmodai commented on #414
Hmm... strange, I followed the same guides, but nothing seems to happen regarding this new feature.

[2021-02-11 16:35] evertonmc commented on #414
same here

[2021-02-11 16:39] pierluigilenoci commented on #741
@dwbrown2 I celebrated too early.

@mbolt35 the pod seems running in a proper way.

[code]

But inside the dashboard, I keep seeing this

<img width="291" alt="Screenshot 2021-02-11 at 17 31 47" src="https://user-images.githubusercontent.com/36044817/107667285-bbb11580-6c8f-11eb-94f4-09b3b6308763.png">

My configuration:
[code]

[2021-02-11 16:58] pierluigilenoci opened #770 "Missing Prometheus annotation inside Network Costs template"
**Describe the bug**

I open this as a result of the tests done on the new [release](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.74.0).

Prometheus does not scrap the Network Costs pod.

Ref: https://github.com/kubecost/cost-analyzer-helm-chart/issues/741#issuecomment-777627784

**Proposed solution**

Here:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/47af25f9

[2021-02-11 16:59] pierluigilenoci commented on #741
Found it. The annotation for Prometheus is missing from the definition of the Daemonset.
New issue here https://github.com/kubecost/cost-analyzer-helm-chart/issues/770

[2021-02-11 17:14] Sean-Holcomb commented on #414
@evertonmc @Zenmodai Were you able to verify the creation of the first export file on your Azure Storage account. Additionally do you still see the banner at the top of your Assets page about OOC not being set up?

[2021-02-11 17:49] Sean-Holcomb commented on #414
@pierluigilenoci from what I can tell you have some nested JSON in your tags column, can you confirm and if possible give me an example

[2021-02-11 21:06] Sean-Holcomb commented on #414
@pierluigilenoci it doesn't actually seem to be nested JSON but malformed JSON. I was only able to replicate the exact error you are getting with a trailing ':' on one of my rows tags following the closing bracket. If this is not the case for you, an example of a failing row would be instructive.

[2021-02-11 23:16] AjayTripathy opened #772 "Use a separate nodeselector for network-costs"
Network-costs needs a separate nodeselector so users can configure what nodes they run on easily.

[2021-02-12 03:36] dwbrown2 commented on #770
@pierluigilenoci thanks for the great report and suggestion! most teams directly add this scrape when using BYO Prom instead of using service discovery. I definitely see your point though.

@mbolt35 thoughts? seems like a very easy addition, but would this lead to double scraping with our bundled Prom? any other unintended consequences?

[2021-02-12 07:03] Zenmodai commented on #772
@AjayTripathy Please see issue #758, currently tolerations is missing for the cost-analyzer-checks job, only nodeselector can be configured and is put through. Please add tolerations throughput.

[2021-02-12 07:43] andreb89 commented on #414
We are now one step further, after recreating the Azure cost export. But we are now getting parse errors as well in the cost-model container log.

`E0212 07:21:11.907060       1 log.go:17] [Error] failed to parse usage date: <InvoiceSectionName>`

InvoiceSectionName seems to be our company name for the invoice.

[2021-02-12 08:46] pierluigilenoci commented on #414
@Sean-Holcomb I assume you're talking about the export CSV file.
Our tags are like this, no nested JSON. I checked all rows.

[code]

I am not able to distinguish which lines are generating the problem because the logs give no indication about it.

The only JSON inside the report is like this:
[code]

What else can I do to help you debug the problem?

[2021-02-12 17:21] Sean-Holcomb commented on #414
@pierluigilenoci Given your error message we can rule out the nested JSON issue, I am specifically talking about the JSON in the "Tags" column of your CSV. The JSON is you provided is well formed so shouldn't be causing an issue. Specifically I am looking for rows that do not have a "MeterCategory" of "Virtual Machines" or "Storage". To replicate the error that you showed I had to add JSON to the

[2021-02-12 17:37] Sean-Holcomb commented on #414
@andreb89 The CSV parser should be agnostic to column ordering. It creates a map of the headers to column number. So when it looks for the "UsageDateTime" it is looking for the column with that string in the header. That being said does your CSV have any additional rows at the top of the file? Additionally the Algorithm grabs the most recent CSV in each month folder. It sounds like you tried uploa

[2021-02-13 09:57] AjayTripathy commented on #723
This has been released in 1.74.0

[2021-02-13 09:57] #723 closed

[2021-02-15 07:24] andreb89 commented on #414
@Sean-Holcomb The top of our exported CSV looks as follows:
`﻿Name der Abteilung (DepartmentName),Name des Kontos (AccountName),ID des Kontobesitzers (AccountOwnerId),Abonnement-GUID (SubscriptionGuid),Name des Abonnements (SubscriptionName),Ressourcengruppe (ResourceGroup),Ressourcenstandort (ResourceLocation),UsageDateTime (UsageDateTime),ProductName (ProductName),Kategorie der Verbrauchseinheit

[2021-02-15 08:16] andreb89 commented on #414
@Sean-Holcomb In addition to the bug @pierluigilenoci already mentioned before, I found another problem.

When you specify a secret for the azure storage name (azureStorageSecretName), but also use serviceKeySecretName or createServiceKeySecret, then in [cost-analyzer-deployment-template.yaml - lines 259 and 263](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templ

[2021-02-15 19:08] Sean-Holcomb commented on #414
@andreb89 Okay that makes a lot of sense, unfortunately it looks like both the naming and row ordering is not going to be consistent between locales and Azure account types, so that does pose a challenge to me. As for the error message it just seems like it is unsuccessful in finding the UsageDateTime column which is strange because you listed that column as having the same name. The error is bein

[2021-02-15 19:14] Sean-Holcomb commented on #414
@andreb89 "Name der Abteilung (DepartmentName)", did you add the text in parentheses or is that how it shows up in the header?

[2021-02-15 19:22] andreb89 commented on #414
@Sean-Holcomb This is how it shows up. The export job was created with Azure CLI. If I create the export with the portal, then I do not have the German column titles, but then I cannot create exports which include the UsageDateTime. The different types of reports I can create from the portal do not have this column.
So I can only use the exports from the job created by Azure CLI and those have the

[2021-02-15 19:25] Sean-Holcomb commented on #414
@andreb89 Ok that is great news, I will start working on a fix for you

[2021-02-15 23:58] qfliu opened #775 ""Datasource named default-kubecost was not found""
**Describe the bug**
When I use the default helm chart, Grafana dashboard does not show anything. I tried to edit the dashboard and got `Datasource named default-kubecost was not found` error. When I check the dropdown of datasource, I see there is a default one and that one shows me values.

**To Reproduce**
- Use command on install instruction page to deploy `helm install kubecost kubecost/cost-

[2021-02-16 05:57] pierluigilenoci commented on #414
@Sean-Holcomb I will share the complete CSV via Slack.

[2021-02-16 08:01] andreb89 commented on #414
@Sean-Holcomb I tried what you suggested and manually removed all header columns, which you currently aren't using and also edited the ones you are using to fit your header titles, e.g. "Abonnement-GUID (SubscriptionGuid)" => "SubscriptionGuid"

Afterwards there were no further parse errors for the header titles themselves, rather I am now getting the same error as mentioned before:
`E0216 07:43:5

[2021-02-16 16:37] dwbrown2 commented on #775
@qfliu thanks for the thorough report!

@AjayTripathy would you be able to review?

[2021-02-16 16:48] Sean-Holcomb commented on #414
@andreb89 currently looking at @pierluigilenoci 's CSV that he sent on Slack and seeing that none of the strings in his tags column have {} around the outside, which seems to be the things casing the JSON parser issues. Is that how your tags column looks also?

[2021-02-16 16:57] andreb89 commented on #414
@Sean-Holcomb Yes, our tags column looks the same. All look like this: `"environment": "staging","project": "pau"` without any {} around the outside.

[2021-02-16 17:35] dwbrown2 commented on #719
Fixed in v1.74

[2021-02-16 17:35] #719 closed

[2021-02-16 18:37] mbolt35 commented on #770
Yeah, does seem specific to bring your own prom, since our helm chart is configured for the network costs scrape. Does prometheus not recognize the same source? I'll check this out.

[2021-02-16 19:34] dwbrown2 commented on #770
@pierluigilenoci here's how you can do this today: https://github.com/kubecost/cost-analyzer-helm-chart/blob/6c0975614b4a6854be602d1a6f9506ce8b80abdc/cost-analyzer/values.yaml#L294-L301

@mbolt35 if we do this via service discovery, then I believe we would want to remove the config above.

[2021-02-16 22:14] AjayTripathy commented on #775
Hi @qfliu , I wasn't able to reproduce this. Can you run:
`kubectl logs kubecost-grafana-6df5cc66b6-nbvjd -n kubecost -c grafana-sc-datasources`
and
`kubectl get configmap -n kubecost grafana-datasource -o yaml`
Then share the results?

[2021-02-17 00:38] qfliu commented on #775
Actually, I was looking at it again today and I see stuff loading now. I waited a few hours yesterday and nothing was showing up. I guess I just needed to wait longer. Thanks for looking into this.

[2021-02-17 11:12] pierluigilenoci commented on #770
@dwbrown2 I prefer a more general solution lowering the impact of external tool configuration changes.
IMHO, a tool should be as autonomous as possible in its configuration, minimizing the impact on the ecosystem in which it is integrated.

[2021-02-17 11:15] pierluigilenoci commented on #770
@dwbrown2 however, the solution you are using now is not documented on the [page](https://github.com/kubecost/docs/blob/master/custom-prom.md) for the use of custom Prometheus.

[2021-02-17 16:55] AjayTripathy commented on #761
Went ahead and did https://github.com/kubecost/cost-analyzer-helm-chart/pull/777 @pierluigilenoci to support additional labels on all pods created by kubecost-- the subcharts should already support these options. Let us know what you think!

[2021-02-18 09:04] pierluigilenoci commented on #745
`networkCosts.trafficLogging` is not documented

[2021-02-18 09:42] pierluigilenoci commented on #761
@AjayTripathy I am very pleased that you have provided the possibility to add custom labels and annotations. But I think following the recommendations [1] is still a good thing.

[1] https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/

[2021-02-18 14:59] csfangy opened #778 "Enable Slack notification for new releases"
Request: Want to set up a notification on Slack's Github app to watch the releases via the generic command `/github subscribe kubecost/cost-analyzer-helm-chart`

Solution:
Github org owner to install Slack integration on Github.

[2021-02-18 21:16] Sean-Holcomb commented on #414
Fixes have been merged and will be in the next release. Please let me know if you have any additional feedback.

[2021-02-19 15:10] dwbrown2 commented on #758
https://github.com/kubecost/cost-analyzer-helm-chart/pull/780 is now outstanding! That look good @Zenmodai @pierluigilenoci?

[2021-02-19 16:05] dwbrown2 commented on #778
We have the Github app added to the kubecost Slack workspace and receive updates there. Is there anything else that need to be done? I'm less familiar with different options available.

[2021-02-20 03:47] mbolt35 commented on #770
@pierluigilenoci With the network-costs pod, I just want to make sure the requirements are understood. Most deployment pods are scraped as a single service scrape, but we want all the daemonset pods to be scraped individually.

I have some concerns due to the "multiple scrape" issue that @dwbrown2 mentioned, whereas we have the issue where both the autodiscovery and helm configurations both hold.

[2021-02-20 22:58] SergeyKons commented on #747
Hi! Is there any progress?

[2021-02-22 03:52] dwbrown2 commented on #745
It's rarely used and therefore documented on the [network-allocation docs](https://github.com/kubecost/docs/blob/master/network-allocation.md#kubernetes-network-traffic-metrics) page.

[2021-02-22 15:15] pierluigilenoci commented on #772
I need this fix too! Thx!

[2021-02-22 17:01] pierluigilenoci commented on #758
@dwbrown2 almost good. It is better do define separate tolerations/nodeselector for any element of the software. Ref: https://github.com/kubecost/cost-analyzer-helm-chart/issues/772

[2021-02-22 17:27] AjayTripathy commented on #747
Hi @SergeyKons we're making some major changes in our prometheus queries for improved accuracy and performance: https://github.com/kubecost/cost-model/pull/690

This simplifies a bunch of our queries and will have the effect of making the discussed changes easier, but it does mean that these changes are blocked on that.

[2021-02-22 18:32] pierluigilenoci opened #783 "mountPath must be unique"
**Describe the bug**
Inside your chart you defined two mount points:

Ref: https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L257-L264

One is `serviceKeySecretName` to connect to the cloud provider, the other is `azureStorageSecretName` to connect to the Azure Storage account but the chart uses the same mount point for

[2021-02-22 18:34] pierluigilenoci commented on #414
@Sean-Holcomb I found a new bug. https://github.com/kubecost/cost-analyzer-helm-chart/issues/783
Could you please fix this before the new release?

[2021-02-22 18:34] pierluigilenoci commented on #783
@Sean-Holcomb could you please fix this before the new release?

[2021-02-22 18:37] michaelmdresser commented on #758
Closing this issue because it seems to be addressed. We'll leave #772 open.

[2021-02-22 18:37] #758 closed

[2021-02-22 18:38] pierluigilenoci commented on #783
If you want to store multiple secrets in the same folder you need to use Projected Volume:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-projected-volume-storage/

[2021-02-22 22:32] munjalpatel opened #784 "Grafana charts do not show any data"
Hello,

For some reason, I do not see any results in Grafana dashboard.
I know most likely it's a config issue.
Can someone please help me figure it out?

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/2717686/108778671-8f608900-751a-11eb-9032-22d780a0e829.png">

Here is my helm values file:

[code]

[2021-02-22 22:35] dwbrown2 commented on #784
@munjalpatel can you view one of these graphs and see what response you are getting from Prometheus? This appears to be an issue with your Prometheus and less Grafana. If that's true, it could be networking related but is more likely related to the status of your Prom.

I may try running a query directly in Prometheus if you're not getting a response: https://github.com/kubecost/docs/blob/master/p

[2021-02-23 00:12] Sean-Holcomb commented on #783
@pierluigilenoci Thanks for the heads up, I just changed the mount path to `/var/azure-storage-config` and it will be in the next release

[2021-02-23 00:12] #783 closed

[2021-02-23 15:54] dwbrown2 commented on #415
Apache 2.0 license added. Please let me know if we can share more information here!

[2021-02-23 15:54] #415 closed

[2021-02-23 21:55] munjalpatel commented on #784
I think Prometheus seems to be working fine:

![image](https://user-images.githubusercontent.com/2717686/108912874-11fe4c80-75de-11eb-8807-f2a8db4f6bbe.png)

Here is the response I get when my Browser executes `GET` on `http://localhost:9090/grafana/api/dashboards/uid/JOUdHGZZz`

[code]

[2021-02-24 04:52] dwbrown2 commented on #784
We're you able to view one of these graphs and see what response you are getting from Prometheus? This will be available in the Query Inspector. Here's what this look like:

![image](https://user-images.githubusercontent.com/298359/108949244-e9e00f00-7618-11eb-817b-6a9d1923777c.png)

[2021-02-24 08:48] pierluigilenoci opened #790 "Missing "if" break the chart"
Around this line, it is necessary to add an if block otherwise an error is generated if there are no accessory labels.
https://github.com/kubecost/cost-analyzer-helm-chart/blob/3a4ff337a7d164c4f710f45e77f9a192b504e715/cost-analyzer/templates/cost-analyzer-network-costs-template.yaml#L19

Something like
[code]

Helm error messages:
[code]

[2021-02-24 09:16] andreb89 commented on #790
Yes, we got the same error. But even setting the labels does not work.

Instead of `{{ toYaml .Values.networkCosts.additionalLabels | indent 8 }}`
it needs to be: `{{ toYaml .Values.networkCosts.additionalLabels | nindent 8 }}`

Otherwise you are getting:
`
Error: YAML parse error on cost-analyzer/templates/cost-analyzer-network-costs-template.yaml: error converting YAML to JSON: yaml: line 21: ma

[2021-02-24 09:46] pierluigilenoci commented on #790
@andreb89 I confirm! @AjayTripathy could you please fix it ASAP?

[2021-02-24 15:00] dbpolito commented on #790
Just FYI i tried to add a temporary label to try to workaround this issue and it didn't work too:

[code]

I think the indentation is wrong there too... maybe change to `nindent` or remove indentation as other parts of the chart:

https://github.com/kubecost/cost-analyzer-helm-chart/blob/6232d779ec0a686b753073f783c15f75e305a4cc/cost-analyzer/charts/prometheus/charts/kube-state-metrics/templates/se

[2021-02-24 16:32] AjayTripathy commented on #790
Very sorry about that. #791 has the fix.

[2021-02-24 17:51] munjalpatel commented on #784
Thanks for your help @dwbrown2 . I resolved issue. My node was in a memory pressure and hence it was having troubles processing requests.

[2021-02-24 17:51] #784 closed

[2021-02-24 17:57] andreb89 commented on #790
@AjayTripathy Thanks for the fix. If possible, please release a hotfix version. Since the current version has some fixes we need to further test the Azure out of cluster costs.

[2021-02-24 18:05] pierluigilenoci commented on #770
@mbolt35 yep seems adequate.

[2021-02-24 18:13] pierluigilenoci commented on #745
Sparse documentation is not effective for using the chart. IMHO the chart [README.md](https://github.com/kubecost/cost-analyzer-helm-chart#kubecost-helm-chart) should contain all `values` and cross-references to in-depth documentation.

[2021-02-24 18:15] AjayTripathy commented on #790
@andreb89 yes, hotfix scheduled for this afternoon PST.

[2021-02-24 18:19] pierluigilenoci commented on #761
@AjayTripathy what do you think about this? https://github.com/kubecost/cost-analyzer-helm-chart/issues/761#issuecomment-781216973

[2021-02-24 18:21] pierluigilenoci commented on #783
@Sean-Holcomb thx

[2021-02-24 18:29] pierluigilenoci commented on #742
@dwbrown2 any feedback?

[2021-02-24 18:29] pierluigilenoci commented on #743
@AjayTripathy any update?

[2021-02-24 18:30] pierluigilenoci commented on #744
@AjayTripathy any update?

[2021-02-24 18:30] pierluigilenoci commented on #746
@dwbrown2 any update?

[2021-02-24 18:31] pierluigilenoci commented on #772
@AjayTripathy is there any chance to see this change soon?

[2021-02-24 18:34] pierluigilenoci commented on #414
@Sean-Holcomb now the CSV appears to be digested correctly. I'll send you a copy of the logs via Slack.

[2021-02-24 22:17] dwbrown2 commented on #746
Not right at this time. We're addressing higher priority issues right now but will revisit and share updates when we have them.

[2021-02-24 22:18] dwbrown2 commented on #744
@Sean-Holcomb were you going to look at this?

[2021-02-24 22:23] dwbrown2 commented on #742
We are reviewing this soon @pierluigilenoci. We will share updates when we have them.

[2021-02-24 22:47] AjayTripathy commented on #790
These issues should be resolved in 1.75.1. Thanks for the reports!

[2021-02-24 23:51] mbolt35 commented on #770
@pierluigilenoci Thanks for the feedback here! PR is here: https://github.com/kubecost/cost-analyzer-helm-chart/pull/795
Should be part of next release.

[2021-02-25 01:23] qfliu commented on #775
@AjayTripathy  I have got the issue again. This happened when I was deploying it to a namespace other than kubecost.

`kubectl logs kubecost-grafana-6df5cc66b6-nbvjd -n kubecost -c grafana-sc-datasources` output:
[code]

`kubectl get configmap -n kubecost grafana-datasource -o yaml`output:
[code]

[2021-02-25 09:44] andreb89 commented on #414
@Sean-Holcomb I found a new bug. Currently, if you create the azure-storage-config secret with the helm chart, the secret is only added to the volumes (see lines: 107-111 in [cost-analyzer-deployment-template.yaml](https://github.com/kubecost/cost-analyzer-helm-chart/blob/dea4d554188defce4fa61ef19d3d12b420224463/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L107)). But the secret

[2021-02-25 23:24] Sean-Holcomb commented on #414
@andreb89 I have merged your suggested fix on the storage config so the next version should support that method of configuration.

I will look into adding more logging for the CSV processing as you have suggested. The ETL runs every 3 hours if you want to trigger a rebuild you can use the endpoint `/model/etl/assets/rebuild?window=all&commit=true`.

In terms of showing OOC data on days which do no

[2021-02-26 03:20] dwbrown2 commented on #743
@pierluigilenoci any feedback on https://github.com/kubecost/cost-analyzer-helm-chart/pull/797?

[2021-02-26 14:13] andreb89 commented on #414
@Sean-Holcomb Thanks for the endpoint, it is a great help during testing.
But the issue still remains, that the data/graph that is shown in the asset dashboard is unclear. Like I mentioned in the post above, as you can see here:
![Screenshot from 2021-02-26 15-02-05](https://user-images.githubusercontent.com/78923723/109309503-a6b5b400-7843-11eb-97f9-54c2a05a76e4.png)
This is from this morning, af

[2021-02-26 14:44] garreeoke opened #799 "Diagnostics page should show warning instead of error on failed reservation query"
**Describe the bug**
Diagnostic page shows error on failed Athena query regarding reservations.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup cloud integrations with an account that does not use reservations

**Expected behavior**
Should show warning as some queries may fail as in the case where reservations are not used. Could also obfuscate other potential issues since it says Metr

[2021-02-28 22:39] dwbrown2 commented on #745
I actually disagree, @pierluigilenoci. If we include all config options, this file will be more than 3k lines long. That will be a bad user experience for most.

My proposal is that we references our subcharts. For example, we can include this for Prometheus.

For more Prometheus configuration options, reference: [prometheus/values.yaml](https://github.com/kubecost/cost-analyzer-helm-chart/blob/ma

[2021-03-01 01:30] dwbrown2 commented on #790
Should be resolved, but please reopen if there's more here!

[2021-03-01 01:30] #790 closed

[2021-03-01 05:08] dwbrown2 commented on #799
@AjayTripathy who would be best for taking a look at this one?

[2021-03-01 06:06] dwbrown2 commented on #652
@AjayTripathy given that ksm now has support, it looks like it's just building the core kubecost pod with arm64 compatibility.

[2021-03-02 01:37] AjayTripathy commented on #414
Hi @andreb89 -- I believe we set the date ranges on our end to skip data less than 2d old because it may be incomplete. Regarding what day is shown when, all data should be in UTC.

[2021-03-02 10:17] pierluigilenoci commented on #745
Obviously, it makes no sense to document the configuration options for the sub-charts, for that just refer to the official documentation of the sub-charts. I'm talking about the exclusive configurations of kubecost. For example:

- kubecostFrontend.tls.enabled
- networkCosts.trafficLogging

To be able to understand how to configure these options I had to go through the templates of the chart.

[2021-03-02 16:07] andreb89 commented on #414
@AjayTripathy But that is a strange behaviour. If I look at the costs, I wouldn't expect that the last 2 days are missing. I am not sure why the data from one day ago should not be complete, but even if it isn't, it should still be shown. Otherwise  some of the time range options don't really make sense.

[2021-03-02 19:40] AjayTripathy commented on #775
Hi @qfliu sorry for the late response. I can't reproduce this but we're hopeful that https://github.com/kubecost/cost-analyzer-helm-chart/pull/787 will resolve some of the flakiness here.

[2021-03-02 20:13] dwbrown2 commented on #778
@csfangy I believe this is done, but please drop a comment if I'm mistaken.

[2021-03-02 20:13] #778 closed

[2021-03-02 20:21] dwbrown2 commented on #759
@AjayTripathy any updates here?

[2021-03-02 20:35] #704 closed

[2021-03-02 20:36] dwbrown2 commented on #636
@aodj have any outstanding questions here?

[2021-03-02 20:38] dwbrown2 commented on #388
This core issue should be addressed. Closing while we look at #761.

Please let us know if there are questions.

[2021-03-02 20:38] #388 closed

[2021-03-03 01:15] qfliu commented on #775
@AjayTripathy Does the pr you mentioned fix cases when there are multiple prometheus datasources? I tried deploying kubecost in 2 different kubernetes clusters under different namespaces (both are not kubecost) and none of them worked. Is there some things I need to be careful of when setting the namespace/release name?

[2021-03-03 02:50] dwbrown2 commented on #745
Glad we're in agreement on that!

`networkCosts.trafficLogging` is now included
`kubecostFrontend.tls.enabled` is technically part of enterprise, so that's why it was not included

I'm not aware of any other missing config options, are you?

[2021-03-03 14:49] csfangy commented on #778
I'm not sure if he meant enabling this? https://github.com/integrations/slack. He wants to subscribe inside his slack to the cost-analyzer-helm-chart github. If you're done this, then I think that solves it!

[2021-03-03 17:47] qfliu commented on #775
Setting the following values worked for me:
[code]

I just missed them before, but I am not sure why the resulting configmaps are the same.

[2021-03-03 19:44] dwbrown2 commented on #778
Yep, that's the integration we added to the Kubecost workspace. You should be able to do this to your own channel/workspace if that's preferred. That solve for you?

[2021-03-03 19:46] qfliu commented on #775
Ok, actually, it did not work... that datasource was created manually by me... it was me being stupid...

[2021-03-03 20:06] csfangy commented on #778
@dwbrown2 perfect! I'll go back to the requestor to activate

[2021-03-04 09:49] qfliu commented on #775
@AjayTripathy We were able to fix the issue if we restart the grafana container after everything is running. It seems to us that there is a race condition with datasource.yaml file generation and grafana container generation.

[2021-03-04 14:30] garreeoke opened #801 "Ability to switch Tier on namespace page"
**What problem are you trying to solve?**
Switching the configured Tier in UI on the namespace page

**Describe the solution you'd like**
Toggle to switch the Tier similar to Savings page

[2021-03-04 19:04] AjayTripathy commented on #772
@pierluigilenoci yep-- we're planning for this in our upcoming release next week, currently scheduled for Tuesday PST

[2021-03-04 21:34] dwbrown2 commented on #414
@andreb89 I believe Sean and Ajay did this because Azure can provide partial data during this 48-hour time window.

@Sean-Holcomb I think it could be ok to display partial assets data during this window. We however would not want to do reconciliation on partial data because this is likely to skew metrics heavily.

Thoughts?

[2021-03-05 06:05] Sean-Holcomb commented on #414
@dwbrown2 That is exactly right, and that is how it is currently functioning with OOC showing everything that is available in the most current report and reconciliation excluding the partial data because of the skew that it causes.

@andreb89 I think that you are experience 2 issues, a time shift on the in cluster costs due to the data being displayed in UTC, you can see this in your weekend being

[2021-03-06 01:28] dwbrown2 commented on #740
Closing for now with recent updates to cost efficiency metrics.

[2021-03-06 01:28] #740 closed

[2021-03-06 01:30] dwbrown2 commented on #673
@treyhyde you should now be able to filter by chipset type in recent versions! let me know if we can get you anything else.

[2021-03-06 01:30] #673 closed

[2021-03-06 01:31] dwbrown2 commented on #693
@hchhabada I know we've discussed this multiple times... you're all set here correct?

[2021-03-06 01:32] dwbrown2 commented on #467
Closing given low priority.

[2021-03-06 01:32] #467 closed

[2021-03-06 01:35] dwbrown2 commented on #74
@sudermanjr this seems to be low priority for your team. Is that accurate? Happy to discuss further if it's a priority. Please feel free to reopen or reach out to team@kubecost.com!

[2021-03-06 01:35] #74 closed

[2021-03-06 01:47] dwbrown2 commented on #62
This should now be complete. @AjayTripathy please reopen if I'm mistaken.

[2021-03-06 01:47] #62 closed

[2021-03-08 04:14] AjayTripathy commented on #62
Yes, this is complete.

[2021-03-08 05:04] AjayTripathy commented on #683
this does mean that the ETL could not save to disk-- but this should be removed and was likely from a time where our ETL filepath varied depending on which PV you were using. Later versions should not have this.

[2021-03-08 05:04] #683 closed

[2021-03-08 17:26] AjayTripathy commented on #759
This has been fixed!

[2021-03-08 17:26] #759 closed

[2021-03-08 19:57] garreeoke opened #804 "Be able to use != in report queries"
**What problem are you trying to solve?**
Be able to filter for namespaces or other aggregations when criteria is != to a value. For example, to find namespaces that don't have a label.

**Describe the solution you'd like**
Be able to select the operator used in the filter

**How would users interact with this feature?**
In the query window within the reports section or with the api

gz#309

┆Issu

[2021-03-08 20:18] dwbrown2 commented on #804
@garreeoke I agree this would be valuable. But I'm just trying to think through the exact use case. Would the scenario you described be solved by `label_foo:__unallocated__`.

One general question here is if we're going to add additional filter options, should we just go ahead and add full regex support.

[2021-03-08 21:43] mbolt35 commented on #772
https://github.com/kubecost/cost-analyzer-helm-chart/pull/806

[2021-03-08 22:00] Sean-Holcomb commented on #744
I have updated all of our Grafana templates to include the datasource dropdown that was suggested above. This should be available in the release going out tomorrow.

[2021-03-08 22:10] dwbrown2 commented on #772
Thanks, @mbolt35!

Marking this as closed. Still expected in our release tomorrow. Let me know if there are any questions!

[2021-03-08 22:10] #772 closed

[2021-03-08 23:16] robfaraj opened #808 "Reports View - Unexpected Behavior w/Long Running Queries"
**Describe the bug**
When updating the Reports filter while a query is currently taking place the updates to the filter are lost once the initial query comes back. However, the title of the report does change to reflect the updated filter.

**To Reproduce**
1. Go to Reports
2. Click on Filter icon
3. Enable a long running query (to consistently reproduce enable Chrome's network conditions to use s

[2021-03-09 01:31] garreeoke opened #809 "Allow efficiency alert to check for above threshold"
**What problem are you trying to solve?**
Want to be alerted when namespaces are above an efficiency threshold

**Describe the solution you'd like**
Currently only below threshold is supported. Would just like to be able to specify above, below and possibly =.

**How would users interact with this feature?**
Get emails when efficiency is above the threshold.

[2021-03-09 01:35] stacy-tumarkin commented on #804
@dwbrown2 the exact use case we're looking for is actually to be able to filter by != unallocated, so I believe it's the opposite case of the solution you described!

[2021-03-09 02:27] dwbrown2 commented on #804
Totally, and that's very straightforward. I'm just trying to get a sense for what specific scenarios this would be used in.

It's not clear if we should look at supporting a dropdown list / autocomplete OR more complete regex support.

[2021-03-09 02:40] dwbrown2 commented on #808
Seems like there is potentially a straightforward UI fix here, but I also think that pagination is potentially part of the solution.

[2021-03-09 02:41] dwbrown2 commented on #808
@AjayTripathy for triage and comment

[2021-03-09 03:21] dwbrown2 commented on #809
What's the motivation behind this one? Is this to detect throttle or eviction risk? If so, does our health alerts already cover this?

[2021-03-09 20:43] dwbrown2 commented on #804
thanks, @sebradloff! and while that could be done with a long list of whitelisted labels, it would be a huge page...

[2021-03-10 00:31] nikovacevic commented on #804
Hey @sebradloff great feedback. The two separate, but related issues here are: (1) allowing more boolean operators in filters and (2) current filter syntax.

1. I love this idea. We'll have to discuss syntax, though, because the underlying API currently just accepts comma-separated tokens with an implicit conversion from `filterField=token1,token2,...,tokenN` to `field == token1 || field == token2

[2021-03-10 09:11] andreb89 commented on #414
@Sean-Holcomb My timezone is CET (Central European Time). Currently I also use the parameter kubecostModel.utcOffset to set "+01:00" for the timezone. I hope this helps. Regarding the cost export, I don't think I can share it at the moment.

[2021-03-10 16:38] garreeoke opened #812 "Verify Athena configuration with test button"
**What problem are you trying to solve?**
Verify Athena configuration is correct within UI

**Describe the solution you'd like**
Test button on the configuration page

**How would users interact with this feature?**
After configuring Athena setup can hit test button to ensure it is able to connect.

[2021-03-10 17:15] dwbrown2 commented on #812
@AjayTripathy for comment

[2021-03-11 04:39] dwbrown2 commented on #812
This feels like a solid solution, but could we alternatively have a diagnostic test that auto refreshes any times there is an update?

[2021-03-11 12:41] pierluigilenoci commented on #747
@AjayTripathy so is closed https://github.com/kubecost/cost-model/pull/690 in favor of https://github.com/kubecost/cost-model/pull/719 .
What about the deprecated cadvisor metrics?

[2021-03-11 14:42] pierluigilenoci commented on #743
This is fixed with v1.76.0 👍🏻

[2021-03-11 14:55] pierluigilenoci commented on #761
@AjayTripathy this is still not working because commonLabels and additionalLabels are in the wrong manifest level. To make the pod inherit them, they must be put at this level: `spec.jobTemplate.spec.template.metadata.labels`

[2021-03-11 17:42] AjayTripathy opened #813 "Reports View: CSV downloader does not download new efficiency / external costs columns"
**What problem are you trying to solve?**
We added a bunch of cool features to the page but didn't update the CSV downloader!

**Describe the solution you'd like**
The CSV download functionality should include these columns

[2021-03-11 19:52] AjayTripathy opened #814 "Support modifying checks cronjob spec.startingDeadlineSeconds on cronjob to prevent warnings."
On some clusters cronjobs may take extra time to start, let's support allowing users to config it.

Context:
https://stackoverflow.com/questions/51065538/what-does-kubernetes-cronjobs-startingdeadlineseconds-exactly-mean

[2021-03-11 20:40] dwbrown2 commented on #814
I know we have plans to migrate check to core Go application. Should we do that instead?

[2021-03-11 22:24] AjayTripathy commented on #814
Yeah, we're fairly close on that. But this is a 1-liner, mainly filed issue to track.

[2021-03-12 02:16] dwbrown2 commented on #775
@AjayTripathy should this race condition be gone with new datasources change?

[2021-03-12 02:16] dwbrown2 commented on #745
Marking as closed as I don't see any others right now we need documented.

[2021-03-12 02:16] #745 closed

[2021-03-12 02:18] dwbrown2 commented on #744
Fixed in v1.76! Thanks, @Sean-Holcomb.

Let us know if we can get you anything else on this!

[2021-03-12 02:18] #744 closed

[2021-03-12 02:20] dwbrown2 commented on #665
Fixed in v1.71!

[2021-03-12 02:20] #665 closed

[2021-03-12 02:24] AjayTripathy commented on #775
I believe so, but I wasn't able to exactly reproduce this race condition. Let's re-open if it happens again.

[2021-03-12 02:24] #775 closed

[2021-03-12 08:08] pierluigilenoci commented on #770
@mbolt35 when will this PR be released? Because it is not inside the v1.76.0 like you said.

[2021-03-12 09:27] andreb89 commented on #414
@dwbrown2 Could please elaborate on why it takes 48 hour to display the complete Azure out of cluster costs? I haven't found any information about this.

@Sean-Holcomb I just updated to the new version 1.76.0 and at least for me, the problem regarding the time shift in the displayed cluster costs remains. I am not sure what the problem is. You mentioned, that the data being displayed is in UTC, wh

[2021-03-12 21:41] Sean-Holcomb opened #816 "Inaccurate date offset on kubernetes data"
User reports offset in data by -1 day on assets page. From user description queries grab correct data, for example in the picture below the custom date range is. from 8th March to 12th March (today). But it shows from 7th - 11th.

![](https://user-images.githubusercontent.com/78923723/110919956-1a17f500-831d-11eb-9da5-8d9d207fa822.png)

User also notes they are in CET timezone and have the kubecos

[2021-03-12 21:51] Sean-Holcomb commented on #414
@andreb89 In response to your first question. The 48 hour window is only for the adjustment column on in cluster costs. That is because cost data takes a day to be exported and additionally there is a day when the costs for the most recent day are incomplete we wait a full 48 hours before trying to use them to adjust Kubecost's in cluster estimates. The reasoning here is that if the cost data for

[2021-03-13 00:36] dwbrown2 commented on #414
Now that we've confirmed the core functionality works, @Sean-Holcomb shall we close this in favor or #816?

[2021-03-13 00:41] Sean-Holcomb commented on #414
@dwbrown2 sounds good.

@all please tag me in any additional Azure issues you create, and hopefully I can be helpful.

[2021-03-13 00:41] #414 closed

[2021-03-15 09:37] pierluigilenoci commented on #747
@dwbrown2 any news about this?

[2021-03-15 09:43] pierluigilenoci commented on #744
In reality, this is not completely resolved. Now if you have more than one datasource from different Kubecost installations, the dashboard that is opened from the links of the Kubecost UI does not pull up the right datasource that needs to be adjusted by hand. The correct datasource name should be added in the installation and then the parameter added in the ui in this way: `&var-datasource=mycust

[2021-03-15 09:46] pierluigilenoci opened #817 "Multiple Kubecost datasource in a single Grafana installation."
**What problem are you trying to solve?**
If you have more than one datasource from different Kubecost installations, the dashboard that is opened from the links of the Kubecost UI does not pull up the right datasource that needs to be adjusted by hand.

**Describe the solution you'd like**
The correct datasource name should be added in the installation (ie the Helm Chart) and then the parameter a

[2021-03-15 09:48] pierluigilenoci commented on #745
@dwbrown2
I found one:
[code]

[2021-03-15 09:50] pierluigilenoci commented on #745
Also the new networkPolicy parameters are not documented:
[code]

[2021-03-15 10:33] andreb89 opened #818 "Configuration options are not updated from value 'true' to 'false'"
**Describe the bug**
Configuration options are not updated from value 'true' to 'false'. Currently options are only updated, if they were changed from 'false' to 'true'.
[defaultIdle option](https://github.com/kubecost/cost-analyzer-helm-chart/blob/420566166906b76e8e532d26bf0178f4d09a263c/cost-analyzer/values.yaml#L629)
`defaultIdle: true` is set in the pricing configmap
`defaultIdle: false` is NO

[2021-03-15 10:43] pierluigilenoci commented on #744
I created this issue as follow up https://github.com/kubecost/cost-analyzer-helm-chart/issues/817

[2021-03-15 10:43] pierluigilenoci commented on #817
Ref: https://github.com/kubecost/cost-analyzer-helm-chart/issues/744

[2021-03-15 11:14] pierluigilenoci commented on #761
@dwbrown2 @AjayTripathy any news on this topic?

[2021-03-15 11:17] pierluigilenoci commented on #743
@dwbrown2 the instructions on how to configure this thing are missing in the chart readme.

However, it is an alternative approach to the normal way of managing network policies through Helm Charts.

[2021-03-15 16:36] dwbrown2 commented on #743
@pierluigilenoci I do not follow your last point. Can you please explain.

[2021-03-15 16:40] dwbrown2 commented on #747
hi @pierluigilenoci, thanks for following up. we will provide updates when they are available.

[2021-03-15 18:25] Sean-Holcomb commented on #816
@andreb89 we have ticket for this issue and will be working on it some time soon. For now you should unset the kubecostModel.utcOffset value. If this makes a significant change for you. Please report it back here. Thank you.

[2021-03-15 18:44] pierluigilenoci commented on #743
@dwbrown2 Helm charts usually have a unique and simple way to deploy network policies.
[code]
That's all, no other options.

4 options must be defined with your chart.
[code]

[2021-03-15 18:49] pierluigilenoci commented on #747
I hope it will be as soon as possible, 52 days have already passed since I opened the ticket.

[2021-03-15 19:13] dwbrown2 commented on #814
@AjayTripathy who is the user that originally requested this and are you able to close the loop?

[2021-03-15 19:35] #814 closed

[2021-03-15 19:35] AjayTripathy commented on #814
Yes, I can close the loop here, thank you!

[2021-03-15 21:22] AjayTripathy commented on #818
Hi @andreb89 , thanks for this report. I realize this isn't ideal but can you try `"false"` instead of just `false` ? That should solve the immediate problem and we'll look to document this behavior better.

[2021-03-15 21:33] AjayTripathy commented on #743
HI @pierluigilenoci , a number of those are options for users with security concerns about exposing data. It's good feedback that we should document these thoroughly, but I believe that our defaults are correct given our existing users. You can always modify the values to support your own network policies here.

[2021-03-15 23:30] pierluigilenoci commented on #743
@AjayTripathy I understand the needs and I do not want to repeat myself again, I believe that by now you have understood my idea on the subject (ref: https://github.com/kubecost/cost-analyzer-helm-chart/pull/795#issuecomment-799671868)

I don't understand how an egress policy can protect data, at least it blocks all Kubecost pods from connecting to the outside but does not block calls from externa

[2021-03-16 07:47] andreb89 commented on #818
@AjayTripathy Yes, it's not a clean solution. But I applied the workaround and it solved the immediate problem. Thanks for the fast reply.

[2021-03-16 13:19] andreb89 commented on #816
@Sean-Holcomb So I removed the kubecostModel.utcOffset value from the deployment. To be sure, I also completely removed the current kubecost installation and run a new fresh installation afterwards. So the good news is that now there are no "empty" days anymore.
The dashboard now shows data for all days. The current and last day (15th and 16th) show only the internal Kubernetes costs and no out-of

[2021-03-17 00:01] connorworkman opened #820 "Network traffic between AWS availability zones shows as "in zone" between k8s nodes in different AZs"
**Describe the bug**
When running cost-analyzer with networkCosts.enabled=true, everything seems to be working as far as metric collection and traffic monitoring, but the cost reports show all traffic as "in zone" even when a pod shows traffic history to kubernetes nodes in different AWS availability zones. Basically, the automatic classification provided by network-costs is incorrect.

**To Repro

[2021-03-17 14:32] andreb89 opened #821 "Label/Tag filter in Asset dashboard for Azure out-of-cluster costs does not work"
**Describe the bug**
Label/Tag filter in Asset dashboard for Azure out-of-cluster costs does not work currently.
I remember, that there were some problems with the JSON formatting for the Tags field in the csv report. Could there still be a problem here? I added at the end of this bug report an example tag entry from the csv.
I also tried setting the label mapping for `environment_external_label:

[2021-03-17 16:26] garreeoke opened #822 "Weekly Update - Configurable option to Incorporate idle costs"
**What problem are you trying to solve?**
Have the ability to incorporate idle costs in to the weekly update.

**Describe the solution you'd like**
Be able to configure in yaml or ui to enable the weekly update to incorporate idle costs.

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-232) by [Unito](https://www.unito.io)

[2021-03-17 18:01] Sean-Holcomb commented on #821
"I also tried setting the label mapping for environment_external_label: "kubernetes_label_environment" and rebuilding the ETL as well, but it didn't help, the tag filter still isn't doing anything."
Can you describe in a little more detail what you tried here? Out of the box "environment_external_label" is looking for
[code]
and it would then create the label to be filtered environment:dev

You ca

[2021-03-17 22:23] dwbrown2 commented on #822
I'm supportive, but how do we clearly show this in the weekly report? We could show in a separate column similar to Reports view.

[2021-03-18 02:20] dwbrown2 commented on #820
Hi @connorworkman, thanks so much for the detailed report! What does your [networks classifications block](https://github.com/kubecost/cost-analyzer-helm-chart/blob/7418fe40917bfa7519d0f5f81cbfbaff81440c09/cost-analyzer/values.yaml#L427-L438) currently look like? Are these IPs potentially having their classification overridden by those rules?

These errors just indicate that prometheus was tempora

[2021-03-18 02:28] dwbrown2 commented on #816
This does seem a little longer than I would expect, but it may be normal given the average Azure billing data delays... @Sean-Holcomb can you confirm based on what you've seen so far?

Is this issue accurately titled given what we've learned?

[2021-03-18 03:29] connorworkman commented on #820
@dwbrown2 we haven't declared any overrides for network classifcation, but I was partly wondering if we needed to in order to get this to work...
Since we're running a multi-AZ kubernetes cluster, it's hard to tell what we'd designate as in-zone since there's no telling where any kubernetes node will be placed and it should be relative to each pod.

Here are the helm chart values we're using:
[cod

[2021-03-18 03:33] Sean-Holcomb commented on #816
@andreb89 There is actually no window for OOC cost, they are displayed as soon as the they are available in your export CSV,    can you rebuild your ETL and open your most recent cost export CSV and confirm for me that there are line items for the previous day while it shows no OOC costs. In the case of your last image you would be looking for line items on 2021-3-16.

On face value it looks to me

[2021-03-18 03:34] connorworkman commented on #820
The connection errors were likely from around a helm upgrade to apply updated values, the only frequent errors we're seeing seem to be expected since we're not using a csv/bucket for price lists or athena.
[code]

[2021-03-18 05:31] AjayTripathy commented on #109
Tolerations/affinity are configurable from values, so I think this is good to go!

[2021-03-18 05:31] #109 closed

[2021-03-18 05:34] mbolt35 commented on #820
@connorworkman I think I understand the problem here, likely related to kubernetes version. Just so there is clarity here, we start by categorizing traffic into two immediate categories:

1. Destinations we can resolve -- if we can resolve the destination to `Pod-B` running on `Node-1`, then that's considered a resolvable destination.
2. Destinations we can't resolve, or can't be resolved via Kube

[2021-03-18 07:32] andreb89 commented on #821
@Sean-Holcomb Thanks for the help and clarification. Seems that I misunderstood that part.
After using `environment_external_label: environment` the label/tag filter works now for `environment=dev`.
So I will close this bug.

[2021-03-18 07:32] #821 closed

[2021-03-18 09:09] andreb89 commented on #816
@Sean-Holcomb @dwbrown2
ok, I rechecked how and when the Azure cost export is running and also the resulting csv files. I also ran a manual export this morning. So first, after the manual export and a rebuild of the asset ETL, the asset dashboard looks as follows now:
![Screenshot from 2021-03-18 09-52-57](https://user-images.githubusercontent.com/78923723/111598787-dd8e4280-87cf-11eb-88dd-3a760b9

[2021-03-18 15:26] csfangy commented on #822
@dwbrown2 separate column is okay, but in this particular scenario the user wants to see the same data as in the Cost Allocation UI with Idle Cost turned on. The idea is for all the teams to be looking at their total costs + their proportional Idle assignment as their final number.

[2021-03-18 16:15] Sean-Holcomb commented on #816
@andreb89 Ok, so it sounds like the bug here is that kubecostModel.utcOffset was not working properly. Other delays in information were caused by what was available in the Azure export CSV.

[2021-03-18 17:14] mbolt35 commented on #820
@connorworkman I've release network-costs `v15.2` if you want to update your daemonset images to point to this version, it should take care of this issue for you. Let us know if there are any further issues!

[2021-03-18 18:41] connorworkman commented on #820
[code]
Hmm, looks like we have both sets of labels on all nodes.
I've updated the kubecost-network-costs daemonset image to 15.2 just now and bounced the cost-analyzer pod for good measure -- unfortunately still seeing everything as "in zone."

Haven't had a chance to dig much deeper yet; is there a specific container log I can post that might help?

[2021-03-18 19:47] mbolt35 commented on #820
The network-costs pods will have destination traffic logs which could possibly help. However, I'm wondering how you're coming up with your diagnosis. If you're using spot nodes, are they guaranteed to stick to a specific region/zone? If our pods is classifying this traffic as in-zone, it specifically resolves pods to nodes, and extracts the region/zone from the nodes -- the source and destination

[2021-03-18 20:26] connorworkman commented on #820
When a spot node launches in our cluster(s) it automagically assigns itself those labels depending on the AZ/region/subnet it's launched in. So (most) pods aren't guaranteed to stay in any one zone, but the nodes are guaranteed to label themselves appropriately and IPs are locked to their respective subnets/AZs.

The subnet CIDR blocks for the kube nodes in this cluster are
* 10.1.192.0/20 (us-eas

[2021-03-18 20:47] mbolt35 commented on #820
Thanks for the direct routes logs - those are normally used when the IP address is unrecognized (since they're supplied by the CNI implementation). It sounds like the symptoms of the problem are the same, but I just missed the mark on the actual cause. For now, it's probably best to add direct-classification for those CIDR blocks, and I'll dive into the classification ASAP and try and locate the a

[2021-03-22 04:59] AjayTripathy commented on #761
Should be done in https://github.com/kubecost/cost-analyzer-helm-chart/pull/827

[2021-03-22 15:23] dwbrown2 commented on #816
@Sean-Holcomb can you summarize what you feel is going on here? It's not clear if this is a meaningful issue or not.

[2021-03-22 21:19] connorworkman commented on #820
Seems like the answer might be in the default configs for `networkCosts.config.destinations` which gets injected into the network-costs-config configmap:
[code]

This seems to assume that everything in the private address range is in-zone, which is definitely not the case for us.
Overriding the in-zone addresses to just loopback, and then adding the rest of the subnets to the direct-classification

[2021-03-22 21:37] garreeoke opened #829 "If multiple Product labels are set, external costs are not allocated."
**Describe the bug**
If multiple labels are set for Product Label are set, external costs are not being shown in cost allocation or reports.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup cloud integration and tag an external resource (I.e. S3 bucket) using the default product label (app). Verify the external resource is allocated and showing on cost allocation/reports screens when ag

[2021-03-22 21:44] connorworkman commented on #820
The automatic classification seems to be working with just the in-zone override:
[code]

[2021-03-23 05:46] garreeoke opened #830 "If report is filtered by namespace drilling down shows all namespaces filtered"
**Describe the bug**
If viewing a report that is aggregated by namespace and is filtered by more than one namespace, drilling down by clicking on one of the namespaces displays namespaces for all shown.

**To Reproduce**
1. Go to reports and setup a filter like the following:
![Screen Shot 2021-03-22 at 10 42 44 PM](https://user-images.githubusercontent.com/17861748/112099136-36f3ca00-8b60-11eb-85

[2021-03-23 08:34] AjayTripathy commented on #799
Should be done! https://github.com/kubecost/cost-model/pull/744

[2021-03-23 08:34] #799 closed

[2021-03-23 08:37] AjayTripathy opened #831 "Setting custom pricing configs to 0 does not update"
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-pricing-configmap.yaml#L14

If (0) in the hem chart evaluates to false causing this data to not update. A temporary workaround is to use "0"

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-233) by [Unito](https://www.unito.io)

[2021-03-23 10:31] pierluigilenoci opened #832 "Configure the ability to change the imagePullPolicy configuration for Kubecost Check"
Ref:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/142398384b0d299e814c4717730c834d741acfe2/cost-analyzer/templates/cost-analyzer-checks-template.yaml#L41

[2021-03-23 10:34] pierluigilenoci opened #833 "Configure the ability to change the imagePullPolicy configuration for Kubecost Check"
**What problem are you trying to solve?**

When quay.io is down the cron fails. Configuring the pods with `imagePullPolicy: IfNotPresent` mitigates the problem.

**Describe the solution you'd like**
Add here the same configuration option of other components:
https://github.com/kubecost/cost-analyzer-helm-chart/blob/142398384b0d299e814c4717730c834d741acfe2/cost-analyzer/templates/cost-analyzer-chec

[2021-03-23 10:34] pierluigilenoci commented on #832
Delete in favor of https://github.com/kubecost/cost-analyzer-helm-chart/issues/833

[2021-03-23 10:34] #832 closed

[2021-03-23 13:06] andreb89 commented on #833
For further information, here is the link to the incident: [Quay.io image pulls failing](https://status.quay.io/incidents/vfs19hmq660h)
Even though the incident is set as 'resolved', it seems there are still problems regarding image pulling.

[2021-03-23 16:28] venugopalthati opened #835 "Need a way to modify the from address in kubecost notifications"
**Describe the bug**
When I do the test run of weekly spending alerts at the namespace level, I am receiving emails from Kubecost <notify@kubecost.com>. Need a way to override this from address with custom email address.

**To Reproduce**
Steps to reproduce the behavior:
Configure any weekly notification and do the test run to get the notification.

**Expected behavior**
Expecting to receive an em

[2021-03-24 08:16] AjayTripathy commented on #829
Draft PR out to fix this! Expect to merge tomorrow and deploy to nightly soon after.

[2021-03-24 15:19] dwbrown2 commented on #829
Great! Would you mind adding a description & test to the PR?

Webb
Kubecost, Co-founder

ᐧ

On Wed, Mar 24, 2021 at 1:17 AM Ajay Tripathy ***@***.***>
wrote:

[2021-03-24 15:41] dschunack opened #836 "kind in cost-analyzer-ingress-template is deprecated"
**Describe the bug**
Hi,

the Kind "extensions/v1beta1" for Ingress API is deprecated and will be removed in the next k8s releases.
The terraform helm provider doesn't support deprecated APIs/kind.
Please, use the new Kind "networking.k8s.io/v1beta1" instead of "extensions/v1beta1" or add a possibility to overwrite the kind in the template.
We use EKS with Kubernetes 1.19 and with the normal nginx

[2021-03-24 16:31] dschunack commented on #836
Hi,

I can also create a Pull Request with a fix if you want.

[2021-03-24 16:57] treyhyde commented on #673
Thanks.  That works.   Unfortunately, with the latest kubecost, all the recommendations reduce resiliency and (by kubecost's estimation) cost significantly more than my current config.

[2021-03-24 18:54] dwbrown2 commented on #673
@treyhyde can you share more about what mean by "reduce resiliency"?

[2021-03-24 18:56] treyhyde commented on #673
Suggesting 2 instances at a higher cost rather than say 10 instances with a total cost significantly lower.   A failure would cut 50% capacity in the former but only 10% in the latter.

[2021-03-24 18:59] treyhyde commented on #673
<img width="844" alt="Screen Shot 2021-03-24 at 11 59 12 AM" src="https://user-images.githubusercontent.com/62077/112368524-69084780-8c98-11eb-8c2f-45c258e105ad.png">

[2021-03-24 23:39] dwbrown2 commented on #830
thanks for the report, @garreeoke!

@nikovacevic @SheepGotoHeaven I was able to repro on http://demo.kubecost.io/reports.html with v1.76

I added the namespace filter of `kubecost,kube-system` and then saw `kube-system` workloads after drilling into `kubecost` namespace.

[2021-03-25 01:15] dwbrown2 commented on #673
Just curious, what's the context for this environment, e.g. dev, prod, etc? And are you under-provisioned today, e.g. at risk of CPU throttling?

[2021-03-25 01:16] AjayTripathy commented on #836
Hi @dschunack we'd definitely take a pull request here! It looks like networking.k8s.io/v1beta1 was introduced as early as k8s 1.8 so no need to switch as we don't support 1.7 anymore. Thank you!

[2021-03-25 01:20] dwbrown2 commented on #835
@venugopalthati thanks for the report! Can you share any more context on the challenges you're facing?

I'm trying to determine if the would be to send from your own internal SMTP servers or send from a different address. We've discussed the former but not the latter to date.

[2021-03-25 16:17] Sean-Holcomb commented on #816
From what I can tell kubecostModel.utcOffset does not correctly display the data on the front end, however the date range of the query seemed to working correctly, just an incorrect offset is being applied when it is put into the bar chart.

[2021-03-25 18:13] nikovacevic commented on #829
I agree that there is a misalignment here that needs to be addressed, but I'd like to challenge the premise. What if the external allocations have the labels:
[code]
In this case, the given allocations belong to two "products": `cost-analyzer` and `wheres-my-car`. Is the expected behavior for this case defined somewhere? What do we expect should happen?

[2021-03-25 19:45] mbolt35 commented on #820
Ok, this is actually beginning to make a bit more sense now. I had already spent some time trying to get my tests to break for specific combinations of inputs without any success, so I'm glad you were able to narrow this down. I forgot that `10.0.0.0/8` was in-zone mapped. This actually seems quite dubious after some thought, so I believe some additional documentation should be added here. I'm hes

[2021-03-25 21:15] dschunack commented on #836
Hi @AjayTripathy ,

I created a pull request to fix the issue. The API for Ingress was changed in 1.14.
Add new code in _helpers.tlp and in the ingress template. Code was tested successfully on 2 EKS with 1.18.

[2021-03-26 12:59] andreb89 opened #838 "Product label "app.kubernetes.io/name" not working correctly in cost allocation view for aggregation product"
**Describe the bug**
I changed the "Product Label" setting from the default app to app.kubernetes.io/name
Before in the cost allocation view with aggregation product (Url: .../detail.html#&agg=product) the query was working and the table below lists all applications with this label.
After the change and choosing this aggregation, it just keeps loading. Only after running this a few times I finally

[2021-03-26 14:34] dwbrown2 commented on #838
@andreb89 what kubecost version are you running? i just tested on v1.76 and wasn't able to reproduce.

he's the test environment: http://demo.kubecost.io/detail.html#&window=7d&offset=1m&agg=environment

this may just be the cache rebuilding.

[2021-03-26 14:37] andreb89 commented on #838
@dwbrown2 I am using Kubecost v1.76.0, I just opended the test environment and adjusted the product label as mentioned. At least now http://demo.kubecost.io/detail.html#&agg=product is just loading.

[2021-03-26 14:53] andreb89 commented on #838
Hmm... now it works on your demo environment. But for me even on another environment of ours which had Kubecost deployed with this label, it still doesn't work. So the initial cache was already built with this.

[2021-03-26 14:56] dwbrown2 commented on #838
Is everything working as expected on reports.html? This page is expected to replace the current Allocation page soon.

[2021-03-26 14:58] andreb89 commented on #838
Yes, the reports.html page is working without problems, also using the filters works much faster there.

[2021-03-28 19:55] dwbrown2 commented on #838
@andreb89 are you able to use that page for now or are you missing functionality from the Allocation page? FYI, reports.html will the new replacement for details.html

[2021-03-28 19:57] andreb89 commented on #838
@dwbrown2 Reports.html should be ok for now. Can you give an estimate when you will make the switch?

[2021-03-28 20:43] dwbrown2 commented on #770
Merged now, will be available in next release!

[2021-03-28 20:43] #770 closed

[2021-03-29 16:35] dwbrown2 commented on #742
v1 available here: https://artifacthub.io/packages/helm/kubecost/cost-analyzer

@AjayTripathy are you going to add README next?

[2021-03-30 00:49] #836 closed

[2021-03-30 06:42] pierluigilenoci commented on #742
@dwbrown2 thx! I think this ticket can be closed now.

[2021-04-05 10:20] zippyopstraining opened #843 "Kubecost authentication"
Hello,
     How can i add authenticaion for kubecost? There is saml, kubecostproduct info in helm chart. where do i add authentication?i am using my on-premises kubernetes where i installed kubecost.

[2021-04-05 15:06] dwbrown2 commented on #843
Hi @zippyopstraining can you share what type of auth you looking to add? Here's a couple refs:

1. You can add saml with our enterprise product
2. You can add basic auth with a standard ingress -- https://github.com/kubecost/docs/blob/master/ingress-examples.md#basic-auth-example

[2021-04-05 21:14] dwbrown2 commented on #742
Waiting on @AjayTripathy to add a README and then we can close!

[2021-04-05 21:17] vikas-gb opened #844 "APIs not accessible after SSO implementation"
APIs not accessible after SSO implementation

**To Reproduce**
Enable SSO through SAML authentication
curl https://<HOSTNAME>/model/allocation?window=today doesn't return any data

**Expected behavior**
A clear and concise description of what you expected to happen.

[2021-04-06 18:49] AjayTripathy commented on #844
Thanks for this @vikas-gb. How would you want to authenticate your API clients here? Is supporting a path to access the cluster via a basic auth token sufficient? Note that anyone with this basic auth token would be able to then short-circuit your SAML authentication/authorization.

[2021-04-07 03:36] dwbrown2 commented on #844
@vikas-gb these APIs are intentionally only available when either 1) authenticated or 2) accessing inside the cluster. Can you share a bit more on your use case / needs?

[2021-04-07 04:11] vikas-gb commented on #844
@AjayTripathy - Basic Auth Token for API authentication is sufficient.
@dwbrown2 - We have few teams using APIs for their cost analysis who do not have access to the cluster and cannot use port forwarding. They only have access to the Primary Kubecost URL

[2021-04-08 04:27] dwbrown2 commented on #844
Can we not just setup an ingress with basic auth to meet your needs?

[2021-04-09 09:13] zippyopstraining opened #847 "Istio enable for kubecost"
i enabled istio for my namespace "kubecost" and then installed kubecost model . i facing issue "Unable to reach your Kubecost backend, please ensure the service is reachable ". i have tried all troubelshooting steps. if i enable istio for kubecost, kubecost couldnot connect to any kubernetes objects. error: failed to list deployments, pods,etc Get https://<ip> connect. connection refused. is istio

[2021-04-09 09:17] zippyopstraining commented on #843
Hi Mr.dwbrown,
     i am looking for ldab authentication because i dont want basic authentication .can we integrate with kubecost?

[2021-04-09 13:39] pierluigilenoci opened #848 "networkCost 'resources' value breaks the chart"
**Describe the bug**

Trying to install the chart you get an error with the Network Cost template.

**To Reproduce**
Steps to reproduce the behavior:
1. Try installing network policies with these options:
[code]

This commit broke the YAML: https://github.com/kubecost/cost-analyzer-helm-chart/commit/7e2bcaf4a4ac88cf69736cad3b99164e16b7547a

**Expected behavior**
I expect the software to install sm

[2021-04-09 13:43] pierluigilenoci commented on #747
@dwbrown2 any update?

[2021-04-09 13:44] pierluigilenoci commented on #848
@mbolt35 could you please take a look?

[2021-04-09 13:49] pierluigilenoci commented on #816
@dwbrown2 any news about this?

[2021-04-09 13:50] pierluigilenoci commented on #817
@AjayTripathy any feedback?

[2021-04-09 14:18] mbolt35 commented on #848
Fixed in https://github.com/kubecost/cost-analyzer-helm-chart/pull/849 - Thanks for the report! Oddly, this was a note on the previous PR, but I ran some validation against it without issues in both helm 2 and helm 3. Today, I reproduced the issue immediately.

[2021-04-09 15:19] pierluigilenoci commented on #833
@AjayTripathy @mbolt35 could you please take a look?

[2021-04-09 15:43] dwbrown2 commented on #833
This pod is being deprecated. We will share updates when we have them.

[2021-04-09 15:50] dwbrown2 commented on #747
@pierluigilenoci we have started investigating as shared and will provide updates on this issue when available.

[2021-04-09 15:51] dwbrown2 commented on #843
@zippyopstraining happy to have a discussion about the different options shared above! Feel free to reach out to team@kubecost.com if that would be helpful.

[2021-04-09 16:53] Sean-Holcomb commented on #816
@pierluigilenoci We are still recommending that users leave this feature disabled and use UTC time. Engineering discussions about this issue are still ongoing.

[2021-04-09 19:04] #848 closed

[2021-04-12 08:46] pierluigilenoci commented on #747
Hi @dwbrown2, I noticed only now that you have deleted my comment. Why?

[2021-04-13 04:13] dwbrown2 commented on #847
@zippyopstraining we have sample PR https://github.com/kubecost/cost-analyzer-helm-chart/pull/850 out for testing now... we'll continue to share updates and test solutions but let us know if you have any feedback on early progress.

Let us know if you do apply these changes locally too!

[2021-04-13 17:58] csfangy commented on #829
@AjayTripathy @nikovacevic just checking again to see if this fix is being shipped today as part of the release?

[2021-04-14 08:58] andreb89 commented on #804
@nikovacevic On this label topic, I have also a question, which probably fits here.
As mentioned above, it currently works to use multiple values for one label filter, e.g. label="environment:dev, environment:staging". But it doesn't seem to work with different labels, e.g. label="environment:dev, project:infra".
Is this the current limitation or is my syntax wrong here? Because when I try this, t

[2021-04-14 15:53] nikovacevic commented on #804
@andreb89 you're right that this is a good question for this discussion.

The short answer is: filtering on multiple labels does work (as of testing done just before writing this post, at least) but it might not do what you expect it to do. That is, your filters above (`filterLabels=environment:dev,project:infra`) will return allocation data with `labels["environment"] == "dev" || labels["project"

[2021-04-15 07:05] andreb89 commented on #804
@nikovacevic Thanks for the clarification.
Yes, after retesting `filterLabels=environment:dev,project:infra` show results for `... || ...`.

So of course it would be great if it were supported to apply multiple label filters using the && operator.
Maybe a simple solution would be to just add another box next to the filters, where you can manually choose your operator. Especially, if it makes thing

[2021-04-15 16:08] vikas-gb commented on #844
@dwbrown2 @AjayTripathy - We have a specific requirement from one of the teams for " details/documentation on how to do Auth2.0 access  using Okta as the authorization server". If you can provide an estimate when this will be available, it would be great

[2021-04-15 16:10] dwbrown2 commented on #844
@vikas-gb were you able to see my previous comment? I do not think it is a good idea for us to poke holes in SAML authentication for you. If we're going to do this on our end, I believe we should take a different approach.

[2021-04-15 16:20] vikas-gb commented on #844
@dwbrown2 - I missed your comment.
You mean SAML authentication will be used for UI access but basic auth for API requests? Can you please share the instructions, we can review and update

[2021-04-15 18:33] AjayTripathy commented on #761
Actually, checks pod will get deprecated in 1.79.0, so we may just close this.

[2021-04-15 18:34] AjayTripathy commented on #742
Done!

[2021-04-15 18:34] #742 closed

[2021-04-15 18:44] dwbrown2 commented on #761
Note this functionality will be moved into the core kubecost pod.

[2021-04-15 18:44] #761 closed

[2021-04-16 03:23] dwbrown2 commented on #843
Hi @fl-max, we have a simple ingress in our helm chart. You can see values available here -- https://github.com/kubecost/cost-analyzer-helm-chart/blob/f00068f629eee16de52fc78b00e0254c09ce9b78/cost-analyzer/values.yaml#L220-L232

Just wanted to note that SAML-based RBAC can't actually be done with just an ingress.

[2021-04-16 03:39] dwbrown2 commented on #844
@vikas-gb you would be able to do this with a modified version of [this ingress](https://github.com/kubecost/docs/blob/master/ingress-examples.md#basic-auth-example). Would you like us to update and share with you?

Note: I just want to be very careful about how this is used. If this is put into place it would effectively be a way around SAML authentication.

[2021-04-16 09:35] andreb89 commented on #829
@AjayTripathy @dwbrown2 To add on to the last comment of @nikovacevic
Could you please clarify what the expected and actual behavior is, if multiple labels for products are used? Will the labels be used as ...||... or ...&&... ?

[2021-04-16 09:48] andreb89 opened #855 "Extend external label mapping with owner_external_label"
**What problem are you trying to solve?**
Kubecost already supports the mapping of external labels like team (team_external_label). Because we have sub-teams/projects under a team unit, we need to also have the external mapping of the owner label. So we can use the owner label for the complete team and the actual team label for the sub-team/project.

So please extend your current external label ma

[2021-04-17 01:34] AjayTripathy commented on #829
Yes, this has been shipped and is in the latest release.

Using multiple labels for products is an || match-- you don't need both labels to assign the pod to the product view.

If multiple products are used, this would list the external cost under both products.

[2021-04-17 06:18] heartTorres opened #856 "Kubecost Prometheus with Thanos Receivers Configuration"
Hello our cluster is already using Thanos Receivers.
Now that we have kubecost set up, we are planning to integrate its prometheus server with our set up in thanos.
But I have not found in the Kubecost documentation on how to configure the prometheus config with Thanos.
We installed the kubecost via helm.

[2021-04-19 03:02] dwbrown2 commented on #856
Hi @heartTorres! We support Thanos under our enterprise plan. Reach out to team@kubecost.com if you want to learn more!

[2021-04-19 04:44] dwbrown2 commented on #847
@zippyopstraining this should now be available in our nightly releases if you want to test!

https://github.com/kubecost/docs/blob/master/release-process.md#nightly-releases

[2021-04-19 06:59] heartTorres commented on #856
hi @dwbrown2, we already reached out to Rob from team support. Based on the architecture, Kubecost is integrated with Thanos by sidecar.  I'll be closing this one now. We'll contact the team@kubecost.com. Thanks!

[2021-04-19 06:59] #856 closed

[2021-04-19 14:04] zippyopstraining commented on #847
thank you . will test it and comeback to you Mr. dwbrown2.

[2021-04-20 12:25] eKuG commented on #354
Hey @nanikjava, were you able to use kubecost on Minikube? Can you provide some resources to go through?
Did you make any documentation for the same?

[2021-04-20 20:53] garreeoke opened #859 "Configurable Shared costs for reports"
**What problem are you trying to solve?**
We want be able to run reports that override the global shared default.

**Describe the solution you'd like**
Currently, shared costs are a global item and it cannot be changed on a per report basis. Customers would like the ability to have different reports with different shared costs.

**How would users interact with this feature?**
When setting up the r

[2021-04-21 01:43] dwbrown2 commented on #859
Any more specifics on the proposed use case? This could actually be done today via our REST API today.

[2021-04-21 11:24] andreb89 commented on #829
I tested it and can confirm, multiple product labels are working now. So this bug can be closed.

[2021-04-21 14:40] robfaraj opened #860 "Support for Custom Costs"
**What problem are you trying to solve?**

Track custom costs that are neither in-cluster or a  managed service from a cloud provider (ex. RDS, GCS, etc...).

Examples:

* 3rd party costs that live outside of cloud provider (ex. Elasticsearch, Mongo Atlas, etc...)
* Variable licenses (ex. Slack)
* Variable head count costs

**Describe the solution you'd like**

The option to extend the existing ex

[2021-04-21 18:44] dwbrown2 commented on #860
This could in theory be done today by adding to an Athana table, which would add to external costs... has that approach been explored? We should be able to make this more stable by using our custom provider pipeline.

I like the idea but our UI doesn't support the addition of another column right now.

[2021-04-21 18:53] garreeoke commented on #859
Mostly to be able to have saved reports with different shared resource settings.

[2021-04-21 18:59] dwbrown2 commented on #859
Understood, why / what scenarios would users want to do that?

[2021-04-21 19:21] dwbrown2 commented on #354
@eKuG there are two small changes for minikube. You can see them here -- https://github.com/kubecost/docs/blob/master/troubleshoot-install.md#minikube

Are those docs helpful? Let me know if we can provide more!

[2021-04-21 20:01] dwbrown2 commented on #829
Great to hear, @andreb89! Re-open if we can get you anything else here.

[2021-04-21 20:01] #829 closed

[2021-04-22 07:01] jb-greensteam commented on #859
In our scenario we need cost shared only in saved reports that are breakdown by department. We have non-technical people looking at those so REST API is not really an option in our case.

[2021-04-22 16:33] dwbrown2 commented on #859
@jb-greensteam you should be able to add shared costs in reports by Department today. can you share what you feel is missing or why you would want to only have shared costs in some reports and not others?

[2021-04-22 16:42] dwbrown2 commented on #847
all set @zippyopstraining? let us know if we can help with anything.

[2021-04-22 17:42] jb-greensteam commented on #859
@dwbrown2  Right now we have 30 saved reports that are basically breakdown by department with some filters and we need shared costs only it 2 of reports and not the others. Perfect situation for us would be to set in each report what we want to share but for now just having option to enable/disable global shared costs in report scope would be enough.

To better illustrate usecase I'll describe an

[2021-04-22 20:03] robfaraj commented on #860
For the envs w/access to Athena that could be a great solution. Any place I can point users to start this exploration?

Custom provider pipeline supporting custom costs seems to allow for greater adoption (ex. air-gapped, non-AWS, etc..)

[2021-04-23 04:17] eKuG commented on #354
@dwbrown2 I went through the whole codebase and I saw that kubecost is fetching all the required data remotely from Prometheus.
Is it possible to run the main.go file in the [cost-model](https://github.com/kubecost/cost-model) remotely without deploying on any kubernetes cluster and configuring to a remote prometheus endpoint in the env file?

[2021-04-23 16:07] dwbrown2 commented on #354
@eKuG we do have teams running Kubecost with a remote Prometheus/Cortex endpoint! Let us know if we can help. Using our helm chart will likely be easiest for this.

[2021-04-23 19:05] dwbrown2 opened #863 "Support different export formats"
We've seen a number of scenarios where it would help users export allocation data in different formats:

1) teams doing more detailed cost analysis work are interested in time series data (similar to JSON API) and not just aggregated CSV
2) certain teams find it easier to share summary data in pdf format

This would be most valuable in Allocation but I also see a similar need with Assets data.

[2021-04-24 00:18] dwbrown2 commented on #844
@AjayTripathy shared offline, so closing now. Please feel free to reopen if needed!

[2021-04-24 00:18] #844 closed

[2021-04-26 06:12] eKuG commented on #354
@dwbrown2, Ya actually I was hoping not to install kubecost on the Kube Cluster and instead just remotely configure everything and get the data from the prom already running on the cluster. I tried to configure some parts, but got

`I0423 14:32:34.030393  13511 router.go:931] No pricing-configs configmap found at installtime, using existing configs: configmaps "pricing-configs" not found`

And the

[2021-04-26 14:18] pierluigilenoci commented on #747
Just to put more on the table... K8s v1.16 is EOL since 2020-09-02, it is time to move on. ;)
Ref: kubernetes/sig-release@master/releases/patch-releases.md#non-active-branch-history

[2021-04-26 16:09] dwbrown2 commented on #354
You should just be able to follow the custom prom setup -- https://github.com/kubecost/docs/blob/master/custom-prom.md

[2021-04-26 19:54] dwbrown2 commented on #747
@pierluigilenoci plenty of users still run k8s versions less than v1.16.

For all tracking this issue, we've completed our discussion as a team. An engineer is starting to explore solutions on our end now. We will share further updates as they become available!

[2021-04-27 03:24] dwbrown2 commented on #860
You should be able to just [insert](https://docs.aws.amazon.com/athena/latest/ug/insert-into.html) rows into the Athena table, but I would consider this experimental and is not something we have thoroughly tested. @AjayTripathy may have additional input.

[2021-04-28 11:08] pierluigilenoci opened #869 "Cost-analyzer deployment env variable CLUSTER_ID is not properly "filled""
**Describe the bug**
Inside the chart you have:

[code]

Ref: https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L531-L541

In this way, the CLUSTER_ID value is set correctly only if you install Prometheus with your chart.
For those with a separate installation, it doesn't work.

This bug causes this: https://github.com/k

[2021-04-28 13:58] mhulscher commented on #869
As a user, this is not my experience. We install kubecost with our own prometheus and configure kubecost's values.yaml like so (partially):

[code]

Of course, we have to configure our own prometheus to add externalLabels to each timeseries. We use the kube-prometheus-stack: https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml#L1918.

This seems to

[2021-04-28 14:46] pierluigilenoci commented on #869
@mhulscher these parameters are part of the Prometheus sub chart.
They should not be used by CostAnalyzer as well.

[code]

[2021-04-28 15:13] mbolt35 commented on #869
@pierluigilenoci I'm not sure leveraging a sub-chart's values is wrong. Otherwise, you create risks duplicating fields and introducing lots of opportunity for conflict. Also, `CLUSTER_NAME` and `CLUSTER_ID` are different, where id follows a more strict set of guidelines, where the name is optional. It's often that the cluster name is set to the value of the cluster ID in the event the cluster name

[2021-04-28 17:00] pierluigilenoci commented on #869
@mbolt35 I would agree with you if the sub-chart was mandatory but in your case, it is not.

Those who have a Prometheus installation, as in our case, have already a duplication because they have to enter `CLUSTER_ID` configuration on both sides, Prometheus and Kubecost.

You will certainly know better than me how to find a viable solution that helps in the configuration without duplication even f

[2021-04-28 22:20] mbolt35 commented on #869
@pierluigilenoci After taking a look in our helm chart repo, it looks like the `prometheus.server.clusterIDConfigmap` is actually defined in our chart, not prometheus. So, in the event that prometheus is disabled, a configmap can be used. @AjayTripathy do we have documentation on the configmap requirements/creation?

For reference, here's the value in our chart - I don't think it lives in the prom

[2021-04-28 23:19] mbolt35 commented on #869
I absolutely agree with you here!

[2021-04-29 06:50] ywyt738 opened #872 "1.79.0 miss checks image"
gcr.io/kubecost1/checks:prod-1.79.0 or quay.io/kubecost1/checks:prod-1.79.0 missed in charts v.1.79.0

[2021-04-29 07:55] AjayTripathy commented on #872
Hi @ywyt738 , take a look at our patch notes: https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.79.0

We've deprecated this pod and moved its functionality into the cost-model.

[2021-04-29 08:59] #872 closed

[2021-04-29 12:58] andreb89 commented on #813
@AjayTripathy Any update on this?
As workaround we are currently using the API, but for regular users, the simple download would be better, as long as it contains all cost columns.

[2021-04-29 17:21] dwbrown2 commented on #847
@zippyopstraining this is now available in production! please re-open at any point if you hit any issues.

[2021-04-29 17:21] #847 closed

[2021-04-30 16:19] AjayTripathy commented on #110
@garreeoke This now works with your portname changes correct?

[2021-04-30 20:39] AjayTripathy commented on #813
Hi @andreb89 -- this is straightforward enough. we can get it added to our next sprint.

[2021-04-30 23:05] dwbrown2 opened #876 "Allocate cluster management fee and attached disk costs"
Let's aim to allocated 100% of cluster costs to tenants when users allocate all overhead/idle.

[2021-05-03 00:15] dwbrown2 commented on #804
Would love to make progress on the original request here... any proposals for how we tackle? I see a couple options:

1. CSV values in the same list are applied via OR operator, values provided in separate lists are applied via AND operator. Examples:

[code]

[code]

2. Punt on complex operators with multiple params and just support `!=` operator
2. Rethink how filters are applied and support mor

[2021-05-03 11:23] pierluigilenoci commented on #869
@mbolt35 but if `CLUSTER_ID` is only used by Kubecost why not move it to another part, for example under `kubecostProductConfigs`?

Or, if you want to continue to have it in the same place, leaving this information only on the Prometheus side might make sense. Cost-analyzer could retrieve the configuration via the `api/v1/status/config` API of Prometheus to remove redundancy. This second solution

[2021-05-03 14:38] nikovacevic commented on #804
Perhaps I'm misunderstanding, but I think (1) is how things already work. I'd be interested to hear more about how you imagine (2) working, but combining NOT with OR tends to not work very well, so I'm skeptical, but open to ideas. (3) sounds like the right idea to me, but is potentially a pretty complex task.

[2021-05-03 15:43] dwbrown2 commented on #804
Let's discuss today, but may we can just add `!=` support to existing approach and not have this be too complicated?

[2021-05-03 16:03] nikovacevic commented on #804
Happy to discuss today. My only concern is that it will quickly become more of a headache than it solves, with people attempting to do queries like:
[code]
which would return everything because `NOT x OR NOT y` will always return everything. And we can try to be clever and make behind-the-scenes rules or best-effort guesses about which operators to use (AND vs OR) but I'm foreseeing some confusion

[2021-05-03 16:16] dwbrown2 commented on #804
Let's discuss! I was originally picturing something like the following with approach 1...

[code]

Let us know if there's other input!

[2021-05-03 16:56] nikovacevic commented on #804
Okay, we will discuss! HTTP query parameters will not allow us do that, but maybe we can come up with a counter-proposal with equivalent meaning.

[2021-05-03 19:32] bin3377 opened #877 "Grafana dashboard lost the datasource after upgrade to latest chart cost-analyzer-1.79.1"
**Describe the bug**
After upgrade the chart to 1.79.1, the Grafana dashboards show no data and the datasource `default-kubecost` is not available. Looks like it's because of the grafana/k8s-sidecar image [version changed](https://github.com/kubecost/cost-analyzer-helm-chart/commit/3ce1905de8f2f62a780a7934f6fd0452188e53de#diff-08c195f9c26798d55c847bae88a9df2a4d8d42fbd31b10029395b9bf1ff7c300) recen

[2021-05-03 19:46] AjayTripathy commented on #877
Hi @bin3377 , I wasn't able to reproduce this.  Could you try to upgrade grafana and send logs from grafana and grafana-sc-datasources? Here's a sample:

 kubectl logs kubecost-grafana-5f965f7b6f-sbk5k  -n kubecost -c grafana
 kubectl logs kubecost-grafana-5f965f7b6f-sbk5k  -n kubecost -c grafana-sc-datasources

[2021-05-04 17:56] bin3377 commented on #877
hmm... I can always repo it on multiple clusters we have:
before upgrade:
[code]
upgrade:
[code]

At this moment on UI the grafana dashboard missed. Logs:

[code]

BTW, the grafana-sc-datasources looks like working on something, but I wait at least 5 minutes and nothing more produced in the log.

[2021-05-04 20:43] dwbrown2 commented on #855
@andreb89 it sounds like this would just be as simple as adding an `owner_external_label` to [this block](https://github.com/kubecost/cost-analyzer-helm-chart/blob/57fd8b8018bd18a819c9a261ff3c7847d03d2471/cost-analyzer/values.yaml#L631-L641) and then having it flow through to Allocation and other pages?

I also think we there's an opportunity to add a new concept, Project, which a lot of teams use

[2021-05-05 01:08] dwbrown2 opened #879 "Easily search / filter saved reports"
A growing number of teams have many saved reports stored.. that's a good thing! However, it can be hard to find a specific report once you have many saved. We've discussed UI changes to help with this.

There's also the ability to help teams easily search/filter these reports. I believe a simple textbox that filters reports would be a great start. It could just filter against report name initially

[2021-05-05 01:08] dwbrown2 commented on #879
Assigning to @SheepGotoHeaven for initial input!

[2021-05-05 08:16] andreb89 commented on #855
@dwbrown2 For the helm chart at least this should be easy to implement. I am not sure, if you need to make other changes in the e.g. cost-model as well for this.
And yes, project would be a great addition as another external label.

I don't really mind where to configure this. But at the very least, it should be easier to add new external labels to Kubecost for mapping of concepts from outside to

[2021-05-05 10:43] heartTorres opened #880 "Question: Data are not being pulled into cost analyzer"
Hi, since the process of procurement of Enterprise License is still in progress, our team has tried to set up our kubecost with thanos enabled. Everything works fine, all pods are running, checking the querier, there are some data. However when viewing the namespaces page in cost analyzer web page, no data are being returned. But if we removed the thanos data were shown without any issues.  We wou

[2021-05-05 15:32] SheepGotoHeaven commented on #879
+1 on this. A search bar would be super useful here.

Maybe one day it would make sense to filter reports on other attributes? But no need to jump the gun there.

[2021-05-05 16:32] dwbrown2 opened #881 "Add API filters to request-sizing"
More users are looking to filter this data in new and interesting ways. One recent request was to allow teams to easily filter this data by their `team` label. Others want to integrate with CI/CD platforms and filter for a single pod or a pod-prefix.

As a broader them, I think it could be useful to start bringing the Allocation filters to all workload-based Savings APIs.

┆Issue is synchronized w

[2021-05-05 16:39] dwbrown2 opened #882 "View component cost changes over time in Allocation"
When costs per label/namespace/deployment change over time, we make it easy now to understand which underlying pods or containers drove this cost. Sometimes this isn't enough and you want to know what about these pods changed over time...

It's hard today to answer this in allocation today. For example, if the cost of a namespace goes up. You have to manually select different days to understand if

[2021-05-05 17:51] AjayTripathy commented on #880
Hi @heartTorres -- if thanos is recently installed, it may take some time for data to show up-- we don't currently migrate older prometheus data into thanos. If there's still no data showing up, please reach out to support@kubecost.com and we can walk through your thanos installation with you.

[2021-05-05 21:53] stacy-tumarkin opened #883 "End user "quick start" docs"
We don't currently have any general, non-technical end user navigation/quick start docs (e.g., post-configuration, how to navigate the UI and use Kubecost to get data).

Would love to get a couple of one-pagers going that our users could share with their teams as quick-start guides, with screenshots and tips for getting the most useful information out of Kubecost.

Have received this request from

[2021-05-05 22:10] AjayTripathy opened #884 "Don't display thanos diagnostics for enterprise users not using Thanos"
**Describe the bug**
Our thanos diagnostics simply appears if you have an enterprise key. This is a holdover from a time where thanos was the only durable storage solution available-- we now support any PromQL endpoint.

**To Reproduce**
Set a valid enterprise key and visit diagnostics.html.

**Expected behavior**
Don't display thanos diagnostics if thanos isn't connected

[2021-05-06 03:14] heartTorres commented on #880
Hello @AjayTripathy , thanks for the reply. So it means even if we do not have an enterprise license at hand, we can still set up our kubecost with thanos enabled. We thought there is some restrictions inside that checks if the set up is using enterprise license before it can work properly. I have already reach out in kubecost support in slack channel. Thanks! :)

[2021-05-06 14:30] pierluigilenoci opened #885 "[FR] Use a defined priorityClass for cost-analyzer pod"
**What problem are you trying to solve?**

Creating a `priorityClass` with the chart instead of using one already defined in the cluster makes priority management more complex.

**Describe the solution you'd like**

I wish I could use a defined `priorityClass` instead of having to [create a new one with the chart](https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/cost-analyzer/value

[2021-05-06 14:33] dwbrown2 commented on #885
Thanks for the suggestion, @pierluigilenoci! I agree this would be nice to add, but the clear alternative would be creating a new priorityClass. Because of this I'd like to more this as low priority relative to your other requests.

[2021-05-06 18:30] nikovacevic commented on #855
I'm in favor of this change. We'll have to make some small changes to the product, but some of them have already been flagged, e.g. we have some comments like this lying around:
[code]

[2021-05-06 20:11] dwbrown2 commented on #883
+1 from me, what level of (technical) detail are you picturing? We have the Getting Started guides and a number of presentations already today that could serve as starting resources.

[2021-05-06 21:37] stacy-tumarkin commented on #883
I'd think basic level of detail sufficient for a nontechnical team member to be able to find, filter, and understand the data they need out of Kubecost! From there, teams can customize or add detail that meets their use case.

[2021-05-06 22:27] AjayTripathy opened #886 "Hide Slack Webhook in UI"
Slack webhooks should be optionally hidden from the UI, as they can be sensitive.

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-238) by [Unito](https://www.unito.io)

[2021-05-06 22:28] dwbrown2 commented on #886
What's driving the sensitivity? Can we just redact these in UI or do we need to redact on backend?

[2021-05-06 23:31] AjayTripathy commented on #886
I think we want to redact these from the backend as well and make them write-only from the UI. The issue is that anyone can spam the webhook without authenticating if it becomes known.

[2021-05-07 01:03] dwbrown2 commented on #883
Would love to get your feedback on this presentation as a starting point
for this --
https://docs.google.com/presentation/d/1fFRbiVMkmTCPT6VLB3up-HOGn7_LA0s4vqU5bRPIOk4/edit#slide=id.gaff804b713_0_0

Webb
Kubecost, Co-founder

On Thu, May 6, 2021 at 2:37 PM stacy-tumarkin ***@***.***>
wrote:

[2021-05-07 03:07] dwbrown2 commented on #880
@heartTorres you can read/write to Thanos with free Kubecost, but it doesn't have full multi-cluster support. Let me know if we can share more!

[2021-05-07 05:23] heartTorres commented on #880
Hello @dwbrown2, thanks for the info. We are only trying to set up the kubecost with thanos in 1 cluster, (Test Environment). But the Enterprise License will be applied in Production. The problem we had was we can see data in querier, the sidecar and store were available in stores tab. But no data are shown in Overview page in cost analyzer. It just keeps on loading. But when we removed the Thanos

[2021-05-07 10:22] pierluigilenoci commented on #817
@AjayTripathy any news?

[2021-05-07 23:02] dwbrown2 commented on #880
Happy to help if you want to reach out to support@kubecost.com like Ajay suggested! Thanos does by default take 2 hours to push its first TSDB block to a backing storage bucket.

[2021-05-10 03:32] heartTorres commented on #880
We have already purchased the Enterprise License just now. We will be setting up the production cluster. I'll reach out in slack support if ever we encounter the same issue above.

[2021-05-10 03:33] dwbrown2 commented on #880
Sounds great, @heartTorres! We can also walk you through how to configure this in our on-boarding discussions.

[2021-05-10 03:43] heartTorres commented on #880
Great! yes we have received a calendar schedule for onboarding discussion from Rob. I'll close this ticket for now. Thank you so much ! @dwbrown2

[2021-05-11 19:17] dwbrown2 opened #890 "Limit create/delete saved report operations to users with write permissions"

[2021-05-12 03:38] garreeoke opened #893 "Allow AND logic for searching assets on same filter type"
User would like the ability to apply AND logic to items within the same filter type.

**Describe the solution you'd like**
Be able to find assets that only have two specific labels. For example, if I filter for namespace:kubecost, namespace:spinnaker I should only see results that have both.

**How would users interact with this feature?**
In the UI, would be able to add filterTypes of the same ki

[2021-05-12 18:24] dwbrown2 commented on #893
I think this a good request that would be consistent with the Allocation filtering logic!

[2021-05-13 21:07] stacy-tumarkin opened #895 "Allow users to automate sending of saved reports accessible through UI"
Several customers/users have asked us to be able to automate sending saved reports they've created in the UI to their end consumers of data.

Either via API call or through the UI itself, it would be great to be able to set up an export of the saved report to be sent at some regular cadence to an endpoint (email, file directory, etc)

The alerts functionality doesn't have the ability to return dat

[2021-05-14 12:13] ywyt738 opened #896 "docker hub image push"
Please push kubecost image to dockerhub.

My network can't access to gcr.io

[2021-05-17 02:03] AjayTripathy commented on #877
Hi @bin3377 can you pick up v1.80.0 and let me know if this works?

[2021-05-17 12:12] korjek opened #897 "Add custom athena workgroup support"
**What problem are you trying to solve?**
AWA Athena supports multiple workgroup configurations (with different parameters, specifically `Query result location`)
, but cost-model is uses `primary` one (which is created by default) and it's not possible to specify custom workgroup to be used by cost-model.

**Describe the solution you'd like**
That would be great if it's possible to specify athena

[2021-05-17 14:45] staniondaniel commented on #622
Hello
I thought this was closed. I don't need anything else.  Thank you and closing the ticket

[2021-05-17 14:45] #622 closed

[2021-05-17 15:18] dwbrown2 commented on #897
@AjayTripathy would you be able to comment? Would this be useful to add to the CloudFormation template?

[2021-05-17 16:08] pierluigilenoci commented on #747
Now in addition to the deprecated `cadvisor` metrics, there are also those of [kube-state-metrics](https://github.com/kubecost/cost-model/issues/804).

It's been 115 days since I opened this ticket... 🕐 is it time to hurry up? 🚀 ❤️ or 🙉 👎🏻

[2021-05-17 18:54] dwbrown2 commented on #859
@jb-greensteam sorry for the delay! This is really helpful.

We discussed as a team and think this makes sense to support. We have a number of structural changes that would need to happen first though.

One initial question, do our JSON APIs help you at all here today? These would directly support all the configuration you mention right now.

[2021-05-17 20:08] dwbrown2 commented on #895
@stacy-tumarkin this is exactly what the recurring reports feature ultimately aims to be! Can you share any more on this part?

Would love to hear what format would be desired.

cc @mbolt35

[2021-05-17 20:16] dwbrown2 commented on #822
This is being reviewed now!

[2021-05-17 20:17] etsyamitra opened #898 "Filter cost by deployment in kubecost report"
**What problem are you trying to solve?**
being able to set up filter on deployment/controller, current we are able to group by controller but not have filter on them.
Most of the times we might just need the cost of deployment over time without diving into pod level details(cause these involve lots of metrics which takes long rendering based on size of deployment)
<img width="731" alt="Screen Sho

[2021-05-17 20:33] etsyamitra commented on #895
Thanks Stacey for creating this, would be great to have the html templates(with all the colors :)) emailed to us which would get lots more attention from users.
Am also curious if saved reports would save the metrics or would we involve computing the queries corresponding to each saved report every time user tries to load the report.
We have been running into timeouts on opening reports..so would

[2021-05-17 20:43] dwbrown2 commented on #898
Thank you for the report, @etsyamitra!

Does the pod prefix filter on the legacy Allocation page give you what you need? Demo reference: http://demo.kubecost.io/detail.html

I'm trying to decide if we need both a pod prefix + a controller filter on this new page...

cc @nikovacevic

[2021-05-17 20:58] etsyamitra commented on #898
Thanks that works on 'cost allocation' tab but have been told to use 'reports' moving onwards which would the great place to have this feature. Either of that works, controller seems more ideal cause we could have multiple deployments which has same initials

[2021-05-17 21:00] dwbrown2 opened #899 "Outdated PV size value reference"
Documentation at https://github.com/kubecost/cost-analyzer-helm-chart/blob/master/README.md#config-options indicates the default for this is 0.2Gi -- this is an outdated value!

@kbrwn any chance you would have a chance to take a look?

[2021-05-18 04:23] dwbrown2 commented on #898
Thanks, @etsyamitra!

@nikovacevic any chance you could weigh in on difficulty for an upcoming sprint? We originally added pod prefix support because certain services, e.g. kubeflow I believe, kick off jobs with common prefixes but no controller.

[2021-05-18 04:34] dwbrown2 commented on #896
@ywyt738 it should be easy to self-host these from another repo that works for you. See here -- https://github.com/kubecost/docs/blob/master/air-gapped.md. Is that resource helpful?

@AjayTripathy can you comment on the potential to cross-post in the future?

[2021-05-18 18:50] etsyamitra opened #900 "Kubecost Notifications on Deployments level"
**What problem are you trying to solve?**
Current we have kubecost notifications at the 'namespace' and 'project/cluster' level. It does not give a fair estimate of multiple deployments changes within the same namespace which is causing the alert. I understand there are cost metrics on deployment and other labels which would be great to have notified on.

**Describe the solution you'd like**
Add n

[2021-05-19 16:10] etsyamitra opened #902 "Stale notifications after updating the alert configs"
**Describe the bug**
Recently we tried updating the alert configurations through the kubecost template but we still seemed to get the stale alerts.  Did verify that the k8s config maps are updated and should be picked up, wondering if there would be some kind of inconsistency around update from ui vs template or some kind of cache?

**To Reproduce**
Steps to reproduce the behavior:
1. update the n

[2021-05-19 17:25] pierluigilenoci commented on #747
KSM deprecated metrics https://github.com/kubecost/docs/issues/74

[2021-05-19 17:57] mbolt35 commented on #902
@etsyamitra Whenever you get a chance, could you paste the output from:
[code]

and

[code]

in this ticket? Thanks!

[2021-05-19 22:27] etsyamitra commented on #902
sorry for the delay!

[code]

[code]

[2021-05-19 22:31] etsyamitra opened #903 "Obscure slackwebhookurl in the kubecost ui"
**What problem are you trying to solve?**
Slackwebhook uri in Notifications tab would be sensitive fields for an organization

**Describe the solution you'd like**
Drive webhookuri through secrets to not log the value in ui (maybe a checkbox that it is enabled would suffice)

**Describe alternatives you've considered**
encrypt and display

**How would users interact with this feature?**

[2021-05-19 23:15] AjayTripathy commented on #903
Thanks for this! Looks like a duplicate of #886 ?

[2021-05-19 23:27] AjayTripathy commented on #897
I don't know if it makes sense to bake a workgroup other than primary into the cloudformation template,  since not all users will be setting up the CUR via cloudformation.

We can look to support adding this to values.yaml, but @korjek just to get a sense of priority here, what's the impact of sending results from different services to the same bucket? Is there some reason that workaround wouldn't

[2021-05-20 00:04] etsyamitra commented on #903
perfect thanks for creating this

[2021-05-20 00:04] #903 closed

[2021-05-20 07:35] korjek commented on #897
@AjayTripathy no urgency here. With primary workgroup it works fine so that's only something nice to have.

[2021-05-20 14:10] dwbrown2 commented on #893
@SheepGotoHeaven I actually just looked at the frontend, and I think this may already be supported. Would you be able to take a look when you have a minute?

[2021-05-20 15:06] SheepGotoHeaven commented on #893
Sure, I'll take a look today 👍

[2021-05-20 23:15] mbolt35 commented on #902
@etsyamitra Thanks for the report and the output from those endpoints.

Do the contents here match your `values.yaml` and the configmap contents? I assume so based on your report (thanks for confirming that), but I did just want to make sure. Can I also verify which version you guys are running?

We just recently did a fairly large overhaul of the alerts system (deprecated the checks pod, moved/po

[2021-05-21 16:33] etsyamitra commented on #902
Thanks for looking into this and explaining this, it makes sense. restarting the pods did help, but we are facing another weird issue with alerts not showing the content besides the title..

<img width="510" alt="Screen Shot 2021-05-21 at 9 31 31 AM" src="https://user-images.githubusercontent.com/75339656/119169843-564f8c00-ba17-11eb-9bf6-0fd3ae8e5892.png">

Could you please let me know the prom q

[2021-05-21 16:56] etsyamitra opened #908 "Greater visibility into cloud provider discounts"
**What problem are you trying to solve?**
Kubecost pulls the discounts from billing or through the settings page. However its not transparent to end users if the discounts actually match up or were they applied twice in case it was configured in kubecost settings besides connected to billing database.

**Describe the solution you'd like**
Have separate tab in cost allocation/reports for discounts.

[2021-05-21 17:12] etsyamitra opened #909 "Graphana dashboards for kubecost cost metrics"
**What problem are you trying to solve?**
We donot have a unified grafana dashboard for cost metrics, though we do show usage in them.

**Describe the solution you'd like**
Add cost metrics to grafana dashboards

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**How would users interact with this feature?**

[2021-05-21 19:00] SheepGotoHeaven commented on #893
To clarify, are we talking about Assets or Allocations? I don't think the Assets page currently supports a `namespace` filter. The rest of this is about Allocations filtering, which I believe works similarly to Assets.

In terms of AND / OR logic, the API will always OR together filters of the same field (e.g., if you supply filters for `namespace: "X"` and `namespace: "Y"`, you will get a respons

[2021-05-22 03:28] AjayTripathy commented on #902
Thanks for this report @etsyamitra ,  what aggregation you setting your alerts on? You probably want to check the reports page to ensure there is data there.

[2021-05-24 02:39] dwbrown2 commented on #895
@etsyamitra would pdf format be desirable? We are actively discussing https://github.com/kubecost/cost-analyzer-helm-chart/issues/863.

[2021-05-24 02:56] dwbrown2 commented on #747
This is in process and we will share updates when they are available.

[2021-05-24 20:02] dwbrown2 commented on #900
Thank you for this, @etsyamitra! We're actively looking at adding different aggregations right now... with an initial focus on labels. We're also going to see about adding the ability to group by deployment. This by default would show you every deployment in your cluster consuming resources. Would this be helpful?

You can already alert on spend changes by deployment -- https://github.com/kubecost

[2021-05-24 21:33] etsyamitra commented on #900
Thanks that would be awesome, could you please clarify which version would have that change, or let me know once we have it on deployment and labels. The docs shows the efficiency grouped by namespace, please let me know if am missing something.

[2021-05-24 21:35] etsyamitra commented on #902
Thanks for looking into this Ajay, i think you could find our alert configurations(k8s configmap) from the details shared above but currently we are grouping by namespace and filtering on one(not a kubecost namespace).

[code]

[2021-05-24 21:42] etsyamitra commented on #895
Sorry for the delay, pdf would be great :) but ideal would be js/html templates which reduces clicks on user end!

<img width="1103" alt="Screen Shot 2021-05-24 at 2 42 16 PM" src="https://user-images.githubusercontent.com/75339656/119410808-3f6e9b00-bc9e-11eb-9742-9de808db517a.png">

[2021-05-24 22:30] dwbrown2 commented on #895
Very helpful! We're actually talking with the Looker team now too about integrations. Would sending reports from Looker directly be of interest?

[2021-05-24 23:17] dwbrown2 commented on #909
@etsyamitra this should be supported today by providing a Thanos or another datasource with data from multiple clusters. Can you share more detail on what you feel is missing currently?

Also, a lot of [Kubecost metrics](https://github.com/kubecost/cost-model/blob/develop/PROMETHEUS.md#available-metrics) are available in Prometheus for custom dashboard development.

[2021-05-24 23:56] etsyamitra commented on #909
Sure, custom grafana dashboard is one way forward but seems like a much low hanging fruit for kubecost to support. Once we click through the 'cost allocation -> group by deployment-> click on one -> takes us to grafana dashboards but we just find the k8s metrics for the usage not the cost metrics generated by cost model'. This seems like a natural flow once you are trying to dive deeper into cost

[2021-05-25 19:48] nikovacevic commented on #898
Pretty sure that this could be done rather quickly with only front-end changes. Implementation could use filtering by controller, pod, or both. All such filters should support wildcard operator for "prefix-type" filtering. Hope that helps!

[2021-05-25 19:48] nikovacevic commented on #898
cc @SheepGotoHeaven

[2021-05-25 20:14] SheepGotoHeaven commented on #898
+1 @nikovacevic. This ought to be a straightforward filter to add to the frontend. I'll add it to my task queue for the week.

[2021-05-26 04:47] dwbrown2 commented on #908
@etsyamitra thanks for this request! It might be interesting to discuss further, but we've actually been thinking that it would be helpful to show applied discount in the Allocation/Asset detail view. Would that be helpful for you?

![image](https://user-images.githubusercontent.com/298359/119603733-a07f9700-bda2-11eb-8e50-202b2e404d2e.png)

[2021-05-26 04:51] dwbrown2 commented on #900
@etsyamitra this feature is actively under investigation. We'll share updates/docs as soon as possible!

[2021-05-26 05:42] AjayTripathy commented on #896
I'd rather not officially support hosting these at more than one location at the free tier, since we'd have to maintain another account and pay or risk being rate limited which is a bad experience. Feel free to mirror from GCR to whatever private repos you'd like though.

[2021-05-26 05:49] AjayTripathy opened #915 "Migrate the ingress and rbac roles from v1beta1"
These are going away in v1.22+. Samples on how to do this are available linked from this issue and PR:  https://github.com/kubecost/cost-analyzer-helm-chart/issues/589

[2021-05-26 06:55] etsyamitra commented on #908
Thanks that would be great, could you please confirm that it would work for GCP as well. That is kubecost being able to pull discounts from gcp billing database.

[2021-05-26 12:44] ammills01 opened #916 "Create a static sort order in UI for multiple clusters"
Under _Available Clusters_ and _Select a cluster_ the sort order of the clusters changes with each refresh. Ideally, the order of those clusters would be static. You could default to an alphabetical sort order then allow users to define a custom sort order in the yaml. If the same sort order is defined for multiple clusters, you could still have the alphabetical sort in place so you would get some

[2021-05-26 17:28] bin3377 commented on #877
Yes. it was fixed after upgrading to v1.80/81 Thanks!

[2021-05-26 17:28] #877 closed

[2021-05-26 20:57] dwbrown2 commented on #916
I agree that having these in a consistent order would be valuable. I also would propose alphabetical or the order in which they were added to start with.

Is this causing a specific pain or would you consider this relatively low priority?

[2021-05-27 02:15] AjayTripathy commented on #813
The external costs are downloaded. We'll look to add efficiency to it as well.

[2021-05-27 16:42] ammills01 commented on #916
There is no pain currently, so it's low priority. However I know once this is used more often it will be a question.

[2021-05-27 18:08] SheepGotoHeaven commented on #898
@etsyamitra this is now addressed by a pull request in our frontend repo. Next release there will be support for filtering by controller and pod, as well as controller kind (deployment, statefulset) unless that addition is vetoed.

Also (this isn't explained in the UI yet): please know that as @nikovacevic noted, most filters, including these three new additions, support wildcard suffix matching.

[2021-05-27 23:50] sylus opened #917 "Azure Out of Cluster Costs don't work with export"
Hi there!

It seems that the kubecost out of cluster costs don't work for us and it is looking for mappings that don't exist in our export.

We are greeted with numerous errors related to parsing of the CSV:

[code]

It seems you are looking for `UsageDateTime` and our CSV export from Azure doesn't have that value. It also seems that the date format is also incorrect. I have attached the first hea

[2021-05-28 00:51] dwbrown2 commented on #917
Adding @Sean-Holcomb as the owner of this system! I know he has an active thread with the Azure team on a related issue that they are investigating. I'll let him share more.

[2021-05-28 05:01] AjayTripathy opened #918 "Multi-Cloud Assets Pipeline is broken on /allocations.html"
When using 2+ cloud providers, tagging data is not correctly shown on /allocations.html or in the API. However, the data is still available on /details.html.

Our recommendation for now is to use /detail.html until we can get this fixed

gz#314

[2021-05-28 16:12] Sean-Holcomb commented on #917
@sylus I appreciate the feedback, I actually a have fix for this issue that will be going out in a release candidate build that is expected that we will have next week. I will keep you updated when that is out.

[2021-05-29 00:05] #890 closed

[2021-05-31 14:55] sylus commented on #917
Awesome @Sean-Holcomb I really need this functionality so keenly waiting for release :D

[2021-06-02 22:45] AjayTripathy opened #920 "Add ImagePullSecrets to thanos charts."
Many of our charts already support imagepullsecrets-- but it appears our thanos charts do not. We'll want to get these added.

https://github.com/kubecost/cost-analyzer-helm-chart/pull/922

[2021-06-03 07:04] AjayTripathy commented on #920
https://github.com/kubecost/cost-analyzer-helm-chart/pull/922 for the in-progress PR

[2021-06-06 13:29] djsly commented on #743
I think there is simply a big with the latest logic: see my comment here

https://github.com/kubecost/cost-analyzer-helm-chart/commit/e5016c4449ed6eed59ae1d57dbbc78df2d64efeb#commitcomment-51789882

The two new flags are never taking effect.

[2021-06-07 16:04] Sean-Holcomb commented on #917
@sylus Changes are still in the pipeline, will let you know right away when I have more updates.

[2021-06-07 17:42] dwbrown2 commented on #899
@kaelanspatel here's a little background context on why this PV size changed: https://github.com/kubecost/docs/blob/master/storage.md

[2021-06-08 01:02] Sean-Holcomb commented on #876
This has been added with https://github.com/kubecost/kubecost-cost-model/pull/430
The flags to share the overhead costs and to reconcile Allocation are still defaulted to true, but this can be updated very easily whenever ready

[2021-06-08 01:02] #876 closed

[2021-06-08 04:34] Sean-Holcomb commented on #917
@sylus We have some updates for this issue going into the nightly build tonight, you can grab that using these [instructions](https://github.com/kubecost/docs/blob/master/release-process.md#nightly-releases).

Please let me know if you run into any issues with it and I will hopefully be able to get you a fix much quicker in another nightly build now that the bulk of the changes are in place.

[2021-06-09 00:01] AjayTripathy commented on #902
HI @etsyamitra following up here. We're not able to reproduce an empty slack message. Could you check whether there is data under the cicero namespace in the reports view?

[2021-06-10 14:29] stacy-tumarkin opened #927 "Support integration with Alibaba Cloud"
We have Enterprise users running k8s in Alibaba Cloud, and it's the [third biggest cloud provider in the world (first in APAC)](https://www.alibabacloud.com/blog/alibaba-named-by-gartner-as-third-biggest-global-provider-for-iaas-and-first-in-asia-pacific_596191).

Supporting an integration with Ali Cloud would allow us to more effectively serve cost-conscious teams in APAC.

This would be a longer

[2021-06-10 16:30] kbrwn opened #928 "Allow renaming for labelMappingConfigs"
**What problem are you trying to solve?**

Would like to replace "Department" with the term "Cost center" in the UI for labelMappingConfigs.

owner_label: "owner"
team_label: "team"#
department_label: "dept"
product_label: "product"
environment_label: "env"

**Describe the solution you'd like**

Support for renaming "department" to "cost center" from the values.yaml file.

**Describe alternatives

[2021-06-10 16:38] dwbrown2 commented on #928
Thanks for reporting, @kbrwn! I would argue that Saved Reports _effectively_ allows users to do this... do you know if this has this been tried and if there are shortcomings?

[2021-06-10 16:49] kbrwn commented on #928
@dwbrown2 This is request is to support changing the name from Department to Cost Center in the Breakdown menu of a Saved Report or when viewing Allocation.

[2021-06-10 16:54] dwbrown2 commented on #928
Yep, understood. Just trying to make this point that this largely has the same effect when viewing the report and sharing it with others.

[2021-06-10 21:08] sebradloff commented on #895
This might be tangentially related, but we would love to download the data in the breakdown section of the Savings page as a csv. I'm trying to filter across a few different dimensions to determine which controllers we should be rightsizing first not necessarily by savings but by efficiency score AND ram/cpu usage over a certain amount signifying a "bad neighbor" that could be really harmful to th

[2021-06-11 00:22] #818 closed

[2021-06-11 12:49] pierluigilenoci commented on #747
@AjayTripathy I saw that the KSM metrics [have been fixed](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.82.0-rc.0). Is there any hope of having the CAdvisor metrics fixed as well?

Is there also an update of the [page for the integration](https://github.com/kubecost/docs/blob/master/custom-prom.md)?

[2021-06-11 18:25] dwbrown2 commented on #747
Yep, we tackled ksm first and will be looking at cadvisor next. It's already underway.

[2021-06-14 14:49] dwbrown2 commented on #917
@sylus just wanted to see if this correctly handled your different billing data format. Just let us know if we can get you anything else!

[2021-06-14 17:34] kbrwn opened #934 "Abandoned-workloads view shows pods with heavy network traffic when duration set to 7d or 30d"
**Describe the bug**
Abandoned-workloads view shows pods with heavy network traffic when the Duration is set to 7d or 30d.  2 day duration shows the expected results. This view appears to be utilizing prometheus queries that may timeout or receive only a partial result when a cluster has a significant amount of pods and 7d+ duration is selected.

**Expected behavior**
Abandoned-workloads view shou

[2021-06-14 19:35] xhejtman opened #935 "Grafana dashboard error"
**Describe the bug**
I have bacically default helm installation. if I click on Namespaces -> Containers -> Dashboard, I can see the following error. Is it misconfiguration or a bug?

![error](https://user-images.githubusercontent.com/22795052/121949029-4dbd4d80-cd58-11eb-9d26-0b530bad37c4.png)

gz#399

[2021-06-14 20:33] kbrwn commented on #935
@xhejtman this should be fixed in an upcoming kubecost release. You can test of a release candidate with the change if you'd like.

Release Notes: https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.82.0-rc.0

Upgrade to RC commands:

[code]

[2021-06-15 00:27] sylus commented on #917
Hi there @dwbrown2 sadly I don't think it works but maybe some of the following logs might help cause I do see logs of it correctly grabbing the file to parse.

Currently I only see Kubernetes, Disks and LB’s in my cost allocation.

Before when I manually adjusted the CSV I was able to see Azure Managed DB for PostgreSQL.

[code]

Also some of the following:

[code]

[2021-06-15 01:22] Sean-Holcomb commented on #917
@sylus just to clarify you are seeing Disks and LBs in the asset view but not your managed db?

[2021-06-15 08:24] pierluigilenoci commented on #747
@dwbrown2 I LOVE IT ❤️

[2021-06-15 11:58] sylus commented on #917
That is correct @Sean-Holcomb  :D

[2021-06-15 14:15] dwbrown2 commented on #895
@sebastien-prudhomme love this idea for adding more detail to `/savings/requestSizing`. Any more you can share on the desire for CSV vs JSON? Our default was going to be to expose this data in JSON format initially.

[2021-06-15 14:28] sebradloff commented on #895
@dwbrown2 In terms of CSV vs JSON, we like CSV for now because I can easily import that into Google Sheets, slice and dice the data in all the ways we need and then have discussions with teams .

[2021-06-15 16:21] Sean-Holcomb commented on #917
Great well that is some progress, it sounds like some OOC costs are being added in, can you also confirm if you are seeing any values appear in the adjustments column for your in-cluster costs or any network category items under the kubernetes service?

What exactly did you update in your CSVs was it just the date format and the headers of the columns? Can you share some of the tags of that partic

[2021-06-15 16:30] xhejtman opened #937 "Filter inactive namespaces"
Hello,

I think it would be a nice feature, if one can select only active namespaces are displayed in Overview or maybe also in Cost Allocation.

Now it shows all namespaces that were used. I would appreciate an option to hide inactive, i.e., those without running pod.

gz#402

┆Issue is synchronized with this [Jira Task](https://kubecost.atlassian.net/browse/GIB-241) by [Unito](https://www.unito.

[2021-06-15 16:34] dwbrown2 commented on #937
@xhejtman Kubecost should only show data for namespaces that have pods incurring costs during the selected time window. A filter can further change the default Allocation view for you.

[2021-06-15 16:38] sylus commented on #917
Unfortunately I am not seeing any of that and last I remember I had to adjust the date header, as well as the whole date column to be in a format it expected as well as some billing related rows that weren't mapping.

Here is the header for my CSV that I am trying to parse in its original state:

[code]

[2021-06-15 16:41] xhejtman commented on #937
So there might be a bug then?

I have a namespace that shows:

Allocations

Average resources consumed over measured time window
RAM Allocated: 21.96 GB
CPU Allocated: 6.00 CPUs
GPU Allocated: 1.00 GPUs
Storage Allocated: 0.00 GB

Deployments
No running resources found
StatefulSets
No running resources found

Containers
No running containers detected in this namespace

so, apparently, there is no

[2021-06-15 16:47] Sean-Holcomb commented on #917
That is strange, are you seeing any errors along the lines of "AzureCSVLineParser: missing index for parse key" or "failed to parse..." or "Could not parse..."

[2021-06-15 16:56] sylus commented on #917
Nope nothing other then the errors i posted above, probably unrelated but when I click on Asssets -> Kubernetes -> Node I then get a white screen.

Seems to be a JS Error "Cannot read property start of undefined" instrument.ts for rangechart.

[2021-06-15 16:59] sylus commented on #917
I do see this:

[code]

[2021-06-15 17:41] Sean-Holcomb commented on #917
The JS issue is interesting, do you see anything in the network tab of that page that seems different, maybe a failed requests or an empty response?

If you haven't already can you try a rebuild of the asset etl using this endpoint `/model/etl/asset/rebuild?commit=true`
and let me know if you are just seeing the same kind of error messages

[2021-06-15 19:20] sylus commented on #917
I tried the etl reload and still no go but I can see it looks like successfully parsed as can see the percentage increment.

The network error I am getting is (429 Too Many Requests)

[code]

[code]

[2021-06-15 19:21] sylus commented on #917
I am still wondering about these errors:

[code]

[2021-06-15 20:15] Sean-Holcomb commented on #917
So the percentage is Kubecost building the assets from the Prometheus data, the CSV parsing should happen after it gets to 100%. Are the disks and LB still there after the rebuild?

I don't think that those errors are related to the issue at hand, but they are generated at query time on the Allocations page. If you navigate around that page with these  with idle cost set to separate do the errors

[2021-06-15 20:31] Sean-Holcomb commented on #917
In terms of the network error it is caused by the JS error that you are seeing. I would be interested to see some of the results of the assets api when you see that error. particularly it sounds like there is an asset that is missing its start value.

[2021-06-15 22:01] gbvikas opened #938 "Option to Filter by Node Labels in Cost allocation page"
Option to filter nodes by specific label in Cost allocation page

gz#405

[2021-06-15 22:35] dwbrown2 commented on #938
@gbvikas thanks so much for the request! Is there any chance you have other context/details on the use case you have in mind for this filter?

[2021-06-15 23:11] gbvikas commented on #938
@dwbrown2 - not all the workloads have common labels. Third party Operators and dependent workloads have their own labels. We need to identify the cost based on node labels

[2021-06-16 01:26] sylus commented on #917
Actually I had a question is the cost model code in master branch the latest?

In my OP at the top I mentioned we don't have a `UsageDateTime` and only a `Date` field and also our format is of '06/14/2021' which based on the cost model is not what you detecting for?

I might be wholly wrong but just want to rule this out before go further.

[2021-06-16 01:37] Sean-Holcomb commented on #917
Yeah so the update I put out in our closed source repo addresses that part of the issue. I am somewhat confident that that is no long the issue because you are no longer seeing those parse errors
`E0527 19:04:03.056562 1 log.go:17] [Error] failed to parse usage date: 'Statcan'`
It is now parsing the CSV for the "Date" column and is using the formate "01/02/2006" which is "MM/DD/YYYY"

[2021-06-16 01:39] sylus commented on #917
Hmm I did that fix renamed Date to UsageDateTime and now I see this in error:

[code]

[2021-06-16 01:54] sylus commented on #917
Yup and replacing EffectivePrice with PreTaxCost i start to see entries for KeyVault and Azure PostgreSQL etc. (I wasnt sure if i replace EffectivePrice or CostInBillingCurrency)

[2021-06-16 03:15] Sean-Holcomb commented on #917
Ok that is more likely part of the issue, I was looking for the `CostInBillingCurrency`. I will switch it with `EffectivePrice`. Out of Curiosity is CostInBillingCurrency empty on you CSV?

[2021-06-16 04:00] dwbrown2 commented on #937
Would you be able to share a screenshot? It's not clear to me where these metrics are coming from.

[2021-06-16 04:43] Sean-Holcomb commented on #917
I just merged the update, so it should be in our nightly build tonight if you want to give it another try tomorrow

[2021-06-16 07:10] xhejtman commented on #937
[Namespace _ Kubecost.pdf](https://github.com/kubecost/cost-analyzer-helm-chart/files/6660925/Namespace._.Kubecost.pdf)

[2021-06-16 11:28] sylus commented on #917
@Sean-Holcomb so you merged both the date fix and the cost one? Only with the date fix did it even start to parse it looks like.

And yup both have had values in them.

[2021-06-16 12:08] sylus commented on #917
Also might you know why i keep getting white screens on a page that loads successfully? After a few seconds and the page loading it will then white screen and I get this:

![image](https://user-images.githubusercontent.com/984304/122216116-04651f00-ce7a-11eb-8210-6a503b63a577.png)

[2021-06-16 13:37] sylus commented on #917
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/984304/122229060-6d529400-ce86-11eb-949b-c813f42f1db4.png)

[2021-06-16 14:10] dwbrown2 commented on #937
This shows there was a stateful set running at some point during the measured window. You are saying you do not believe that was true?

[2021-06-16 14:12] xhejtman commented on #937
it **has been** running at some point. And my request was to filter out these namespaces and keep only those that are currently running.

[2021-06-16 17:33] AjayTripathy commented on #917
Hi @sylus that screen is a result of a bug in our release candidate/nightlies, we will have a fix there available soon.

[2021-06-16 17:35] Sean-Holcomb commented on #917
Was able to find another bug with the parsing of the "Date" header this morning. It will be in tonights nightly build.

Let's try again tomorrow morning. As always, I really appreciate your feedback here, it really is invaluable.

[2021-06-16 17:39] sylus commented on #917
Awesome thanks so much @AjayTripathy  let me know and i can try it out :D

[2021-06-17 05:47] Sean-Holcomb commented on #917
You can grab the nightly release using these instructions https://github.com/kubecost/docs/blob/master/release-process.md#nightly-releases

[2021-06-17 12:23] sylus commented on #917
Hi @Sean-Holcomb so it does seem to work which is great!

I do still have a problem with the white screens though so is hard to fully look and test since crashes on a lot of the pages but progress!

![image](https://user-images.githubusercontent.com/984304/122395733-48712600-cf45-11eb-9be0-5d6ff6014aea.png)

[2021-06-17 16:10] Sean-Holcomb commented on #917
Glad to hear that we have addressed one of your issues. Let's see if we can figure out this other one.

1. I would like to see the result of the Asset Api when you reach these white pages, additionally are there any warnings/errors when you run that `/model/etl/asset/rebuild?commit=true`

2. This is handled by reconciliation, these cost are excluded from the OOC costs and are instead used to fill

[2021-06-17 16:16] Sean-Holcomb commented on #917
edit: I spoke with the team and it sounds like we got a fix out this morning. I will let you know if there is another build today but it will be in the nightly tonight.

[2021-06-17 17:06] sylus commented on #917
Oh perfect @Sean-Holcomb i'll wait for the nightly and check and if is still a problem will do best to answer your questions.

[2021-06-17 21:10] kbrwn commented on #902
@etsyamitra Just wondering if you have any updates on the question @AjayTripathy asked above.

[2021-06-18 14:16] sylus commented on #917
@Sean-Holcomb should I try the nightly now and see if resolves?

[2021-06-18 15:49] Sean-Holcomb commented on #917
Yes, I believe the most recent build should solve your issues.

[2021-06-18 16:00] dwbrown2 commented on #937
@xhejtman is there any more context that you can share for what you would be aiming to do or what problem you'd be trying to solve?

[2021-06-18 16:02] xhejtman commented on #937
Well, it seems that cost analyzer shows even non-active namespaces, i.e., namespaces that have no running pods. I would like to have an option, to filter out these namespaces and show only active, i.e., namespaces with at least one running pod.

[2021-06-18 16:03] #898 closed

[2021-06-21 01:24] dwbrown2 commented on #895
@sebradloff we'll be doing some work on CSV export this week for assets. Let's see if we can get it as part of that, if not we'll look at opening a new issue.

[2021-06-21 04:13] dwbrown2 commented on #937
Can share more about what you are hoping to do with this data/view?

Kubecost currently shows workloads that were active during the measured historical period. We do have the ability to greatly shorten this window, i.e. reduce 1 hour or less. This would require some UI changes though.

[2021-06-21 16:19] dwbrown2 commented on #900
This is now available in our latest release candidate! More info available here -- https://github.com/kubecost/docs/blob/master/alerts.md#type-recurring-update

[2021-06-21 17:42] sylus commented on #917
@Sean-Holcomb the nightly build seems to not have that error so it looks good so far :D

[2021-06-21 22:50] steveizzle commented on #835
Own internal SMTP would be great. Especially for enterprises where infosec may have obligations about using a third party for sending mails

[2021-06-22 01:17] sylus commented on #917
Hey @Sean-Holcomb

So I wanted to try against fresh data since I was getting some weird numbers but assumed was all the changes.

Therefore I did the following steps:

* scaled down both cost-analyzer and prometheus-server
* deleted the pv claim for both and then recreated
* scaled back up both instances

The Azure Out of Clusters got picked up but then over time in about 5 minutes they disappear

[2021-06-22 04:45] kitianFresh opened #940 "what is the use of this server?"
https://github.com/kubecost/cost-analyzer-helm-chart/blob/cabe3b42fca0ec9e38fbb610a2036361b4ebf247/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L639

I know the cost-model is used for collect metrics and compute costs, the frontend display ui, but what the server is

gz#425

[2021-06-22 09:14] xhejtman commented on #937
I was hoping to see only running pods and their cost. But also letting an option to see all namespaces to see costs even for not running ones.

[2021-06-22 10:13] steveizzle commented on #902
We have a similar issue with the configuration of alerts via helm and value file.
Our Setup is the following:

- kubecost version 1.81.0 deployed with helm (we are using it since about 1.76.0)
- values for alerts where added now in version 1.81.0
- update is happening with helm

The configmap is created and seems to be all right (so i would say value file should be correct):

`apiVersion: v1
data:

[2021-06-22 15:53] dwbrown2 commented on #937
Can you share more on why you want this? I'm trying to understand what you are looking to do this with this data.

[2021-06-22 16:14] dwbrown2 commented on #940
@kitianFresh this is the kubecost webserver that routes traffic to the appropriate backend service, including the cost-model. It can also be used to proxy traffic to a (bundled) Grafana deployment.

[2021-06-22 16:38] Sean-Holcomb commented on #917
I will check it it out and let you know what I find.

[2021-06-22 17:39] Sean-Holcomb commented on #917
@sylus can you actually generate a bug report for this one, it sounds like Kubecost is having trouble connecting to Prometheus and that might give us a little bit more insight. Here are the instructions for creating a bug report
https://github.com/kubecost/docs/blob/master/bug-report.md

[2021-06-22 18:39] sylus commented on #917
Thanks @Sean-Holcomb i attached my bug report in the email to support.

I am noticing issues like this where I can click on an item and it keeps opening it up and nesting.

![image](https://user-images.githubusercontent.com/984304/122981369-ab105a80-d367-11eb-862b-66eb46e5e355.png)

[2021-06-22 19:03] Sean-Holcomb commented on #917
I got the bug report, thank you

As for that bug you just sent a picture of, we have been tracking that this morning and a fix will be in release 1.82.0, which is going out today.

[2021-06-22 20:35] iusergii opened #941 "Set grouping option for Controller Allocation and Service Allocation at Overview page by custom label mappings"
**What problem are you trying to solve?**
I'd like to have the ability to configure label aggregation for pie charts on the overview page in the same way as it done for Controller Allocation and Service Allocation.
Display pie charts by "Product", "Team", "Environment", "Owner", etc.

gz#433

[2021-06-22 21:23] xhejtman opened #942 "Allow to filter disk in savings"
We are using templated filters for local disks to only /dev/sd* and /dev/nvme* devices. This is because RKE2 + containerd shows many irrelevant devices in metrics. E.g., every running pod is reported as overlay filesystem that has size and usage the same as underlaying file system, or if you mount NFS PVC, it is counted as well. So we filtered out everything except real devices for local disks. It

[2021-06-22 22:19] sylus commented on #917
@Sean-Holcomb awesome when that release comes out I will delete my existing deployment and install that one trying everything again :D Thanks so much!

[2021-06-22 22:50] xhejtman commented on #937
Well, I wanted quick way to see, what is currently running and how $$ intensive. We have relatively many short-live namespaces.

[2021-06-23 06:00] andreb89 opened #944 "Support of Azure (blob) storage for ETL cache instead of a persistent volume or in-memory"
**What problem are you trying to solve?**
With the new version [1.82.0](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.82.0), you support Amazon S3 storage, please also support the use of Azure (blob) storage for the ETL cache.

**Describe the solution you'd like**
Support Azure (blob) storage the same way as Amazon S3.

**How would users interact with this feature?**
Support

[2021-06-23 08:43] kitianFresh commented on #940
thanks for answer, so, what is the differences between the web server and Nginx.  you mean the server is just encapsulate some backend api to do proxy?

[2021-06-23 08:43] kitianFresh commented on #940
@dwbrown2 thanks for answer, so, what is the differences between the web server and Nginx.  you mean the server is just encapsulate some backend api to do proxy?

[2021-06-23 09:14] iusergii opened #945 "SavedReports: Invalid argument to `aggregate`: product"
**Describe the bug**
According to [doc](http://docs.kubecost.com/saved-reports.html) we can configure reports via helm `values.yaml`.

Config example:
[code]

Opening current report via UI fails with an error message
[code]

Version: 1.82.0

gz#440

[2021-06-23 09:48] iusergii commented on #945
Works with `aggregateBy: "label:Product"`

[2021-06-23 14:23] sylus commented on #917
Okay @Sean-Holcomb I uninstalled the helm chart and re-installed.

Here is what I have noticed so far:

a) When browsing I see a lot of warnings with the following messages:

[code]

b) My slack notifications and threshold wasn't set again until I manually edited the pricing config map then it got detected and showed up

c) The out of cluster costs hasn't shown up yet but since is a fresh index I

[2021-06-23 15:18] iusergii commented on #945
@dwbrown2 yes. I guess that this should be described in the documentation.

[2021-06-23 15:22] dwbrown2 commented on #945
It should be covered here:
https://docs.kubecost.com/alerts#type-recurring-update

Let me know if you feel we could clarify.

Webb
Kubecost, Co-founder

On Wed, Jun 23, 2021 at 8:18 AM Sergii ***@***.***> wrote:

[2021-06-23 15:27] iusergii commented on #945
@dwbrown2 UI provides a link to http://docs.kubecost.com/saved-reports.html and it has:

This one is confusing.

[2021-06-23 16:18] sylus commented on #917
I think I need to know why when I run `model/etl/asset/rebuild?commit=true` the Azure out of cluster shows up but if I wait a few minutes it disappears again.

[2021-06-23 16:31] Sean-Holcomb commented on #917
@sylus rebuilding the assets with that end point `/model/etl/asset/rebuild?commit=true` might have a similar effect. Cloud assets does not populate if there are no in-cluster costs for a window so part of what you are describing is expected. Please let me know if the cloud assets continue to disappear.

[2021-06-23 17:37] sylus commented on #917
@Sean-Holcomb I don't understand so I run the ETL clear I then almost immediately see out of cluster costs for lets say the 22nd day but then after about 5 minutes that day disappears and is now just the 23rd and no out of cluster costs listed and it has been about an hour so far and hasn't came back. This honestly doesn't make sense to me.

[2021-06-23 17:59] Sean-Holcomb commented on #917
It is sounds like you are saying that initially you are looking at screen where cloud assets are present with the kubernetes service and when you look later you only see the Kubernetes service alone on the page

[2021-06-23 18:25] Sean-Holcomb commented on #917
In regards to your other comment about the warning messages
[code]
I can confirm that those can safely be ignored. And I will be making it so that they don't show up soon. Essentially kubecost is distributing shared costs, and it cannot find the proportion to share costs with the 'cluster-one/__idle__' allocation. This is correct though because idle allocations do not receive any shared costs beca

[2021-06-23 18:43] sylus commented on #917
@Sean-Holcomb yup you are correct that is what i am experiencing.

[2021-06-23 21:00] kbrwn opened #946 "Cost allocation based on Project/Account labels"
**What problem are you trying to solve?**
More robust GCP project based cost allocation.

**Describe the solution you'd like**

Instead of labelling each resource with kubernetes_namespace tag,  Kubecost should read the labels at GCP project level and assign all the cost within that project to particular namespace based on labels.

This is a customer request.

gz#444

[2021-06-23 21:10] Sean-Holcomb commented on #917
Okay I just wanted to make sure that you are actually seeing the kubernetes services alone in the "by service" view and it was not that front end was sending you to "by type" view with a filter for the kubernetes service, which is the default if OOC is not configured. To be honest I am a little confused how the cloud assets are being removed from cache if they are populating.

Are you still seeing

[2021-06-23 21:41] kbrwn opened #947 "Allow custom selection of home page"
**What problem are you trying to solve?**

/overview.html contains a lot of graphs and charts that may not be useful or may be confusing to users not familiar with kubecost. Users should be able to set the kubecost home page to a page that contains useful information.

**Describe the solution you'd like**

let users select a page or saved report to make the home page

**Describe alternatives you'v

[2021-06-23 22:53] sylus commented on #917
Hey @Sean-Holcomb I sent you pictures in the support email along with answers to your questions :)

Thanks so much!

[2021-06-23 23:03] dwbrown2 commented on #947
Thanks for the request! This is a major lift with many open product questions... it could easily turn into rebuilding Grafana IMO. Let's give this some thought. All additional input welcome, but it may take some time for us to tackle this.

The current dashboard contains cost by controller, cluster, service, etc. These should be universal concepts for any Kubernetes environment, but I agree that t

[2021-06-23 23:05] dwbrown2 commented on #946
@Sean-Holcomb am I mistaken, or can this already be done?

[2021-06-23 23:21] Sean-Holcomb commented on #946
It sounds like they are saying they want to propagate certain labels from parent to child for cloud assets, but that connection isn't necessarily available in the cur. It also kind of seems like a very specific use case, with the more general problem being better group tagging of cloud assets.

[2021-06-24 00:15] AjayTripathy commented on #940
Hi @kitianFresh , our nginx (cost-analyzer-frontend) is the both the frontend web server and proxies traffic to grafana/cost-analyzer-server/cost-model

[2021-06-24 01:20] dwbrown2 commented on #945
@iusergii that's a slightly different concept: saved reports on the frontend UI, but I completely see what you mean.

[2021-06-24 02:40] dwbrown2 commented on #941
thanks, @iusergii! I believe progress here could be tracked under https://github.com/kubecost/cost-analyzer-helm-chart/issues/947

[2021-06-24 02:47] dwbrown2 commented on #944
@Sean-Holcomb for comment! I thought this was already supported...

[2021-06-24 04:04] Sean-Holcomb commented on #944
@dwbrown2 You might be thinking of [this](https://github.com/kubecost/docs/blob/master/long-term-storage-azure.md)
but what he is talking about is the new feature that @mbolt35  just added which is [this](https://github.com/kubecost/docs/blob/master/etl-s3-backup.md)

[2021-06-24 04:16] SheepGotoHeaven commented on #945
I think I'm your guy. I'll check it out first thing in the morning 👍

[2021-06-24 16:17] steveizzle commented on #902
1.82.0 seemed to solve some issues. I still get a strange date in the recurringUpdate nextRun "lastRun":"0001-01-01T00:00:00Z","nextRun":"0001-01-01T00:00:00Z"}]}, so i dont know if this will work.
helm config looks like this:

[code]

[2021-06-24 16:19] dwbrown2 commented on #946
Ah yes, I see what you mean now! Most users will have multiple teams, namespaces, etc in a single GCP project. Would love to learn more though. @kbrwn is there an easy way for us to connect with this user to learn more?

[2021-06-24 16:47] kbrwn commented on #947
Yes I agree these are universal k8s concepts. These graphs and charts are helpful and important to a devops/sre team maintaining a cluster. The problem is with how these are presented on the overview.html page is not relevant for many users of kubecost who are not cluster maintainers. The projected monthly cost of the full cluster based on the past 7d of consumption is often very different than th

[2021-06-24 17:21] kbrwn opened #948 "Support GPU by request strings other than "nvidia/com/gpu"."
**What problem are you trying to solve?**
GPU can be defined by `k8s.amazonaws.com/vgpu` or `amd.com/gpu` and other request strings depending on the GPU provider and set up. Kubecost is currently hardcoded to use nvidia/com/gpu: https://github.com/kubecost/cost-model/blob/develop/pkg/costmodel/costmodel.go#L173

**Describe the solution you'd like**
Support other common GPU request strings as well

[2021-06-24 17:34] AjayTripathy commented on #948
I'm guessing we may want to make this resource definition configurable since providers will use different notations, but I'm open to hardcoding the common cases and quickly adding k8s.amazonaws.com/vgpu

[2021-06-24 17:39] kbrwn commented on #935
@xhejtman v1.82.0 is officially out:  https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.82.0

Please let us know if you are still having this issue after upgrading.

[2021-06-24 17:49] Sean-Holcomb commented on #917
@sylus That really is strange, can you also confirm that in your step 3 image you have an api request `/model/assets?window=7d&aggregate=service&accumulate=false&req=#####` with no additional parameters?

It sounds like your logs are fine, right now there is either an issue with the query filtering or the cloud assets are somehow being removed from the cache.

[2021-06-24 17:53] gbvikas commented on #946
Currently we have two types of GCP projects.
1. Shared by multiple teams/BUs
2. Dedicated for specific BU/Team..

In Shared GCP Projects, we do add labels at resource level.
But in dedicated Projects, we need all the resources(external cost) within that project to be assigned to a specific <kubernetes_namspace>. This will avoid labelling all resources with the same <kubernetes_namspace> tag within

[2021-06-24 21:36] dwbrown2 commented on #948
My two cents: I vote we start with a fixed list and explore this being configurable later.

[2021-06-24 22:50] llamahunter commented on #610
any chance that custom labels and annotations will be coming soon?  we're waiting on this. Want to be able to apply kubecost to itself.

[2021-06-25 05:14] SheepGotoHeaven commented on #945
@dwbrown2 I took a look at this today, and I think with a small amount of effort we can support this feature as-documented.

It would still a docs update to note that product/environment/owner/team/department are aliases for labels, and maybe to note that this will only work as of v1.83.0.

As of now I'm planning to add support for this and should have something to show soon. Thanks y'all!

[2021-06-25 10:55] fragolinux opened #951 "unused PVC postgres"
**Describe the bug**
deployed helm chart, disabling integrated prometheus because already had one, enabled persistance, using a storageclass, i see the pv bound, but pvc named postgres is in state pending

**To Reproduce**
excerpt from helmrelease file:

[code]

[code]

gz#456

[2021-06-25 11:30] xhejtman opened #952 "For RKE2 clusters, PVs are not linked with pods"
I have an issue that almost all PVs are marked as unmounted. System reports over 200TB of unused capacity. However, PVs are mounted in pods. costanalyzer prometheus returns relations among PVs and pod correctly:

pod_pvc_allocation{instance="10.43.83.169:9003",job="kubecost",namespace="fnbrno-ns",persistentvolume="pv-scan",persistentvolumeclaim="pvc-scan",pod="fnbrno-master-6cd64b8ffd-qttb5"}

but

[2021-06-25 11:30] xhejtman commented on #952
using version 1.82.0

[2021-06-25 11:45] xhejtman commented on #935
hello, it seems that I am still having the issue in 1.82.0.

[2021-06-25 12:34] dwbrown2 commented on #945
@SheepGotoHeaven thanks for taking a look!

That's cool if we can support those aliases quickly! Do you also feel we should support generic labels, e.g. `label:app`? If aliases, prove to be hard it does seem like we could fall back to using this syntax like we do other places in the app and just update docs.

[2021-06-25 14:25] sylus commented on #917
Yup I confirmed has no additional parameters and yup the logs everything looks fine. What is odd is after 2 days now I see the out of cluster costs but my numbers seem to be off.

Can this be related to me having some exports that are the same day while i was testing the out of cluster costs? I doubt it is  the guess but am spitballing here ^_^

[2021-06-25 16:02] Sean-Holcomb commented on #946
I wonder if something we could do here is labeling rules, where the presence of certain labels on a line item, would override a certain asset property @dwbrown2 I am not sure if this would actually solve @gbvikas problem, but at least be a step in the right direction of making labeling less arduous.

[2021-06-25 17:31] AjayTripathy commented on #951
Hi @fragolinux , could you share a little bit about what configurations you're deploying kubecost with? Did you turn on the postgres sections of the chart? We've since deprecated that-- I'll edit our documentation to reflect that.

[2021-06-25 18:02] SheepGotoHeaven commented on #945
All sounds good. An implementation should be quick, but there are a few design decisions to make.

In the meantime, I've issued a PR to update the docs not to include those label aliases. Will open a thread on how we might support these going forward 👍

[2021-06-25 19:58] fragolinux commented on #951
hi, not at dev pc right now, btw no, i didn't turn on the postgres section, the code I posted is the only part overridden of default chart values, done in a flux helmrelease yaml file (that's an excerpt)

[2021-06-26 00:13] AjayTripathy commented on #952
Hi @xhejtman which web page are you looking at? can you provide a bug report to help us troubleshoot this? https://github.com/kubecost/docs/blob/master/bug-report.md

[2021-06-26 00:22] AjayTripathy commented on #610
Hi @llamahunter sorry this did not get updated-- does setting .Values.kubecostDeployment.labels this with custom deployment labels work for you? https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L9

[2021-06-26 00:25] AjayTripathy commented on #935
Thanks for reporting this @xhejtman . The upgrade does not restart grafana-- you may need to manually restart it for the change to take effect.

[2021-06-26 00:27] AjayTripathy commented on #951
Is flux perhaps not respecting our "enabled" flags? We should not create a postgres PV without .Values.remoteWrite.postgres.enabled

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-postgres-pv.yaml#L3

[2021-06-26 13:21] xhejtman commented on #935
I redeployed grafana and I am still getting the error.

[2021-06-26 16:28] fragolinux commented on #951
flux does, automatically, what someone would do manually: an helm install/upgrade passing the values file, which i attached above, nothing more...

[2021-06-27 07:53] xhejtman commented on #952
Hi, I sent that bug report to Kyle Brown on slack, is it OK?

you can see here, reported size is about 200TB, it is ok.
![strg](https://user-images.githubusercontent.com/22795052/123536769-90096600-d72c-11eb-857f-e60ea2943476.png)

as can be seen here, almost all storage is reported as unused
![assets](https://user-images.githubusercontent.com/22795052/123536815-bf1fd780-d72c-11eb-86bc-1c5f45b0660

[2021-06-27 08:46] AjayTripathy commented on #935
Hi @xhejtman I do see the red error, but the graphs still appear readable for me and the error disappears after a few seconds-- is that also what's happening for you?

[2021-06-27 08:48] xhejtman commented on #935
Yes, this is what I'm seeing as well. The error disappears after a few seconds. So not a real bug but could be fixed ;)

[2021-06-27 08:59] AjayTripathy commented on #951
I can't reproduce this with the default values.yaml, but in any case we've deprecating the postgres files and can just remove those configs in our upcoming release.

[2021-06-27 21:45] dwbrown2 commented on #948
@AjayTripathy planning to pick up this week.

@AjayTripathy can you let us know if you can't tackle this week?

[2021-06-27 23:25] dwbrown2 commented on #942
@xhejtman thanks for reporting! Let us think about a general solution that wouldn't require too much user config.

one idea is to use our cloud reconciliation pipelines for this.

[2021-06-28 02:17] AjayTripathy commented on #948
https://github.com/kubecost/cost-model/pull/843/commits/88afa004710a0426004a6befeb527c9b5a84ae09 should address!

[2021-06-28 03:14] dwbrown2 commented on #934
@mbolt35 currently reviewing! Plan is to move these metrics to ETL pipeline.

[2021-06-28 07:49] AjayTripathy commented on #952
Thanks @xhejtman I'll take a look at the bug report. Curious if you view the data on /allocations.html , are the PVs visible there for fnbrno-ns?

[2021-06-28 09:44] xhejtman commented on #952
no, as can be seen, it's mostly not visible

![an](https://user-images.githubusercontent.com/22795052/123615947-12b22400-d806-11eb-8496-026cd582344a.png)

[2021-06-28 10:24] pierluigilenoci commented on #915
@AjayTripathy I suggest to do something like this https://github.com/oauth2-proxy/manifests/pull/37/files to maintain backwards compatibility but remove annoying error messages as soon as possible.

[2021-06-28 16:14] Sean-Holcomb commented on #917
What do you mean by your numbers being off, are you continuing to see the Out of Cluster costs after the weekend?

[2021-06-28 17:28] sylus commented on #917
Hey @Sean-Holcomb i am scheduling a meeting to show @AjayTripathy the problem am having. The numbers are orders of magnitude off in the main screen but if you drill down into the assets under kubernetes -> disks they are more accurate.

Once have meeting with @AjayTripathy hopefully I can provide more detailed information.

[2021-06-29 06:15] andreb89 commented on #944
@dwbrown2 Yes, @Sean-Holcomb is correct. I meant the new feature, that was just implemented. It would be great, if you could support Azure storage for the ETL cache as well.

[2021-06-29 08:37] iusergii commented on #941
@dwbrown2 thanks, closing in favor #947

[2021-06-29 08:37] #941 closed

[2021-06-29 16:42] dwbrown2 commented on #944
Ah, yes! I see what you mean now. My apologies for misunderstanding.

@mbolt35 for comment on his plans here!

[2021-06-30 19:48] kirbsauce opened #958 "Composite Reporting"
Do we have any ability to deliver a "composite report?"

**What problem are you trying to solve?**
that is to say in the ui i can drill down into resources, but when i export the report it’s just whatever view i have currently selected.

**Describe the solution you'd like**
like it’d be nice if i could show charges per cluster, as well as details about the items.  right now each view exports indiv

[2021-07-01 00:13] Sean-Holcomb commented on #917
@sylus I made an update that should fix the GPU issue that you are seeing. You can grab the newest in the nightly build

[2021-07-01 04:28] dwbrown2 commented on #958
It sounds to me like multi-aggregation (already available via our API, and coming to our frontend) would likely accomplish this!

cc @nikovacevic

[2021-07-01 15:09] nikovacevic commented on #958
I'm not certain that's what Kirby is talking about, but perhaps it's a stepping-stone on the way there.

@kirbsauce, if you were able to aggregate by `(namespace, controller)` and export that, such that the results looked like:
| Name | CPU | RAM | Total |
|---|---|---|---|
| kubecost/kubecost-cost-analyer | 10.00 | 20.00 | 30.00 |
| kubecost/kubecost-grafana | 10.00 | 20.00 | 30.00 |
| kubecost/k

[2021-07-01 15:31] nikovacevic commented on #958
Fang and I just followed up and agreed that the customer asking for this is going to just give his customers access to Kubecost, itself, to directly use the drill-down capability in the UI. Regardless, we'll go on developing multi-agg, which could be a good proxy for this kind of idea in the short-term.

[2021-07-02 12:49] mbolt35 commented on #944
I have the azure and gcs implementations stubbed, but don’t have a timeline (yet!) of when those will be added. We’ll prioritize a discussion early next week and see if we can get this work scheduled.

[2021-07-02 21:09] B-Souty opened #963 "Built-in prometheus high memory usage with 'Savings' recording rules"
**Describe the bug**
Enabling "Savings" recording rules increase prometheus memory usage by a lot. In my case prometheus went from using ~2.3GB to ~7.3GB

I'm using the built-in prometheus on a small-ish staging cluster (~60 nodes). The person who previously worked on kubecost disabled the Saving recording rules. After taking over I noticed some warning messages in kubecost saying `Savings Recordi

[2021-07-02 21:42] mbolt35 commented on #963
@B-Souty That’s very surprising. Especially given that the recording rules use very small windows of time. What version of Prometheus are you guys using?

[2021-07-02 21:45] dwbrown2 commented on #610
@llamahunter let us know if this looks good to you, because I believe this should be supported.

[2021-07-02 21:48] dwbrown2 commented on #948
@csfangy were you able to confirm if this met their needs?

[2021-07-04 18:42] B-Souty commented on #963
@mbolt35 Actually I just had another look at the graph in grafana, it turns out my timezone settings were wrong. The increase in memory coincide in fact with when I added a pretty big scrape config which makes more sense. Sorry for the confusion.

[2021-07-04 18:42] #963 closed

[2021-07-05 13:00] B-Souty opened #964 "What are the node exporters used for?"
Hi, we deployed kubecost in a staging cluster with the node exporter **disabled** and kubecost seems to be working perfectly fine without it.

We then configured the bundled Prometheus to scrape our existing node exporters and didn't see any change in kubecost.

gz#504

[2021-07-05 14:20] sylus commented on #917
Hey @Sean-Holcomb does v1.82.2 have this fix?

[2021-07-05 14:24] Sean-Holcomb commented on #917
Yep, looks like it went in the day before that release went out.

[2021-07-05 18:22] sylus commented on #917
Hi @Sean-Holcomb did your tagging work? I am running the `gcr.io/kubecost1/cost-model:prod-1.82.2` but the gui says we are 1.82.1 and update is available and GPU fix is not in.

[2021-07-05 20:47] maeghan-porter commented on #322
I am wanting to run kubecost on a `/kubecost` path on an EKS cluster using the AWS ALB Controller. The example you provide here: https://github.com/kubecost/docs/blob/master/ingress-examples.md#non-root-path-example
is specific to nginx, if I set up an ingress with the AWS ALB Controller to use the `/kubecost` path how do I get the app to accept this path? Or has that not been implemented?

[2021-07-06 00:17] dwbrown2 commented on #964
Hi @B-Souty is this resource helpful for you? https://github.com/kubecost/docs/blob/master/diagnostics.md#node-exporter-metrics-available

Let me know if we can share more!

[2021-07-06 14:16] csfangy commented on #948
@dwbrown2 followed up! waiting to hear back today.

[2021-07-06 14:44] dwbrown2 commented on #944
@andreb89 we're going to discuss this as a possibility for next week's sprint! I do want to highlight that this currently requires having an enterprise key. Do you currently have one available?

[2021-07-06 15:06] B-Souty commented on #964
@dwbrown2 It does help. Thanks a lot.

[2021-07-06 15:06] #964 closed

[2021-07-06 16:48] Sean-Holcomb commented on #917
@sylus my apologies, it looks like the update is not in v1.82.2, I was able to confirm that it is in the nightly build

[2021-07-06 17:00] AjayTripathy commented on #322
Hi @maeghan-porter , we would need the equivalent of a rewrite on the flavor of nginx you are using. This may not yet be supported by the AWS ALB ingress. https://github.com/kubernetes-sigs/aws-load-balancer-controller/issues/1571

[2021-07-06 19:51] maeghan-porter commented on #322
Thank you for your response. That is a shame. AWS doesn't have plans to support path rewrites on ALBs until Q2 of 2022.
I can see that, given the comment above (https://github.com/kubecost/cost-analyzer-helm-chart/issues/322#issuecomment-604362985), there are others wanting to use kubecost on a non-root path that use other types of ingress controllers, so it would be lovely if y'all would consider

[2021-07-06 20:12] dwbrown2 commented on #322
@maeghan-porter what specifically are you looking to support? I'm not aware of any place this is blocked on the Kubecost product side, but let me know if see any place where you feel it is.

[2021-07-06 22:02] maeghan-porter commented on #322
Well it would be ideal if instead of having the ingress controller rewrite the path, which lots of them can't, if we could tell kubecost to use a non-root path instead.

[2021-07-06 23:39] dwbrown2 commented on #59
This should largely be done now, so I'm going to close. There may be one or two other minor storage options but we haven't had any other requests. Please feel free to re-open or open a new ticket if there are other needs!

cc @kirbsauce

[2021-07-06 23:39] #59 closed

[2021-07-06 23:39] dwbrown2 commented on #102
@AjayTripathy any updates in your thinking here?

[2021-07-06 23:40] dwbrown2 commented on #110
A number of users are now running with Istio today, so I'll go ahead and close! Please feel free to re-open if there's more needed here.

cc @kirbsauce

[2021-07-06 23:40] #110 closed

[2021-07-06 23:41] dwbrown2 commented on #136
Ping... I suspect this would be easy to support?

[2021-07-06 23:42] dwbrown2 commented on #298
@nikovacevic this is kinda support today with `ControllerType` in the Allocation view today. Would you call it done or would you want to do more?

cc @kirbsauce